Repository beyond-all-reason/teiserver: changes, and which pre-commit hooks are due for each by the changed paths.
All: mix-format, mix-compile, mix-dialyzer

mix-format:
  name: 'elixir: mix format'
  entry: mix format --check-formatted
  language: system

mix-compile:
  name: 'elixir: mix compile'
  entry: mix compile --force
  language: system
  pass_filenames: false

mix-dialyzer:
  name: 'elixir: mix dialyzer'
  entry: mix dialyzer
  language: system
  pass_filenames: false

Replace bamboo with swoosh
  config/runtime.exs
  config/test.exs
  lib/teiserver/common/email_helper.ex
  lib/teiserver/general/mailer.ex
  lib/teiserver/tcp/spring/spring_tcp_server.ex
  mix.exs
  mix.lock
Due: mix-format, mix-compile, mix-dialyzer

Fix a flaky test
  test/teiserver/chat/chat_room_test.exs
Due: mix-format, mix-dialyzer

state may not have a userid
  lib/teiserver/battle/servers/match_monitor_server.ex
  lib/teiserver/bridge/bridge_server.ex
  lib/teiserver/coordinator/coordinator_server.ex
Due: mix-format, mix-compile, mix-dialyzer

Credo WeakAssertions part 1
  .credo.exs
  test/teiserver/battle/balance_lib_test.exs
  test/teiserver/protocols/spring/spring_party_test.exs
  test/teiserver_web/live/client_live_test.exs
  test/teiserver_web/live/microblog/blog/preference_live_test.exs
  test/teiserver_web/tachyon/lobby_test.exs
  test/teiserver_web/tachyon/session_test.exs
Due: mix-format, mix-dialyzer

Introduce counters for lobby states
  lib/teiserver/tachyon_lobby/lobby.ex
  lib/teiserver/tachyon_lobby/types/data.ex
  lib/teiserver/tachyon_lobby/types/list_overview.ex
  test/teiserver/tachyon_lobby/list_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Remove lobby list process
  lib/teiserver/tachyon_lobby.ex
  lib/teiserver/tachyon_lobby/list.ex
  lib/teiserver/tachyon_lobby/lobby.ex
  lib/teiserver/tachyon_lobby/registry.ex
  lib/teiserver/tachyon_lobby/system.ex
  test/teiserver/tachyon_lobby/list_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Lobby update registry with overview
  lib/teiserver/tachyon_lobby/lobby.ex
  lib/teiserver/tachyon_lobby/registry.ex
  test/teiserver/tachyon_lobby/list_test.exs
Due: mix-format, mix-compile, mix-dialyzer

More detailed buckets for tachyon request durations
  lib/teiserver/monitoring/tachyon.ex
Due: mix-format, mix-compile, mix-dialyzer

Increase the default login queue for tachyon
  lib/teiserver/player/login_queue.ex
Due: mix-format, mix-compile, mix-dialyzer

Increase max connections
  rel/vm.args.eex
Due: none

Credo WeakAssertions part 2
  test/teiserver/account/relationship_lib_test.exs
  test/teiserver/account/user_totp_lib_test.exs
  test/teiserver/battle/balance_lib_internal_test.exs
  test/teiserver/battle/balance_lib_test.exs
  test/teiserver/battle/brute_force_internal_test.exs
  test/teiserver/battle/match_monitor_test.exs
  test/teiserver/battle/start_script_test.exs
  test/teiserver/bot/bot_test.exs
  test/teiserver/coordinator/spads_parser_test.exs
  test/teiserver/data/battle/lobby_chat_test.exs
  test/teiserver/game/balancer_server_test.exs
  test/teiserver/kv_store/kv_store_test.exs
  test/teiserver/lobby/commands/explain_command_test.exs
  test/teiserver/o_auth/token_test.exs
  test/teiserver/protocols/spring/spring_auth_test.exs
  test/teiserver/protocols/spring/spring_battle_host_test.exs
  test/teiserver/protocols/spring/spring_handle_test.exs
  test/teiserver/protocols/spring/spring_raw_test.exs
  test/teiserver/protocols/spring/spring_regression_test.exs
  test/teiserver_web/controllers/admin/bot_controller_test.exs
  test/teiserver_web/controllers/admin/o_auth_application_controller_test.exs
  test/teiserver_web/controllers/o_auth/authorize_controller_test.exs
  test/teiserver_web/live/account/profile/overview_test.exs
  test/teiserver_web/live/client_live_test.exs
  test/teiserver_web/tachyon/lobby_test.exs
Due: mix-format, mix-dialyzer

Fix rename button leading to rating form
  lib/teiserver_web/templates/admin/user/actions.html.heex
Due: none

Fix rename button leading to rating form (#1264)
  lib/teiserver_web/templates/admin/user/actions.html.heex
Due: none

Revert time compare report chart deletion
  lib/teiserver/account/reports/time_compare_report.ex
  lib/teiserver_web/templates/report/report/time_compare.html.heex
Due: mix-format, mix-compile, mix-dialyzer

Revert time compare report chart deletion (#1265)
  lib/teiserver/account/reports/time_compare_report.ex
  lib/teiserver_web/templates/report/report/time_compare.html.heex
Due: mix-format, mix-compile, mix-dialyzer

Fixes
  lib/teiserver_web/live/admin/bot/show.html.heex
  test/teiserver/bot/bot_test.exs
  test/teiserver_web/live/admin/bot_live_test.exs
Due: mix-format, mix-dialyzer

Fix test SAYPRIVATE with special characters (#1259)
  test/support/teiserver_test_lib.ex
  test/teiserver/protocols/spring/spring_auth_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Manual validation of schema enveloppe
  lib/teiserver/tachyon/schema.ex
  test/teiserver/tachyon/schema_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Additionally validate the type of tachyon stuff coming in
  lib/teiserver/tachyon/schema.ex
  test/teiserver/tachyon/schema_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Migrate Bot page to ListView (#1243)
  assets/scss/custom/_styles.scss
  lib/teiserver/o_auth.ex
  lib/teiserver_web/components/bot_components.ex
  lib/teiserver_web/controllers/admin/bot_controller.ex
  lib/teiserver_web/live/admin/bot/form_component.ex
  lib/teiserver_web/live/admin/bot/index.ex
  lib/teiserver_web/live/admin/bot/index.html.heex
  lib/teiserver_web/live/admin/bot/show.ex
  lib/teiserver_web/live/admin/bot/show.html.heex
  lib/teiserver_web/router.ex
  lib/teiserver_web/templates/admin/bot/edit.html.heex
  lib/teiserver_web/templates/admin/bot/index.html.heex
  lib/teiserver_web/templates/admin/bot/new.html.heex
  lib/teiserver_web/templates/admin/bot/not_found.html.heex
  lib/teiserver_web/templates/admin/bot/show.html.heex
  lib/teiserver_web/views/admin/bot_view.ex
  test/teiserver/bot/bot_test.exs
  test/teiserver_web/controllers/admin/bot_controller_test.exs
  test/teiserver_web/live/admin/bot_live_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Fix refetch when player change status
  lib/teiserver_web/live/battles/lobbies/show.ex
Due: mix-format, mix-compile, mix-dialyzer

fix format
  lib/teiserver_web/live/battles/lobbies/show.ex
Due: mix-format, mix-compile, mix-dialyzer

Fix assertions
  test/teiserver/moderation/banned_phrase_test.exs
  test/teiserver/o_auth/application_test.exs
  test/teiserver/o_auth/code_test.exs
  test/teiserver/o_auth/credential_test.exs
  test/teiserver/o_auth/token_test.exs
  test/teiserver_web/controllers/admin/o_auth_application_controller_test.exs
Due: mix-format, mix-dialyzer

Credo - WeakAssertions (#1263)
  .credo.exs
  test/teiserver/account/relationship_lib_test.exs
  test/teiserver/account/user_totp_lib_test.exs
  test/teiserver/battle/balance_lib_internal_test.exs
  test/teiserver/battle/balance_lib_test.exs
  test/teiserver/battle/brute_force_internal_test.exs
  test/teiserver/battle/match_monitor_test.exs
  test/teiserver/battle/start_script_test.exs
  test/teiserver/bot/bot_test.exs
  test/teiserver/coordinator/spads_parser_test.exs
  test/teiserver/data/battle/lobby_chat_test.exs
  test/teiserver/game/balancer_server_test.exs
  test/teiserver/kv_store/kv_store_test.exs
  test/teiserver/lobby/commands/explain_command_test.exs
  test/teiserver/moderation/banned_phrase_test.exs
  test/teiserver/o_auth/application_test.exs
  test/teiserver/o_auth/code_test.exs
  test/teiserver/o_auth/credential_test.exs
  test/teiserver/o_auth/token_test.exs
  test/teiserver/protocols/spring/spring_auth_test.exs
  test/teiserver/protocols/spring/spring_battle_host_test.exs
  test/teiserver/protocols/spring/spring_handle_test.exs
  test/teiserver/protocols/spring/spring_party_test.exs
  test/teiserver/protocols/spring/spring_raw_test.exs
  test/teiserver/protocols/spring/spring_regression_test.exs
  test/teiserver_web/controllers/admin/o_auth_application_controller_test.exs
  test/teiserver_web/controllers/o_auth/authorize_controller_test.exs
  test/teiserver_web/live/account/profile/overview_test.exs
  test/teiserver_web/live/client_live_test.exs
  test/teiserver_web/live/microblog/blog/preference_live_test.exs
  test/teiserver_web/tachyon/lobby_test.exs
  test/teiserver_web/tachyon/session_test.exs
Due: mix-format, mix-dialyzer

Fixed expire date after edit action
  lib/teiserver/helpers/date_helper.ex
  lib/teiserver_web/controllers/moderation/action_controller.ex
  lib/teiserver_web/templates/moderation/action/form.html.heex
  lib/teiserver_web/templates/moderation/action/index.html.heex
  lib/teiserver_web/templates/moderation/action/new_with_user.html.heex
  lib/teiserver_web/templates/moderation/action/tab_details.html.heex
  lib/teiserver_web/views/moderation/action_view.ex
  test/teiserver/helpers/date_helper_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Fix credo
  test/teiserver/moderation/moderation_test.exs
Due: mix-format, mix-dialyzer

fix test
  lib/teiserver/moderation/schemas/action.ex
Due: mix-format, mix-compile, mix-dialyzer

Fixes typos regarding IP checks
  lib/teiserver/protocols/spring/spring_in.ex
Due: mix-format, mix-compile, mix-dialyzer

Fixes typos regarding IP checks (#1273)
  lib/teiserver/protocols/spring/spring_in.ex
Due: mix-format, mix-compile, mix-dialyzer

party/create response return party state insead of party_id
  lib/teiserver/player/session.ex
  lib/teiserver/player/tachyon_handler.ex
  test/teiserver_web/tachyon/messaging_test.exs
  test/teiserver_web/tachyon/party_matchmaking_test.exs
  test/teiserver_web/tachyon/party_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Fix party/create schema
  priv/tachyon/schema/party/create/response.json
Due: none

Add support for external email domain blocklist
  lib/teiserver/libs/teiserver_configs.ex
  lib/teiserver/moderation/tasks/load_banned_domains_task.ex
Due: mix-format, mix-compile, mix-dialyzer

Add support for external email domain blocklist (#1275)
  lib/teiserver/libs/teiserver_configs.ex
  lib/teiserver/moderation/tasks/load_banned_domains_task.ex
Due: mix-format, mix-compile, mix-dialyzer

Handle rate limit login queue for Tachyon
  lib/teiserver/player/login_queue.ex
  test/teiserver/player/login_queue_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Adds the first stage of a UserPicker component
  .dialyzer_ignore.exs
  config/dev.exs
  lib/teiserver/account/queries/user_queries.ex
  lib/teiserver_web/live/moderation/action_live/smurf_link.ex
  lib/teiserver_web/live/moderation/action_live/smurf_link.html.heex
  lib/teiserver_web/live_components/user_picker.ex
  lib/teiserver_web/router.ex
  lib/teiserver_web/templates/admin/user/actions.html.heex
  test/support/conn_case.ex
  test/teiserver_web/live_components/user_picker_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Fixed bug where an unathenticated user would trigger an exception
  lib/teiserver_web/router.ex
Due: mix-format, mix-compile, mix-dialyzer

Fix Internal Server Error on retention report
  lib/teiserver/account/reports/retention_report.ex
Due: mix-format, mix-compile, mix-dialyzer

Added ID search and fixed some edge case bugs
  lib/teiserver/account/queries/user_queries.ex
  lib/teiserver_web/live/moderation/action_live/smurf_link.ex
  lib/teiserver_web/live_components/user_picker.ex
Due: mix-format, mix-compile, mix-dialyzer

Create retention_report_test.exs
  test/teiserver/account/retention_report_test.exs
Due: mix-format, mix-dialyzer

Updated documentation for contributing and AI usage
  .incus-integration-on
  AI_POLICY.md
  CONTRIBUTING.md
  README.md
Due: none

Path conditions:
  mix-format: any of: \.exs*$
  mix-compile: any of: \.ex$
  mix-dialyzer: any of: \.exs*$
