Repository beyond-all-reason/teiserver: changes, and which pre-commit hooks are due for each by the changed paths.
All: mix-format, mix-compile, mix-dialyzer

mix-format:
  name: 'elixir: mix format'
  entry: mix format --check-formatted
  language: system

mix-compile:
  name: 'elixir: mix compile'
  entry: mix compile --force
  language: system
  pass_filenames: false

mix-dialyzer:
  name: 'elixir: mix dialyzer'
  entry: mix dialyzer
  language: system
  pass_filenames: false

Stop ignoring Credo Readability checks in CI
  .github/workflows/lint.yml
Due: none

Temporarily disable Credo Readability checks
  .credo.exs
  lib/teiserver/account.ex
  lib/teiserver/battle/balance/brute_force_avoid.ex
  lib/teiserver/config_helpers.ex
  lib/teiserver/coordinator/consul_commands.ex
  lib/teiserver/mix_tasks/seasonal_uncertainty_reset_task.ex
  lib/teiserver/o_auth/queries/application_query.ex
  lib/teiserver/player/tachyon_handler.ex
  lib/teiserver/protocols/spring/spring.ex
  lib/teiserver/protocols/spring/spring_party_in.ex
  lib/teiserver/telemetry/libs/telemetry_lib.ex
  lib/teiserver_web/controllers/admin/lobby_controller.ex
  lib/teiserver_web/controllers/api/admin/user_controller.ex
  test/support/teiserver_test_lib.ex
  test/teiserver/battle/match_monitor_test.exs
  test/teiserver/matchmaking/pairing_test.exs
  test/teiserver_web/tachyon/lobby_test.exs
  test/teiserver_web/tachyon/matchmaking_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Deny unauthenticated commands
  lib/teiserver/protocols/spring/spring_in.ex
Due: mix-format, mix-compile, mix-dialyzer

Enable Credo's strict analysis
  .github/workflows/lint.yml
Due: none

Address issues for Credo.Check.Readability.MaxLineLength
  .credo.exs
  lib/teiserver/account/libs/user_totp_lib.ex
  lib/teiserver/account/tasks/smurf_merge_task.ex
  lib/teiserver/battle/balance/auto_balance.ex
  lib/teiserver/battle/servers/match_monitor_server.ex
  lib/teiserver/battle/tasks/post_match_process_task.ex
  lib/teiserver/bridge/bridge_server.ex
  lib/teiserver/bridge/command_lib.ex
  lib/teiserver/coordinator/consul_server.ex
  lib/teiserver/coordinator/coordinator_lib.ex
  lib/teiserver/data/cache_user.ex
  lib/teiserver/game/servers/balancer_server.ex
  lib/teiserver/protocols/spring/spring.ex
  lib/teiserver/protocols/spring/spring_in.ex
  lib/teiserver_web/live/account/profile/accolades.ex
  lib/teiserver_web/live/microblog/microblog_components.ex
  lib/teiserver_web/views/error_view.ex
Due: mix-format, mix-compile, mix-dialyzer

Fix Dialyzer warning in lib/central/input_helper.ex
  .dialyzer_ignore.exs
  lib/central/input_helper.ex
Due: mix-format, mix-compile, mix-dialyzer

Fix Dialyzer warning in lib/teiserver.ex
  .dialyzer_ignore.exs
  lib/teiserver.ex
Due: mix-format, mix-compile, mix-dialyzer

Fix Dialyzer warning `invalid_contract` in lib/teiserver/account.ex
  .dialyzer_ignore.exs
  lib/teiserver/account.ex
Due: mix-format, mix-compile, mix-dialyzer

Remove unneeded `use Ecto.Schema` in migration
  priv/repo/migrations/20250324195702_engine_and_game_versions.exs
Due: mix-format, mix-dialyzer

Drop all `@type t` from Ecto schemas
  lib/teiserver/account/schemas/rating.ex
  lib/teiserver/account/schemas/user.ex
  lib/teiserver/account/schemas/user_totp.ex
  lib/teiserver/asset/schemas/engine.ex
  lib/teiserver/asset/schemas/game.ex
  lib/teiserver/asset/schemas/map.ex
  lib/teiserver/bot/schemas/bot.ex
  lib/teiserver/clans/schemas/clan.ex
  lib/teiserver/clans/schemas/clan_membership.ex
  lib/teiserver/config/schemas/site_config.ex
  lib/teiserver/game/schemas/queue.ex
  lib/teiserver/game/schemas/rating_type.ex
  lib/teiserver/kv_store/blob.ex
  lib/teiserver/microblog/schemas/upload.ex
  lib/teiserver/o_auth/schemas/application.ex
  lib/teiserver/o_auth/schemas/code.ex
  lib/teiserver/o_auth/schemas/credential.ex
  lib/teiserver/o_auth/schemas/token.ex
Due: mix-format, mix-compile, mix-dialyzer

Regenerate .dialyzer_ignore.exs to temporarily ignore warnings
  .dialyzer_ignore.exs
Due: mix-format, mix-dialyzer

Add queue heartbeat to unauthenticated commands
  lib/teiserver/protocols/spring/spring_in.ex
Due: mix-format, mix-compile, mix-dialyzer

Use peep for prometheus metric storage
  config/config.exs
  lib/teiserver/monitoring/buckets.ex
  lib/teiserver/monitoring/striped_peep.ex
  mix.exs
Due: mix-format, mix-compile, mix-dialyzer

Upgrade horde to 0.10
  lib/teiserver/party/registry.ex
  lib/teiserver/player/registry.ex
  lib/teiserver/tachyon_lobby/registry.ex
  mix.exs
  mix.lock
Due: mix-format, mix-compile, mix-dialyzer

Update tachyon protocol for clan system
  priv/tachyon/schema/clan/accept/request.json
  priv/tachyon/schema/clan/accept/response.json
  priv/tachyon/schema/clan/cancel/request.json
  priv/tachyon/schema/clan/cancel/response.json
  priv/tachyon/schema/clan/create/request.json
  priv/tachyon/schema/clan/create/response.json
  priv/tachyon/schema/clan/decline/request.json
  priv/tachyon/schema/clan/decline/response.json
  priv/tachyon/schema/clan/delete/request.json
  priv/tachyon/schema/clan/delete/response.json
  priv/tachyon/schema/clan/deleted/event.json
  priv/tachyon/schema/clan/invite/request.json
  priv/tachyon/schema/clan/invite/response.json
  priv/tachyon/schema/clan/invited/event.json
  priv/tachyon/schema/clan/kick/request.json
  priv/tachyon/schema/clan/kick/response.json
  priv/tachyon/schema/clan/kicked/event.json
  priv/tachyon/schema/clan/leave/request.json
  priv/tachyon/schema/clan/leave/response.json
  priv/tachyon/schema/clan/setRole/request.json
  priv/tachyon/schema/clan/setRole/response.json
  priv/tachyon/schema/clan/update/request.json
  priv/tachyon/schema/clan/update/response.json
  priv/tachyon/schema/clan/view/request.json
  priv/tachyon/schema/clan/view/response.json
  priv/tachyon/schema/clan/viewList/request.json
  priv/tachyon/schema/clan/viewList/response.json
Due: none

Add tests around buckets
  lib/teiserver/monitoring/buckets.ex
  test/teiserver/monitoring/buckets_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Update tachyon_handler.ex player and clan deleted again
  lib/teiserver/clan/tachyon_handler.ex
  lib/teiserver/player/tachyon_handler.ex
Due: mix-format, mix-compile, mix-dialyzer

Homepage removed from clan database
  priv/repo/migrations/20251227204853_update_clan_tables.exs
Due: mix-format, mix-dialyzer

Address issues for Credo.Check.Readability.LargeNumbers
  lib/teiserver/battle/balance/brute_force_avoid.ex
  lib/teiserver/coordinator/consul_commands.ex
  lib/teiserver_web/controllers/admin/lobby_controller.ex
  test/support/teiserver_test_lib.ex
  test/teiserver/battle/match_monitor_test.exs
  test/teiserver/matchmaking/pairing_test.exs
Due: mix-format, mix-compile, mix-dialyzer

mark a test as flaky
  test/teiserver/telemetry/simple_server_event_test.exs
Due: mix-format, mix-dialyzer

Fix Dialyzer warning `invalid_contract` in lib/teiserver/account.ex
  .dialyzer_ignore.exs
  lib/teiserver/account.ex
  lib/teiserver/data/types.ex
Due: mix-format, mix-compile, mix-dialyzer

Add LISTCOMPFLAGS to unauthenticated commands
  lib/teiserver/protocols/spring/spring_in.ex
Due: mix-format, mix-compile, mix-dialyzer

Fix linter issue
  lib/teiserver/player/tachyon_handler.ex
Due: mix-format, mix-compile, mix-dialyzer

Fix Dialyzer warning `unknown_type` in lib/teiserver/account.ex
  .dialyzer_ignore.exs
  lib/teiserver/account.ex
Due: mix-format, mix-compile, mix-dialyzer

Fix Dialyzer warnings caused by wrong spec for Teiserver.Account.badge_type_query/2
  lib/teiserver/account.ex
Due: mix-format, mix-compile, mix-dialyzer

Add typespec to Teiserver.Account.get_rating/3
  lib/teiserver/account.ex
Due: mix-format, mix-compile, mix-dialyzer

Fix wrong typespec for Teiserver.Account.smurf_key_query/2
  lib/teiserver/account.ex
Due: mix-format, mix-compile, mix-dialyzer

Fix wrong typespec for Teiserver.Account.accolade_query/2
  lib/teiserver/account.ex
Due: mix-format, mix-compile, mix-dialyzer

Fix wrong typespec for Teiserver.Account.smurf_key_type_query/2
  lib/teiserver/account.ex
Due: mix-format, mix-compile, mix-dialyzer

Fix wrong typespec for Teiserver.Account.get_rating/2
  lib/teiserver/account.ex
Due: mix-format, mix-compile, mix-dialyzer

Increase flush interval
  config/config.exs
Due: mix-format, mix-dialyzer

Handle case where member_count is nil
  lib/teiserver/lobby/libs/lobby_lib.ex
Due: mix-format, mix-compile, mix-dialyzer

transport.peername is failible
  lib/teiserver/tcp/spring/spring_tcp_server.ex
Due: mix-format, mix-compile, mix-dialyzer

Handle nil script tags
  lib/teiserver/protocols/spring/spring_out.ex
Due: mix-format, mix-compile, mix-dialyzer

Fix Dialyzer warnings `unknown type` in `Teiserver.Account.*Lib` modules
  .dialyzer_ignore.exs
  lib/teiserver/account/libs/auth_lib.ex
  lib/teiserver/account/libs/client_lib.ex
  lib/teiserver/account/libs/friend_lib.ex
Due: mix-format, mix-compile, mix-dialyzer

Fix nil lobby when checking for restrictions
  lib/teiserver/coordinator/consul_server.ex
  lib/teiserver/lobby/libs/lobby_restrictions.ex
Due: mix-format, mix-compile, mix-dialyzer

Path conditions:
  mix-format: any of: \.exs*$
  mix-compile: any of: \.ex$
  mix-dialyzer: any of: \.exs*$
