Repository beyond-all-reason/teiserver: changes, and which pre-commit hooks are due for each by the changed paths.
All: mix-format, mix-compile, mix-dialyzer

mix-format:
  name: 'elixir: mix format'
  entry: mix format --check-formatted
  language: system

mix-compile:
  name: 'elixir: mix compile'
  entry: mix compile --force
  language: system
  pass_filenames: false

mix-dialyzer:
  name: 'elixir: mix dialyzer'
  entry: mix dialyzer
  language: system
  pass_filenames: false

Discord lib upgrade (#597)
  .tool-versions
  config/runtime.exs
  documents/guides/discord_bot.md
  lib/teiserver/bridge/bridge_server.ex
  lib/teiserver/bridge/chat_commands.ex
  lib/teiserver/bridge/discord_bridge_bot.ex
  lib/teiserver/bridge/message_commands.ex
  lib/teiserver/communication/libs/discord_channel_lib.ex
  mix.exs
  mix.lock
  test/teiserver/autohost/autohost_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Free more icons (#598)
  lib/teiserver_web/live/admin_dashboard/index.html.heex
  lib/teiserver_web/templates/admin/accolade/show.html.heex
  lib/teiserver_web/templates/admin/achievement/show.html.heex
  lib/teiserver_web/templates/admin/badge_type/show.html.heex
  lib/teiserver_web/templates/admin/discord_channel/index.html.heex
  lib/teiserver_web/templates/admin/discord_channel/show.html.heex
  lib/teiserver_web/templates/admin/lobby_policy/index.html.heex
  lib/teiserver_web/templates/admin/lobby_policy/show.html.heex
  lib/teiserver_web/templates/admin/text_callback/index.html.heex
  lib/teiserver_web/templates/admin/text_callback/show.html.heex
  lib/teiserver_web/templates/admin/user/show.html.heex
  lib/teiserver_web/templates/game/queue/index.html.heex
  lib/teiserver_web/templates/game/queue/show.html.heex
  lib/teiserver_web/templates/moderation/action/search.html.heex
  lib/teiserver_web/templates/moderation/action/show.html.heex
  lib/teiserver_web/templates/moderation/ban/index.html.heex
  lib/teiserver_web/templates/moderation/proposal/show.html.heex
  lib/teiserver_web/templates/moderation/report/response_form.html.heex
Due: none

Update auto_balance to use split_noobs when at least 1 party (#596)
  lib/teiserver/battle/balance/auto_balance.ex
Due: mix-format, mix-compile, mix-dialyzer

trying to write a BalancerServer test that actually shows the balance hash changing
  test/teiserver/game/balancer_server_test.exs
Due: mix-format, mix-dialyzer

Add win prediction balance algorithm
  lib/teiserver/battle/balance/win_predict.ex
  lib/teiserver/battle/libs/balance_lib.ex
  lib/teiserver/coordinator/consul_commands.ex
Due: mix-format, mix-compile, mix-dialyzer

Have auto balance choose respect_avoids when no op party
  lib/teiserver/battle/balance/auto_balance.ex
  lib/teiserver/battle/balance/auto_balance_types.ex
  test/teiserver/battle/auto_balance_internal_test.exs
Due: mix-format, mix-compile, mix-dialyzer

got :make_balance broken out to its own public function to make it easier to test
  lib/teiserver/game/servers/balancer_server.ex
  test/teiserver/game/balancer_server_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Nostrum dialyzer fix
  lib/teiserver/communication/libs/discord_channel_lib.ex
Due: mix-format, mix-compile, mix-dialyzer

Nostrum dialyzer fix (#602)
  lib/teiserver/communication/libs/discord_channel_lib.ex
Due: mix-format, mix-compile, mix-dialyzer

Add num_wins column
  lib/teiserver/account/schemas/rating.ex
  lib/teiserver/game/libs/match_rating_lib.ex
  priv/repo/migrations/20250220221332_add_num_wins.exs
  test/teiserver/game/libs/match_rating_lib_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Have auto balance choose respect_avoids when no op party (#600)
  lib/teiserver/battle/balance/auto_balance.ex
  lib/teiserver/battle/balance/auto_balance_types.ex
  test/teiserver/battle/auto_balance_internal_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Bring back .tool-versions
  .tool-versions
Due: none

Bring back .tool-versions (#604)
  .tool-versions
Due: none

Handle non op parties with high s.d.
  lib/teiserver/battle/balance/brute_force.ex
  test/teiserver/battle/split_noobs_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Comment update
  test/teiserver/battle/split_noobs_test.exs
Due: mix-format, mix-dialyzer

Remove unused
  lib/teiserver/battle/balance/brute_force.ex
Due: mix-format, mix-compile, mix-dialyzer

Fix tests
  test/teiserver/battle/brute_force_internal_test.exs
  test/teiserver/battle/brute_force_test.exs
  test/teiserver/battle/split_noobs_internal_test.exs
  test/teiserver/battle/split_noobs_test.exs
Due: mix-format, mix-dialyzer

Tryin to pass tests
  lib/teiserver/battle/balance/brute_force.ex
  lib/teiserver/battle/balance/brute_force_types.ex
  lib/teiserver/battle/balance/split_noobs.ex
  test/teiserver/battle/brute_force_internal_test.exs
  test/teiserver/battle/brute_force_test.exs
  test/teiserver/battle/split_noobs_internal_test.exs
  test/teiserver/battle/split_noobs_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Add more tests
  test/teiserver/battle/brute_force_internal_test.exs
  test/teiserver/battle/split_noobs_internal_test.exs
Due: mix-format, mix-dialyzer

Add another test
  test/teiserver/battle/split_noobs_test.exs
Due: mix-format, mix-dialyzer

got test_user_generation working, but it looks like there's still some old hash-dependent code lying around
  lib/teiserver/game/servers/balancer_server.ex
  test/teiserver/game/balancer_server_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Minor updates
  lib/teiserver/battle/balance/brute_force.ex
  test/teiserver/battle/split_noobs_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Fix autohost test
  test/teiserver_web/tachyon/autohost_test.exs
Due: mix-format, mix-dialyzer

Move polling code in its own module
  test/support/polling.ex
  test/support/tachyon.ex
  test/teiserver/autohost/autohost_test.exs
  test/teiserver/protocols/spring/spring_auth_test.exs
  test/teiserver/tachyon_battle/battle_test.exs
  test/teiserver_web/controllers/tachyon_controller_test.exs
  test/teiserver_web/tachyon/autohost_test.exs
  test/teiserver_web/tachyon/battle_test.exs
  test/teiserver_web/tachyon/session_test.exs
  test/teiserver_web/tachyon/system_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Extract parsing of message
  lib/teiserver/protocols/spring/spring_in.ex
Due: mix-format, mix-compile, mix-dialyzer

Send member_added message after invite
  lib/teiserver/account/servers/party_server.ex
  lib/teiserver/protocols/spring/spring_party_in.ex
  test/teiserver/protocols/spring/spring_party_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Can't invite if not in the party
  lib/teiserver/protocols/spring/spring_party_in.ex
  test/teiserver/protocols/spring/spring_party_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Invite to party
  lib/teiserver/protocols/spring/spring_out.ex
  lib/teiserver/protocols/spring/spring_party_in.ex
  lib/teiserver/protocols/spring/spring_party_out.ex
  lib/teiserver/tcp/spring/spring_tcp_server.ex
  test/teiserver/protocols/spring/spring_party_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Accept invite to party
  lib/teiserver/account/servers/party_server.ex
  lib/teiserver/protocols/spring/spring_party_in.ex
  lib/teiserver/protocols/spring/spring_party_out.ex
  lib/teiserver/tcp/spring/spring_tcp_server.ex
  test/teiserver/protocols/spring/spring_party_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Create party through spring
  lib/teiserver/protocols/spring/spring_in.ex
  lib/teiserver/protocols/spring/spring_party_in.ex
  test/teiserver/protocols/spring/spring_party_test.exs
Due: mix-format, mix-compile, mix-dialyzer

leaving party
  lib/teiserver/account/servers/party_server.ex
  lib/teiserver/protocols/spring/spring_party_in.ex
  lib/teiserver/protocols/spring/spring_party_out.ex
  test/teiserver/protocols/spring/spring_party_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Decline invite
  lib/teiserver/account/servers/party_server.ex
  lib/teiserver/protocols/spring/spring_party_in.ex
  lib/teiserver/protocols/spring/spring_party_out.ex
  test/teiserver/protocols/spring/spring_party_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Send joined_party messages at creation of party
  lib/teiserver/protocols/spring/spring_party_in.ex
  test/teiserver/protocols/spring/spring_party_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Reduce s.d. dev diff penalty to split_noobs (#605)
  lib/teiserver/battle/balance/brute_force.ex
  lib/teiserver/battle/balance/brute_force_types.ex
  lib/teiserver/battle/balance/split_noobs.ex
  test/teiserver/battle/brute_force_internal_test.exs
  test/teiserver/battle/brute_force_test.exs
  test/teiserver/battle/split_noobs_internal_test.exs
  test/teiserver/battle/split_noobs_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Add num_wins column (#603)
  lib/teiserver/account/schemas/rating.ex
  lib/teiserver/game/libs/match_rating_lib.ex
  priv/repo/migrations/20250220221332_add_num_wins.exs
  test/teiserver/game/libs/match_rating_lib_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Fix some bitrot (#606)
  test/support/polling.ex
  test/support/tachyon.ex
  test/teiserver/autohost/autohost_test.exs
  test/teiserver/protocols/spring/spring_auth_test.exs
  test/teiserver/tachyon_battle/battle_test.exs
  test/teiserver_web/controllers/tachyon_controller_test.exs
  test/teiserver_web/tachyon/autohost_test.exs
  test/teiserver_web/tachyon/battle_test.exs
  test/teiserver_web/tachyon/session_test.exs
  test/teiserver_web/tachyon/system_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Merge continue functions
  lib/teiserver/matchmaking/queue_server.ex
Due: mix-format, mix-compile, mix-dialyzer

Remove QueueSupervisor spec
  lib/teiserver/matchmaking/queue_supervisor.ex
Due: mix-format, mix-compile, mix-dialyzer

Apply suggested test changes
  test/teiserver_web/tachyon/matchmaking_test.exs
Due: mix-format, mix-dialyzer

fix dialyzer
  lib/teiserver/matchmaking/queue_server.ex
Due: mix-format, mix-compile, mix-dialyzer

Path conditions:
  mix-format: any of: \.exs*$
  mix-compile: any of: \.ex$
  mix-dialyzer: any of: \.exs*$
