Repository beyond-all-reason/teiserver: changes, and which pre-commit hooks are due for each by the changed paths.
All: mix-format, mix-compile, mix-dialyzer

mix-format:
  name: 'elixir: mix format'
  entry: mix format --check-formatted
  language: system

mix-compile:
  name: 'elixir: mix compile'
  entry: mix compile --force
  language: system
  pass_filenames: false

mix-dialyzer:
  name: 'elixir: mix dialyzer'
  entry: mix dialyzer
  language: system
  pass_filenames: false

Point upgrade of elixir
  .tool-versions
Due: none

Fix pagination (again...) on matches and ratings
  lib/teiserver_web/live/battles/match/index.ex
  lib/teiserver_web/live/battles/match/ratings.ex
Due: mix-format, mix-compile, mix-dialyzer

Fix pagination (again...) on matches and ratings (#767)
  lib/teiserver_web/live/battles/match/index.ex
  lib/teiserver_web/live/battles/match/ratings.ex
Due: mix-format, mix-compile, mix-dialyzer

Bring dockerfile from ansible-teiserver repo
  Dockerfile
Due: none

Remove discord templating logic
  Dockerfile
Due: none

Remove prod.secret.exs references
  Dockerfile
Due: none

adjusted report_user/index.html.heex to block people from posting reports with empty extra_text field
  lib/teiserver_web/live/moderation/report_user/index.html.heex
Due: none

Put beam option in tree
  .gitignore
  rel/vm.args.eex
Due: none

Remove prod-specific configuration
  config/prod.exs
  config/runtime.exs
  lib/teiserver/tcp/spring/spring_tcp_server.ex
Due: mix-format, mix-compile, mix-dialyzer

Correctly handle ipv4 and ipv6 addresses
  lib/teiserver/player/tachyon_handler.ex
Due: mix-format, mix-compile, mix-dialyzer

Use defaults from config files
  config/dev.exs
  config/prod.exs
  config/runtime.exs
  config/test.exs
Due: mix-format, mix-dialyzer

put endpoint version in global config
  config/config.exs
  config/runtime.exs
Due: mix-format, mix-dialyzer

Add fontawesome and ace editor to the repo
  .gitignore
  documents/guides/local_setup.md
  priv/static/ace.js
  priv/static/css/fontawesome.css
  priv/static/webfonts/fa-brands-400.woff2
  priv/static/webfonts/fa-regular-400.woff2
  priv/static/webfonts/fa-solid-900.woff2
  priv/static/webfonts/fa-v4compatibility.woff2
Due: none

Swap to free icons
  lib/teiserver/helpers/fontawesome.ex
  lib/teiserver/telemetry/libs/complex_match_event_lib.ex
  lib/teiserver/telemetry/libs/simple_client_event_lib.ex
  lib/teiserver/telemetry/libs/simple_match_event_lib.ex
  lib/teiserver_web/components/nav_components.ex
  lib/teiserver_web/live/account/profile/profile_components.ex
  lib/teiserver_web/templates/telemetry/general/index.html.heex
Due: mix-format, mix-compile, mix-dialyzer

changed text on page
  lib/teiserver_web/live/moderation/report_user/index.html.heex
Due: none

Correctly handle ipv4 and ipv6 addresses
  lib/teiserver/libs/geoip.ex
  lib/teiserver/player/tachyon_handler.ex
Due: mix-format, mix-compile, mix-dialyzer

Fix calculation of max_player_count
  lib/teiserver/tachyon_lobby/lobby.ex
  test/teiserver_web/tachyon/lobby_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Get game version for lobby from the DB
  lib/teiserver/asset.ex
  lib/teiserver/asset/queries/game_queries.ex
  lib/teiserver/tachyon_lobby.ex
  lib/teiserver/tachyon_lobby/lobby.ex
  test/teiserver/tachyon_lobby/list_test.exs
  test/teiserver/tachyon_lobby/lobby_test.exs
  test/teiserver_web/tachyon/lobby_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Get engine version for lobby from the DB
  lib/teiserver/asset.ex
  lib/teiserver/asset/queries/engine_queries.ex
  lib/teiserver/tachyon_lobby.ex
  lib/teiserver/tachyon_lobby/lobby.ex
  test/teiserver/tachyon_lobby/list_test.exs
  test/teiserver/tachyon_lobby/lobby_test.exs
  test/teiserver_web/tachyon/lobby_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Point upgrade of elixir (#766)
  .tool-versions
Due: none

Disallow reports with empty extra_text field (#769)
  lib/teiserver_web/live/moderation/report_user/index.html.heex
Due: none

link to overwatch profiles, not admin profiles
  lib/teiserver/bridge/discord_bridge_bot.ex
Due: mix-format, mix-compile, mix-dialyzer

fixed link
  lib/teiserver/bridge/discord_bridge_bot.ex
Due: mix-format, mix-compile, mix-dialyzer

Merge pull request #773 from ChocoboCoding/feature/link_to_overwatch_page
  lib/teiserver/bridge/discord_bridge_bot.ex
Due: mix-format, mix-compile, mix-dialyzer

Implement lobby/unsubscribeList
  lib/teiserver/player/session.ex
  lib/teiserver/player/tachyon_handler.ex
  test/support/tachyon.ex
  test/teiserver_web/tachyon/lobby_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Fix unused imports for good
  lib/teiserver_web/controllers/telemetry/infolog_controller.ex
  mix.exs
Due: mix-format, mix-compile, mix-dialyzer

Address consistency issues
  lib/teiserver/account/libs/client_lib.ex
  lib/teiserver/bridge/bridge_server.ex
  lib/teiserver/coordinator/consul_server.ex
  lib/teiserver/lobby/libs/command_lib.ex
  lib/teiserver_web/controllers/admin/lobby_controller.ex
  lib/teiserver_web/controllers/admin/match_controller.ex
  lib/teiserver_web/controllers/api/battle_controller.ex
  lib/teiserver_web/live/account/party/index.ex
  lib/teiserver_web/live/account/party/show.ex
  lib/teiserver_web/views/api/battle_view.ex
  test/support/teiserver_test_lib.ex
Due: mix-format, mix-compile, mix-dialyzer

Address warnings
  config/config.exs
  lib/teiserver/battle/balance/respect_avoids.ex
  lib/teiserver/battle/balance/split_noobs.ex
  lib/teiserver/battle/tasks/breakdown_match_data_task.ex
  lib/teiserver/coordinator/coordinator_commands.ex
  lib/teiserver/logging/tasks/persist_match_day_task.ex
  lib/teiserver/logging/tasks/persist_server_day_task.ex
  lib/teiserver/logging/tasks/persist_user_activity_day_task.ex
  lib/teiserver/mix_tasks/fake_playtime.ex
  test/teiserver/protocols/spring/spring_telemetry_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Fix unused imports for good (#776)
  lib/teiserver_web/controllers/telemetry/infolog_controller.ex
  mix.exs
Due: mix-format, mix-compile, mix-dialyzer

Add Fontawesome style files
  lib/teiserver_web/components/layouts/root.html.heex
  priv/static/css/brands.css
  priv/static/css/regular.css
  priv/static/css/solid.css
Due: none

Handle another localhost ipv6 representation
  lib/teiserver/data/cache_user.ex
  lib/teiserver/libs/geoip.ex
Due: mix-format, mix-compile, mix-dialyzer

Merge pull request #779 from wrath625/fix/include-fontawesome-style-files
  lib/teiserver_web/components/layouts/root.html.heex
  priv/static/css/brands.css
  priv/static/css/regular.css
  priv/static/css/solid.css
Due: none

Handle another localhost ipv6 representation (#780)
  lib/teiserver/data/cache_user.ex
  lib/teiserver/libs/geoip.ex
Due: mix-format, mix-compile, mix-dialyzer

Add configurable limits for friends, ignores, avoids, and blocks
  lib/teiserver/account.ex
  lib/teiserver/account/libs/friend_request_lib.ex
  lib/teiserver/account/libs/relationship_lib.ex
  lib/teiserver/account/tasks/smurf_merge_task.ex
  lib/teiserver/coordinator/coordinator_commands.ex
  lib/teiserver/libs/teiserver_configs.ex
  lib/teiserver/protocols/spring/spring_in.ex
  lib/teiserver/protocols/spring/spring_user_in.ex
  lib/teiserver_web/live/account/profile/overview.ex
  lib/teiserver_web/live/account/relationship/index.ex
  lib/teiserver_web/live/moderation/report_user/index.ex
  test/teiserver/account/friend_request_lib_test.exs
  test/teiserver/account/relationship_lib_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Don't set a default Endpoint.host in config
  config/config.exs
  config/dev.exs
  config/test.exs
Due: mix-format, mix-dialyzer

Exclude mix tasks from compilation in prod env
  mix.exs
Due: mix-format, mix-dialyzer

Don't set a default Endpoint.host in config (#782)
  config/config.exs
  config/dev.exs
  config/test.exs
Due: mix-format, mix-dialyzer

Path conditions:
  mix-format: any of: \.exs*$
  mix-compile: any of: \.ex$
  mix-dialyzer: any of: \.exs*$
