Repository beyond-all-reason/teiserver: changes, and which pre-commit hooks are due for each by the changed paths.
All: mix-format, mix-compile, mix-dialyzer

.pre-commit-config.yaml:

---
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-merge-conflict
      - id: check-yaml
      - id: no-commit-to-branch
        args:
          - -b
          - master
          - -b
          - production
          - -b
          - staging
  - repo: local
    hooks:
      - id: mix-format
        name: "elixir: mix format"
        entry: mix format --check-formatted
        language: system
        files: \.exs*$
      - id: mix-compile
        name: "elixir: mix compile"
        entry: mix compile --force #--warnings-as-errors
        language: system
        pass_filenames: false
        files: \.ex$
      # - id: mix-credo
      #   name: "elixir: mix credo"
      #   entry: mix credo
      #   language: system
      #   pass_filenames: false
      #   files: \.exs*$
      - id: mix-dialyzer
        name: "elixir: mix dialyzer"
        entry: mix dialyzer
        language: system
        pass_filenames: false
        files: \.exs*$

fixed credo issues
  lib/teiserver_web/live/battles/match/match_components.ex
Due: mix-format, mix-compile, mix-dialyzer

Refactored GDPR clean into GDPR forget
  lib/teiserver/account/tasks/gdpr_forget_task.ex
  lib/teiserver_web/controllers/admin/user_controller.ex
  lib/teiserver_web/router.ex
  lib/teiserver_web/templates/component/icon.html.heex
  mix.exs
  mix.lock
  test/teiserver_web/controllers/admin/user_controller_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Disable mfa warning based on config (#1177)
  lib/teiserver/account/libs/auth_lib.ex
  lib/teiserver_web/controllers/account/security_controller.ex
  lib/teiserver_web/live/general/home/index_live.ex
Due: mix-format, mix-compile, mix-dialyzer

Added role to library
  lib/teiserver/account/libs/role_lib.ex
  lib/teiserver/account/tasks/gdpr_forget_task.ex
Due: mix-format, mix-compile, mix-dialyzer

Added direct messages to deletion list
  lib/teiserver/account/tasks/gdpr_forget_task.ex
Due: mix-format, mix-compile, mix-dialyzer

Refactored GDPR clean into GDPR forget (#1178)
  lib/teiserver/account/libs/role_lib.ex
  lib/teiserver/account/tasks/gdpr_forget_task.ex
  lib/teiserver_web/controllers/admin/user_controller.ex
  lib/teiserver_web/router.ex
  lib/teiserver_web/templates/component/icon.html.heex
  mix.exs
  mix.lock
  test/teiserver_web/controllers/admin/user_controller_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Fix help for moderator commands
  lib/teiserver/coordinator/coordinator_commands.ex
  lib/teiserver/coordinator/coordinator_lib.ex
Due: mix-format, mix-compile, mix-dialyzer

added defaults
  config/runtime.exs
Due: mix-format, mix-dialyzer

Fix help for moderator commands (#1181)
  lib/teiserver/coordinator/coordinator_commands.ex
  lib/teiserver/coordinator/coordinator_lib.ex
Due: mix-format, mix-compile, mix-dialyzer

Display client secret after creation
  lib/teiserver_web/controllers/admin/o_auth_application_controller.ex
  lib/teiserver_web/templates/admin/o_auth_application/show.html.heex
Due: mix-format, mix-compile, mix-dialyzer

Tweaks to iso_week test
  test/teiserver/helpers/date_helper_test.exs
Due: mix-format, mix-dialyzer

Login queue for Tachyon protocol refactored to Tick mechanism
  lib/teiserver/libs/teiserver_configs.ex
  lib/teiserver/player/login_queue.ex
  lib/teiserver/player/system.ex
  lib/teiserver/player/tachyon_handler.ex
  lib/teiserver/tachyon/login_queue.ex
  lib/teiserver/tachyon/system.ex
  test/teiserver/player/login_queue_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Added tag to fleaky tests
  test/teiserver/chat/libs/word_lib_test.exs
  test/teiserver/data/battle/lobby_chat_test.exs
Due: mix-format, mix-dialyzer

Hash the client_secret
  lib/teiserver/o_auth/schemas/application.ex
  lib/teiserver_web/controllers/admin/o_auth_application_controller.ex
  lib/teiserver_web/templates/admin/o_auth_application/show.html.heex
  test/teiserver_web/controllers/admin/o_auth_application_controller_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Fixes from review
  lib/teiserver/libs/teiserver_configs.ex
  lib/teiserver/player/login_queue.ex
  lib/teiserver/player/tachyon_handler.ex
  test/teiserver/player/login_queue_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Migrate to OTP 27
  Dockerfile
  mise.toml
Due: none

Fix test
  test/teiserver/autohost/session_registry_test.exs
Due: mix-format, mix-dialyzer

Remove offset from LoginQueue limit
  test/teiserver/player/login_queue_test.exs
Due: mix-format, mix-dialyzer

Change debian version
  Dockerfile
Due: none

Handle permissions for roles not in @role_data
  lib/teiserver/account/libs/auth_lib.ex
Due: mix-format, mix-compile, mix-dialyzer

Handle permissions for roles not in @role_data (#1188)
  lib/teiserver/account/libs/auth_lib.ex
Due: mix-format, mix-compile, mix-dialyzer

MaxMembers in PartyState
  lib/teiserver/player/tachyon_handler.ex
  priv/tachyon/schema/definitions/partyState.json
  test/teiserver_web/tachyon/party_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Update moderation report formatting with emojis
  lib/teiserver/bridge/discord_bridge_bot.ex
Due: mix-format, mix-compile, mix-dialyzer

Fix by converting Discord emoji to Unicode emoji (#1190)
  lib/teiserver/bridge/discord_bridge_bot.ex
Due: mix-format, mix-compile, mix-dialyzer

Handle lobby tags
  lib/teiserver/player/tachyon_handler.ex
  lib/teiserver/tachyon_lobby/list.ex
  lib/teiserver/tachyon_lobby/lobby.ex
  priv/tachyon/schema/lobby/create/request.json
  priv/tachyon/schema/lobby/listUpdated/event.json
  priv/tachyon/schema/lobby/update/request.json
  priv/tachyon/schema/lobby/updated/event.json
  test/support/tachyon.ex
  test/teiserver/tachyon_lobby/lobby_test.exs
  test/teiserver_web/tachyon/lobby_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Updates some libraries
  .dialyzer_ignore.exs
  lib/teiserver_web/templates/admin/accolade/tab_details.html.heex
  lib/teiserver_web/templates/moderation/report/tab_propose.html.heex
  mix.exs
  mix.lock
  priv/repo/migrations/20260525190240_oban-14.exs
  test/teiserver/o_auth/application_query_test.exs
Due: mix-format, mix-dialyzer

Fix dialyzer
  lib/teiserver/player/session.ex
Due: mix-format, mix-compile, mix-dialyzer

Fixes link to GDPR forget and sets permissions to Admin
  lib/teiserver/account/auth.ex
  lib/teiserver_web/templates/admin/user/actions.html.heex
  test/teiserver/o_auth/application_query_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Fixes link to GDPR forget and sets permissions to Admin (#1193)
  lib/teiserver/account/auth.ex
  lib/teiserver_web/templates/admin/user/actions.html.heex
  test/teiserver/o_auth/application_query_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Updates some libraries (#1191)
  .dialyzer_ignore.exs
  lib/teiserver_web/templates/admin/accolade/tab_details.html.heex
  lib/teiserver_web/templates/moderation/report/tab_propose.html.heex
  mix.exs
  mix.lock
  priv/repo/migrations/20260525190240_oban-14.exs
Due: mix-format, mix-dialyzer

Fix date comparison between different type of dates
  lib/teiserver/helpers/date_helper.ex
  test/teiserver/helpers/date_helper_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Fix datetime conversion error
  lib/teiserver/account/reports/population_report.ex
Due: mix-format, mix-compile, mix-dialyzer

Fix typo on file name
  lib/teiserver/helpers/date_presets.ex
Due: mix-format, mix-compile, mix-dialyzer

Handle lobby tags (#1192)
  lib/teiserver/player/session.ex
  lib/teiserver/player/tachyon_handler.ex
  lib/teiserver/tachyon_lobby/list.ex
  lib/teiserver/tachyon_lobby/lobby.ex
  priv/tachyon/schema/lobby/create/request.json
  priv/tachyon/schema/lobby/listUpdated/event.json
  priv/tachyon/schema/lobby/update/request.json
  priv/tachyon/schema/lobby/updated/event.json
  test/support/tachyon.ex
  test/teiserver/tachyon_lobby/lobby_test.exs
  test/teiserver_web/tachyon/lobby_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Move code challenge method check into changeset
  lib/teiserver_web/controllers/o_auth/authorize_controller.ex
  test/teiserver/o_auth/code_test.exs
  test/teiserver_web/controllers/o_auth/authorize_controller_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Refactor exchange token logic
  lib/teiserver/o_auth.ex
  lib/teiserver_web/controllers/o_auth/code_controller.ex
  test/teiserver/o_auth/code_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Remove "id" claim
  lib/teiserver_web/controllers/o_auth/userinfo_controller.ex
Due: mix-format, mix-compile, mix-dialyzer
