Repository beyond-all-reason/teiserver: changes, and which pre-commit hooks are due for each by the changed paths.
All: mix-format, mix-compile, mix-dialyzer

mix-format:
  name: 'elixir: mix format'
  entry: mix format --check-formatted
  language: system

mix-compile:
  name: 'elixir: mix compile'
  entry: mix compile --force
  language: system
  pass_filenames: false

mix-dialyzer:
  name: 'elixir: mix dialyzer'
  entry: mix dialyzer
  language: system
  pass_filenames: false

added shim to deal with a case where send_message was passed a list of messages
  lib/teiserver/chat/chat_room_cache.ex
Due: mix-format, mix-compile, mix-dialyzer

still trying to reproduce either the issue or the fix
  lib/teiserver/game/servers/balancer_server.ex
  mix.exs
  test/teiserver/game/balancer_server_test.exs
Due: mix-format, mix-compile, mix-dialyzer

manual restore of mix.lock contents
  mix.lock
Due: none

Add max_heap_size to balancer_server and fix it for spring_tcp_server
  lib/teiserver/game/servers/balancer_server.ex
  lib/teiserver/tcp/spring/spring_tcp_server.ex
Due: mix-format, mix-compile, mix-dialyzer

Limit grouped balancing to 16 players
  lib/teiserver_web/controllers/api/spads_controller.ex
Due: mix-format, mix-compile, mix-dialyzer

Add 'accounts created' to records report
  lib/teiserver/account/reports/records_report.ex
Due: mix-format, mix-compile, mix-dialyzer

Change issue template labels to types
  .github/ISSUE_TEMPLATE/1-bug_report.yml
  .github/ISSUE_TEMPLATE/2-feature_request.yml
Due: none

Change issue template labels to types (#694)
  .github/ISSUE_TEMPLATE/1-bug_report.yml
  .github/ISSUE_TEMPLATE/2-feature_request.yml
Due: none

Add 'accounts created' to records report (#693)
  lib/teiserver/account/reports/records_report.ex
Due: mix-format, mix-compile, mix-dialyzer

Add max_heap_size to balancer_server and fix it for spring_tcp_server (#692)
  lib/teiserver/game/servers/balancer_server.ex
  lib/teiserver/tcp/spring/spring_tcp_server.ex
Due: mix-format, mix-compile, mix-dialyzer

Limit grouped balancing to 16 players (#691)
  lib/teiserver_web/controllers/api/spads_controller.ex
Due: mix-format, mix-compile, mix-dialyzer

elixir install.sh script
  install.sh
Due: none

correct DiscordSystem initialization response tuple
  lib/teiserver/bridge/discord_system.ex
Due: mix-format, mix-compile, mix-dialyzer

Increase SpringTCPServer max_heap_size to 50 MB
  lib/teiserver/tcp/spring/spring_tcp_server.ex
Due: mix-format, mix-compile, mix-dialyzer

Add configuration for SpringTCPServer max_heap_size
  lib/teiserver/libs/teiserver_configs.ex
  lib/teiserver/tcp/spring/spring_tcp_server.ex
Due: mix-format, mix-compile, mix-dialyzer

Add configuration for SpringTCPServer max_heap_size (#697)
  lib/teiserver/libs/teiserver_configs.ex
  lib/teiserver/tcp/spring/spring_tcp_server.ex
Due: mix-format, mix-compile, mix-dialyzer

change curve algorithm for rating graph to curveMonotoneX to fix visual glitches
  lib/teiserver_web/templates/battle/match/ratings_graph.html.heex
Due: none

address "Application can't start when discord is unavailable" (#649)
  lib/teiserver/application.ex
  lib/teiserver/bridge/discord_supervisor.ex
  lib/teiserver/bridge/discord_system.ex
  lib/teiserver/chat/chat_room_cache.ex
Due: mix-format, mix-compile, mix-dialyzer

change curve algorithm for rating graph to curveMonotoneX to fix visual glitches (#695)
  lib/teiserver_web/templates/battle/match/ratings_graph.html.heex
Due: none

Use player ratings for matchmaking members
  lib/teiserver/account.ex
  lib/teiserver/battle/libs/balance_lib.ex
  lib/teiserver/game.ex
  lib/teiserver/game/libs/rating_type_lib.ex
  lib/teiserver/game/schemas/rating_type.ex
  lib/teiserver/matchmaking.ex
  lib/teiserver/matchmaking/algo/bruteforce_filter.ex
  lib/teiserver/matchmaking/member.ex
  lib/teiserver/matchmaking/queue_server.ex
  test/teiserver/matchmaking/member_test.exs
  test/teiserver/matchmaking/queue_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Add some types
  lib/teiserver/account.ex
  lib/teiserver/account/schemas/rating.ex
  lib/teiserver/game/schemas/rating_type.ex
Due: mix-format, mix-compile, mix-dialyzer

Basic algo filtering based on win probability
  lib/teiserver/battle/libs/match_lib.ex
  lib/teiserver/matchmaking/algo/bruteforce_filter.ex
  lib/teiserver/matchmaking/algo/ignore_os.ex
  lib/teiserver/matchmaking/algos.ex
  test/teiserver/matchmaking/algos_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Refactor: move some logic in base algo module
  lib/teiserver/matchmaking/algo/ignore_os.ex
  lib/teiserver/matchmaking/algos.ex
Due: mix-format, mix-compile, mix-dialyzer

Switch default mm algo to bruteforce filter
  lib/teiserver/matchmaking/queue_server.ex
  lib/teiserver/matchmaking/queue_supervisor.ex
Due: mix-format, mix-compile, mix-dialyzer

Fix a bug where the rating cache would be stale
  lib/teiserver/account.ex
Due: mix-format, mix-compile, mix-dialyzer

Set a default rating for all users in tachyon test
  lib/teiserver/game.ex
  test/support/tachyon.ex
Due: mix-format, mix-compile, mix-dialyzer

Rename rating into ratings
  lib/teiserver/matchmaking.ex
  lib/teiserver/matchmaking/algo/bruteforce_filter.ex
  lib/teiserver/matchmaking/member.ex
  lib/teiserver/matchmaking/queue_server.ex
  test/teiserver/matchmaking/algos_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Move matchmaking algo into separate modules
  lib/teiserver/matchmaking/algo/ignore_os.ex
  lib/teiserver/matchmaking/algos.ex
  lib/teiserver/matchmaking/queue_server.ex
  test/teiserver/matchmaking/algos_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Refactor: put members as first arg for mm algos
  lib/teiserver/matchmaking/algos.ex
  lib/teiserver/matchmaking/queue_server.ex
  test/teiserver/matchmaking/algos_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Add livebook to visualize matchmaking algos
  matchmaking-os.livemd
Due: none

Basic algo filtering based on win probability
  lib/teiserver/matchmaking/algo/bruteforce_filter.ex
  lib/teiserver/matchmaking/algo/ignore_os.ex
  lib/teiserver/matchmaking/algos.ex
  test/teiserver/matchmaking/algos_test.exs
Due: mix-format, mix-compile, mix-dialyzer

New docker setup
  .env
  Dockerfile
  docker-compose.yml
  documents/guides/docker_usage.md
Due: none

added to installation notes
  documents/guides/docker_usage.md
Due: none

update dev.exe for docker
  config/dev.exs
Due: mix-format, mix-dialyzer

missing server: True -- Does not affect local running but needed for containers
  config/dev.exs
Due: mix-format, mix-dialyzer

changing files to make local still work
  .env
  config/dev.exs
  documents/guides/docker_usage.md
Due: mix-format, mix-dialyzer

extra char rm
  .env
Due: none

moved server: true
  config/dev.exs
Due: mix-format, mix-dialyzer

removed extra artifact
  documents/guides/docker_usage.md
Due: none

Fix formating issues
  config/dev.exs
Due: mix-format, mix-dialyzer

Path conditions:
  mix-format: any of: \.exs*$
  mix-compile: any of: \.ex$
  mix-dialyzer: any of: \.exs*$
