Repository beyond-all-reason/teiserver: changes, and which pre-commit hooks are due for each by the changed paths.
All: mix-format, mix-compile, mix-dialyzer

mix-format:
  name: 'elixir: mix format'
  entry: mix format --check-formatted
  language: system

mix-compile:
  name: 'elixir: mix compile'
  entry: mix compile --force
  language: system
  pass_filenames: false

mix-dialyzer:
  name: 'elixir: mix dialyzer'
  entry: mix dialyzer
  language: system
  pass_filenames: false

Fix issue with deletion of some moderation actions (#1333)
  lib/teiserver/moderation.ex
Due: mix-format, mix-compile, mix-dialyzer

Fixes password reset error when no code exists
  lib/teiserver_web/controllers/account/session_controller.ex
Due: mix-format, mix-compile, mix-dialyzer

Fixes password reset error when no code exists (#1336)
  lib/teiserver_web/controllers/account/session_controller.ex
Due: mix-format, mix-compile, mix-dialyzer

remove stray io.inspect
  lib/teiserver/application.ex
Due: mix-format, mix-compile, mix-dialyzer

flaky test
  test/teiserver/battle/lobby_server_test.exs
  test/teiserver_web/live/microblog/blog/index_live_test.exs
Due: mix-format, mix-dialyzer

Isolate :tick message for testing
  lib/teiserver/matchmaking/queue_server.ex
  test/teiserver/matchmaking/queue_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Add more tests around matchmaking pairing
  test/teiserver/matchmaking/queue_test.exs
Due: mix-format, mix-dialyzer

register user with session registry in mm test
  test/teiserver/matchmaking/queue_test.exs
Due: mix-format, mix-dialyzer

Only confidential oauth client can skip authorization
  lib/teiserver/o_auth.ex
  lib/teiserver_web/controllers/o_auth/authorize_controller.ex
  test/teiserver_web/controllers/o_auth/authorize_controller_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Bring User struct up to parity with CacheUser fields
  lib/teiserver/account/caches/user_cache_lib.ex
  lib/teiserver/account/schemas/user.ex
  lib/teiserver/data/cache_user.ex
  lib/teiserver/data/client.ex
  lib/teiserver/libs/teiserver_configs.ex
  lib/teiserver/protocols/spring/spring_in.ex
  lib/teiserver/protocols/spring/spring_out.ex
  lib/teiserver/tcp/spring/spring_tcp_server.ex
  lib/teiserver_web/live/clients/show.ex
  lib/teiserver_web/live/clients/show.html.heex
  priv/repo/migrations/20260707101652_expand_user_fields.exs
  test/support/teiserver_test_lib.ex
  test/teiserver/account/cache_user_test.exs
  test/teiserver_web/live/account/profile/overview_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Addresses a pair os security advisories
  mix.exs
  mix.lock
Due: mix-format, mix-dialyzer

Addresses a pair os security advisories (#1342)
  mix.exs
  mix.lock
Due: mix-format, mix-dialyzer

fix: tailwind styles built before templates copied
  Dockerfile
Due: none

Fix Tailwind class issues in Prod
  Dockerfile
  lib/teiserver_web/components/layouts/app_tw.html.heex
  lib/teiserver_web/components/nav_components.ex
  lib/teiserver_web/router.ex
Due: mix-format, mix-compile, mix-dialyzer

added image build CI file (#2)
  .github/workflows/build.yml
Due: none

hardcoded image for testing
  .github/workflows/build.yml
Due: none

removed hardcoded image for testing
  .github/workflows/build.yml
Due: none

updated to create tagged image on release
  .github/workflows/build.yml
Due: none

fix: tailwind styles built before templates copied (#1343)
  Dockerfile
Due: none

Refactored tests for match subcomponents
  lib/teiserver_web/live/battles/match/sub_components/balance_component.ex
  test/teiserver_web/live/battles/match/subcomponents/balance_live_test.exs
  test/teiserver_web/live/battles/match/subcomponents/chat_live_test.exs
  test/teiserver_web/live/battles/match/subcomponents/ratings_live_test.exs
Due: mix-format, mix-compile, mix-dialyzer

fixed path glyph
  lib/teiserver_web/templates/moderation/report/show.html.heex
Due: none

fixed path glyph (#1346)
  lib/teiserver_web/templates/moderation/report/show.html.heex
Due: none

Revert Cowboy version to 2.16
  lib/teiserver/game/servers/balancer_server.ex
  lib/teiserver/protocols/spring/spring.ex
  lib/teiserver_web/controllers/api/spads_controller.ex
  mix.exs
  mix.lock
  test/teiserver_web/controllers/api/spads_controller_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Revert Cowboy version to 2.16 (#1348)
  lib/teiserver/game/servers/balancer_server.ex
  lib/teiserver/protocols/spring/spring.ex
  lib/teiserver_web/controllers/api/spads_controller.ex
  mix.exs
  mix.lock
  test/teiserver_web/controllers/api/spads_controller_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Bring User struct up to parity with CacheUser fields (#1341)
  lib/teiserver/account/caches/user_cache_lib.ex
  lib/teiserver/account/schemas/user.ex
  lib/teiserver/data/cache_user.ex
  lib/teiserver/data/client.ex
  lib/teiserver/libs/teiserver_configs.ex
  lib/teiserver/protocols/spring/spring_in.ex
  lib/teiserver/protocols/spring/spring_out.ex
  lib/teiserver/tcp/spring/spring_tcp_server.ex
  lib/teiserver_web/live/clients/show.ex
  lib/teiserver_web/live/clients/show.html.heex
  priv/repo/migrations/20260707101652_expand_user_fields.exs
  test/support/teiserver_test_lib.ex
  test/teiserver/account/cache_user_test.exs
  test/teiserver_web/live/account/profile/overview_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Removes a dead link to the ratings progression page
  lib/teiserver_web/live/battles/match/match_components.ex
Due: mix-format, mix-compile, mix-dialyzer

Make the database in container usable for local dev
  compose.yaml
  containers/init-multiple-databases.sh
Due: none

added sha tagged image, and deduplicated builds
  .github/workflows/build.yml
Due: none

specified step name
  .github/workflows/build.yml
Due: none

Update code of conduct reference in error message
  lib/teiserver/data/cache_user.ex
Due: mix-format, mix-compile, mix-dialyzer

Update code of conduct reference in error message (#1352)
  lib/teiserver/data/cache_user.ex
Due: mix-format, mix-compile, mix-dialyzer

Removes a dead link to the ratings progression page (#1349)
  lib/teiserver_web/live/battles/match/match_components.ex
Due: mix-format, mix-compile, mix-dialyzer

Add github CI for image building (#1344)
  .github/workflows/build.yml
Due: none

added tests for everything, fixed most things
  lib/teiserver/account/schemas/user.ex
  test/teiserver/account/user_lib_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Fix a flaky test
  test/teiserver/player/login_queue_test.exs
Due: mix-format, mix-dialyzer

Fix a flaky test (#1354)
  test/teiserver/player/login_queue_test.exs
Due: mix-format, mix-dialyzer

unused alias
  test/teiserver/player/login_queue_test.exs
Due: mix-format, mix-dialyzer

Add step to lower case repo name in workflow
  .github/workflows/build.yml
Due: none

Fix typo in workflow step name
  .github/workflows/build.yml
Due: none

Path conditions:
  mix-format: any of: \.exs*$
  mix-compile: any of: \.ex$
  mix-dialyzer: any of: \.exs*$
