Repository beyond-all-reason/teiserver: changes, and which pre-commit hooks are due for each by the changed paths.
All: mix-format, mix-compile, mix-dialyzer

mix-format:
  name: 'elixir: mix format'
  entry: mix format --check-formatted
  language: system

mix-compile:
  name: 'elixir: mix compile'
  entry: mix compile --force
  language: system
  pass_filenames: false

mix-dialyzer:
  name: 'elixir: mix dialyzer'
  entry: mix dialyzer
  language: system
  pass_filenames: false

Changed 2FA QR code from SVG to PNG (#850)
  lib/teiserver_web/controllers/account/security_controller.ex
  lib/teiserver_web/templates/account/security/edit_totp.html.heex
Due: mix-format, mix-compile, mix-dialyzer

Serverside rating hiding
  lib/teiserver/lobby/libs/lobby_restrictions.ex
  lib/teiserver_web/controllers/api/spads_controller.ex
Due: mix-format, mix-compile, mix-dialyzer

Change uncertainty config from integer to float
  lib/teiserver/libs/teiserver_configs.ex
Due: mix-format, mix-compile, mix-dialyzer

Fix a bug where a player moving team wouldn't emit event
  lib/teiserver/tachyon_lobby/lobby.ex
  test/teiserver/tachyon_lobby/lobby_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Refactor: conversion to tachyon structure
  lib/teiserver/helpers/collections.ex
  lib/teiserver/player/tachyon_handler.ex
Due: mix-format, mix-compile, mix-dialyzer

Correctly send patch update to ally team config
  lib/teiserver/helpers/collections.ex
  lib/teiserver/player/tachyon_handler.ex
  lib/teiserver/tachyon_lobby/lobby.ex
  test/teiserver/tachyon_lobby/lobby_test.exs
  test/teiserver_web/tachyon/lobby_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Helper function to apply some transformations to maps
  lib/teiserver/helpers/collections.ex
  test/teiserver/helpers/collections_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Record and rate Tachyon matches
  lib/teiserver/account/schemas/user.ex
  lib/teiserver/battle.ex
  lib/teiserver/battle/libs/match_membership_lib.ex
  lib/teiserver/battle/schemas/match.ex
  lib/teiserver/game/libs/match_rating_lib.ex
  lib/teiserver/matchmaking/pairing_room.ex
  lib/teiserver/tachyon_battle.ex
  lib/teiserver/tachyon_battle/battle.ex
  lib/teiserver/tachyon_battle/supervisor.ex
  lib/teiserver/tachyon_battle/types.ex
  lib/teiserver/tachyon_lobby/lobby.ex
  priv/repo/migrations/20251018181107_tachyon_match.exs
  test/support/polling.ex
  test/support/tachyon.ex
  test/teiserver/tachyon_battle/battle_test.exs
  test/teiserver_web/tachyon/battle_test.exs
  test/teiserver_web/tachyon/matchmaking_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Record and rate Tachyon matches (#849)
  lib/teiserver/account/schemas/user.ex
  lib/teiserver/battle.ex
  lib/teiserver/battle/libs/match_membership_lib.ex
  lib/teiserver/battle/schemas/match.ex
  lib/teiserver/game/libs/match_rating_lib.ex
  lib/teiserver/matchmaking/pairing_room.ex
  lib/teiserver/tachyon_battle.ex
  lib/teiserver/tachyon_battle/battle.ex
  lib/teiserver/tachyon_battle/supervisor.ex
  lib/teiserver/tachyon_battle/types.ex
  lib/teiserver/tachyon_lobby/lobby.ex
  priv/repo/migrations/20251018181107_tachyon_match.exs
  test/support/polling.ex
  test/support/tachyon.ex
  test/teiserver/tachyon_battle/battle_test.exs
  test/teiserver_web/tachyon/battle_test.exs
  test/teiserver_web/tachyon/matchmaking_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Fix #817
  lib/teiserver/player/session.ex
  lib/teiserver/player/tachyon_handler.ex
  test/teiserver_web/tachyon/lobby_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Mark a flaky test
  test/teiserver/protocols/spring/spring_party_test.exs
Due: mix-format, mix-dialyzer

Fix a bug where joining a team through join queue doesn't update list
  lib/teiserver/tachyon_lobby/lobby.ex
  test/teiserver/tachyon_lobby/list_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Merge pull request #857 from geekingfrog/fix-join-queue-list
  lib/teiserver/tachyon_lobby/lobby.ex
  test/teiserver/tachyon_lobby/list_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Batch lobby list updates
  lib/teiserver/player/session.ex
  lib/teiserver/player/tachyon_handler.ex
  lib/teiserver/tachyon_lobby/list.ex
  test/teiserver/tachyon_lobby/list_test.exs
  test/teiserver_web/tachyon/lobby_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Allow override of oauth issuer through env var
  config/runtime.exs
Due: mix-format, mix-dialyzer

Handle weird crash on geoip
  lib/teiserver/libs/geoip.ex
Due: mix-format, mix-compile, mix-dialyzer

env file to run release version in local environment
  documents/guides/local_setup.md
  teiserver.env
Due: none

Metrics for lobby count
  lib/teiserver/monitoring/tachyon.ex
  lib/teiserver/tachyon_lobby.ex
  lib/teiserver/tachyon_lobby/registry.ex
Due: mix-format, mix-compile, mix-dialyzer

move functions around
  lib/teiserver/matchmaking/queue_server.ex
Due: mix-format, mix-compile, mix-dialyzer

Assets are static for matchmaking queues
  lib/teiserver/matchmaking/queue_server.ex
  lib/teiserver/matchmaking/queue_supervisor.ex
  test/teiserver/matchmaking/queue_test.exs
Due: mix-format, mix-compile, mix-dialyzer

implement matchmaking queue versions
  lib/teiserver/matchmaking.ex
  lib/teiserver/matchmaking/pairing_room.ex
  lib/teiserver/matchmaking/queue_server.ex
  lib/teiserver/party/server.ex
  lib/teiserver/player.ex
  lib/teiserver/player/session.ex
  lib/teiserver/player/tachyon_handler.ex
  priv/tachyon/schema/matchmaking/cancelled/event.json
  priv/tachyon/schema/matchmaking/list/response.json
  priv/tachyon/schema/matchmaking/queue/request.json
  priv/tachyon/schema/matchmaking/queue/response.json
  test/support/tachyon.ex
  test/teiserver/matchmaking/queue_test.exs
  test/teiserver_web/tachyon/matchmaking_test.exs
  test/teiserver_web/tachyon/party_matchmaking_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Fix team conflict warning
  lib/teiserver/battle.ex
Due: mix-format, mix-compile, mix-dialyzer

Place pairing room under supervision tree
  lib/teiserver/matchmaking/pairing_room.ex
  lib/teiserver/matchmaking/queue_supervisor.ex
Due: mix-format, mix-compile, mix-dialyzer

Fix team conflict warning (#863)
  lib/teiserver/battle.ex
Due: mix-format, mix-compile, mix-dialyzer

Metrics for lobby count (#861)
  lib/teiserver/monitoring/tachyon.ex
  lib/teiserver/tachyon_lobby.ex
  lib/teiserver/tachyon_lobby/registry.ex
Due: mix-format, mix-compile, mix-dialyzer

Place pairing room under supervision tree (#864)
  lib/teiserver/matchmaking/pairing_room.ex
  lib/teiserver/matchmaking/queue_supervisor.ex
Due: mix-format, mix-compile, mix-dialyzer

added removal of unneccessary fields to migratino
  lib/teiserver/moderation/schemas/report_group.ex
  priv/repo/migrations/20251010192701_update_report_group.exs
Due: mix-format, mix-compile, mix-dialyzer

changed hyperlink to point to local testing section
  documents/guides/spads_install.md
Due: none

Hash OAuth codes and tokens
  config/runtime.exs
  lib/teiserver/o_auth.ex
  lib/teiserver/o_auth/helpers/hash_helper.ex
  lib/teiserver/o_auth/queries/code_query.ex
  lib/teiserver/o_auth/queries/token_query.ex
  lib/teiserver/o_auth/schemas/code.ex
  lib/teiserver/o_auth/schemas/credential.ex
  lib/teiserver/o_auth/schemas/token.ex
  test/teiserver/o_auth/credential_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Update teiserver_configs.ex
  lib/teiserver/libs/teiserver_configs.ex
Due: mix-format, mix-compile, mix-dialyzer

Update teiserver_configs.ex (#867)
  lib/teiserver/libs/teiserver_configs.ex
Due: mix-format, mix-compile, mix-dialyzer

Fix user agreement in prod
  config/config.exs
  config/runtime.exs
  test/teiserver/servers/spring_tcp_server_test.exs
Due: mix-format, mix-dialyzer

Fix user agreement in prod (#868)
  config/config.exs
  config/runtime.exs
  test/teiserver/servers/spring_tcp_server_test.exs
Due: mix-format, mix-dialyzer

chore: Streamline initial setup with mise
  documents/guides/development.md
  documents/guides/local_setup.md
  mise.toml
Due: none

chore: Streamline initial setup with mise (#869)
  documents/guides/development.md
  documents/guides/local_setup.md
  mise.toml
Due: none

Fix links
  documents/guides/development.md
Due: none

Fix links (#871)
  documents/guides/development.md
Due: none

chore: Adjust mise setup and fix docs
  documents/dev_designs/tachyon_system.md
  documents/guides/deployment.md
  documents/guides/local_setup.md
  documents/guides/spads_install.md
  mise.toml
  priv/certs/.gitkeep
Due: none

refactor: Supervise spring tcp servers
  config/config.exs
  config/dev.exs
  config/runtime.exs
  config/test.exs
  lib/teiserver/application.ex
  lib/teiserver/protocols/spring/spring.ex
  lib/teiserver/protocols/spring/spring_in.ex
  lib/teiserver/protocols/spring/spring_out.ex
  lib/teiserver/tcp/spring/spring_tcp_server.ex
  test/support/teiserver_test_lib.ex
  test/teiserver/protocols/spring/spring_auth_async_test.exs
  test/teiserver/protocols/spring/spring_battle_host_async_test.exs
  test/teiserver/protocols/spring/spring_handle_test.exs
  test/teiserver/servers/spring_tcp_server_test.exs
Due: mix-format, mix-compile, mix-dialyzer

chore: Adjust mise setup and fix docs (#870)
  documents/dev_designs/tachyon_system.md
  documents/guides/deployment.md
  documents/guides/local_setup.md
  documents/guides/spads_install.md
  mise.toml
  priv/certs/.gitkeep
Due: none

Path conditions:
  mix-format: any of: \.exs*$
  mix-compile: any of: \.ex$
  mix-dialyzer: any of: \.exs*$
