Repository beyond-all-reason/teiserver: changes, and which pre-commit hooks are due for each by the changed paths.
All: mix-format, mix-compile, mix-dialyzer

.pre-commit-config.yaml:

---
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-merge-conflict
      - id: check-yaml
      - id: no-commit-to-branch
        args:
          - -b
          - master
          - -b
          - production
          - -b
          - staging
  - repo: local
    hooks:
      - id: mix-format
        name: "elixir: mix format"
        entry: mix format --check-formatted
        language: system
        files: \.exs*$
      - id: mix-compile
        name: "elixir: mix compile"
        entry: mix compile --force #--warnings-as-errors
        language: system
        pass_filenames: false
        files: \.ex$
      # - id: mix-credo
      #   name: "elixir: mix credo"
      #   entry: mix credo
      #   language: system
      #   pass_filenames: false
      #   files: \.exs*$
      - id: mix-dialyzer
        name: "elixir: mix dialyzer"
        entry: mix dialyzer
        language: system
        pass_filenames: false
        files: \.exs*$

Updated after feedback
  lib/teiserver/battle/balance/default_balance.ex
  lib/teiserver/battle/balance/default_balance_types.ex
  lib/teiserver/battle/balance/split_noobs.ex
  lib/teiserver/battle/libs/balance_lib.ex
  lib/teiserver/libs/teiserver_configs.ex
Due: mix-format, mix-compile, mix-dialyzer

default balance algo determine whether to pick loser_picks or split_noobs depending on circumstances (#429)
  lib/teiserver/battle/balance/default_balance.ex
  lib/teiserver/battle/balance/default_balance_types.ex
  lib/teiserver/battle/balance/loser_picks.ex
  lib/teiserver/battle/balance/split_noobs.ex
  lib/teiserver/battle/libs/balance_lib.ex
  lib/teiserver/libs/teiserver_configs.ex
  lib/teiserver/lobby/commands/explain_command.ex
  lib/teiserver/lobby/libs/lobby_restrictions.ex
  test/teiserver/battle/balance_lib_internal_test.exs
  test/teiserver/lobby/commands/explain_command_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Upgrade elixir and otp
  .tool-versions
  mix.lock
Due: none

Upgrade gettext usage
  lib/teiserver_web/components/core_components.ex
  lib/teiserver_web/gettext.ex
  lib/teiserver_web/teiserver_web.ex
Due: mix-format, mix-compile, mix-dialyzer

Fix dialyzer
  lib/teiserver/bridge/message_commands.ex
  mix.exs
  mix.lock
Due: mix-format, mix-compile, mix-dialyzer

Update versions for github CI
  .github/workflows/dialyzer.yml
  .github/workflows/format.yml
  .github/workflows/tests.yml
Due: none

mix format
  lib/teiserver_web/controllers/telemetry/simple_lobby_event_controller.ex
  lib/teiserver_web/controllers/telemetry/simple_match_event_controller.ex
  lib/teiserver_web/templates/account/general/edit_details.html.heex
  lib/teiserver_web/templates/component/icon_dropdown.html.heex
  lib/teiserver_web/templates/moderation/report/tab_details.html.heex
  test/teiserver/helpers/timex_helper_test.exs
  test/teiserver_web/controllers/moderation/action_controller_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Fix a compiler warning
  lib/teiserver/common/email_helper.ex
Due: mix-format, mix-compile, mix-dialyzer

Fix new dialyzer errors
  lib/teiserver/account/libs/auth_lib.ex
  lib/teiserver/clans/libs/clan_invite_lib.ex
  lib/teiserver/clans/libs/clan_membership_lib.ex
  lib/teiserver/lobby.ex
  lib/teiserver/lobby/libs/command_lib.ex
  lib/teiserver/moderation.ex
  lib/teiserver/moderation/libs/proposal_vote_lib.ex
  lib/teiserver/protocols/spring/spring_in.ex
Due: mix-format, mix-compile, mix-dialyzer

Update doc for local setup.
  documents/guides/local_setup.md
Due: none

mark flakey tests
  test/teiserver/protocols/spring/spring_battle_host_async_test.exs
Due: mix-format, mix-dialyzer

Shitty way to avoid another flakey test
  test/teiserver/account/client_server_test.exs
Due: mix-format, mix-dialyzer

Pass user when testing for restriction
  lib/teiserver/account/libs/user_lib.ex
Due: mix-format, mix-compile, mix-dialyzer

Make the controller test synchronous
  test/teiserver_web/controllers/admin/autohost_controller_test.exs
Due: mix-format, mix-dialyzer

Ciphers must be either charlists (single-quoted) or tuples
  config/prod.exs
Due: mix-format, mix-dialyzer

Ciphers must be either charlists (single-quoted) or tuples (#437)
  config/prod.exs
Due: mix-format, mix-dialyzer

mark flakey tests (#436)
  lib/teiserver/account/libs/user_lib.ex
  test/teiserver/account/client_server_test.exs
  test/teiserver/protocols/spring/spring_battle_host_async_test.exs
  test/teiserver_web/controllers/admin/autohost_controller_test.exs
Due: mix-format, mix-compile, mix-dialyzer

fix a spec
  lib/teiserver/data/cache_user.ex
Due: mix-format, mix-compile, mix-dialyzer

List matchmaking queues
  lib/teiserver/matchmaking.ex
  lib/teiserver/matchmaking/queue_registry.ex
  lib/teiserver/matchmaking/queue_server.ex
  test/teiserver/matchmaking/queue_sync_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Basic matchmaking setup
  lib/teiserver/application.ex
  lib/teiserver/matchmaking.ex
  lib/teiserver/matchmaking/queue_registry.ex
  lib/teiserver/matchmaking/queue_server.ex
  lib/teiserver/matchmaking/queue_supervisor.ex
  lib/teiserver/matchmaking/system.ex
  test/teiserver/matchmaking/queue_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Add tachyon command handler in the behaviour
  lib/teiserver/autohost/tachyon_handler.ex
  lib/teiserver/matchmaking.ex
  lib/teiserver/player/tachyon_handler.ex
  lib/teiserver/tachyon/handler.ex
  lib/teiserver/tachyon/transport.ex
  lib/teiserver_web/controllers/tachyon.ex
Due: mix-format, mix-compile, mix-dialyzer

Central location to setup a test tachyon client
  test/support/tachyon.ex
  test/teiserver_web/tachyon/session_test.exs
  test/teiserver_web/tachyon/transport_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Allow Moderation Reviewers to access the global chat search tool.
  lib/teiserver_web/live/admin/chat/index.ex
  lib/teiserver_web/router.ex
Due: mix-format, mix-compile, mix-dialyzer

Revert Nostrum update and fix Discord bot / commands
  lib/teiserver/bridge/discord_bridge_bot.ex
  mix.exs
  mix.lock
Due: mix-format, mix-compile, mix-dialyzer

Allow Moderation Reviewers to access the global chat search tool. (#439)
  lib/teiserver_web/live/admin/chat/index.ex
  lib/teiserver_web/router.ex
Due: mix-format, mix-compile, mix-dialyzer

Revert Nostrum update and fix Discord bot / commands (#440)
  lib/teiserver/bridge/discord_bridge_bot.ex
  mix.exs
  mix.lock
Due: mix-format, mix-compile, mix-dialyzer

Log and respond with error instead of crash connection
  lib/teiserver/tachyon/transport.ex
Due: mix-format, mix-compile, mix-dialyzer

Helper to create error responses
  lib/teiserver/autohost/tachyon_handler.ex
  lib/teiserver/player/tachyon_handler.ex
  lib/teiserver/tachyon/schema.ex
  lib/teiserver/tachyon/transport.ex
Due: mix-format, mix-compile, mix-dialyzer

Handle matchmaking/list message
  lib/teiserver/matchmaking/queue_server.ex
  lib/teiserver/player/tachyon_handler.ex
  priv/tachyon/schema/matchmaking/list/request.json
  test/support/tachyon.ex
  test/teiserver_web/tachyon/matchmaking_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Various updates for moderation action templates.
  lib/teiserver_web/templates/moderation/action/new_with_user.html.heex
Due: none

Run `mix format` for previous commit.
  lib/teiserver_web/templates/moderation/action/new_with_user.html.heex
Due: none

Various updates for moderation action templates. (#441)
  lib/teiserver_web/templates/moderation/action/new_with_user.html.heex
Due: none

Base logic to leave a queue
  lib/teiserver/matchmaking.ex
  lib/teiserver/matchmaking/queue_server.ex
  test/teiserver/matchmaking/queue_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Basic handling of tachyon message to join a queue
  lib/teiserver/player/session.ex
  lib/teiserver/player/tachyon_handler.ex
  priv/tachyon/schema/matchmaking/queue/request.json
  test/support/tachyon.ex
  test/teiserver_web/tachyon/matchmaking_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Basic logic to join a queue
  lib/teiserver/matchmaking.ex
  lib/teiserver/matchmaking/queue_server.ex
  test/teiserver/matchmaking/queue_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Clean disconnect removes from queue
  lib/teiserver/player/session.ex
  lib/teiserver/player/session_registry.ex
  lib/teiserver/player/tachyon_handler.ex
  test/support/tachyon.ex
  test/teiserver_web/tachyon/matchmaking_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Move disconnect in specific handlers
  lib/teiserver/autohost/tachyon_handler.ex
  lib/teiserver/player/tachyon_handler.ex
  lib/teiserver/tachyon/transport.ex
Due: mix-format, mix-compile, mix-dialyzer
