Repository beyond-all-reason/teiserver: changes, and which pre-commit hooks are due for each by the changed paths.
All: mix-format, mix-compile, mix-dialyzer

.pre-commit-config.yaml:

---
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-merge-conflict
      - id: check-yaml
      - id: no-commit-to-branch
        args:
          - -b
          - master
          - -b
          - production
          - -b
          - staging
  - repo: local
    hooks:
      - id: mix-format
        name: "elixir: mix format"
        entry: mix format --check-formatted
        language: system
        files: \.exs*$
      - id: mix-compile
        name: "elixir: mix compile"
        entry: mix compile --force #--warnings-as-errors
        language: system
        pass_filenames: false
        files: \.ex$
      # - id: mix-credo
      #   name: "elixir: mix credo"
      #   entry: mix credo
      #   language: system
      #   pass_filenames: false
      #   files: \.exs*$
      - id: mix-dialyzer
        name: "elixir: mix dialyzer"
        entry: mix dialyzer
        language: system
        pass_filenames: false
        files: \.exs*$

gen_token task doesn't require the entire app to be started
  lib/teiserver/mix_tasks/gen_token.ex
Due: mix-format, mix-compile, mix-dialyzer

Isolate gen token task (#530)
  lib/teiserver/helpers/cache_helper.ex
  lib/teiserver/mix_tasks/gen_token.ex
Due: mix-format, mix-compile, mix-dialyzer

Centralise tachyon logic in the transport layer
  lib/teiserver/autohost/tachyon_handler.ex
  lib/teiserver/player/tachyon_handler.ex
  lib/teiserver/tachyon/handler.ex
  lib/teiserver/tachyon/transport.ex
Due: mix-format, mix-compile, mix-dialyzer

Add win prediction to players tab
  lib/teiserver_web/live/battles/match/show.ex
  lib/teiserver_web/live/battles/match/show.html.heex
  mix.exs
  mix.lock
Due: mix-format, mix-compile, mix-dialyzer

Pass test
  lib/teiserver_web/live/battles/match/show.ex
Due: mix-format, mix-compile, mix-dialyzer

Centralise tachyon logic in the transport layer (#531)
  lib/teiserver/autohost/tachyon_handler.ex
  lib/teiserver/player/tachyon_handler.ex
  lib/teiserver/tachyon/handler.ex
  lib/teiserver/tachyon/transport.ex
Due: mix-format, mix-compile, mix-dialyzer

Show team skill and uncertainty
  lib/teiserver_web/live/battles/match/show.ex
  lib/teiserver_web/live/battles/match/show.html.heex
Due: mix-format, mix-compile, mix-dialyzer

Add win prediction to players tab (#532)
  lib/teiserver_web/live/battles/match/show.ex
  lib/teiserver_web/live/battles/match/show.html.heex
  mix.lock
Due: mix-format, mix-compile, mix-dialyzer

Remove unused timeout handler
  lib/teiserver/autohost/tachyon_handler.ex
Due: mix-format, mix-compile, mix-dialyzer

Remove system/disconnect events
  lib/teiserver/player/tachyon_handler.ex
  lib/teiserver/tachyon/transport.ex
  test/teiserver_web/tachyon/session_test.exs
Due: mix-format, mix-compile, mix-dialyzer

More details in the :missing_schema error
  lib/teiserver/tachyon/schema.ex
  lib/teiserver/tachyon/transport.ex
Due: mix-format, mix-compile, mix-dialyzer

Resolve refs in json schemas
  config/config.exs
  lib/teiserver/tachyon/schema.ex
  lib/teiserver/tachyon/schema_loader.ex
Due: mix-format, mix-compile, mix-dialyzer

Rate early leavers
  lib/teiserver/game/libs/match_rating_lib.ex
Due: mix-format, mix-compile, mix-dialyzer

Validate responses against schema in tests
  priv/tachyon/schema/autohost/start/request.json
  priv/tachyon/schema/battle/start/request.json
  priv/tachyon/schema/definitions/allyTeam.json
  priv/tachyon/schema/definitions/bot.json
  priv/tachyon/schema/definitions/customStartScriptProperties.json
  priv/tachyon/schema/definitions/player.json
  priv/tachyon/schema/definitions/startBox.json
  priv/tachyon/schema/definitions/startPosType.json
  priv/tachyon/schema/definitions/team.json
  priv/tachyon/schema/definitions/userId.json
  priv/tachyon/schema/matchmaking/cancel/response.json
  priv/tachyon/schema/matchmaking/cancelled/event.json
  priv/tachyon/schema/matchmaking/foundUpdate/event.json
  priv/tachyon/schema/matchmaking/list/response.json
  priv/tachyon/schema/matchmaking/lost/event.json
  priv/tachyon/schema/matchmaking/queue/response.json
  priv/tachyon/schema/matchmaking/ready/response.json
  test/support/tachyon.ex
Due: mix-format, mix-compile, mix-dialyzer

wrote a script to show test coverage for files that changed in the last month
  scripts/show_test_coverage_for_files_changed_in_last_month.sh
Due: none

Cache parsed tachyon schema in memory
  lib/teiserver/tachyon/schema.ex
Due: mix-format, mix-compile, mix-dialyzer

fix a flakey test
  lib/teiserver/matchmaking/pairing_room.ex
  test/teiserver_web/tachyon/matchmaking_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Rate early leavers (#534)
  lib/teiserver/game/libs/match_rating_lib.ex
Due: mix-format, mix-compile, mix-dialyzer

Improve season uncertainty reset
  lib/teiserver/battle/tasks/seasonal_uncertainty_reset_task.ex
  test/teiserver/battle/tasks/seasonal_uncertainty_reset_task_test.exs
Due: mix-format, mix-compile, mix-dialyzer

exclude needs_attention
  scripts/show_test_coverage_for_files_changed_in_last_month.sh
Due: none

Add function to calculate seasonal uncertainty
  priv/repo/migrations/20241209014803_season_uncertainty_function.exs
  test/teiserver/sql/season_uncertainty_reset_test.exs
Due: mix-format, mix-dialyzer

update GitHub test action to additionally emit coverage report of files changed in the last month
  .github/workflows/tests.yml
Due: none

switch from direct file write to using tee for visibility
  .github/workflows/tests.yml
Due: none

set fetch depth in order to get commits we can use to calculate the last month of committed files
  .github/workflows/tests.yml
Due: none

maybe we needed to specify the head commit to avoid being detached
  .github/workflows/tests.yml
Due: none

trying to get it to fail pipeline on test failure, trying with hardcoded seed to keep the failure running
  .github/workflows/tests.yml
Due: none

got the test to fail early, now for success with coverage report
  .github/workflows/tests.yml
Due: none

break the collection of test coverage information out into a separate step because I do not know how to adjust the minimum test coverage
  .github/workflows/tests.yml
Due: none

used GitHub action syntax to get the relevant commit sha
  .github/workflows/tests.yml
Due: none

Purge inactive friends and avoids
  lib/teiserver/account/libs/relationship_lib.ex
  lib/teiserver_web/live/account/relationship/index.ex
  lib/teiserver_web/live/account/relationship/index.html.heex
  lib/teiserver_web/router.ex
Due: mix-format, mix-compile, mix-dialyzer

set test coverage to something actually achievable, returned back to single test run rather than two
  .github/workflows/tests.yml
  coveralls.json
Due: none

a GH issue claimed a git fetch cleared the issue right up :/
  .github/workflows/tests.yml
Due: none

Fix prematch ratings on balance tab
  lib/teiserver/battle/libs/balance_lib.ex
  lib/teiserver_web/live/battles/match/show.html.heex
Due: mix-format, mix-compile, mix-dialyzer

Mix format
  lib/teiserver_web/live/battles/match/show.html.heex
Due: none

Update based on feedback
  lib/teiserver/account/libs/account_test_lib.ex
  lib/teiserver/account/libs/relationship_lib.ex
  lib/teiserver_web/live/account/relationship/index.ex
  test/teiserver/account/relationship_lib_test.exs
  test/teiserver_web/live/account/relationship/index_live_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Add confirm
  lib/teiserver_web/live/account/relationship/index.ex
  lib/teiserver_web/live/account/relationship/index.html.heex
Due: mix-format, mix-compile, mix-dialyzer

Formatting
  lib/teiserver_web/live/account/relationship/index.html.heex
Due: none

Added dynamic confirm to purging friends
  lib/teiserver_web/live/account/relationship/index.ex
  lib/teiserver_web/live/account/relationship/index.html.heex
Due: mix-format, mix-compile, mix-dialyzer

Add more tests
  lib/teiserver_web/live/account/relationship/index.ex
  test/teiserver_web/live/account/relationship/index_live_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Use last_login_timex
  lib/teiserver/account/libs/account_test_lib.ex
  lib/teiserver/account/libs/relationship_lib.ex
  lib/teiserver_web/live/account/relationship/index.ex
  test/teiserver/account/relationship_lib_test.exs
Due: mix-format, mix-compile, mix-dialyzer
