Repository beyond-all-reason/teiserver: changes, and which pre-commit hooks are due for each by the changed paths.
All: mix-format, mix-compile, mix-dialyzer

.pre-commit-config.yaml:

---
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-merge-conflict
      - id: check-yaml
      - id: no-commit-to-branch
        args:
          - -b
          - master
          - -b
          - production
          - -b
          - staging
  - repo: local
    hooks:
      - id: mix-format
        name: "elixir: mix format"
        entry: mix format --check-formatted
        language: system
        files: \.exs*$
      - id: mix-compile
        name: "elixir: mix compile"
        entry: mix compile --force #--warnings-as-errors
        language: system
        pass_filenames: false
        files: \.ex$
      # - id: mix-credo
      #   name: "elixir: mix credo"
      #   entry: mix credo
      #   language: system
      #   pass_filenames: false
      #   files: \.exs*$
      - id: mix-dialyzer
        name: "elixir: mix dialyzer"
        entry: mix dialyzer
        language: system
        pass_filenames: false
        files: \.exs*$

Add skylobby to partial optimisation level
  lib/teiserver/protocols/spring/spring_in.ex
Due: mix-format, mix-compile, mix-dialyzer

pipe syntax
  lib/teiserver_web/live/battles/lobbies/chat.ex
Due: mix-format, mix-compile, mix-dialyzer

962 fix (#991)
  lib/teiserver_web/live/battles/lobbies/chat.ex
Due: mix-format, mix-compile, mix-dialyzer

Another hack for flaky test in login queue
  test/teiserver/account/login_throttle_server_test.exs
Due: mix-format, mix-dialyzer

format nit
  lib/teiserver/protocols/spring/spring_user_in.ex
Due: mix-format, mix-compile, mix-dialyzer

Hash OAuth tokens using split selector + verifier pattern with SHA-256
  lib/teiserver/o_auth.ex
  lib/teiserver/o_auth/helpers/token_hash.ex
  lib/teiserver/o_auth/queries/code_query.ex
  lib/teiserver/o_auth/queries/token_query.ex
  lib/teiserver/o_auth/schemas/code.ex
  lib/teiserver/o_auth/schemas/token.ex
  lib/teiserver/o_auth/tasks/gen_token.ex
  priv/repo/migrations/20260205194742_hash_oauth_tokens.exs
  test/support/fixtures/o_auth/o_auth_fixtures.ex
  test/teiserver/o_auth/code_test.exs
  test/teiserver/o_auth/token_hash_test.exs
  test/teiserver/o_auth/token_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Store script_password in LobbyServer to prevent missing accountId in replays
  lib/teiserver/battle.ex
  lib/teiserver/lobby.ex
  lib/teiserver/lobby/libs/lobby_lib.ex
  lib/teiserver/lobby/servers/lobby_server.ex
  lib/teiserver/protocols/spring/spring_out.ex
  lib/teiserver/tcp/spring/spring_tcp_server.ex
  test/teiserver/lobby/script_password_persistence_test.exs
Due: mix-format, mix-compile, mix-dialyzer

nit
  test/teiserver/lobby/script_password_persistence_test.exs
Due: mix-format, mix-dialyzer

trying some JANKY tests
  test/teiserver/lobby/script_password_persistence_test.exs
Due: mix-format, mix-dialyzer

Change Spring protocol output handler to properly match sent pattern (#994)
  lib/teiserver/protocols/spring/spring_user_in.ex
Due: mix-format, mix-compile, mix-dialyzer

Fix balance_battle guard for invalid team sizes (#430)
  lib/teiserver_web/controllers/api/spads_controller.ex
  test/teiserver_web/controllers/api/spads_controller_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Set default client status in lobby
  lib/teiserver/player/tachyon_handler.ex
  lib/teiserver/tachyon_lobby/lobby.ex
  priv/tachyon/schema/lobby/updated/event.json
  test/teiserver/tachyon_lobby/lobby_test.exs
  test/teiserver_web/tachyon/lobby_test.exs
Due: mix-format, mix-compile, mix-dialyzer

clients can update their status (internals)
  lib/teiserver/tachyon_lobby.ex
  lib/teiserver/tachyon_lobby/lobby.ex
  test/teiserver/tachyon_lobby/lobby_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Lobby update client status (ws handler)
  lib/teiserver/player/session.ex
  lib/teiserver/player/tachyon_handler.ex
  priv/tachyon/schema/lobby/updateClientStatus/request.json
  priv/tachyon/schema/lobby/updateClientStatus/response.json
  test/support/tachyon.ex
  test/teiserver_web/tachyon/lobby_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Remove unused balance result helper
  lib/teiserver_web/controllers/api/spads_controller.ex
  test/teiserver_web/controllers/api/spads_controller_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Fix formatting for lint CI
  lib/teiserver_web/controllers/api/spads_controller.ex
  test/teiserver_web/controllers/api/spads_controller_test.exs
Due: mix-format, mix-compile, mix-dialyzer

llm attempt at updating code
  lib/teiserver/bridge/bridge_server.ex
  lib/teiserver/bridge/discord_message_cleanup.ex
  lib/teiserver/chat/libs/room_message_lib.ex
  lib/teiserver/chat/schemas/room_message.ex
  lib/teiserver_web/controllers/moderation/action_controller.ex
  lib/teiserver_web/templates/moderation/action/new_with_user.html.heex
  priv/repo/migrations/20260212213100_add_discord_message_id_to_room_messages.exs
Due: mix-format, mix-compile, mix-dialyzer

Updating properties should know about the user
  lib/teiserver/tachyon_lobby/lobby.ex
Due: mix-format, mix-compile, mix-dialyzer

Refactor: broadcast update to work on aggregates
  lib/teiserver/tachyon_lobby/lobby.ex
Due: mix-format, mix-compile, mix-dialyzer

Update tachyon schema
  priv/tachyon/schema/definitions/bot.json
  priv/tachyon/schema/definitions/lobbyDetails.json
  priv/tachyon/schema/lobby/addBot/request.json
  priv/tachyon/schema/lobby/listReset/event.json
  priv/tachyon/schema/lobby/listUpdated/event.json
  priv/tachyon/schema/lobby/updateBot/request.json
  priv/tachyon/schema/lobby/updated/event.json
  priv/tachyon/schema/matchmaking/found/event.json
  priv/tachyon/schema/matchmaking/list/request.json
  priv/tachyon/schema/matchmaking/list/response.json
  priv/tachyon/schema/system/disconnect/response.json
  priv/tachyon/schema/system/serverStats/request.json
  priv/tachyon/schema/user/info/request.json
  priv/tachyon/schema/user/info/response.json
  priv/tachyon/schema/user/subscribeUpdates/request.json
  priv/tachyon/schema/user/unsubscribeUpdates/request.json
  priv/tachyon/schema/user/updated/event.json
Due: none

Rework player movements
  lib/teiserver/tachyon_lobby/lobby.ex
Due: mix-format, mix-compile, mix-dialyzer

Rework update_property to use events
  lib/teiserver/tachyon_lobby/lobby.ex
Due: mix-format, mix-compile, mix-dialyzer

Refactor: generates updates from folding aggregate
  lib/teiserver/tachyon_lobby/lobby.ex
Due: mix-format, mix-compile, mix-dialyzer

Only players can change the map (not specs)
  lib/teiserver/tachyon_lobby/lobby.ex
  test/teiserver/tachyon_lobby/lobby_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Set naming limit to 70 and created checks/updating for new limit
  lib/teiserver/coordinator/consul_commands.ex
  lib/teiserver/lobby/libs/lobby_lib.ex
  lib/teiserver/protocols/spring/spring_battle_in.ex
  lib/teiserver/protocols/spring/spring_in.ex
  lib/teiserver/tachyon_lobby.ex
  lib/teiserver/tachyon_lobby/lobby.ex
  test/teiserver/battle/lobby_server_test.exs
  test/teiserver/tachyon_lobby/lobby_test.exs
Due: mix-format, mix-compile, mix-dialyzer

changed lobby limit length to 100 to be more lenient
  lib/teiserver/lobby/libs/lobby_lib.ex
Due: mix-format, mix-compile, mix-dialyzer

Changing the map requires a vote
  lib/teiserver/tachyon_lobby/lobby.ex
  test/teiserver/tachyon_lobby/lobby_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Store login limit in the GenServer process
  lib/teiserver/account.ex
  lib/teiserver/account/servers/login_throttle_server.ex
  lib/teiserver/libs/teiserver_configs.ex
  test/teiserver/account/login_throttle_server_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Fix mix format in Spads controller test
  test/teiserver_web/controllers/api/spads_controller_test.exs
Due: mix-format, mix-dialyzer

Fix balance_battle crash path on invalid team_sizes (#998)
  lib/teiserver_web/controllers/api/spads_controller.ex
  test/teiserver_web/controllers/api/spads_controller_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Addressing PR feedback
  lib/teiserver/o_auth/helpers/token_hash.ex
  lib/teiserver/o_auth/queries/code_query.ex
  lib/teiserver/o_auth/queries/token_query.ex
  test/support/fixtures/o_auth/o_auth_fixtures.ex
  test/teiserver/o_auth/code_test.exs
  test/teiserver_web/controllers/o_auth/code_controller_test.exs
Due: mix-format, mix-compile, mix-dialyzer

exploring adding a tachyon lobby page
  config/config.exs
  lib/teiserver_web/live/battles/lobbies/tachyon_index.ex
  lib/teiserver_web/live/battles/lobbies/tachyon_index.html.heex
  lib/teiserver_web/router.ex
  lib/teiserver_web/templates/battle/general/sub_menu.html.heex
Due: mix-format, mix-compile, mix-dialyzer

minor fixes in the course of manual testing
  lib/teiserver/tachyon/config.ex
  lib/teiserver_web/live/battles/lobbies/tachyon_index.html.heex
  lib/teiserver_web/templates/battle/general/sub_menu.html.heex
  lib/teiserver_web/views/battle/general_view.ex
Due: mix-format, mix-compile, mix-dialyzer

Add dev stage to Dockerfile with hot-reload and task execution support by reusing the existing Dockerfile
  Dockerfile
Due: none

SMTP configuration can now support local smtp servers without auth/tls by adding additional env variables and default values to the config
  config/runtime.exs
Due: mix-format, mix-dialyzer

Add docker-compose.yml with grafana, victoriametrics, mailhog and teiserver - clean up postgres installation from mise.toml and adjust default env variables for smtp integration
  docker-compose.yml
  docker/grafana/provisioning/datasources/datasource.yml
  docker/postgres/init/01-init-teiserver.sql
  docker/teiserver/docker-entrypoint.sh
  docker/victoriametrics/prometheus.yml
  mise.toml
Due: none

Core logic to cast vote
  lib/teiserver/tachyon_lobby.ex
  lib/teiserver/tachyon_lobby/lobby.ex
  test/teiserver/tachyon_lobby/lobby_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Tachyon parts for lobby vote
  lib/teiserver/player/session.ex
  lib/teiserver/player/tachyon_handler.ex
  priv/tachyon/schema/definitions/voteActions.json
  priv/tachyon/schema/lobby/updated/event.json
  priv/tachyon/schema/lobby/voteEnded/event.json
  priv/tachyon/schema/lobby/voteSubmit/request.json
  priv/tachyon/schema/lobby/voteSubmit/response.json
  test/support/tachyon.ex
  test/teiserver_web/tachyon/lobby_test.exs
Due: mix-format, mix-compile, mix-dialyzer
