Repository beyond-all-reason/teiserver: changes, and which pre-commit hooks are due for each by the changed paths.
All: mix-format, mix-compile, mix-dialyzer

mix-format:
  name: 'elixir: mix format'
  entry: mix format --check-formatted
  language: system

mix-compile:
  name: 'elixir: mix compile'
  entry: mix compile --force
  language: system
  pass_filenames: false

mix-dialyzer:
  name: 'elixir: mix dialyzer'
  entry: mix dialyzer
  language: system
  pass_filenames: false

flaky test
  test/teiserver/protocols/spring/spring_auth_test.exs
Due: mix-format, mix-dialyzer

Fixed bad call to marking user as a smurf
  lib/teiserver_web/controllers/admin/user_controller.ex
Due: mix-format, mix-compile, mix-dialyzer

Fixed bad call to marking user as a smurf (#1322)
  lib/teiserver_web/controllers/admin/user_controller.ex
Due: mix-format, mix-compile, mix-dialyzer

Measure and report tachyon connection duration (#1318)
  lib/teiserver/monitoring/tachyon.ex
  lib/teiserver_web/controllers/tachyon.ex
Due: mix-format, mix-compile, mix-dialyzer

Added al_check
  .check.json
  .gitignore
  config/runtime.exs
  config/test.exs
  documents/guides/local_setup.md
  lib/teiserver.ex
  mix.exs
  mix.lock
  test/teiserver/protocols/spring/spring_raw_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Added warning for actions on VIP users
  lib/teiserver/account/libs/role_lib.ex
  lib/teiserver_web/live/moderation/moderation_components.ex
  lib/teiserver_web/templates/moderation/action/new_with_user.html.heex
  lib/teiserver_web/templates/moderation/ban/new_with_user.html.heex
Due: mix-format, mix-compile, mix-dialyzer

Added warning for actions on VIP users (#1323)
  lib/teiserver/account/libs/role_lib.ex
  lib/teiserver_web/live/moderation/moderation_components.ex
  lib/teiserver_web/templates/moderation/action/new_with_user.html.heex
  lib/teiserver_web/templates/moderation/ban/new_with_user.html.heex
Due: mix-format, mix-compile, mix-dialyzer

Added trusted role to VIP
  lib/teiserver/account/auth.ex
  lib/teiserver/account/libs/role_lib.ex
  lib/teiserver/coordinator/automod_server.ex
  lib/teiserver_web/components/user_components.ex
Due: mix-format, mix-compile, mix-dialyzer

Added trusted role to VIP (#1324)
  lib/teiserver/account/auth.ex
  lib/teiserver/account/libs/role_lib.ex
  lib/teiserver/coordinator/automod_server.ex
  lib/teiserver_web/components/user_components.ex
Due: mix-format, mix-compile, mix-dialyzer

Fixed bugs with previous use of check
  .check.json
  config/test.exs
  documents/guides/local_setup.md
Due: mix-format, mix-dialyzer

Fixed two typos
  lib/teiserver_web/templates/admin/lobby/lobby_chat.html.heex
Due: none

Fixed two typos (#1326)
  lib/teiserver_web/templates/admin/lobby/lobby_chat.html.heex
Due: none

Updated Quic transient dependency to 1.4.4
  mix.exs
  mix.lock
Due: mix-format, mix-dialyzer

Updated Quic transient dependency to 1.4.4 (#1327)
  mix.exs
  mix.lock
Due: mix-format, mix-dialyzer

Added CSV output to server log list
  lib/teiserver_web/controllers/logging/server_log_controller.ex
  lib/teiserver_web/templates/logging/server_log/metric_list_data.html.heex
Due: mix-format, mix-compile, mix-dialyzer

Added CSV output to server log list (#1325)
  lib/teiserver_web/controllers/logging/server_log_controller.ex
  lib/teiserver_web/templates/logging/server_log/metric_list_data.html.heex
Due: mix-format, mix-compile, mix-dialyzer

Routes for moderation_ban_path replaced
  lib/teiserver_web/templates/admin/user/actions.html.heex
  lib/teiserver_web/templates/moderation/ban/actions.html.heex
  lib/teiserver_web/templates/moderation/ban/index.html.heex
  lib/teiserver_web/templates/moderation/ban/new_select.html.heex
  lib/teiserver_web/templates/moderation/ban/new_with_user.html.heex
  lib/teiserver_web/templates/moderation/ban/search.html.heex
  lib/teiserver_web/templates/moderation/ban/section_menu.html.heex
  lib/teiserver_web/templates/moderation/general/index.html.heex
  lib/teiserver_web/templates/moderation/general/sub_menu.html.heex
  test/teiserver_web/controllers/moderation/ban_controller_test.exs
Due: mix-format, mix-dialyzer

Routes for ts_admin_user_path replaced
  lib/teiserver_web/templates/admin/user/ratings.html.heex
  lib/teiserver_web/templates/admin/user/ratings_form.html.heex
  lib/teiserver_web/templates/admin/user/rename_form.html.heex
  lib/teiserver_web/templates/admin/user/smurf_list.html.heex
  lib/teiserver_web/templates/admin/user/tab_details.html.heex
  lib/teiserver_web/templates/admin/user/tab_overview.html.heex
  lib/teiserver_web/templates/moderation/action/tab_logs.html.heex
  lib/teiserver_web/templates/moderation/ban/index.html.heex
  lib/teiserver_web/templates/moderation/ban/tab_logs.html.heex
  lib/teiserver_web/templates/report/report/ban_evasion.html.heex
  lib/teiserver_web/templates/report/report/leaderboard.html.heex
  test/teiserver_web/controllers/moderation/ban_controller_test.exs
Due: mix-format, mix-dialyzer

More admin paths and remove some un-used pages
  lib/teiserver_web/controllers/battle/match_controller.ex
  lib/teiserver_web/router.ex
  lib/teiserver_web/templates/admin/user/tab_overview.html.heex
  lib/teiserver_web/templates/battle/match/index.html.heex
  lib/teiserver_web/templates/battle/match/ratings.html.heex
  lib/teiserver_web/templates/battle/match/ratings_graph.html.heex
  lib/teiserver_web/templates/battle/match/section_menu.html.heex
  lib/teiserver_web/templates/battle/match/show.html.heex
  lib/teiserver_web/templates/battle/match/tab_details.html.heex
  lib/teiserver_web/templates/battle/match/tab_players.html.heex
Due: mix-format, mix-compile, mix-dialyzer

Upgraded version of check for verbose sections
  .check.json
  mix.lock
Due: none

Updated mise.toml for partitioned test databases
  mise.toml
Due: none

Prevented storing messages to bots prefixed by the !# command characters
  lib/teiserver/data/cache_user.ex
Due: mix-format, mix-compile, mix-dialyzer

fix clustering problems with singleton processes
  config/dev.exs
  config/runtime.exs
  lib/teiserver/application.ex
  lib/teiserver/battle/servers/match_monitor_server.ex
  lib/teiserver/coordinator.ex
  lib/teiserver/coordinator/automod_server.ex
  lib/teiserver/coordinator/coordinator_server.ex
  lib/teiserver/data/lobby_id_server.ex
  lib/teiserver/matchmaking/queue_supervisor.ex
  lib/teiserver/servers/telemetry_server.ex
  mix.exs
  mix.lock
  test/support/teiserver_test_lib.ex
Due: mix-format, mix-compile, mix-dialyzer

pubsub todo
  lib/teiserver/application.ex
Due: mix-format, mix-compile, mix-dialyzer

Fixed partition numbering
  config/runtime.exs
  config/test.exs
  documents/guides/local_setup.md
  mise.toml
Due: mix-format, mix-dialyzer

add justfile
  justfile
Due: none

Updated credits
  config/config.exs
  lib/teiserver/battle/libs/balance_lib.ex
  lib/teiserver/battle/servers/match_monitor_server.ex
  license.md
  mix.exs
  test/teiserver/chat/libs/word_lib_test.exs
  test/teiserver_web/controllers/api/spads_controller_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Updated credits (#1331)
  config/config.exs
  lib/teiserver/battle/libs/balance_lib.ex
  lib/teiserver/battle/servers/match_monitor_server.ex
  license.md
  mix.exs
  test/teiserver/chat/libs/word_lib_test.exs
  test/teiserver_web/controllers/api/spads_controller_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Prevented storing messages to bots prefixed by the !# command characters (#1329)
  lib/teiserver/data/cache_user.ex
Due: mix-format, mix-compile, mix-dialyzer

Fixed dialyzer issues
  .dialyzer_ignore.exs
Due: mix-format, mix-dialyzer

moderation_action_path
  lib/teiserver_web/controllers/moderation/action_controller.ex
  lib/teiserver_web/templates/moderation/report/index.html.heex
  lib/teiserver_web/templates/moderation/report/show.html.heex
  lib/teiserver_web/templates/moderation/report/user.html.heex
  test/teiserver_web/controllers/moderation/action_controller_test.exs
  test/teiserver_web/controllers/moderation/ban_controller_test.exs
Due: mix-format, mix-compile, mix-dialyzer

More paths added
  lib/teiserver_web/templates/battle/ratings/section_menu.html.heex
  lib/teiserver_web/templates/logging/aggregate_view_log/index.html.heex
  lib/teiserver_web/templates/logging/aggregate_view_log/perform_form.html.heex
  lib/teiserver_web/templates/logging/aggregate_view_log/section_menu.html.heex
  lib/teiserver_web/templates/logging/general/sub_menu.html.heex
  lib/teiserver_web/templates/logging/page_view_log/index.html.heex
  lib/teiserver_web/templates/logging/page_view_log/search.html.heex
  lib/teiserver_web/templates/logging/page_view_log/search_list.html.heex
  lib/teiserver_web/templates/logging/page_view_log/search_report.html.heex
  lib/teiserver_web/templates/logging/page_view_log/section_menu.html.heex
  test/teiserver_web/controllers/logging/page_view_log_controller_test.exs
Due: mix-format, mix-dialyzer

moderation_report_path
  lib/teiserver_web/templates/moderation/action/tab_reports.html.heex
  lib/teiserver_web/templates/moderation/general/index.html.heex
  lib/teiserver_web/templates/moderation/general/sub_menu.html.heex
  lib/teiserver_web/templates/moderation/report/index.html.heex
  lib/teiserver_web/templates/moderation/report/search.html.heex
  lib/teiserver_web/templates/moderation/report/show.html.heex
  lib/teiserver_web/templates/moderation/report/tab_against.html.heex
  lib/teiserver_web/templates/moderation/report/tab_from.html.heex
  test/teiserver_web/controllers/moderation/report_controller_test.exs
Due: mix-format, mix-dialyzer

Remaining routes paths
  lib/teiserver/battle/libs/balance_lib.ex
  lib/teiserver_web.ex
  lib/teiserver_web/controllers/moderation/action_controller.ex
  lib/teiserver_web/templates/report/general/index.html.heex
  lib/teiserver_web/templates/report/rating/balance_tester.html.heex
  lib/teiserver_web/templates/report/rating/section_menu.html.heex
  test/support/conn_case.ex
  test/teiserver_web/controllers/account/general_controller_test.exs
  test/teiserver_web/controllers/admin/general_controller_test.exs
  test/teiserver_web/controllers/admin/tool_controller_test.exs
  test/teiserver_web/controllers/api/spads_controller_test.exs
  test/teiserver_web/controllers/report/general_controller_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Fix issue with deletion of some moderation actions
  lib/teiserver/moderation.ex
Due: mix-format, mix-compile, mix-dialyzer

Path conditions:
  mix-format: any of: \.exs*$
  mix-compile: any of: \.ex$
  mix-dialyzer: any of: \.exs*$
