Repository beyond-all-reason/teiserver: changes, and which pre-commit hooks are due for each by the changed paths.
All: mix-format, mix-compile, mix-dialyzer

.pre-commit-config.yaml:

---
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-merge-conflict
      - id: check-yaml
      - id: no-commit-to-branch
        args:
          - -b
          - master
          - -b
          - production
          - -b
          - staging
  - repo: local
    hooks:
      - id: mix-format
        name: "elixir: mix format"
        entry: mix format --check-formatted
        language: system
        files: \.exs*$
      - id: mix-compile
        name: "elixir: mix compile"
        entry: mix compile --force #--warnings-as-errors
        language: system
        pass_filenames: false
        files: \.ex$
      # - id: mix-credo
      #   name: "elixir: mix credo"
      #   entry: mix credo
      #   language: system
      #   pass_filenames: false
      #   files: \.exs*$
      - id: mix-dialyzer
        name: "elixir: mix dialyzer"
        entry: mix dialyzer
        language: system
        pass_filenames: false
        files: \.exs*$

Improved moderation report Discord messages
  lib/teiserver/bridge/discord_bridge_bot.ex
Due: mix-format, mix-compile, mix-dialyzer

Improved moderation report Discord messages (#461)
  lib/teiserver/bridge/discord_bridge_bot.ex
Due: mix-format, mix-compile, mix-dialyzer

Add broadcast command
  lib/teiserver/coordinator/consul_commands.ex
  lib/teiserver/coordinator/consul_server.ex
Due: mix-format, mix-compile, mix-dialyzer

Validate data in spring_in
  lib/teiserver/protocols/spring/spring_in.ex
Due: mix-format, mix-compile, mix-dialyzer

Add broadcast command (#462)
  lib/teiserver/coordinator/consul_commands.ex
  lib/teiserver/coordinator/consul_server.ex
Due: mix-format, mix-compile, mix-dialyzer

Validate data in spring_in (#463)
  lib/teiserver/protocols/spring/spring_in.ex
Due: mix-format, mix-compile, mix-dialyzer

Update default moderation action templates for 'moderate' offenses.
  lib/teiserver_web/templates/moderation/action/new_with_user.html.heex
Due: none

Update default moderation action templates for 'moderate' offenses. (#464)
  lib/teiserver_web/templates/moderation/action/new_with_user.html.heex
Due: none

Improve split_noobs when very imbalanced captains (#451)
  lib/teiserver/battle/balance/split_noobs.ex
  test/teiserver/battle/split_noobs_internal_test.exs
  test/teiserver/battle/split_noobs_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Fix playtime
  lib/teiserver_web/live/account/profile/playtime.ex
  lib/teiserver_web/live/account/profile/playtime.html.heex
Due: mix-format, mix-compile, mix-dialyzer

Trying to pass tests
  lib/teiserver/libs/teiserver_configs.ex
Due: mix-format, mix-compile, mix-dialyzer

Mix format
  lib/teiserver_web/live/account/profile/playtime.ex
Due: mix-format, mix-compile, mix-dialyzer

Fix playtime (#465)
  lib/teiserver_web/live/account/profile/playtime.ex
  lib/teiserver_web/live/account/profile/playtime.html.heex
Due: mix-format, mix-compile, mix-dialyzer

Revert latest spads_controller.ex changes
  lib/teiserver_web/controllers/api/spads_controller.ex
Due: mix-format, mix-compile, mix-dialyzer

Revert latest spads_controller.ex changes (#468)
  lib/teiserver_web/controllers/api/spads_controller.ex
Due: mix-format, mix-compile, mix-dialyzer

Make uncertainties viewable for tester
  lib/teiserver_web/live/battles/lobbies/show.html.heex
Due: none

Ignore avoids blocks once player
  lib/teiserver/coordinator/consul_server.ex
Due: mix-format, mix-compile, mix-dialyzer

Make blocks count as avoids but not the other way round
  lib/teiserver/account/libs/relationship_lib.ex
Due: mix-format, mix-compile, mix-dialyzer

Adding comments
  lib/teiserver/account/libs/relationship_lib.ex
Due: mix-format, mix-compile, mix-dialyzer

Closes #454 (#456)
  mix.lock
Due: none

Make uncertainties viewable for tester (#469)
  lib/teiserver_web/live/battles/lobbies/show.html.heex
Due: none

Reveal balance algorithm to regular users on website
  lib/teiserver_web/live/battles/lobbies/show.html.heex
Due: none

Allow Coordinator to run all lobby server commands.
  lib/teiserver/lobby.ex
Due: mix-format, mix-compile, mix-dialyzer

Recheck lobby restrictions after certain commands are used.
  lib/teiserver/coordinator/consul_commands.ex
Due: mix-format, mix-compile, mix-dialyzer

Add task to calculate balance stats
  lib/teiserver/mix_tasks/balance_stats.ex
  test/teiserver/mix_tasks/balance_stats_test.ex
Due: mix-format, mix-compile, mix-dialyzer

Memes: Late Cleanup
  lib/teiserver/coordinator/coordinator_lib.ex
  lib/teiserver/coordinator/rikerss_memes.ex
Due: mix-format, mix-compile, mix-dialyzer

Memes: fix and remove nodefence
  lib/teiserver/coordinator/rikerss_memes.ex
Due: mix-format, mix-compile, mix-dialyzer

Memes: missed documentation
  lib/teiserver/coordinator/coordinator_lib.ex
Due: mix-format, mix-compile, mix-dialyzer

Updated local_setup documention for ubuntu/debian to recommend installing cryptographic libraries that will be required by erlang crypto module
  documents/guides/local_setup.md
Due: none

Get custom deviation result for split_noobs
  lib/teiserver/battle/balance/split_noobs.ex
  test/teiserver/battle/split_noobs_deviation_test.exs
  test/teiserver/battle/split_noobs_internal_test.exs
  test/teiserver/battle/split_noobs_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Trying to get tests to pass
  test/teiserver_web/controllers/logging/page_view_log_controller_test.exs
Due: mix-format, mix-dialyzer

Memes: Late Cleanup (#476)
  lib/teiserver/coordinator/coordinator_lib.ex
  lib/teiserver/coordinator/rikerss_memes.ex
Due: mix-format, mix-compile, mix-dialyzer

Reveal balance algorithm to regular users on website (#472)
  lib/teiserver_web/live/battles/lobbies/show.html.heex
Due: none

Updated local_setup documention for ubuntu/debian to recommend installing cryptographic libraries that will be required by erlang crypto module (#477)
  documents/guides/local_setup.md
Due: none

Update SpringTcpServer state when joining channels
  lib/teiserver/protocols/spring/spring_in.ex
  test/teiserver/servers/spring_tcp_server_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Add logs for errors inside balance result
  lib/teiserver/battle/libs/balance_lib.ex
  test/teiserver/battle/balance_lib_internal_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Recheck lobby restrictions after certain commands are used. (#474)
  lib/teiserver/coordinator/consul_commands.ex
  lib/teiserver/lobby.ex
Due: mix-format, mix-compile, mix-dialyzer

Update SpringTcpServer state when joining channels (#479)
  lib/teiserver/protocols/spring/spring_in.ex
  test/teiserver/servers/spring_tcp_server_test.exs
Due: mix-format, mix-compile, mix-dialyzer
