Repository beyond-all-reason/teiserver: changes, and which pre-commit hooks are due for each by the changed paths.
All: mix-format, mix-compile, mix-dialyzer

.pre-commit-config.yaml:

---
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-merge-conflict
      - id: check-yaml
      - id: no-commit-to-branch
        args:
          - -b
          - master
          - -b
          - production
          - -b
          - staging
  - repo: local
    hooks:
      - id: mix-format
        name: "elixir: mix format"
        entry: mix format --check-formatted
        language: system
        files: \.exs*$
      - id: mix-compile
        name: "elixir: mix compile"
        entry: mix compile --force #--warnings-as-errors
        language: system
        pass_filenames: false
        files: \.ex$
      # - id: mix-credo
      #   name: "elixir: mix credo"
      #   entry: mix credo
      #   language: system
      #   pass_filenames: false
      #   files: \.exs*$
      - id: mix-dialyzer
        name: "elixir: mix dialyzer"
        entry: mix dialyzer
        language: system
        pass_filenames: false
        files: \.exs*$

Can get a token from client credentials
  lib/teiserver/o_auth.ex
  lib/teiserver/o_auth/schemas/token.ex
  test/teiserver/o_auth/credential_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Http interface for authorization code
  lib/teiserver_web/controllers/o_auth/authorize_controller.ex
  lib/teiserver_web/router.ex
  lib/teiserver_web/templates/o_auth/authorize/authorize.html.heex
  lib/teiserver_web/templates/o_auth/authorize/bad_request.html.heex
  lib/teiserver_web/views/o_auth/authorize_view.ex
  test/teiserver_web/controllers/o_auth/authorize_controller_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Add oauth metadata endpoint
  config/runtime.exs
  lib/teiserver_web/controllers/o_auth/code_controller.ex
  lib/teiserver_web/router.ex
  lib/teiserver_web/views/api/o_auth/code_view.ex
  test/teiserver_web/controllers/o_auth/code_controller_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Refactor: utilities to generate authorization code
  lib/teiserver_web/router.ex
  test/teiserver/o_auth/code_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Add support for basic auth in OAuth endpoint
  lib/teiserver_web/controllers/o_auth/code_controller.ex
  lib/teiserver_web/views/api/o_auth/code_view.ex
  test/teiserver_web/controllers/o_auth/code_controller_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Fix dialyzer errors
  lib/teiserver/account.ex
  lib/teiserver/account/schemas/user.ex
  lib/teiserver/o_auth.ex
  lib/teiserver/o_auth/schemas/code.ex
  lib/teiserver/o_auth/schemas/token.ex
  lib/teiserver_web/controllers/o_auth/code_controller.ex
Due: mix-format, mix-compile, mix-dialyzer

Fix timezone when testing time related stuff
  test/teiserver/helpers/timex_helper_test.exs
Due: mix-format, mix-dialyzer

Don't rely on fixed username
  test/teiserver/battle/balance_lib_internal_test.exs
Due: mix-format, mix-dialyzer

Ignore tachyon related flaky tests
  test/teiserver/account/accolade_bot_test.exs
  test/teiserver/battle/lobby_cache_test.exs
  test/teiserver/coordinator/automod_test.exs
  test/teiserver/coordinator/consul_chat_test.exs
  test/teiserver/coordinator/coordinator_commands_test.exs
  test/teiserver/coordinator/host_update_test.exs
  test/teiserver/coordinator/joining_test.exs
  test/teiserver/coordinator/lock_test.exs
  test/teiserver/coordinator/match_monitor_server_test.exs
  test/teiserver/coordinator/moderation_test.exs
  test/teiserver/coordinator/setup_test.exs
  test/teiserver/coordinator/split_test.exs
  test/teiserver/protocols/spring/spring_token_test.exs
Due: mix-format, mix-dialyzer

Updates based on Lexon feedback
  lib/teiserver/battle/balance/split_one_chevs.ex
  lib/teiserver/mix_tasks/fake_data.ex
  lib/teiserver/mix_tasks/fake_playtime.ex
  lib/teiserver_web/live/battles/match/show.ex
  lib/teiserver_web/live/battles/match/show.html.heex
Due: mix-format, mix-compile, mix-dialyzer

Update based on Lexon feedback
  lib/teiserver/coordinator/coordinator_commands.ex
Due: mix-format, mix-compile, mix-dialyzer

Fix data export
  lib/teiserver/game/exports/match_ratings_export.ex
  lib/teiserver_web/templates/report/exports/match_datatable.html.heex
  lib/teiserver_web/templates/report/exports/match_ratings.html.heex
  lib/teiserver_web/templates/report/exports/player_ratings.html.heex
  lib/teiserver_web/templates/report/exports/rating_logs.html.heex
Due: mix-format, mix-compile, mix-dialyzer

Add a simple test for clearing caches
  test/teiserver/caches_test.exs
Due: mix-format, mix-dialyzer

Add Issue Templates
  .github/ISSUE_TEMPLATE/1-bug_report.yml
  .github/ISSUE_TEMPLATE/2-feature_request.yml
  .github/ISSUE_TEMPLATE/config.yml
Due: none

Update Text on Bug Report
  .github/ISSUE_TEMPLATE/1-bug_report.yml
Due: none

Minor updates
  lib/teiserver/battle/balance/split_one_chevs.ex
  lib/teiserver_web/live/battles/match/ratings.html.heex
  test/teiserver/battle/split_one_chevs_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Fix all dialyzer warnings
  lib/teiserver/data/cache_user.ex
  mix.exs
Due: mix-format, mix-compile, mix-dialyzer

Don't run tagged tests in CI
  .github/workflows/tests.yml
Due: none

Move test lib under test
  test/support/teiserver_test_lib.ex
Due: mix-format, mix-compile, mix-dialyzer

Add and fix some missing types
  lib/teiserver/clans/schemas/clan.ex
  lib/teiserver/clans/schemas/clan_membership.ex
  lib/teiserver/game/schemas/queue.ex
  mix.exs
  test/support/teiserver_test_lib.ex
Due: mix-format, mix-compile, mix-dialyzer

Add the last dialyzer ignore
  .dialyzer_ignore.exs
Due: mix-format, mix-dialyzer

Update status badge
  README.md
Due: none

Site config
  lib/teiserver/application.ex
  lib/teiserver/config/site_config_types/cache.ex
  lib/teiserver/startup.ex
Due: mix-format, mix-compile, mix-dialyzer

Text callbacks
  lib/teiserver/application.ex
  lib/teiserver/communication/libs/cache.ex
  lib/teiserver/startup.ex
Due: mix-format, mix-compile, mix-dialyzer

Lobby policies
  lib/teiserver/application.ex
  lib/teiserver/game/libs/lobby_policy_cache.ex
  lib/teiserver/startup.ex
Due: mix-format, mix-compile, mix-dialyzer

Metadata cache
  lib/teiserver/application.ex
  lib/teiserver/metadata_cache.ex
  lib/teiserver/startup.ex
Due: mix-format, mix-compile, mix-dialyzer

Permissions cache
  lib/teiserver/account/caches/permission_cache.ex
  lib/teiserver/application.ex
  lib/teiserver/startup.ex
Due: mix-format, mix-compile, mix-dialyzer

Profile config
  lib/teiserver/application.ex
  lib/teiserver/config/user_config_types/cache.ex
  lib/teiserver/config/user_config_types/profile_configs.ex
  lib/teiserver/startup.ex
Due: mix-format, mix-compile, mix-dialyzer

Logging permission
  lib/teiserver/account/caches/permission_cache.ex
  lib/teiserver/logging/lib/startup.ex
  lib/teiserver/startup.ex
Due: mix-format, mix-compile, mix-dialyzer

Tachyon caches to supervisors
  lib/teiserver/application.ex
  lib/teiserver/protocols/tachyon_json_ws/cache.ex
  lib/teiserver/protocols/tachyon_json_ws/tachyon_schema.ex
  lib/teiserver/startup.ex
Due: mix-format, mix-compile, mix-dialyzer

Move teiserver site config to supervisors
  lib/teiserver/config/site_config_types/cache.ex
  lib/teiserver/startup.ex
Due: mix-format, mix-compile, mix-dialyzer

Lobby command cache
  lib/teiserver/application.ex
  lib/teiserver/lobby/libs/cache.ex
  lib/teiserver/startup.ex
Due: mix-format, mix-compile, mix-dialyzer

Warm up metadata cache with audit type
  lib/teiserver/metadata_cache.ex
  lib/teiserver/startup.ex
Due: mix-format, mix-compile, mix-dialyzer

Matchmaking caches
  lib/teiserver/application.ex
  lib/teiserver/data/matchmaking_cache.ex
  lib/teiserver/startup.ex
Due: mix-format, mix-compile, mix-dialyzer

fix dialyzer
  lib/teiserver/helpers/oban_logger.ex
  lib/teiserver/protocols/tachyon_json_ws/tachyon_schema.ex
Due: mix-format, mix-compile, mix-dialyzer

Add UI to assign tourney winner
  lib/teiserver/account/libs/role_lib.ex
  lib/teiserver/data/cache_user.ex
Due: mix-format, mix-compile, mix-dialyzer
