Repository beyond-all-reason/teiserver: changes, and which pre-commit hooks are due for each by the changed paths.
All: mix-format, mix-compile, mix-dialyzer

.pre-commit-config.yaml:

---
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-merge-conflict
      - id: check-yaml
      - id: no-commit-to-branch
        args:
          - -b
          - master
          - -b
          - production
          - -b
          - staging
  - repo: local
    hooks:
      - id: mix-format
        name: "elixir: mix format"
        entry: mix format --check-formatted
        language: system
        files: \.exs*$
      - id: mix-compile
        name: "elixir: mix compile"
        entry: mix compile --force #--warnings-as-errors
        language: system
        pass_filenames: false
        files: \.ex$
      # - id: mix-credo
      #   name: "elixir: mix credo"
      #   entry: mix credo
      #   language: system
      #   pass_filenames: false
      #   files: \.exs*$
      - id: mix-dialyzer
        name: "elixir: mix dialyzer"
        entry: mix dialyzer
        language: system
        pass_filenames: false
        files: \.exs*$

Core logic to handle `join_queue`
  lib/teiserver/tachyon_lobby.ex
  lib/teiserver/tachyon_lobby/lobby.ex
  test/teiserver/tachyon_lobby/lobby_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Tachyon bits to handle join_queue
  lib/teiserver/player/session.ex
  lib/teiserver/player/tachyon_handler.ex
  priv/tachyon/schema/lobby/joinQueue/request.json
  priv/tachyon/schema/lobby/joinQueue/response.json
  test/support/tachyon.ex
  test/teiserver/tachyon_lobby/lobby_test.exs
  test/teiserver_web/tachyon/lobby_test.exs
Due: mix-format, mix-compile, mix-dialyzer

report group overview now shows targets
  lib/teiserver_web/live/moderation/overwatch/index.html.heex
Due: none

fixed button permissions
  lib/teiserver_web/live/moderation/overwatch/report_group_detail.html.heex
Due: none

added report_group redirect to reports
  lib/teiserver_web/controllers/moderation/report_controller.ex
  lib/teiserver_web/templates/moderation/report/show.html.heex
Due: mix-format, mix-compile, mix-dialyzer

Joining queue as player puts you in the back of the queue
  lib/teiserver/tachyon_lobby/lobby.ex
  test/teiserver/tachyon_lobby/lobby_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Clear join queue position when leaving the queue
  lib/teiserver/tachyon_lobby/lobby.ex
  test/teiserver/tachyon_lobby/lobby_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Documentation update
  .git-blame-ignore-revs
  CONTRIBUTING.md
  README.md
  documents/guides/development.md
  documents/guides/discord_bot.md
  documents/guides/local_setup.md
  documents/guides/production_setup_linux.md
  documents/guides/production_setup_windows.md
  documents/guides/spads_install.md
  documents/planned_designs/battle_data_api.md
  documents/planned_designs/reputation.md
  documents/planned_designs/trueskill.md
  documents/spring/extensions.md
Due: none

Improvements
  documents/guides/development.md
  documents/guides/local_setup.md
  documents/guides/spads_install.md
Due: none

Documentation update (#839)
  .git-blame-ignore-revs
  CONTRIBUTING.md
  README.md
  documents/guides/development.md
  documents/guides/discord_bot.md
  documents/guides/local_setup.md
  documents/guides/production_setup_linux.md
  documents/guides/production_setup_windows.md
  documents/guides/spads_install.md
  documents/planned_designs/battle_data_api.md
  documents/planned_designs/reputation.md
  documents/planned_designs/trueskill.md
  documents/spring/extensions.md
Due: none

Fix notes
  README.md
  documents/guides/development.md
  documents/guides/local_setup.md
Due: none

Fix notes (#840)
  README.md
  documents/guides/development.md
  documents/guides/local_setup.md
Due: none

Update link to development guide in local setup
  documents/guides/local_setup.md
Due: none

Update link to development guide in local setup (#841)
  documents/guides/local_setup.md
Due: none

Refactor: do_remove_player also returns updated players
  lib/teiserver/tachyon_lobby/lobby.ex
Due: mix-format, mix-compile, mix-dialyzer

core logic to remove a bot
  lib/teiserver/tachyon_lobby.ex
  lib/teiserver/tachyon_lobby/lobby.ex
  test/teiserver/tachyon_lobby/lobby_test.exs
Due: mix-format, mix-compile, mix-dialyzer

List updates with bots (they are not counted)
  lib/teiserver/tachyon_lobby/lobby.ex
  test/teiserver/tachyon_lobby/list_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Add a utility for deep merging maps following json patch semantics.
  lib/teiserver/tachyon_lobby/lobby.ex
  test/teiserver/tachyon_lobby/lobby_test.exs
Due: mix-format, mix-compile, mix-dialyzer

No need to broadcast a no-op
  lib/teiserver/tachyon_lobby/lobby.ex
Due: mix-format, mix-compile, mix-dialyzer

Tachyon handlers for lobby bots commands
  lib/teiserver/player/session.ex
  lib/teiserver/player/tachyon_handler.ex
  priv/tachyon/schema/definitions/lobbyDetails.json
  priv/tachyon/schema/lobby/addBot/request.json
  priv/tachyon/schema/lobby/addBot/response.json
  priv/tachyon/schema/lobby/removeBot/request.json
  priv/tachyon/schema/lobby/removeBot/response.json
  priv/tachyon/schema/lobby/updateBot/request.json
  priv/tachyon/schema/lobby/updateBot/response.json
  test/support/tachyon.ex
  test/teiserver_web/tachyon/lobby_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Generate start scripts with bots
  lib/teiserver/tachyon_lobby/lobby.ex
  test/teiserver/tachyon_lobby/lobby_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Core logic for `add_bot`
  lib/teiserver/tachyon_lobby.ex
  lib/teiserver/tachyon_lobby/lobby.ex
  test/teiserver/tachyon_lobby/lobby_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Core logic to update a bot
  lib/teiserver/tachyon_lobby.ex
  lib/teiserver/tachyon_lobby/lobby.ex
  test/teiserver/tachyon_lobby/lobby_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Add bots to lobby details
  lib/teiserver/tachyon_lobby/lobby.ex
  test/teiserver/tachyon_lobby/lobby_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Fix links in development.md
  documents/guides/development.md
Due: none

Fix links in development.md (#843)
  documents/guides/development.md
Due: none

Update schema and tighten test for bots in lobbies
  priv/tachyon/schema/lobby/updated/event.json
  test/teiserver_web/tachyon/lobby_test.exs
Due: mix-format, mix-dialyzer

Update schema and tighten test for bots in lobbies (#844)
  priv/tachyon/schema/lobby/updated/event.json
  test/teiserver_web/tachyon/lobby_test.exs
Due: mix-format, mix-dialyzer

Refactor: simplify internal lobby update events
  lib/teiserver/player/tachyon_handler.ex
  lib/teiserver/tachyon_lobby/lobby.ex
  test/teiserver/tachyon_lobby/lobby_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Refactor: smol simplification in lobby list test setup
  test/teiserver/tachyon_lobby/list_test.exs
Due: mix-format, mix-dialyzer

Refactor: use an event sourcing approach for lobbies
  lib/teiserver/tachyon_lobby/lobby.ex
Due: mix-format, mix-compile, mix-dialyzer

Tachyon bits for lobby/update
  lib/teiserver/player/session.ex
  lib/teiserver/player/tachyon_handler.ex
  priv/tachyon/schema/definitions/allyTeamConfig.json
  priv/tachyon/schema/lobby/update/request.json
  priv/tachyon/schema/lobby/update/response.json
  priv/tachyon/schema/lobby/updated/event.json
  test/support/tachyon.ex
  test/teiserver_web/tachyon/lobby_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Core logic to update lobby name
  lib/teiserver/tachyon_lobby.ex
  lib/teiserver/tachyon_lobby/lobby.ex
  test/teiserver/tachyon_lobby/list_test.exs
  test/teiserver/tachyon_lobby/lobby_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Core logic to update ally team config
  lib/teiserver/tachyon_lobby/lobby.ex
  test/teiserver/tachyon_lobby/list_test.exs
  test/teiserver/tachyon_lobby/lobby_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Core logic to update lobby map
  lib/teiserver/tachyon_lobby/lobby.ex
  test/teiserver/tachyon_lobby/list_test.exs
  test/teiserver/tachyon_lobby/lobby_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Fix showing lists on complex match events
  lib/teiserver_web/templates/telemetry/complex_match_event/detail.html.heex
Due: none

Fix showing lists on complex match events (#848)
  lib/teiserver_web/templates/telemetry/complex_match_event/detail.html.heex
Due: none

changed 2FA QR code to be PNG instead of SVG
  lib/teiserver_web/controllers/account/security_controller.ex
  lib/teiserver_web/templates/account/security/edit_totp.html.heex
Due: mix-format, mix-compile, mix-dialyzer

changed login otp post request from /otp/verify to /otp
  lib/central/general_test_lib.ex
  lib/teiserver_web/router.ex
  lib/teiserver_web/templates/account/session/totp.html.heex
Due: mix-format, mix-compile, mix-dialyzer

changed login otp post request from /otp/verify to /otp (#851)
  lib/central/general_test_lib.ex
  lib/teiserver_web/router.ex
  lib/teiserver_web/templates/account/session/totp.html.heex
Due: mix-format, mix-compile, mix-dialyzer
