Repository beyond-all-reason/teiserver: changes, and which pre-commit hooks are due for each by the changed paths.
All: mix-format, mix-compile, mix-dialyzer

mix-format:
  name: 'elixir: mix format'
  entry: mix format --check-formatted
  language: system

mix-compile:
  name: 'elixir: mix compile'
  entry: mix compile --force
  language: system
  pass_filenames: false

mix-dialyzer:
  name: 'elixir: mix dialyzer'
  entry: mix dialyzer
  language: system
  pass_filenames: false

Remove unused hw_hash
  lib/teiserver/account/caches/user_cache_lib.ex
  lib/teiserver/account/schemas/user.ex
  lib/teiserver/coordinator/consul_server.ex
  lib/teiserver/data/cache_user.ex
  lib/teiserver/libs/teiserver_configs.ex
  lib/teiserver_web/live/clients/index.ex
  lib/teiserver_web/live/clients/index.html.heex
Due: mix-format, mix-compile, mix-dialyzer

Remove unused hw_hash (#1305)
  lib/teiserver/account/caches/user_cache_lib.ex
  lib/teiserver/account/schemas/user.ex
  lib/teiserver/coordinator/consul_server.ex
  lib/teiserver/data/cache_user.ex
  lib/teiserver/libs/teiserver_configs.ex
  lib/teiserver_web/live/clients/index.ex
  lib/teiserver_web/live/clients/index.html.heex
Due: mix-format, mix-compile, mix-dialyzer

Add ability to show/hide moderator status
  lib/teiserver/coordinator/coordinator_commands.ex
  lib/teiserver/data/client.ex
  lib/teiserver/protocols/spring/spring.ex
  lib/teiserver/protocols/spring/spring_out.ex
  lib/teiserver/tcp/spring/spring_tcp_server.ex
  test/teiserver/coordinator/coordinator_commands_sync_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Partial work
  test/teiserver/coordinator/coordinator_commands_sync_test.exs
Due: mix-format, mix-dialyzer

Ban search uses User table rather than CacheUser lookup
  lib/teiserver_web/controllers/moderation/ban_controller.ex
Due: mix-format, mix-compile, mix-dialyzer

Ban search uses User table rather than CacheUser lookup (#1308)
  lib/teiserver_web/controllers/moderation/ban_controller.ex
Due: mix-format, mix-compile, mix-dialyzer

allow parens in lobby name
  lib/teiserver/lobby/libs/lobby_lib.ex
Due: mix-format, mix-compile, mix-dialyzer

Increase width of .row-left from 145px to 160px
  assets/scss/custom/_styles.scss
Due: none

Fix button class for moderation page
  lib/teiserver_web/templates/moderation/report/tab_against.html.heex
Due: none

Fix button class for moderation page
  lib/teiserver_web/templates/moderation/report/tab_from.html.heex
Due: none

Persist direct messages from humans to bot
  lib/teiserver/data/cache_user.ex
Due: mix-format, mix-compile, mix-dialyzer

Fixes
  lib/teiserver/player/tachyon_handler.ex
  lib/teiserver/tachyon_lobby/lobby.ex
  test/teiserver/tachyon_lobby/lobby_test.exs
  test/teiserver_web/tachyon/lobby_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Added UserPicker form functionality
  assets/css/app.css
  lib/teiserver/account/libs/user_lib.ex
  lib/teiserver/account/queries/user_queries.ex
  lib/teiserver_web/components/core_components.ex
  lib/teiserver_web/components/nav_components.ex
  lib/teiserver_web/controllers/admin/user_controller.ex
  lib/teiserver_web/live/moderation/action_live/smurf_link.ex
  lib/teiserver_web/live/moderation/action_live/smurf_link.html.heex
  lib/teiserver_web/live_components/user_picker.ex
  lib/teiserver_web/router.ex
  lib/teiserver_web/templates/admin/user/actions.html.heex
  test/teiserver_web/live/moderation/action_live/smurf_link_test.exs
  test/teiserver_web/live_components/user_picker_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Persist direct messages from humans to bot (#1312)
  lib/teiserver/data/cache_user.ex
Due: mix-format, mix-compile, mix-dialyzer

Added check for circular smurf linking
  lib/teiserver/account/libs/user_lib.ex
  test/teiserver/account/user_lib_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Added UserPicker form functionality (#1309)
  assets/css/app.css
  lib/teiserver/account/libs/user_lib.ex
  lib/teiserver/account/queries/user_queries.ex
  lib/teiserver_web/components/core_components.ex
  lib/teiserver_web/components/nav_components.ex
  lib/teiserver_web/controllers/admin/user_controller.ex
  lib/teiserver_web/live/moderation/action_live/smurf_link.ex
  lib/teiserver_web/live/moderation/action_live/smurf_link.html.heex
  lib/teiserver_web/live_components/user_picker.ex
  lib/teiserver_web/router.ex
  lib/teiserver_web/templates/admin/user/actions.html.heex
  test/teiserver/account/user_lib_test.exs
  test/teiserver_web/live/moderation/action_live/smurf_link_test.exs
  test/teiserver_web/live_components/user_picker_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Kickban - improvements (#1299)
  lib/teiserver/player/session.ex
  lib/teiserver/player/tachyon_handler.ex
  lib/teiserver/tachyon_lobby.ex
  lib/teiserver/tachyon_lobby/lobby.ex
  test/support/tachyon.ex
  test/teiserver/servers/spring_tcp_server_test.exs
  test/teiserver/tachyon_lobby/lobby_test.exs
  test/teiserver_web/tachyon/lobby_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Allow setting log level through env var
  config/runtime.exs
Due: mix-format, mix-dialyzer

Flaky test
  test/teiserver/coordinator/consul_commands_test.exs
Due: mix-format, mix-dialyzer

Upgrade req
  mix.exs
  mix.lock
Due: mix-format, mix-dialyzer

Pin hex to 2.4.2
  .github/workflows/lint.yml
Due: none

Use version-file config
  .github/workflows/lint.yml
Due: none

Fix link for editing site config
  lib/teiserver_web/templates/admin/site_config/index.html.heex
Due: none

Measure and report tachyon connection duration
  lib/teiserver/monitoring/tachyon.ex
  lib/teiserver_web/controllers/tachyon.ex
Due: mix-format, mix-compile, mix-dialyzer

Adds rate limiting for user logins
  lib/teiserver/account/auth.ex
  lib/teiserver/account/libs/user_lib.ex
  lib/teiserver/application.ex
  lib/teiserver/data/cache_user.ex
  lib/teiserver/general/rate_limit.ex
  mix.exs
  mix.lock
  test/teiserver/protocols/spring/spring_raw_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Adds rate limiting for user logins (#1316)
  lib/teiserver/account/auth.ex
  lib/teiserver/account/libs/user_lib.ex
  lib/teiserver/application.ex
  lib/teiserver/data/cache_user.ex
  lib/teiserver/general/rate_limit.ex
  mix.exs
  mix.lock
  test/teiserver/protocols/spring/spring_raw_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Refactor: isolate change map for overview
  lib/teiserver/tachyon_lobby/lobby.ex
Due: mix-format, mix-compile, mix-dialyzer

Move voting to event structs
  lib/teiserver/tachyon_lobby/events/cancel_kick_vote.ex
  lib/teiserver/tachyon_lobby/events/cast_vote.ex
  lib/teiserver/tachyon_lobby/events/kickban.ex
  lib/teiserver/tachyon_lobby/events/remove_player_from_lobby.ex
  lib/teiserver/tachyon_lobby/events/remove_spec_from_lobby.ex
  lib/teiserver/tachyon_lobby/events/start_vote.ex
  lib/teiserver/tachyon_lobby/events/update_boss.ex
  lib/teiserver/tachyon_lobby/events/vote_ended.ex
  lib/teiserver/tachyon_lobby/lobby.ex
  test/teiserver/tachyon_lobby/lobby_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Move all player related events to structs
  lib/teiserver/tachyon_lobby/events/add_spectator.ex
  lib/teiserver/tachyon_lobby/events/fill_from_join_queue.ex
  lib/teiserver/tachyon_lobby/events/move_player.ex
  lib/teiserver/tachyon_lobby/events/move_player_to_spec.ex
  lib/teiserver/tachyon_lobby/events/move_spec_to_player.ex
  lib/teiserver/tachyon_lobby/events/remove_player_from_lobby.ex
  lib/teiserver/tachyon_lobby/events/remove_spec_from_lobby.ex
  lib/teiserver/tachyon_lobby/events/repack_players.ex
  lib/teiserver/tachyon_lobby/events/update_ally_team_config.ex
  lib/teiserver/tachyon_lobby/lobby.ex
  test/teiserver/tachyon_lobby/lobby_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Move update lobby name to event struct
  lib/teiserver/tachyon_lobby/events/update_lobby_name.ex
  lib/teiserver/tachyon_lobby/lobby.ex
Due: mix-format, mix-compile, mix-dialyzer

Move update client status to struct event
  lib/teiserver/tachyon_lobby/events/update_client_status.ex
  lib/teiserver/tachyon_lobby/lobby.ex
Due: mix-format, mix-compile, mix-dialyzer

Game options and tags to event structs
  lib/teiserver/tachyon_lobby/events/update_game_options.ex
  lib/teiserver/tachyon_lobby/events/update_tags.ex
  lib/teiserver/tachyon_lobby/lobby.ex
Due: mix-format, mix-compile, mix-dialyzer

Rework process_events
  lib/teiserver/tachyon_lobby/lobby.ex
  lib/teiserver/tachyon_lobby/types/aggregate.ex
Due: mix-format, mix-compile, mix-dialyzer

update map name -> event struct
  lib/teiserver/tachyon_lobby/events/update_map_name.ex
  lib/teiserver/tachyon_lobby/lobby.ex
Due: mix-format, mix-compile, mix-dialyzer

Introduce lobby Event and protocol to compute changes
  lib/teiserver/tachyon_lobby/event.ex
  lib/teiserver/tachyon_lobby/lobby.ex
Due: mix-format, mix-compile, mix-dialyzer

Struct for lobby events (#1314)
  lib/teiserver/tachyon_lobby/event.ex
  lib/teiserver/tachyon_lobby/events/add_spectator.ex
  lib/teiserver/tachyon_lobby/events/cancel_kick_vote.ex
  lib/teiserver/tachyon_lobby/events/cast_vote.ex
  lib/teiserver/tachyon_lobby/events/fill_from_join_queue.ex
  lib/teiserver/tachyon_lobby/events/kickban.ex
  lib/teiserver/tachyon_lobby/events/move_player.ex
  lib/teiserver/tachyon_lobby/events/move_player_to_spec.ex
  lib/teiserver/tachyon_lobby/events/move_spec_to_player.ex
  lib/teiserver/tachyon_lobby/events/remove_player_from_lobby.ex
  lib/teiserver/tachyon_lobby/events/remove_spec_from_lobby.ex
  lib/teiserver/tachyon_lobby/events/repack_players.ex
  lib/teiserver/tachyon_lobby/events/start_vote.ex
  lib/teiserver/tachyon_lobby/events/update_ally_team_config.ex
  lib/teiserver/tachyon_lobby/events/update_boss.ex
  lib/teiserver/tachyon_lobby/events/update_client_status.ex
  lib/teiserver/tachyon_lobby/events/update_game_options.ex
  lib/teiserver/tachyon_lobby/events/update_lobby_name.ex
  lib/teiserver/tachyon_lobby/events/update_map_name.ex
  lib/teiserver/tachyon_lobby/events/update_tags.ex
  lib/teiserver/tachyon_lobby/events/vote_ended.ex
  lib/teiserver/tachyon_lobby/lobby.ex
  lib/teiserver/tachyon_lobby/types/aggregate.ex
  test/teiserver/tachyon_lobby/lobby_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Allow disabling spring tcp server from env var
  config/runtime.exs
  lib/teiserver/application.ex
  test/support/teiserver_test_lib.ex
Due: mix-format, mix-compile, mix-dialyzer

remove horde
  lib/teiserver/account/client_index_throttle.ex
  lib/teiserver/account/libs/client_lib.ex
  lib/teiserver/account/libs/party_lib.ex
  lib/teiserver/account/servers/client_server.ex
  lib/teiserver/account/servers/party_server.ex
  lib/teiserver/application.ex
  lib/teiserver/autohost/registry.ex
  lib/teiserver/battle/servers/match_monitor_server.ex
  lib/teiserver/bridge/bridge_server.ex
  lib/teiserver/coordinator.ex
  lib/teiserver/coordinator/automod_server.ex
  lib/teiserver/coordinator/consul_server.ex
  lib/teiserver/coordinator/coordinator_server.ex
  lib/teiserver/data/lobby_id_server.ex
  lib/teiserver/game/servers/balancer_server.ex
  lib/teiserver/helpers/iex.ex
  lib/teiserver/lobby/libs/lobby_lib.ex
  lib/teiserver/lobby/servers/lobby_index_throttle.ex
  lib/teiserver/lobby/servers/lobby_server.ex
  lib/teiserver/lobby/servers/lobby_throttle.ex
  lib/teiserver/matchmaking/queue_registry.ex
  lib/teiserver/matchmaking/queue_supervisor.ex
  lib/teiserver/player/registry.ex
  lib/teiserver/player/session_registry.ex
  lib/teiserver/servers/telemetry_server.ex
  lib/teiserver/tachyon_battle/registry.ex
  lib/teiserver/tachyon_lobby/supervisor.ex
  lib/teiserver/throttles.ex
  lib/teiserver_web/live/admin_dashboard/index.ex
  mix.exs
  mix.lock
Due: mix-format, mix-compile, mix-dialyzer

Path conditions:
  mix-format: any of: \.exs*$
  mix-compile: any of: \.ex$
  mix-dialyzer: any of: \.exs*$
