Repository beyond-all-reason/teiserver: changes, and which pre-commit hooks are due for each by the changed paths.
All: mix-format, mix-compile, mix-dialyzer

.pre-commit-config.yaml:

---
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-merge-conflict
      - id: check-yaml
      - id: no-commit-to-branch
        args:
          - -b
          - master
          - -b
          - production
          - -b
          - staging
  - repo: local
    hooks:
      - id: mix-format
        name: "elixir: mix format"
        entry: mix format --check-formatted
        language: system
        files: \.exs*$
      - id: mix-compile
        name: "elixir: mix compile"
        entry: mix compile --force #--warnings-as-errors
        language: system
        pass_filenames: false
        files: \.ex$
      # - id: mix-credo
      #   name: "elixir: mix credo"
      #   entry: mix credo
      #   language: system
      #   pass_filenames: false
      #   files: \.exs*$
      - id: mix-dialyzer
        name: "elixir: mix dialyzer"
        entry: mix dialyzer
        language: system
        pass_filenames: false
        files: \.exs*$

Re-added some tests, started work on removing Timex
  config/test.exs
  lib/teiserver/account/client_index_throttle.ex
  lib/teiserver/data/cache_user.ex
  lib/teiserver/helpers/general_test_lib.ex
  lib/teiserver/helpers/timex_helper.ex
  lib/teiserver/logging/lib/logging_test_lib.ex
  lib/teiserver_web/components/core_components.ex
  lib/teiserver_web/components/pagination_components.ex
  lib/teiserver_web/controllers/admin/user_controller.ex
  lib/teiserver_web/live/clients/show.ex
  lib/teiserver_web/router.ex
  lib/teiserver_web/templates/admin/asset/index.html.heex
  lib/teiserver_web/views/microblog/rss_view.ex
  mix.exs
  test/support/fixtures/account/account_fixtures.ex
  test/support/teiserver_test_lib.ex
  test/teiserver/servers/spring_tcp_server_test.exs
  test/teiserver_web/controllers/account/general_controller_test.exs
  test/teiserver_web/controllers/admin/general_controller_test.exs
  test/teiserver_web/controllers/admin/tool_controller_test.exs
  test/teiserver_web/controllers/admin/user_controller_test.exs
  test/teiserver_web/controllers/logging/page_view_log_controller_test.exs
  test/teiserver_web/controllers/moderation/action_controller_test.exs
  test/teiserver_web/controllers/moderation/ban_controller_test.exs
  test/teiserver_web/controllers/moderation/proposal_controller_test.exs
  test/teiserver_web/controllers/moderation/report_controller_test.exs
  test/teiserver_web/controllers/report/complex_client_event_controller_test.exs
  test/teiserver_web/controllers/report/general_controller_test.exs
  test/teiserver_web/live/account/profile/overview_test.exs
  test/teiserver_web/live/battle_live_test.exs
  test/teiserver_web/live/client_live_test.exs
  test/teiserver_web/live/microblog/blog/index_live_test.exs
  test/teiserver_web/live/microblog/post_form_component_test.exs
  test/test_helper.exs
Due: mix-format, mix-compile, mix-dialyzer

Credo
  test/teiserver_web/controllers/logging/page_view_log_controller_test.exs
Due: mix-format, mix-dialyzer

Fixes
  lib/teiserver/helpers/schema_helper.ex
  test/teiserver/game/libs/match_rating_lib_test.exs
  test/teiserver/helpers/schema_helper_test.exs
  test/teiserver/helpers/timex_helper_test.exs
  test/teiserver/servers/spring_tcp_server_test.exs
  test/teiserver_web/controllers/logging/page_view_log_controller_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Fixes part 2
  test/support/data_case.ex
  test/teiserver/game/libs/match_rating_lib_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Fixes part 3
  test/support/teiserver_test_lib.ex
  test/teiserver/account/account_test.exs
  test/teiserver/game/libs/match_rating_lib_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Fixes part 4
  test/teiserver/game/libs/match_rating_lib_test.exs
  test/teiserver/logging/persist_server_day_task_test.exs
  test/teiserver/matchmaking/member_test.exs
Due: mix-format, mix-dialyzer

Always use user.password for password verification
  lib/teiserver/data/cache_user.ex
Due: mix-format, mix-compile, mix-dialyzer

Admin UI button to restart Discord Bridge
  lib/teiserver/bridge/discord_system.ex
  lib/teiserver_web/live/admin_dashboard/index.ex
  lib/teiserver_web/live/admin_dashboard/index.html.heex
Due: mix-format, mix-compile, mix-dialyzer

encapsulate startup logic in a separate start function
  lib/teiserver/bridge/discord_system.ex
Due: mix-format, mix-compile, mix-dialyzer

switch to terminate_child
  lib/teiserver/bridge/discord_system.ex
Due: mix-format, mix-compile, mix-dialyzer

change event name to restart-discord-bridge
  lib/teiserver_web/live/admin_dashboard/index.ex
  lib/teiserver_web/live/admin_dashboard/index.html.heex
Due: mix-format, mix-compile, mix-dialyzer

made an async restart call that sends flash_message via pid
  lib/teiserver/bridge/discord_system.ex
  lib/teiserver_web/live/admin_dashboard/index.ex
  lib/teiserver_web/live/admin_dashboard/index.html.heex
Due: mix-format, mix-compile, mix-dialyzer

even more credo strict fixes
  lib/teiserver_web/live/admin_dashboard/index.ex
Due: mix-format, mix-compile, mix-dialyzer

Fixes part 5
  lib/teiserver/data/cache_user.ex
Due: mix-format, mix-compile, mix-dialyzer

Cleanup
  lib/teiserver/helpers/general_test_lib.ex
  lib/teiserver/helpers/schema_helper.ex
  lib/teiserver/helpers/timex_helper.ex
  lib/teiserver/logging/lib/logging_test_lib.ex
  lib/teiserver_web/views/microblog/rss_view.ex
  mix.exs
  test/support/teiserver_test_lib.ex
Due: mix-format, mix-compile, mix-dialyzer

Removed a commented out HTML element
  lib/teiserver_web/templates/admin/asset/index.html.heex
Due: none

Refactor: test helper to create a battle+autohost
  test/teiserver/tachyon_battle/battle_test.exs
Due: mix-format, mix-dialyzer

Rename logic for player to join lobby battle
  lib/teiserver/player.ex
  lib/teiserver/player/session.ex
  lib/teiserver/tachyon_lobby/lobby.ex
Due: mix-format, mix-compile, mix-dialyzer

Player can join a running battle from the lobby
  lib/teiserver/player/session.ex
  lib/teiserver/player/tachyon_handler.ex
  lib/teiserver/tachyon_lobby.ex
  lib/teiserver/tachyon_lobby/lobby.ex
  priv/tachyon/schema/lobby/joinBattle/request.json
  priv/tachyon/schema/lobby/joinBattle/response.json
  test/teiserver/tachyon_lobby/lobby_test.exs
  test/teiserver_web/tachyon/lobby_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Also return autohost pid when starting a battle
  lib/teiserver/autohost/session.ex
  lib/teiserver/tachyon_battle.ex
  test/teiserver_web/tachyon/autohost_test.exs
  test/teiserver_web/tachyon/battle_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Refactor: don't directly send message from outside module
  lib/teiserver/tachyon_battle.ex
  lib/teiserver/tachyon_battle/battle.ex
  test/teiserver_web/tachyon/matchmaking_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Logic to add a player to a battle
  lib/teiserver/autohost.ex
  lib/teiserver/autohost/session.ex
  lib/teiserver/autohost/tachyon_handler.ex
  lib/teiserver/tachyon_battle.ex
  lib/teiserver/tachyon_battle/battle.ex
  lib/teiserver/tachyon_battle/types.ex
  priv/tachyon/schema/autohost/addPlayer/request.json
  priv/tachyon/schema/autohost/addPlayer/response.json
  test/teiserver/tachyon_battle/battle_test.exs
  test/teiserver_web/tachyon/autohost_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Rework battle and autohost starting battle
  lib/teiserver/autohost.ex
  lib/teiserver/tachyon_battle.ex
  lib/teiserver/tachyon_battle/battle.ex
  test/teiserver/tachyon_battle/battle_test.exs
  test/teiserver_web/tachyon/battle_test.exs
Due: mix-format, mix-compile, mix-dialyzer

feat(lobby): limit lobby name length to prevent abuse and UI overflow
  lib/teiserver/player/tachyon_handler.ex
  lib/teiserver/protocols/spring/spring_in.ex
  lib/teiserver/tachyon_lobby/lobby.ex
Due: mix-format, mix-compile, mix-dialyzer

Adjusted ClientIndexThrottle as per PR comment
  lib/teiserver/account/client_index_throttle.ex
  lib/teiserver/helpers/timex_helper.ex
  test/teiserver_web/live/client_live_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Reduced information shown when listing users
  lib/teiserver/helpers/string_helper.ex
  lib/teiserver_web/templates/admin/user/index.html.heex
Due: mix-format, mix-compile, mix-dialyzer

Reduced information shown when listing users (#1059)
  lib/teiserver/helpers/string_helper.ex
  lib/teiserver_web/templates/admin/user/index.html.heex
Due: mix-format, mix-compile, mix-dialyzer

Removes the AccoladeBotServer and AccoladeChatBot server
  documents/planned_designs/clustering.md
  lib/teiserver.ex
  lib/teiserver/account/accolades/accolade_bot_server.ex
  lib/teiserver/account/accolades/accolade_chat_server.ex
  lib/teiserver/account/libs/accolade_lib.ex
  lib/teiserver/application.ex
  lib/teiserver/servers/telemetry_server.ex
  lib/teiserver/startup.ex
  lib/teiserver_web/live/admin_dashboard/index.ex
Due: mix-format, mix-compile, mix-dialyzer

Added Accolade type
  lib/teiserver/account/schemas/accolade.ex
Due: mix-format, mix-compile, mix-dialyzer

Reverted
  lib/teiserver/account/schemas/accolade.ex
Due: mix-format, mix-compile, mix-dialyzer

Test improvements
  test/teiserver_web/live/microblog/post_form_component_test.exs
Due: mix-format, mix-dialyzer

Removed superfluous config
  lib/teiserver/libs/teiserver_configs.ex
Due: mix-format, mix-compile, mix-dialyzer

Removes the AccoladeBotServer and AccoladeChatBot server (#1053)
  documents/planned_designs/clustering.md
  lib/teiserver.ex
  lib/teiserver/account/accolades/accolade_bot_server.ex
  lib/teiserver/account/accolades/accolade_chat_server.ex
  lib/teiserver/account/libs/accolade_lib.ex
  lib/teiserver/account/schemas/accolade.ex
  lib/teiserver/application.ex
  lib/teiserver/libs/teiserver_configs.ex
  lib/teiserver/servers/telemetry_server.ex
  lib/teiserver/startup.ex
  lib/teiserver_web/live/admin_dashboard/index.ex
  test/teiserver_web/live/microblog/post_form_component_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Removed tournament functionality
  .dialyzer_ignore.exs
  documents/planned_designs/tournaments.md
  lib/teiserver/account/libs/role_lib.ex
  lib/teiserver/account/queries/user_queries.ex
  lib/teiserver/account/reports/tournament_report.ex
  lib/teiserver/battle.ex
  lib/teiserver/coordinator/consul_commands.ex
  lib/teiserver/coordinator/consul_server.ex
  lib/teiserver/data/cache_user.ex
  lib/teiserver/game/servers/lobby_policy_bot_server.ex
  lib/teiserver/libs/teiserver_configs.ex
  lib/teiserver/lobby.ex
  lib/teiserver/lobby/schemas/lobby_struct.ex
  lib/teiserver/lobby/servers/lobby_index_throttle.ex
  lib/teiserver/player/tachyon_handler.ex
  lib/teiserver_web/controllers/report/report_controller.ex
  lib/teiserver_web/live/battles/battle_components.ex
  lib/teiserver_web/live/battles/lobbies/chat.ex
  lib/teiserver_web/live/battles/lobbies/index.ex
  lib/teiserver_web/live/battles/lobbies/show.ex
  lib/teiserver_web/live/tournament/index.ex
  lib/teiserver_web/live/tournament/index.html.heex
  lib/teiserver_web/live/tournament/show.ex
  lib/teiserver_web/live/tournament/show.html.heex
  lib/teiserver_web/router.ex
  lib/teiserver_web/templates/battle/general/sub_menu.html.heex
  lib/teiserver_web/templates/report/general/index.html.heex
  lib/teiserver_web/templates/report/report/section_menu.html.heex
  lib/teiserver_web/templates/report/report/tournament.html.heex
  lib/teiserver_web/views/battle/general_view.ex
  priv/tachyon/schema/definitions/user.json
  priv/tachyon/schema/user/updated/event.json
Due: mix-format, mix-compile, mix-dialyzer

changed migration to change and restored pagination example
  lib/teiserver_web/components/pagination_components.ex
  priv/repo/migrations/20260324180447_remove_report_groups.exs
Due: mix-format, mix-compile, mix-dialyzer

changed report_group drop to cascade drop
  priv/repo/migrations/20260324180447_remove_report_groups.exs
Due: mix-format, mix-dialyzer

properly dropping report_group parts now
  priv/repo/migrations/20260324180447_remove_report_groups.exs
Due: mix-format, mix-dialyzer

removed report_groups and components from code and database
  .dialyzer_ignore.exs
  lib/teiserver/battle/tasks/battle_daily_cleanup_task.ex
  lib/teiserver/moderation.ex
  lib/teiserver/moderation/libs/action_lib.ex
  lib/teiserver/moderation/libs/report_group_lib.ex
  lib/teiserver/moderation/queries/report_group_queries.ex
  lib/teiserver/moderation/schemas/action.ex
  lib/teiserver/moderation/schemas/report.ex
  lib/teiserver/moderation/schemas/report_group.ex
  lib/teiserver/moderation/schemas/report_group_message.ex
  lib/teiserver/moderation/schemas/report_group_vote.ex
  lib/teiserver_web/components/pagination_components.ex
  lib/teiserver_web/controllers/moderation/action_controller.ex
  lib/teiserver_web/live/general/home/index.html.heex
  lib/teiserver_web/live/moderation/moderation_components.ex
  lib/teiserver_web/live/moderation/overwatch/index.ex
  lib/teiserver_web/live/moderation/overwatch/index.html.heex
  lib/teiserver_web/live/moderation/overwatch/overwatch_components.ex
  lib/teiserver_web/live/moderation/overwatch/report_group_detail.ex
  lib/teiserver_web/live/moderation/overwatch/report_group_detail.html.heex
  lib/teiserver_web/live/moderation/overwatch/user.ex
  lib/teiserver_web/live/moderation/overwatch/user.html.heex
  lib/teiserver_web/live/moderation/report_user/index.ex
  lib/teiserver_web/router.ex
  lib/teiserver_web/templates/admin/user/tab_overview.html.heex
  lib/teiserver_web/templates/moderation/general/index.html.heex
  priv/repo/migrations/20260324180447_remove_report_groups.exs
  test/support/teiserver_test_lib.ex
  test/teiserver_web/live/moderation/overwatch/index_test.exs
  test/teiserver_web/live/moderation/report_user/index_test.exs
Due: mix-format, mix-compile, mix-dialyzer

linting
  lib/teiserver_web/templates/moderation/general/index.html.heex
  priv/repo/migrations/20260324180447_remove_report_groups.exs
Due: mix-format, mix-dialyzer
