Repository beyond-all-reason/teiserver: changes, and which pre-commit hooks are due for each by the changed paths.
All: mix-format, mix-compile, mix-dialyzer

mix-format:
  name: 'elixir: mix format'
  entry: mix format --check-formatted
  language: system

mix-compile:
  name: 'elixir: mix compile'
  entry: mix compile --force
  language: system
  pass_filenames: false

mix-dialyzer:
  name: 'elixir: mix dialyzer'
  entry: mix dialyzer
  language: system
  pass_filenames: false

Remove room
  lib/teiserver/chat/chat_room_cache.ex
  lib/teiserver/chat/room_server.ex
  test/teiserver/chat/chat_room_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Port send_message_ex
  lib/teiserver/chat/chat_room_cache.ex
  lib/teiserver/chat/room_server.ex
  test/teiserver/chat/chat_room_test.exs
Due: mix-format, mix-compile, mix-dialyzer

port can_join_room? to genserver impl
  lib/teiserver/chat/chat_room_cache.ex
  lib/teiserver/chat/room_server.ex
  test/teiserver/chat/chat_room_test.exs
Due: mix-format, mix-compile, mix-dialyzer

send_message
  lib/teiserver/chat/chat_room_cache.ex
  lib/teiserver/chat/room_server.ex
  test/teiserver/chat/chat_room_test.exs
Due: mix-format, mix-compile, mix-dialyzer

remove rooms cache, it's now unused
  documents/dev_designs/caches.md
  lib/teiserver/application.ex
Due: mix-format, mix-compile, mix-dialyzer

Add configurable rate limiter on login queue
  lib/teiserver/account.ex
  lib/teiserver/account/servers/login_throttle_server.ex
  lib/teiserver/libs/teiserver_configs.ex
  test/support/data_case.ex
  test/teiserver/account/login_throttle_server_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Rewrite the login throttle queue
  lib/teiserver/account.ex
  lib/teiserver/account/libs/client_lib.ex
  lib/teiserver/account/servers/login_throttle_server.ex
  lib/teiserver/application.ex
  lib/teiserver/protocols/spring/spring_auth_in.ex
  lib/teiserver/startup.ex
  test/teiserver/account/login_throttle_server_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Fix another flaky test
  test/teiserver/account/login_throttle_server_test.exs
Due: mix-format, mix-dialyzer

Add a gauge for the login queue length
  lib/teiserver/account/servers/login_throttle_server.ex
  lib/teiserver/monitoring/spring.ex
Due: mix-format, mix-compile, mix-dialyzer

Fix a flaky test
  test/teiserver/account/relationship_lib_test.exs
Due: mix-format, mix-dialyzer

Initial SafeLogger implementation
  config/config.exs
  lib/teiserver/account/schemas/user_token.ex
  lib/teiserver/logging/lib/safe_logger.ex
  lib/teiserver/o_auth/schemas/token.ex
  test/teiserver/logging/safe_logger_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Added schema redactions for sensitive fields
  lib/teiserver/account/schemas/code.ex
  lib/teiserver/account/schemas/user_totp.ex
  lib/teiserver/o_auth/schemas/code.ex
  lib/teiserver/o_auth/schemas/credential.ex
Due: mix-format, mix-compile, mix-dialyzer

Add Ecto schema redaction for sensitive fields
  config/config.exs
  lib/teiserver/account/schemas/code.ex
  lib/teiserver/account/schemas/user_token.ex
  lib/teiserver/account/schemas/user_totp.ex
  lib/teiserver/o_auth/schemas/code.ex
  lib/teiserver/o_auth/schemas/credential.ex
  lib/teiserver/o_auth/schemas/token.ex
  lib/teiserver_web/endpoint.ex
  test/teiserver/logging/redaction_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Add robustness and performance improvements to ClientServer and LobbyServer
  lib/teiserver/account/servers/client_server.ex
  lib/teiserver/lobby/servers/lobby_server.ex
Due: mix-format, mix-compile, mix-dialyzer

Add Docker test setup and load tests
  TESTING.md
  docker-compose.test.yml
  test/teiserver/load/concurrent_users_load_test.exs
  test/teiserver/load/lobby_load_test.exs
  test/teiserver/load/rating_matchmaking_load_test.exs
  test/test_helper.exs
Due: mix-format, mix-dialyzer

Fixing formatting issues.
  lib/teiserver/lobby/servers/lobby_server.ex
  test/teiserver/load/lobby_load_test.exs
  test/teiserver/load/rating_matchmaking_load_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Remove unused dialyzer filter for lobby_server.ex
  .dialyzer_ignore.exs
Due: mix-format, mix-dialyzer

Add AI usage policy
  AI_POLICY.md
Due: none

Add AI usage policy (#979)
  AI_POLICY.md
Due: none

Update contribution guidelines to include AI policy
  README.md
Due: none

Update contribution guidelines to include AI policy (#980)
  README.md
Due: none

Fixx RSS feed parsing issue
  lib/teiserver_web/templates/microblog/rss/index.xml.eex
  lib/teiserver_web/templates/microblog/rss/index_html.xml.eex
  test/teiserver_web/controllers/microblog/rss_controller_test.exs
Due: mix-format, mix-dialyzer

Customizable access token TTL in OAuth module added
  lib/teiserver/o_auth.ex
  lib/teiserver_web/controllers/api/admin/user_controller.ex
  test/teiserver_web/controllers/api/admin/user_controller_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Fixed linter nit about underscores in large integers
  test/teiserver_web/controllers/api/admin/user_controller_test.exs
Due: mix-format, mix-dialyzer

Fixx RSS feed parsing issue (#981)
  lib/teiserver_web/templates/microblog/rss/index.xml.eex
  lib/teiserver_web/templates/microblog/rss/index_html.xml.eex
  test/teiserver_web/controllers/microblog/rss_controller_test.exs
Due: mix-format, mix-dialyzer

Add Ecto schema redaction for sensitive fields (#977)
  config/config.exs
  lib/teiserver/account/schemas/code.ex
  lib/teiserver/account/schemas/user_token.ex
  lib/teiserver/account/schemas/user_totp.ex
  lib/teiserver/o_auth/schemas/code.ex
  lib/teiserver/o_auth/schemas/credential.ex
  lib/teiserver/o_auth/schemas/token.ex
  lib/teiserver_web/endpoint.ex
  test/teiserver/logging/redaction_test.exs
Due: mix-format, mix-compile, mix-dialyzer

add red ui hints on which fields are required to post on the microblog, because I found it confusing while testing xml issues
  lib/teiserver_web/live/microblog/admin/post/post_form_component.ex
Due: mix-format, mix-compile, mix-dialyzer

Fix user disconnecting when no queueing during login
  lib/teiserver/account/servers/login_throttle_server.ex
  test/teiserver/account/login_throttle_server_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Don't crash if a room is already started
  lib/teiserver/chat/chat_room_cache.ex
Due: mix-format, mix-compile, mix-dialyzer

Hack to avoid flakes
  test/teiserver/account/login_throttle_server_test.exs
Due: mix-format, mix-dialyzer

split script tags at first `=`
  lib/teiserver/protocols/spring/spring_in.ex
Due: mix-format, mix-compile, mix-dialyzer

Consider only players for client count in login queue
  lib/teiserver/account.ex
  lib/teiserver/account/libs/client_lib.ex
  lib/teiserver/account/servers/login_throttle_server.ex
  test/teiserver/account/login_throttle_server_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Allow Moderators to perform data search
  lib/teiserver/account/auth.ex
Due: mix-format, mix-compile, mix-dialyzer

Disable a dialyzer warning
  .dialyzer_ignore.exs
Due: mix-format, mix-dialyzer

Fix flaky test: fill rate limiter in tests
  lib/teiserver/account/servers/login_throttle_server.ex
  test/teiserver/account/login_throttle_server_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Fix rate limiter in login queue
  lib/teiserver/account/servers/login_throttle_server.ex
  test/teiserver/account/login_throttle_server_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Change login rate limit to be per second
  lib/teiserver/account/servers/login_throttle_server.ex
  lib/teiserver/libs/teiserver_configs.ex
Due: mix-format, mix-compile, mix-dialyzer

Fix web chat crash when user not connected via game client
  lib/teiserver_web/live/battles/lobbies/chat.ex
Due: mix-format, mix-compile, mix-dialyzer

Removed case statement, simplified to use coordinator_id directly as if thats missing then we have bigger fish to fry. @lexon was able to test and validate that the fix worked
  lib/teiserver_web/live/battles/lobbies/chat.ex
Due: mix-format, mix-compile, mix-dialyzer

Path conditions:
  mix-format: any of: \.exs*$
  mix-compile: any of: \.ex$
  mix-dialyzer: any of: \.exs*$
