Repository beyond-all-reason/teiserver: changes, and which pre-commit hooks are due for each by the changed paths.
All: mix-format, mix-compile, mix-dialyzer

mix-format:
  name: 'elixir: mix format'
  entry: mix format --check-formatted
  language: system

mix-compile:
  name: 'elixir: mix compile'
  entry: mix compile --force
  language: system
  pass_filenames: false

mix-dialyzer:
  name: 'elixir: mix dialyzer'
  entry: mix dialyzer
  language: system
  pass_filenames: false

Exchange code for token logic
  lib/teiserver/o_auth.ex
  lib/teiserver/o_auth/schemas/code.ex
  priv/repo/migrations/20240608144340_oauth_setup.exs
  test/teiserver/o_auth/code_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Refactor: composable joins
  lib/teiserver/o_auth/queries/application_query.ex
  lib/teiserver/o_auth/queries/token_query.ex
Due: mix-format, mix-compile, mix-dialyzer

Http interface to get token from client credentials
  lib/teiserver_web/controllers/o_auth/code_controller.ex
  test/teiserver_web/controllers/o_auth/code_controller_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Add oauth metadata endpoint
  config/runtime.exs
  lib/teiserver_web/controllers/o_auth/code_controller.ex
  lib/teiserver_web/router.ex
  lib/teiserver_web/views/api/o_auth/code_view.ex
  test/teiserver_web/controllers/o_auth/code_controller_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Fix dialyzer errors
  lib/teiserver/account.ex
  lib/teiserver/account/schemas/user.ex
  lib/teiserver/o_auth.ex
  lib/teiserver/o_auth/schemas/code.ex
  lib/teiserver/o_auth/schemas/token.ex
  lib/teiserver_web/controllers/o_auth/code_controller.ex
Due: mix-format, mix-compile, mix-dialyzer

Add support for basic auth in OAuth endpoint
  lib/teiserver_web/controllers/o_auth/code_controller.ex
  lib/teiserver_web/views/api/o_auth/code_view.ex
  test/teiserver_web/controllers/o_auth/code_controller_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Clause can never match, remove it
  lib/teiserver/moderation/queries/report_group_queries.ex
Due: mix-format, mix-compile, mix-dialyzer

Remove unused aliases
  lib/teiserver_web/controllers/admin/match_controller.ex
Due: mix-format, mix-compile, mix-dialyzer

remove unused variables
  lib/teiserver_web/templates/admin/user/smurf_list.html.heex
Due: none

Put functions with same name and arity together
  lib/teiserver/helpers/styling_helpers.ex
  lib/teiserver_web/live/account/profile/overview.ex
Due: mix-format, mix-compile, mix-dialyzer

add missing @impl
  lib/teiserver_web/live/account/profile/overview.ex
Due: mix-format, mix-compile, mix-dialyzer

Extract validation RegEx from rename/set-config-teaser to new defp.
  lib/teiserver/coordinator/consul_commands.ex
Due: mix-format, mix-compile, mix-dialyzer

Add unique constraint on app uid
  priv/repo/migrations/20240608144340_oauth_setup.exs
Due: mix-format, mix-dialyzer

Save first_ip at registration time.
  lib/teiserver/data/cache_user.ex
  lib/teiserver_web/controllers/admin/user_controller.ex
Due: mix-format, mix-compile, mix-dialyzer

Remove boss block
  lib/teiserver/coordinator/consul_server.ex
Due: mix-format, mix-compile, mix-dialyzer

Allow hosts to rename lobbies with equal priority to players.
  lib/teiserver/coordinator/consul_commands.ex
  lib/teiserver/lobby.ex
  lib/teiserver/lobby/servers/lobby_server.ex
Due: mix-format, mix-compile, mix-dialyzer

Run "mix format" for files changed in previous commit.
  lib/teiserver/lobby/servers/lobby_server.ex
Due: mix-format, mix-compile, mix-dialyzer

spads_controller rating cleanup
  lib/teiserver_web/controllers/api/spads_controller.ex
Due: mix-format, mix-compile, mix-dialyzer

Fix server_day_log_lib and reports/Review
  lib/teiserver/logging/lib/server_day_log_lib.ex
  lib/teiserver_web/templates/logging/server_log/tab_month_details.html.heex
  lib/teiserver_web/templates/report/report/review.html.heex
Due: mix-format, mix-compile, mix-dialyzer

$playerlimit as Admin only command
  lib/teiserver/coordinator/consul_commands.ex
  lib/teiserver/coordinator/consul_server.ex
  lib/teiserver/coordinator/coordinator_lib.ex
  test/teiserver/coordinator/consul_commands_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Add Team games back to growth report
  lib/teiserver/account/reports/growth_report.ex
Due: mix-format, mix-compile, mix-dialyzer

Fix
  lib/teiserver/logging/lib/server_day_log_lib.ex
Due: mix-format, mix-compile, mix-dialyzer

Add is_admin?
  lib/teiserver/coordinator/consul_server.ex
  lib/teiserver/coordinator/coordinator_lib.ex
  lib/teiserver/data/cache_user.ex
Due: mix-format, mix-compile, mix-dialyzer

Add avoid messages
  lib/teiserver/account/libs/relationship_lib.ex
  lib/teiserver/coordinator/consul_server.ex
  lib/teiserver/libs/teiserver_configs.ex
Due: mix-format, mix-compile, mix-dialyzer

Update consul_server.ex
  lib/teiserver/coordinator/consul_server.ex
Due: mix-format, mix-compile, mix-dialyzer

Add design doc for tachyon basic systems
  documents/dev_designs/tachyon_system.md
Due: none

Make match open new tab on ctrl + click (#370)
  lib/teiserver_web/live/battles/match/ratings.html.heex
Due: none

Team split fixes and cleanup (#352)
  lib/teiserver/account/exports/player_count_export.ex
  lib/teiserver/account/reports/growth_report.ex
  lib/teiserver/account/reports/week_on_week_report.ex
  lib/teiserver/account/tasks/recalculate_user_cache_task.ex
  lib/teiserver/battle/tasks/battle_daily_cleanup_task.ex
  lib/teiserver/coordinator/consul_server.ex
  lib/teiserver/data/matchmaking.ex
  lib/teiserver/game/exports/match_datatable_export.ex
  lib/teiserver/game/exports/match_ratings_export.ex
  lib/teiserver/game/exports/player_ratings_export.ex
  lib/teiserver/game/exports/rating_logs_export.ex
  lib/teiserver/lobby/libs/lobby_restrictions.ex
  lib/teiserver/logging/lib/server_day_log_lib.ex
  lib/teiserver/logging/tasks/match_graph_logs_task.ex
  lib/teiserver/logging/tasks/persist_match_month_task.ex
  lib/teiserver/logging/tasks/persist_server_day_task.ex
  lib/teiserver_web/controllers/battle/match_controller.ex
  lib/teiserver_web/live/battles/lobbies/show.ex
  lib/teiserver_web/live/battles/match/ratings.ex
  lib/teiserver_web/live/tournament/show.ex
  lib/teiserver_web/templates/logging/match_log/day_metrics_list.html.heex
  lib/teiserver_web/templates/logging/match_log/month_metrics_list.html.heex
  lib/teiserver_web/templates/logging/match_log/tab_details.html.heex
  lib/teiserver_web/templates/logging/match_log/tab_month_details.html.heex
  lib/teiserver_web/templates/logging/server_log/tab_month_details.html.heex
  lib/teiserver_web/templates/report/exports/match_datatable.html.heex
  lib/teiserver_web/templates/report/exports/match_ratings.html.heex
  lib/teiserver_web/templates/report/exports/player_ratings.html.heex
  lib/teiserver_web/templates/report/exports/rating_logs.html.heex
  lib/teiserver_web/templates/report/report/review.html.heex
Due: mix-format, mix-compile, mix-dialyzer

Coordinator send message when avoid is triggered (#385)
  lib/teiserver/account/libs/relationship_lib.ex
  lib/teiserver/coordinator/consul_server.ex
  lib/teiserver/libs/teiserver_configs.ex
Due: mix-format, mix-compile, mix-dialyzer

is_admin fix
  lib/teiserver/coordinator/consul_server.ex
Due: mix-format, mix-compile, mix-dialyzer

is_admin fix (#388)
  lib/teiserver/coordinator/consul_server.ex
Due: mix-format, mix-compile, mix-dialyzer

Get party broken stats
  lib/teiserver/battle/balance/brute_force.ex
  lib/teiserver/battle/balance/split_noobs.ex
  lib/teiserver/mix_tasks/party_balance_stats.ex
  lib/teiserver/mix_tasks/party_balance_stats_types.ex
  test/teiserver/mix_tasks/party_balance_stats_test.ex
Due: mix-format, mix-compile, mix-dialyzer

Fix dialyzer
  lib/teiserver/mix_tasks/party_balance_stats.ex
Due: mix-format, mix-compile, mix-dialyzer

Remove teaser if too long
  lib/teiserver/lobby/servers/lobby_server.ex
  test/teiserver/battle/lobby_server_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Revert "Make match open new tab on ctrl + click (#370)"
  lib/teiserver_web/live/battles/match/ratings.html.heex
Due: none

Revert "Make match open new tab on ctrl + click (#370)" (#393)
  lib/teiserver_web/live/battles/match/ratings.html.heex
Due: none

Fix stretched-link
  lib/teiserver_web/live/battles/match/ratings.html.heex
Due: none

Fix stretched-link (#394)
  lib/teiserver_web/live/battles/match/ratings.html.heex
Due: none

extends RING with a second argument for originator
  lib/teiserver/protocols/spring/spring_in.ex
Due: mix-format, mix-compile, mix-dialyzer

Path conditions:
  mix-format: any of: \.exs*$
  mix-compile: any of: \.ex$
  mix-dialyzer: any of: \.exs*$
