Repository beyond-all-reason/teiserver: changes, and which pre-commit hooks are due for each by the changed paths.
All: mix-format, mix-compile, mix-dialyzer

mix-format:
  name: 'elixir: mix format'
  entry: mix format --check-formatted
  language: system

mix-compile:
  name: 'elixir: mix compile'
  entry: mix compile --force
  language: system
  pass_filenames: false

mix-dialyzer:
  name: 'elixir: mix dialyzer'
  entry: mix dialyzer
  language: system
  pass_filenames: false

Merge pull request #1252 from BElluu/issue-1141-20260608
  lib/teiserver/player/session.ex
  lib/teiserver/player/tachyon_handler.ex
  lib/teiserver/tachyon_lobby.ex
  lib/teiserver/tachyon_lobby/lobby.ex
  lib/teiserver/tachyon_lobby/types/data.ex
  priv/tachyon/schema/lobby/kickban/request.json
  priv/tachyon/schema/lobby/kickban/response.json
  priv/tachyon/schema/lobby/left/event.json
  test/teiserver/tachyon_lobby/lobby_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Fix compilation deadlock
  lib/teiserver/account/libs/auth_lib.ex
Due: mix-format, mix-compile, mix-dialyzer

Fix compilation deadlock (#1287)
  lib/teiserver/account/libs/auth_lib.ex
Due: mix-format, mix-compile, mix-dialyzer

Bot name must be unique
  lib/teiserver/bot/schemas/bot.ex
  priv/repo/migrations/20260616074950_unique_bot_name.exs
  test/teiserver/bot/bot_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Fixed an issue with tailwind asset and bad smurflink url
  config/config.exs
  lib/teiserver_web/components/layouts/root_tw.html.heex
  lib/teiserver_web/templates/account/security/index.html.heex
  lib/teiserver_web/templates/admin/badge_type/edit.html.heex
  lib/teiserver_web/templates/admin/code/index.html.heex
  lib/teiserver_web/templates/admin/discord_channel/edit.html.heex
  lib/teiserver_web/templates/admin/text_callback/edit.html.heex
  lib/teiserver_web/templates/admin/user/form.html.heex
  lib/teiserver_web/templates/admin/user/smurf_list.html.heex
  lib/teiserver_web/templates/moderation/action/edit.html.heex
  lib/teiserver_web/templates/moderation/report/show.html.heex
Due: mix-format, mix-dialyzer

Fixed an issue with tailwind asset and bad smurflink url (#1291)
  config/config.exs
  lib/teiserver_web/components/layouts/root_tw.html.heex
  lib/teiserver_web/templates/account/security/index.html.heex
  lib/teiserver_web/templates/admin/badge_type/edit.html.heex
  lib/teiserver_web/templates/admin/code/index.html.heex
  lib/teiserver_web/templates/admin/discord_channel/edit.html.heex
  lib/teiserver_web/templates/admin/text_callback/edit.html.heex
  lib/teiserver_web/templates/admin/user/form.html.heex
  lib/teiserver_web/templates/admin/user/smurf_list.html.heex
  lib/teiserver_web/templates/moderation/action/edit.html.heex
  lib/teiserver_web/templates/moderation/report/show.html.heex
Due: mix-format, mix-dialyzer

Generating token using helper method
  lib/teiserver/o_auth.ex
  lib/teiserver/o_auth/tasks/gen_token.ex
  test/support/fixtures/o_auth/o_auth_fixtures.ex
Due: mix-format, mix-compile, mix-dialyzer

Fixed a bad assets export path for js.app
  config/config.exs
Due: mix-format, mix-dialyzer

Fixed a bad assets export path for js.app (#1293)
  config/config.exs
Due: mix-format, mix-dialyzer

Bot name must be unique (#1290)
  lib/teiserver/bot/schemas/bot.ex
  priv/repo/migrations/20260616074950_unique_bot_name.exs
  test/teiserver/bot/bot_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Generating token using helper method (#1292)
  lib/teiserver/o_auth.ex
  lib/teiserver/o_auth/tasks/gen_token.ex
  test/support/fixtures/o_auth/o_auth_fixtures.ex
Due: mix-format, mix-compile, mix-dialyzer

Preventing duplication of game rating logs
  lib/teiserver/game/libs/match_rating_lib.ex
  priv/repo/migrations/20260616101633_unique_index_rating_logs.exs
Due: mix-format, mix-compile, mix-dialyzer

fix credo
  priv/repo/migrations/20260616101633_unique_index_rating_logs.exs
Due: mix-format, mix-dialyzer

Use a struct for autohost registry values
  lib/teiserver/autohost.ex
  lib/teiserver/autohost/registry.ex
  lib/teiserver/autohost/session.ex
  lib/teiserver/autohost/session_registry.ex
  lib/teiserver/autohost/types/overview.ex
  test/teiserver/autohost/autohost_test.exs
  test/teiserver/autohost/session_registry_test.exs
  test/teiserver_web/tachyon/autohost_test.exs
Due: mix-format, mix-compile, mix-dialyzer

structify autohost session data
  lib/teiserver/autohost/session.ex
  lib/teiserver/autohost/types/session_data.ex
Due: mix-format, mix-compile, mix-dialyzer

Structify battle data for autohosts
  lib/teiserver/autohost.ex
  lib/teiserver/autohost/session.ex
  lib/teiserver/autohost/types/battle_data.ex
  lib/teiserver/autohost/types/bot.ex
  lib/teiserver/autohost/types/player.ex
  lib/teiserver/autohost/types/start_script.ex
  lib/teiserver/battle.ex
  lib/teiserver/matchmaking/pairing_room.ex
  lib/teiserver/tachyon_battle.ex
  lib/teiserver/tachyon_battle/battle.ex
  lib/teiserver/tachyon_battle/supervisor.ex
  lib/teiserver/tachyon_lobby/lobby.ex
  test/support/fixtures/bot.ex
  test/teiserver/battle/start_script_test.exs
  test/teiserver/tachyon_lobby/lobby_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Move patch_merge to collection helpers
  lib/teiserver/helpers/collections.ex
  lib/teiserver/tachyon_lobby/lobby.ex
  test/teiserver/helpers/collections_test.exs
  test/teiserver/tachyon_lobby/lobby_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Batch lobby updates in sessions
  fprof.trace
  lib/teiserver/player/session.ex
  lib/teiserver/player/tachyon_handler.ex
  test/teiserver/player/session_lobby_test.exs
  test/teiserver/tachyon_lobby/lobby_test.exs
  test/teiserver_web/tachyon/lobby_test.exs
Due: mix-format, mix-compile, mix-dialyzer

open port for dev smtp server
  compose.yaml
Due: none

open port for dev smtp server (#1296)
  compose.yaml
Due: none

Load metadata cache in a supervised task
  lib/teiserver/metadata_cache.ex
  lib/teiserver/startup.ex
Due: mix-format, mix-compile, mix-dialyzer

Query audit log types directly
  lib/teiserver/logging/lib/audit_log_lib.ex
  lib/teiserver/metadata_cache.ex
  lib/teiserver_web.ex
  test/teiserver/logging/audit_log_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Remove random names from caches
  lib/teiserver/metadata_cache.ex
  lib/teiserver/mix_tasks/fake_data.ex
Due: mix-format, mix-compile, mix-dialyzer

Kickban - improvements
  lib/teiserver/player/session.ex
  lib/teiserver/player/tachyon_handler.ex
  lib/teiserver/tachyon_lobby/lobby.ex
  test/support/tachyon.ex
  test/teiserver/tachyon_lobby/lobby_test.exs
  test/teiserver_web/tachyon/lobby_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Fix dialyzer
  lib/teiserver/player/session.ex
  lib/teiserver/player/tachyon_handler.ex
  lib/teiserver/tachyon_lobby.ex
  lib/teiserver/tachyon_lobby/lobby.ex
Due: mix-format, mix-compile, mix-dialyzer

Remove All Chat restriction from rename request button
  lib/teiserver_web/templates/moderation/action/new_with_user.html.heex
Due: none

Mark freaky test
  test/teiserver/servers/spring_tcp_server_test.exs
Due: mix-format, mix-dialyzer

Remove All Chat restriction from rename request button (#1300)
  lib/teiserver_web/templates/moderation/action/new_with_user.html.heex
Due: none

fix tag
  test/teiserver/servers/spring_tcp_server_test.exs
Due: mix-format, mix-dialyzer

Tailwind fix
  assets/css/app.css
  assets/css/app_bs.css
  assets/js/app.js
  config/config.exs
  config/dev.exs
  lib/teiserver_web.ex
  lib/teiserver_web/components/layouts/root_bs.html.heex
  lib/teiserver_web/components/layouts/root_tw.html.heex
  mix.exs
Due: mix-format, mix-compile, mix-dialyzer

Update map metadata fixture file
  lib/teiserver/mix_tasks/tachyon_setup.ex
  lib/teiserver/tachyon/tasks/setup_assets.ex
  priv/data/maps.json
Due: mix-format, mix-compile, mix-dialyzer

flaky test
  test/teiserver/coordinator/consul_commands_test.exs
Due: mix-format, mix-dialyzer

Removed commented line
  assets/css/app.css
  assets/js/app.js
Due: none

Fixed banned domain check (again), optimise domain and IP checks by using MapSet
  lib/teiserver/moderation.ex
  lib/teiserver/moderation/tasks/load_banned_domains_task.ex
  lib/teiserver/moderation/tasks/load_banned_ips_task.ex
  lib/teiserver/moderation/tasks/load_vpns_task.ex
  test/teiserver/moderation/banned_domain_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Fixed banned domain check (again), optimise domain and IP checks by using MapSet (#1301)
  lib/teiserver/moderation.ex
  lib/teiserver/moderation/tasks/load_banned_domains_task.ex
  lib/teiserver/moderation/tasks/load_banned_ips_task.ex
  lib/teiserver/moderation/tasks/load_vpns_task.ex
  test/teiserver/moderation/banned_domain_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Tweaked banned domain tests to provide additonal clarity
  test/teiserver/moderation/banned_domain_test.exs
Due: mix-format, mix-dialyzer

Changed example banned IPs to prevent collisions with valid tests
  test/teiserver_web/live/moderation/banned_ip_live_test.exs
Due: mix-format, mix-dialyzer

Tweaked banned domain tests to provide additonal clarity (#1303)
  test/teiserver/moderation/banned_domain_test.exs
Due: mix-format, mix-dialyzer

Changed example banned IPs to prevent collisions with valid tests (#1304)
  test/teiserver_web/live/moderation/banned_ip_live_test.exs
Due: mix-format, mix-dialyzer

Tailwind fix (#1298)
  assets/css/app.css
  assets/css/app_bs.css
  assets/js/app.js
  config/config.exs
  config/dev.exs
  lib/teiserver_web.ex
  lib/teiserver_web/components/layouts/root_bs.html.heex
  lib/teiserver_web/components/layouts/root_tw.html.heex
  mix.exs
Due: mix-format, mix-compile, mix-dialyzer

Path conditions:
  mix-format: any of: \.exs*$
  mix-compile: any of: \.ex$
  mix-dialyzer: any of: \.exs*$
