Repository beyond-all-reason/teiserver: changes, and which pre-commit hooks are due for each by the changed paths.
All: mix-format, mix-compile, mix-dialyzer

mix-format:
  name: 'elixir: mix format'
  entry: mix format --check-formatted
  language: system

mix-compile:
  name: 'elixir: mix compile'
  entry: mix compile --force
  language: system
  pass_filenames: false

mix-dialyzer:
  name: 'elixir: mix dialyzer'
  entry: mix dialyzer
  language: system
  pass_filenames: false

Added auth-check to new section links in moderation index (#1245)
  lib/teiserver_web/templates/moderation/general/index.html.heex
Due: none

refactor: lobby name validation tests
  test/support/fixtures/lobby.ex
  test/teiserver/coordinator/consul_commands_test.exs
  test/teiserver/lobby/libs/lobby_lib_test.exs
  test/teiserver/protocols/spring/spring_battle_host_test.exs
  test/teiserver/tachyon_lobby/lobby_test.exs
  test/teiserver_web/tachyon/lobby_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Fixed auth check for overwatch users, added overwatch link to main screen
  lib/teiserver_web/live/general/home/index.html.heex
  lib/teiserver_web/templates/moderation/general/index.html.heex
Due: none

Captalised task name
  lib/teiserver/moderation/tasks/load_vpns_task.ex
  lib/teiserver/startup.ex
Due: mix-format, mix-compile, mix-dialyzer

Fixed auth check for overwatch users, added overwatch link to main screen (#1246)
  lib/teiserver_web/live/general/home/index.html.heex
  lib/teiserver_web/templates/moderation/general/index.html.heex
Due: none

Add VPN list (#1244)
  lib/teiserver/data/cache_user.ex
  lib/teiserver/moderation.ex
  lib/teiserver/moderation/tasks/load_banned_ips_task.ex
  lib/teiserver/moderation/tasks/load_vpns_task.ex
  lib/teiserver/startup.ex
  test/support/fixtures/moderation_fixtures.ex
  test/teiserver/moderation/banned_domain_test.exs
  test/teiserver/moderation/banned_ip_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Rewrite tests to Bot ListView
  test/teiserver_web/controllers/admin/bot_controller_test.exs
  test/teiserver_web/live/admin/bot_live_test.exs
Due: mix-format, mix-dialyzer

Using Fluent builder for query. Fix responsiveness.
  lib/teiserver/chat/libs/direct_message_lib.ex
  lib/teiserver/chat/libs/lobby_message_lib.ex
  lib/teiserver/chat/libs/party_message_lib.ex
  lib/teiserver/chat/libs/room_message_lib.ex
  lib/teiserver/chat/libs/term_search.ex
  lib/teiserver_web/live/admin/chat/index.html.heex
  test/teiserver/chat/libs/term_search_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Fix formatting
  lib/teiserver_web/live/admin/chat/index.html.heex
Due: none

feat(devcontainer): set up development environment with Docker and VS Code integration
  .devcontainer/devcontainer-lock.json
  .devcontainer/devcontainer.json
  .devcontainer/startup.sh
  .gitignore
  Dockerfile.dev
  compose.yaml
Due: none

Follow-up #1160 - remove missed table columns
  lib/teiserver_web/live/battles/match/show.html.heex
Due: none

feat(devcontainer): update forwarded ports and PostgreSQL version in Docker configuration and other minor feedback
  .devcontainer/devcontainer.json
  compose.yaml
Due: none

feat(devcontainer): enhance startup process with new setup script
  .devcontainer/devcontainer.json
  .devcontainer/setup.sh
  .devcontainer/startup.sh
Due: none

Follow-up #1160 - remove missed table columns (#1249)
  lib/teiserver_web/live/battles/match/show.html.heex
Due: none

Add telemetry span around message_severity function (#1240)
  lib/teiserver/moderation/schemas/banned_phrase.ex
  lib/teiserver/monitoring/internal.ex
  lib/teiserver/prom_ex.ex
  lib/teiserver_web/telemetry.ex
Due: mix-format, mix-compile, mix-dialyzer

fix: remove alias commited during merge
  lib/teiserver/tachyon_lobby.ex
Due: mix-format, mix-compile, mix-dialyzer

Kick and ban support from lobby
  lib/teiserver/player/session.ex
  lib/teiserver/player/tachyon_handler.ex
  lib/teiserver/tachyon_lobby/lobby.ex
  lib/teiserver/tachyon_lobby/types/data.ex
  priv/tachyon/schema/lobby/kickban/request.json
  priv/tachyon/schema/lobby/kickban/response.json
  priv/tachyon/schema/lobby/left/event.json
Due: mix-format, mix-compile, mix-dialyzer

Delete without state. Refactoring. Helper method for generate client credentials
  assets/scss/custom/_styles.scss
  lib/teiserver/o_auth.ex
  lib/teiserver_web/live/admin/bot/form_component.ex
  lib/teiserver_web/live/admin/bot/index.ex
  lib/teiserver_web/live/admin/bot/index.html.heex
  lib/teiserver_web/live/admin/bot/show.ex
  lib/teiserver_web/live/admin/bot/show.html.heex
  lib/teiserver_web/router.ex
  test/teiserver_web/live/admin/bot_live_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Use correct IP check configuration
  lib/teiserver/ip_check/api.ex
  lib/teiserver/moderation/tasks/external_ip_check_task.ex
  test/teiserver/moderation/banned_ip_test.exs
  test/teiserver/moderation/tasks/external_ip_check_task_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Use correct IP check configuration (#1254)
  lib/teiserver/ip_check/api.ex
  lib/teiserver/moderation/tasks/external_ip_check_task.ex
  test/teiserver/moderation/banned_ip_test.exs
  test/teiserver/moderation/tasks/external_ip_check_task_test.exs
Due: mix-format, mix-compile, mix-dialyzer

feat(devcontainer): streamline setup script and enhance local setup documentation
  .devcontainer/setup.sh
  documents/guides/local_setup.md
Due: none

Fixed bad return from IP check api
  lib/teiserver/ip_check/api.ex
Due: mix-format, mix-compile, mix-dialyzer

Removed $meme commands
  lib/teiserver/coordinator/consul_commands.ex
  lib/teiserver/coordinator/consul_server.ex
  lib/teiserver/coordinator/coordinator_lib.ex
  lib/teiserver/coordinator/rikerss_memes.ex
Due: mix-format, mix-compile, mix-dialyzer

Fixed bad return from IP check api (#1255)
  lib/teiserver/ip_check/api.ex
Due: mix-format, mix-compile, mix-dialyzer

Fix credo, dialyzer and formatting
  lib/teiserver/player/session.ex
  lib/teiserver/player/tachyon_handler.ex
  lib/teiserver/tachyon_lobby.ex
  lib/teiserver/tachyon_lobby/lobby.ex
  lib/teiserver/tachyon_lobby/types/data.ex
Due: mix-format, mix-compile, mix-dialyzer

feat(tachyon): add lobby name validation for create and update (#1234)
  lib/teiserver/coordinator/consul_commands.ex
  lib/teiserver/lobby/libs/lobby_lib.ex
  lib/teiserver/tachyon_lobby.ex
  lib/teiserver/tachyon_lobby/lobby.ex
  test/teiserver/coordinator/consul_commands_test.exs
  test/teiserver/lobby/libs/lobby_lib_test.exs
  test/teiserver/protocols/spring/spring_battle_host_test.exs
  test/teiserver/tachyon_lobby/lobby_test.exs
  test/teiserver_web/tachyon/lobby_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Added MFA gate to $website command
  lib/teiserver/coordinator/coordinator_commands.ex
  test/teiserver/coordinator/coordinator_commands_async_test.exs
  test/teiserver/coordinator/coordinator_commands_sync_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Adding tests about kickban part 1
  test/teiserver/tachyon_lobby/lobby_test.exs
Due: mix-format, mix-dialyzer

Casesensitive and match whole word for admin/chat (#1222)
  lib/teiserver/chat/libs/direct_message_lib.ex
  lib/teiserver/chat/libs/lobby_message_lib.ex
  lib/teiserver/chat/libs/party_message_lib.ex
  lib/teiserver/chat/libs/room_message_lib.ex
  lib/teiserver/chat/libs/term_search.ex
  lib/teiserver/moderation/schemas/banned_phrase.ex
  lib/teiserver_web/live/admin/chat/index.ex
  lib/teiserver_web/live/admin/chat/index.html.heex
  test/support/fixtures/chat_fixtures.ex
  test/teiserver/chat/libs/term_search_test.exs
  test/teiserver/moderation/banned_phrase_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Added MFA gate to $website command (#1256)
  lib/teiserver/coordinator/coordinator_commands.ex
  test/teiserver/coordinator/coordinator_commands_async_test.exs
  test/teiserver/coordinator/coordinator_commands_sync_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Removed $meme commands (#1257)
  lib/teiserver/coordinator/consul_commands.ex
  lib/teiserver/coordinator/consul_server.ex
  lib/teiserver/coordinator/coordinator_lib.ex
  lib/teiserver/coordinator/rikerss_memes.ex
Due: mix-format, mix-compile, mix-dialyzer

Oauth code challenge is optional for confidential clients
  lib/teiserver_web/controllers/o_auth/authorize_controller.ex
  test/teiserver_web/controllers/o_auth/authorize_controller_test.exs
Due: mix-format, mix-compile, mix-dialyzer

feat(devcontainer): set up development environment devcontainer (#1248)
  .devcontainer/devcontainer-lock.json
  .devcontainer/devcontainer.json
  .devcontainer/setup.sh
  .devcontainer/startup.sh
  .gitignore
  Dockerfile.dev
  compose.yaml
  documents/guides/local_setup.md
Due: none

Adding tests abou kickban part 2
  test/teiserver/tachyon_lobby/lobby_test.exs
Due: mix-format, mix-dialyzer

Fix rejoin lobby after ban
  lib/teiserver/tachyon_lobby/lobby.ex
Due: mix-format, mix-compile, mix-dialyzer

Fix test SAYPRIVATE with special characters
  test/support/teiserver_test_lib.ex
  test/teiserver/protocols/spring/spring_auth_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Moderation actions start expiring after acknowledgement
  lib/teiserver/coordinator/coordinator_server.ex
  lib/teiserver/moderation/libs/action_lib.ex
  lib/teiserver/moderation/libs/test_lib.ex
  lib/teiserver/moderation/schemas/action.ex
  lib/teiserver/moderation/tasks/refresh_user_restrictions_task.ex
  lib/teiserver_web/controllers/moderation/action_controller.ex
  lib/teiserver_web/controllers/moderation/ban_controller.ex
  lib/teiserver_web/templates/moderation/action/form.html.heex
  lib/teiserver_web/templates/moderation/action/index.html.heex
  lib/teiserver_web/templates/moderation/action/tab_details.html.heex
  lib/teiserver_web/views/moderation/action_view.ex
  priv/repo/migrations/20260609103854_add_duration_to_moderation_actions.exs
  test/teiserver/moderation/moderation_test.exs
  test/teiserver_web/controllers/moderation/action_controller_test.exs
Due: mix-format, mix-compile, mix-dialyzer

fetch stats and ratings only for newly joined players
  lib/teiserver_web/live/battles/lobbies/show.ex
Due: mix-format, mix-compile, mix-dialyzer

Path conditions:
  mix-format: any of: \.exs*$
  mix-compile: any of: \.ex$
  mix-dialyzer: any of: \.exs*$
