Repository beyond-all-reason/teiserver: changes, and which pre-commit hooks are due for each by the changed paths.
All: mix-format, mix-compile, mix-dialyzer

.pre-commit-config.yaml:

---
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-merge-conflict
      - id: check-yaml
      - id: no-commit-to-branch
        args:
          - -b
          - master
          - -b
          - production
          - -b
          - staging
  - repo: local
    hooks:
      - id: mix-format
        name: "elixir: mix format"
        entry: mix format --check-formatted
        language: system
        files: \.exs*$
      - id: mix-compile
        name: "elixir: mix compile"
        entry: mix compile --force #--warnings-as-errors
        language: system
        pass_filenames: false
        files: \.ex$
      # - id: mix-credo
      #   name: "elixir: mix credo"
      #   entry: mix credo
      #   language: system
      #   pass_filenames: false
      #   files: \.exs*$
      - id: mix-dialyzer
        name: "elixir: mix dialyzer"
        entry: mix dialyzer
        language: system
        pass_filenames: false
        files: \.exs*$

Party event sourcing (#1459)
  lib/teiserver/party/event.ex
  lib/teiserver/party/events/leave.ex
  lib/teiserver/party/server.ex
  lib/teiserver/party/types/aggregate.ex
Due: mix-format, mix-compile, mix-dialyzer

Add ability to include arguments in consul commands (#1493)
  lib/teiserver/coordinator/consul_commands.ex
  lib/teiserver/protocols/spring/spring_in.ex
  test/teiserver/coordinator/quantum_command_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Typo fix and changed 300 second mfa refresh to be configurable
  lib/teiserver/account.ex
  lib/teiserver/account/libs/auth_lib.ex
  lib/teiserver/account/libs/user_lib.ex
  lib/teiserver_web/controllers/account/general_controller.ex
  test/teiserver/account/user_lib_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Updates user email change process (#1488)
  .dialyzer_ignore.exs
  lib/teiserver/account.ex
  lib/teiserver/account/libs/auth_lib.ex
  lib/teiserver/account/libs/user_lib.ex
  lib/teiserver/account/schemas/user.ex
  lib/teiserver/common/email_helper.ex
  lib/teiserver/logging/lib/logging_test_lib.ex
  lib/teiserver/protocols/spring/spring_in.ex
  lib/teiserver/protocols/spring/spring_out.ex
  lib/teiserver_web/components/layouts/public_tw.heex
  lib/teiserver_web/controllers/account/general_controller.ex
  lib/teiserver_web/controllers/account/session_controller.ex
  lib/teiserver_web/live/account/profile/edit.ex
  lib/teiserver_web/router.ex
  lib/teiserver_web/templates/account/general/mfa_refresh.heex
  lib/teiserver_web/templates/admin/user/tab_details.html.heex
  priv/repo/migrations/20260820084520_add_user_email_last-changed.exs
  test/teiserver/account/user_lib_test.exs
  test/teiserver/protocols/spring/spring_auth_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Use Large Team OS for Team FFA join restrictions (#1495)
  lib/teiserver/lobby/libs/lobby_restrictions.ex
  test/teiserver/lobby/libs/lobby_restrictions_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Adds the AntiAbuseRecord struct
  .dialyzer_ignore.exs
  lib/teiserver/account/scope.ex
  lib/teiserver/helpers/general_test_lib.ex
  lib/teiserver/logging/lib/audit_log_lib.ex
  lib/teiserver/logging/lib/logging_helpers.ex
  lib/teiserver/logging/lib/logging_plug.ex
  lib/teiserver/moderation.ex
  lib/teiserver/moderation/queries/anti_abuse_record_queries.ex
  lib/teiserver/moderation/schemas/anti_abuse_record.ex
  lib/teiserver_web/router.ex
  lib/teiserver_web/user_authentication.ex
  priv/repo/migrations/20260825101904_add_anti_abuse_record.exs
  test/support/fixtures/moderation_fixtures.ex
  test/teiserver/moderation/anti_abuse_record_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Entities created by other players are no longer forgotten
  lib/teiserver/account/tasks/gdpr_forget_task.ex
Due: mix-format, mix-compile, mix-dialyzer

Fix issue where users with no previous emails could not be shown
  lib/teiserver_web/templates/admin/user/tab_details.html.heex
Due: none

Fix issue where users with no previous emails could not be shown (#1499)
  lib/teiserver_web/templates/admin/user/tab_details.html.heex
Due: none

Entities created by other players are no longer forgotten (#1498)
  lib/teiserver/account/tasks/gdpr_forget_task.ex
Due: mix-format, mix-compile, mix-dialyzer

Fixed an audit log issue
  lib/teiserver/logging/lib/logging_helpers.ex
  test/teiserver/logging/audit_log_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Adds the AntiAbuseRecord struct (#1496)
  .dialyzer_ignore.exs
  lib/teiserver/account/scope.ex
  lib/teiserver/helpers/general_test_lib.ex
  lib/teiserver/logging/lib/audit_log_lib.ex
  lib/teiserver/logging/lib/logging_helpers.ex
  lib/teiserver/logging/lib/logging_plug.ex
  lib/teiserver/moderation.ex
  lib/teiserver/moderation/queries/anti_abuse_record_queries.ex
  lib/teiserver/moderation/schemas/anti_abuse_record.ex
  lib/teiserver_web/router.ex
  lib/teiserver_web/user_authentication.ex
  priv/repo/migrations/20260825101904_add_anti_abuse_record.exs
  test/support/fixtures/moderation_fixtures.ex
  test/teiserver/logging/audit_log_test.exs
  test/teiserver/moderation/anti_abuse_record_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Fix mobile ratings filter navigation
  lib/teiserver_web/live/battles/match/ratings.html.heex
  test/teiserver_web/live/battles/match/ratings_live_test.exs
Due: mix-format, mix-dialyzer

Fix ratings test lint issues
  test/teiserver_web/live/battles/match/ratings_live_test.exs
Due: mix-format, mix-dialyzer

Fixes an issue with local dev logger_plug
  lib/teiserver/logging/lib/logging_plug.ex
Due: mix-format, mix-compile, mix-dialyzer

Fix mobile ratings filter navigation (#1501)
  lib/teiserver_web/live/battles/match/ratings.html.heex
  test/teiserver_web/live/battles/match/ratings_live_test.exs
Due: mix-format, mix-dialyzer

Split out user changesets by tier
  lib/teiserver/account.ex
  lib/teiserver/account/libs/user_lib.ex
  lib/teiserver/account/schemas/user.ex
  lib/teiserver_web/controllers/admin/user_controller.ex
  test/teiserver/account/user_lib_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Fixes an issue with local dev logger_plug (#1502)
  lib/teiserver/logging/lib/logging_plug.ex
Due: mix-format, mix-compile, mix-dialyzer

Split out user changesets by tier (#1503)
  lib/teiserver/account.ex
  lib/teiserver/account/libs/user_lib.ex
  lib/teiserver/account/schemas/user.ex
  lib/teiserver_web/controllers/admin/user_controller.ex
  test/teiserver/account/user_lib_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Add matchmaking state to user/self event
  lib/teiserver/matchmaking.ex
  lib/teiserver/party/server.ex
  lib/teiserver/player/session.ex
  lib/teiserver/player/tachyon_handler.ex
  lib/teiserver/player/types/mm_pairing_state.ex
  lib/teiserver/player/types/mm_searching_state.ex
  test/teiserver_web/tachyon/matchmaking_test.exs
  test/teiserver_web/tachyon/user_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Improves the visual design of the smurf link page, fixes to scopes
  config/runtime.exs
  config/test.exs
  lib/teiserver/account/libs/auth_lib.ex
  lib/teiserver/helpers/general_test_lib.ex
  lib/teiserver/logging/lib/logging_helpers.ex
  lib/teiserver_web/components/admin/user_components.ex
  lib/teiserver_web/components/core_components.ex
  lib/teiserver_web/components/moderation/action_components.ex
  lib/teiserver_web/components/nav_components.ex
  lib/teiserver_web/controllers/moderation/action_controller.ex
  lib/teiserver_web/endpoint.ex
  lib/teiserver_web/live/moderation/action_live/smurf_link.ex
  lib/teiserver_web/live/moderation/action_live/smurf_link.html.heex
  lib/teiserver_web/live_components/user_picker.ex
  lib/teiserver_web/router.ex
  lib/teiserver_web/templates/moderation/action/index.html.heex
  lib/teiserver_web/user_authentication.ex
  test/teiserver_web/live/moderation/action_live/smurf_link_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Improves the visual design of the smurf link page, fixes to scopes (#1504)
  config/runtime.exs
  config/test.exs
  lib/teiserver/account/libs/auth_lib.ex
  lib/teiserver/helpers/general_test_lib.ex
  lib/teiserver/logging/lib/logging_helpers.ex
  lib/teiserver_web/components/admin/user_components.ex
  lib/teiserver_web/components/core_components.ex
  lib/teiserver_web/components/moderation/action_components.ex
  lib/teiserver_web/components/nav_components.ex
  lib/teiserver_web/controllers/moderation/action_controller.ex
  lib/teiserver_web/endpoint.ex
  lib/teiserver_web/live/moderation/action_live/smurf_link.ex
  lib/teiserver_web/live/moderation/action_live/smurf_link.html.heex
  lib/teiserver_web/live_components/user_picker.ex
  lib/teiserver_web/router.ex
  lib/teiserver_web/templates/moderation/action/index.html.heex
  lib/teiserver_web/user_authentication.ex
  test/teiserver_web/live/moderation/action_live/smurf_link_test.exs
Due: mix-format, mix-compile, mix-dialyzer

test: assert tachyon envelope errors
  test/teiserver/tachyon/schema_test.exs
Due: mix-format, mix-dialyzer

add modlobby
  lib/teiserver/protocols/spring/spring_in.ex
  test/teiserver/protocols/spring/spring_optimisation_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Correctly clean session state when getting kicked from lobby
  lib/teiserver/player.ex
  lib/teiserver/player/session.ex
  lib/teiserver/player/tachyon_handler.ex
  lib/teiserver/tachyon_lobby/events/kickban.ex
  lib/teiserver/tachyon_lobby/lobby.ex
  test/teiserver/tachyon_lobby/lobby_test.exs
  test/teiserver_web/tachyon/lobby_test.exs
Due: mix-format, mix-compile, mix-dialyzer

less magic values and some comments
  test/teiserver/protocols/spring/spring_optimisation_test.exs
Due: mix-format, mix-dialyzer

rm comment
  test/teiserver/protocols/spring/spring_optimisation_test.exs
Due: mix-format, mix-dialyzer

Fixes an issue with a splitlobby command and autohost DM receipt
  .dialyzer_ignore.exs
  lib/teiserver/battle/servers/match_monitor_server.ex
  lib/teiserver/coordinator/consul_commands.ex
  lib/teiserver/lobby.ex
  lib/teiserver_web/templates/admin/user/actions.html.heex
Due: mix-format, mix-compile, mix-dialyzer

Fixes an issue with a splitlobby command and autohost DM receipt (#1510)
  .dialyzer_ignore.exs
  lib/teiserver/battle/servers/match_monitor_server.ex
  lib/teiserver/coordinator/consul_commands.ex
  lib/teiserver/lobby.ex
  lib/teiserver_web/templates/admin/user/actions.html.heex
Due: mix-format, mix-compile, mix-dialyzer

Correctly clean session state when getting kicked from lobby (#1508)
  lib/teiserver/player.ex
  lib/teiserver/player/session.ex
  lib/teiserver/player/tachyon_handler.ex
  lib/teiserver/tachyon_lobby/events/kickban.ex
  lib/teiserver/tachyon_lobby/lobby.ex
  test/teiserver/tachyon_lobby/lobby_test.exs
  test/teiserver_web/tachyon/lobby_test.exs
Due: mix-format, mix-compile, mix-dialyzer

no multi alias
  test/teiserver/protocols/spring/spring_optimisation_test.exs
Due: mix-format, mix-dialyzer

Add a typedoc for self_state
  lib/teiserver/player/session.ex
Due: mix-format, mix-compile, mix-dialyzer

Adds web interface for viewing Anti-abuse records
  assets/css/app.css
  lib/teiserver/helpers/string_helper.ex
  lib/teiserver/moderation.ex
  lib/teiserver/moderation/queries/anti_abuse_record_queries.ex
  lib/teiserver_web/components/admin/admin_components.ex
  lib/teiserver_web/components/layouts/admin_tw.heex
  lib/teiserver_web/components/moderation_components.ex
  lib/teiserver_web/components/nav_components.ex
  lib/teiserver_web/controllers/admin/general_controller.ex
  lib/teiserver_web/live/admin/anti_abuse_record/list.ex
  lib/teiserver_web/live/admin/anti_abuse_record/list.html.heex
  lib/teiserver_web/live/admin/anti_abuse_record/show.ex
  lib/teiserver_web/live/admin/anti_abuse_record/show.html.heex
  lib/teiserver_web/live/admin/anti_abuse_record/warning.ex
  lib/teiserver_web/live/admin/menu_live.ex
  lib/teiserver_web/live/admin_dashboard/login_throttle.ex
  lib/teiserver_web/live/general/home/index.html.heex
  lib/teiserver_web/router.ex
  lib/teiserver_web/templates/admin/general/index.html.heex
  lib/teiserver_web/templates/moderation/general/index.html.heex
  lib/teiserver_web/user_authentication.ex
  mix.exs
  test/support/conn_case.ex
  test/support/fixtures/moderation_fixtures.ex
  test/teiserver/moderation/anti_abuse_record_test.exs
  test/teiserver_web/controllers/account/general_controller_test.exs
  test/teiserver_web/controllers/admin/general_controller_test.exs
  test/teiserver_web/live/admin/anti_abuse_record/list_test.exs
  test/teiserver_web/live/admin/anti_abuse_record/show_test.exs
  test/teiserver_web/live/admin/anti_abuse_record/warning_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Change privateBattle representation (tachyon)
  lib/teiserver/player/session.ex
  lib/teiserver/player/tachyon_handler.ex
  lib/teiserver/player/types/battle_state.ex
  priv/tachyon/schema/definitions/battleId.json
  priv/tachyon/schema/definitions/privateBattle.json
  priv/tachyon/schema/definitions/privateUser.json
  test/teiserver_web/tachyon/matchmaking_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Change privateBattle representation (tachyon) (#1513)
  lib/teiserver/player/session.ex
  lib/teiserver/player/tachyon_handler.ex
  lib/teiserver/player/types/battle_state.ex
  priv/tachyon/schema/definitions/battleId.json
  priv/tachyon/schema/definitions/privateBattle.json
  priv/tachyon/schema/definitions/privateUser.json
  test/teiserver_web/tachyon/matchmaking_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Adds web interface for viewing Anti-abuse records (#1511)
  assets/css/app.css
  lib/teiserver/helpers/string_helper.ex
  lib/teiserver/moderation.ex
  lib/teiserver/moderation/queries/anti_abuse_record_queries.ex
  lib/teiserver_web/components/admin/admin_components.ex
  lib/teiserver_web/components/layouts/admin_tw.heex
  lib/teiserver_web/components/moderation_components.ex
  lib/teiserver_web/components/nav_components.ex
  lib/teiserver_web/controllers/admin/general_controller.ex
  lib/teiserver_web/live/admin/anti_abuse_record/list.ex
  lib/teiserver_web/live/admin/anti_abuse_record/list.html.heex
  lib/teiserver_web/live/admin/anti_abuse_record/show.ex
  lib/teiserver_web/live/admin/anti_abuse_record/show.html.heex
  lib/teiserver_web/live/admin/anti_abuse_record/warning.ex
  lib/teiserver_web/live/admin/menu_live.ex
  lib/teiserver_web/live/admin_dashboard/login_throttle.ex
  lib/teiserver_web/live/general/home/index.html.heex
  lib/teiserver_web/router.ex
  lib/teiserver_web/templates/admin/general/index.html.heex
  lib/teiserver_web/templates/moderation/general/index.html.heex
  lib/teiserver_web/user_authentication.ex
  mix.exs
  test/support/conn_case.ex
  test/support/fixtures/moderation_fixtures.ex
  test/teiserver/moderation/anti_abuse_record_test.exs
  test/teiserver_web/controllers/account/general_controller_test.exs
  test/teiserver_web/controllers/admin/general_controller_test.exs
  test/teiserver_web/live/admin/anti_abuse_record/list_test.exs
  test/teiserver_web/live/admin/anti_abuse_record/show_test.exs
  test/teiserver_web/live/admin/anti_abuse_record/warning_test.exs
Due: mix-format, mix-compile, mix-dialyzer

rm test
  test/teiserver/protocols/spring/spring_optimisation_test.exs
Due: mix-format, mix-dialyzer

Add modlobby as available client (#1514)
  lib/teiserver/protocols/spring/spring_in.ex
Due: mix-format, mix-compile, mix-dialyzer

refactor player password for matchmaking
  lib/teiserver/autohost/types/player.ex
  lib/teiserver/matchmaking/pairing_room.ex
  lib/teiserver/player.ex
  lib/teiserver/player/session.ex
  lib/teiserver/player/types/mm_pairing_state.ex
Due: mix-format, mix-compile, mix-dialyzer

Centralise the logic to join a battle in player's session
  lib/teiserver/player/session.ex
Due: mix-format, mix-compile, mix-dialyzer
