Repository beyond-all-reason/teiserver: changes, and which pre-commit hooks are due for each by the changed paths.
All: mix-format, mix-compile, mix-dialyzer

.pre-commit-config.yaml:

---
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-merge-conflict
      - id: check-yaml
      - id: no-commit-to-branch
        args:
          - -b
          - master
          - -b
          - production
          - -b
          - staging
  - repo: local
    hooks:
      - id: mix-format
        name: "elixir: mix format"
        entry: mix format --check-formatted
        language: system
        files: \.exs*$
      - id: mix-compile
        name: "elixir: mix compile"
        entry: mix compile --force #--warnings-as-errors
        language: system
        pass_filenames: false
        files: \.ex$
      # - id: mix-credo
      #   name: "elixir: mix credo"
      #   entry: mix credo
      #   language: system
      #   pass_filenames: false
      #   files: \.exs*$
      - id: mix-dialyzer
        name: "elixir: mix dialyzer"
        entry: mix dialyzer
        language: system
        pass_filenames: false
        files: \.exs*$

fix unknown_type of list on lib/teiserver/account/libs/accolade_lib.ex
  .dialyzer_ignore.exs
  lib/teiserver/account/libs/accolade_lib.ex
Due: mix-format, mix-compile, mix-dialyzer

fix unknown_type on spec by switching to @spec preload(Ecto.Query.t(), list()
  .dialyzer_ignore.exs
  lib/teiserver/account/libs/badge_type_lib.ex
  lib/teiserver/account/libs/smurf_key_lib.ex
  lib/teiserver/account/libs/smurf_key_type_lib.ex
  lib/teiserver/battle/libs/match_lib.ex
  lib/teiserver/chat/libs/lobby_message_lib.ex
  lib/teiserver/chat/libs/party_message_lib.ex
  lib/teiserver/chat/libs/room_message_lib.ex
  lib/teiserver/clans/libs/clan_lib.ex
  lib/teiserver/communication/libs/text_callback_lib.ex
  lib/teiserver/game/libs/achievement_type_lib.ex
  lib/teiserver/game/libs/lobby_policy_lib.ex
  lib/teiserver/game/libs/rating_log_lib.ex
  lib/teiserver/game/libs/user_achievement_lib.ex
  lib/teiserver/moderation/libs/action_lib.ex
  lib/teiserver/moderation/libs/ban_lib.ex
  lib/teiserver/moderation/libs/proposal_lib.ex
  lib/teiserver/moderation/libs/report_lib.ex
  lib/teiserver/moderation/libs/response_lib.ex
  lib/teiserver/telemetry/libs/infolog_lib.ex
Due: mix-format, mix-compile, mix-dialyzer

fix unknown_type on spec by switching to @spec do_preload(Ecto.Query.t(), list()
  .dialyzer_ignore.exs
  lib/teiserver/account/queries/friend_queries.ex
  lib/teiserver/account/queries/friend_request_queries.ex
  lib/teiserver/account/queries/relationship_queries.ex
  lib/teiserver/account/queries/user_queries.ex
  lib/teiserver/chat/libs/direct_message_lib.ex
  lib/teiserver/microblog/queries/post_queries.ex
  lib/teiserver/moderation/queries/report_group_queries.ex
  lib/teiserver/telemetry/queries/anon_property_queries.ex
  lib/teiserver/telemetry/queries/complex_anon_event_queries.ex
  lib/teiserver/telemetry/queries/complex_client_event_queries.ex
  lib/teiserver/telemetry/queries/complex_client_event_type_queries.ex
  lib/teiserver/telemetry/queries/complex_lobby_event_queries.ex
  lib/teiserver/telemetry/queries/complex_lobby_event_type_queries.ex
  lib/teiserver/telemetry/queries/complex_match_event_queries.ex
  lib/teiserver/telemetry/queries/complex_match_event_type_queries.ex
  lib/teiserver/telemetry/queries/complex_server_event_queries.ex
  lib/teiserver/telemetry/queries/complex_server_event_type_queries.ex
  lib/teiserver/telemetry/queries/property_type_queries.ex
  lib/teiserver/telemetry/queries/simple_anon_event_queries.ex
  lib/teiserver/telemetry/queries/simple_client_event_queries.ex
  lib/teiserver/telemetry/queries/simple_client_event_type_queries.ex
  lib/teiserver/telemetry/queries/simple_lobby_event_queries.ex
  lib/teiserver/telemetry/queries/simple_lobby_event_type_queries.ex
  lib/teiserver/telemetry/queries/simple_match_event_queries.ex
  lib/teiserver/telemetry/queries/simple_match_event_type_queries.ex
  lib/teiserver/telemetry/queries/simple_server_event_queries.ex
  lib/teiserver/telemetry/queries/simple_server_event_type_queries.ex
  lib/teiserver/telemetry/queries/user_property_queries.ex
Due: mix-format, mix-compile, mix-dialyzer

fix unknown_type on spec by switching to @spec start_link(list())
  .dialyzer_ignore.exs
  lib/teiserver/account/accolades/accolade_bot_server.ex
  lib/teiserver/account/servers/client_server.ex
  lib/teiserver/account/servers/login_throttle_server.ex
  lib/teiserver/account/servers/party_server.ex
  lib/teiserver/battle/servers/match_monitor_server.ex
  lib/teiserver/bridge/bridge_server.ex
  lib/teiserver/coordinator/automod_server.ex
  lib/teiserver/coordinator/consul_server.ex
  lib/teiserver/coordinator/coordinator_server.ex
  lib/teiserver/data/lobby_id_server.ex
  lib/teiserver/game/servers/balancer_server.ex
  lib/teiserver/game/servers/lobby_policy_bot_server.ex
  lib/teiserver/game/servers/lobby_policy_organiser_server.ex
  lib/teiserver/lobby/servers/lobby_server.ex
Due: mix-format, mix-compile, mix-dialyzer

Fix port in development.md for HTTPS
  documents/guides/development.md
Due: none

dialyzer version bump to see if that fixes the issues
  mix.exs
  mix.lock
Due: mix-format, mix-dialyzer

align erlang OTP version with ansible-teiserver
  .github/workflows/dialyzer.yml
  .github/workflows/format.yml
  .github/workflows/tests.yml
  .tool-versions
  Dockerfile
  documents/guides/local_setup.md
  mise.toml
Due: none

switched to the erlang OTP version that I was able to pull from dockerhub for the purpose of testing ansible-teiserver
  .github/workflows/dialyzer.yml
  .github/workflows/format.yml
  .github/workflows/tests.yml
  .tool-versions
  Dockerfile
  documents/guides/local_setup.md
  mise.toml
Due: none

Split internal vs tachyon start script
  lib/teiserver/autohost.ex
  lib/teiserver/autohost/tachyon_handler.ex
  lib/teiserver/battle.ex
  lib/teiserver/matchmaking/pairing_room.ex
  lib/teiserver/tachyon_lobby/lobby.ex
  test/teiserver/tachyon_lobby/lobby_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Pull battleId out of start script
  lib/teiserver/autohost.ex
  lib/teiserver/autohost/tachyon_handler.ex
  lib/teiserver/battle.ex
  lib/teiserver/matchmaking/pairing_room.ex
  lib/teiserver/tachyon_battle.ex
  lib/teiserver/tachyon_battle/types.ex
  lib/teiserver/tachyon_lobby/lobby.ex
Due: mix-format, mix-compile, mix-dialyzer

update Dockerfile to match ansible-teiserver
  Dockerfile
Due: none

address review concerns
  lib/teiserver/coordinator.ex
  test/support/teiserver_test_lib.ex
Due: mix-format, mix-compile, mix-dialyzer

refactor: only run spring server on tests that require them (#881)
  config/test.exs
  lib/teiserver/account/servers/party_server.ex
  lib/teiserver/application.ex
  lib/teiserver/coordinator.ex
  lib/teiserver/helpers/string_helper.ex
  test/support/teiserver_test_lib.ex
  test/teiserver/battle/match_monitor_test.exs
  test/teiserver/chat/libs/word_lib_test.exs
  test/teiserver/lobby/commands/explain_command_test.exs
  test/teiserver/protocols/spring/spring_auth_test.exs
  test/teiserver/protocols/spring/spring_battle_host_test.exs
  test/teiserver/protocols/spring/spring_party_test.exs
  test/teiserver/protocols/spring/spring_raw_test.exs
  test/teiserver/protocols/spring/spring_regression_test.exs
  test/teiserver/protocols/spring/spring_telemetry_test.exs
  test/teiserver/servers/bridge_server_test.exs
  test/teiserver/servers/spring_tcp_server_test.exs
  test/teiserver_web/controllers/tachyon_controller_test.exs
  test/teiserver_web/live/battle_live_test.exs
  test/teiserver_web/live/client_live_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Fix a flaking test with pairing timeout
  lib/teiserver/matchmaking/pairing_room.ex
  test/teiserver_web/tachyon/matchmaking_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Add simple key-value store
  lib/teiserver/kv_store.ex
  lib/teiserver/kv_store/blob.ex
  lib/teiserver/kv_store/queries.ex
  priv/repo/migrations/20251222162422_add_blob_table.exs
  test/teiserver/kv_store/kv_store_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Add delete operations
  lib/teiserver/kv_store.ex
  lib/teiserver/kv_store/queries.ex
  test/teiserver/kv_store/kv_store_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Move metric server after tachyon is up.
  lib/teiserver/application.ex
Due: mix-format, mix-compile, mix-dialyzer

fix typo
  lib/teiserver/tachyon_lobby/lobby.ex
Due: mix-format, mix-compile, mix-dialyzer

Do not query players from within mm queue
  lib/teiserver/matchmaking/queue_server.ex
  lib/teiserver/party/server.ex
  test/teiserver/matchmaking/queue_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Do not query players from within mm queue (#892)
  lib/teiserver/matchmaking/queue_server.ex
  lib/teiserver/party/server.ex
  test/teiserver/matchmaking/queue_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Rename of CLan, Clans, ClanShema
  .dialyzer_ignore.exs
  lib/teiserver/account/schemas/user.ex
  lib/teiserver/clan.ex
  lib/teiserver/clan/libs/clan_invite_lib.ex
  lib/teiserver/clan/libs/clan_lib.ex
  lib/teiserver/clan/libs/clan_membership_lib.ex
  lib/teiserver/clan/schemas/clan_invite.ex
  lib/teiserver/clan/schemas/clan_membership.ex
  lib/teiserver/clan/schemas/clan_schema.ex
  lib/teiserver/coordinator/coordinator_server.ex
  lib/teiserver/data/client.ex
  lib/teiserver/protocols/spring/spring_in.ex
  lib/teiserver/tcp/spring/spring_tcp_server.ex
  lib/teiserver_web/views/account/general_view.ex
  lib/teiserver_web/views/admin/general_view.ex
  test/support/teiserver_test_lib.ex
Due: mix-format, mix-compile, mix-dialyzer

Fix Spring out event name
  lib/teiserver/telemetry/libs/telemetry_lib.ex
Due: mix-format, mix-compile, mix-dialyzer

Fix error when running `mise setup`
  mise.toml
Due: none

Use PGPASSWORD env variable in Mise `pg:setup` task
  mise.toml
Due: none

Rephrase message in Mise `pg:stop` task
  mise.toml
Due: none

Remove superfluous quotes in Mise `setup` task definition
  mise.toml
Due: none

teiserver_spring_in should no longer export user controlled labels for invalid commands
  lib/teiserver/protocols/spring/spring_in.ex
  lib/teiserver/tcp/spring/spring_tcp_server.ex
  test/support/teiserver_test_lib.ex
Due: mix-format, mix-compile, mix-dialyzer

Make unranked lobby restrictions configurable
  lib/teiserver/coordinator/consul_server.ex
  lib/teiserver/libs/teiserver_configs.ex
Due: mix-format, mix-compile, mix-dialyzer

Fix deprecation warning when executing `mise run setup:db`
  mise.toml
Due: none

Enable back warnings_as_errors option
  mix.exs
Due: mix-format, mix-dialyzer

Read Elixir and Erlang versions from mise.toml in GitHub workflows
  .github/workflows/dialyzer.yml
  .github/workflows/format.yml
  .github/workflows/tests.yml
Due: none

Add missing newline at the end of .github/workflows/tests.yml
  .github/workflows/tests.yml
Due: none

Fix deprecation warning when executing `mise run setup:db` (#897)
  mise.toml
Due: none

Add Mise task to run tests
  mise.toml
Due: none

Add Mise task to run server with debugging enabled
  documents/guides/development.md
  mise.toml
Due: none

Fix links to website in development guide
  documents/guides/development.md
Due: none

Fix delete_many for kv store when nothing is given
  lib/teiserver/kv_store/queries.ex
  test/teiserver/kv_store/kv_store_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Rename format GitHub workflow to lint
  .github/workflows/lint.yml
Due: none

Include Elixir and Erlang versions in GitHub workflow cache keys
  .github/workflows/lint.yml
Due: none
