Repository beyond-all-reason/teiserver: changes, and which pre-commit hooks are due for each by the changed paths.
All: mix-format, mix-compile, mix-dialyzer

.pre-commit-config.yaml:

---
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-merge-conflict
      - id: check-yaml
      - id: no-commit-to-branch
        args:
          - -b
          - master
          - -b
          - production
          - -b
          - staging
  - repo: local
    hooks:
      - id: mix-format
        name: "elixir: mix format"
        entry: mix format --check-formatted
        language: system
        files: \.exs*$
      - id: mix-compile
        name: "elixir: mix compile"
        entry: mix compile --force #--warnings-as-errors
        language: system
        pass_filenames: false
        files: \.ex$
      # - id: mix-credo
      #   name: "elixir: mix credo"
      #   entry: mix credo
      #   language: system
      #   pass_filenames: false
      #   files: \.exs*$
      - id: mix-dialyzer
        name: "elixir: mix dialyzer"
        entry: mix dialyzer
        language: system
        pass_filenames: false
        files: \.exs*$

Schema, queries and context for maps
  lib/teiserver/asset.ex
  lib/teiserver/asset/libs/map_lib.ex
  lib/teiserver/asset/queries/map_queries.ex
  lib/teiserver/asset/schemas/map.ex
  priv/repo/migrations/20250201165629_create_map_table.exs
  test/support/fixtures/asset.ex
  test/teiserver/asset/map_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Better error message when invalid input for maps
  lib/teiserver/asset.ex
  lib/teiserver/asset/libs/map_lib.ex
  lib/teiserver_web/controllers/api/admin/asset_controller.ex
  lib/teiserver_web/views/api/admin/asset_view.ex
Due: mix-format, mix-compile, mix-dialyzer

Convert the keys from api input to attr for ecto
  lib/teiserver_web/controllers/api/admin/asset_controller.ex
  test/teiserver_web/controllers/api/admin/asset_controller_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Remove placeholder code used in testing
  lib/teiserver_web/controllers/api/admin/asset_controller.ex
  lib/teiserver_web/router.ex
  test/teiserver_web/controllers/api/admin/asset_controller_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Update maps through the asset API
  lib/teiserver/asset.ex
  lib/teiserver/asset/libs/map_lib.ex
  lib/teiserver_web/controllers/api/admin/asset_controller.ex
  lib/teiserver_web/router.ex
  lib/teiserver_web/views/api/admin/asset_view.ex
  test/teiserver/asset/map_test.exs
  test/teiserver_web/controllers/api/admin/asset_controller_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Fix oauth app pages when there is no owner
  lib/teiserver_web/templates/admin/o_auth_application/index.html.heex
  lib/teiserver_web/templates/admin/o_auth_application/show.html.heex
Due: none

Use json schema to validate input
  lib/teiserver/asset.ex
  lib/teiserver_web/controllers/api/admin/asset_controller.ex
  test/teiserver_web/controllers/api/admin/asset_controller_test.exs
Due: mix-format, mix-compile, mix-dialyzer

run coordinator_commands_test async
  test/teiserver/coordinator/coordinator_commands_test.exs
Due: mix-format, mix-dialyzer

fix misspelled module name on QueueTest
  test/teiserver/matchmaking/queue_test.exs
Due: mix-format, mix-dialyzer

fix misspelled module name on QueueTest (#577)
  test/teiserver/matchmaking/queue_test.exs
Due: mix-format, mix-dialyzer

add coordinator_commands_test.exs (#575)
  test/teiserver/coordinator/coordinator_commands_test.exs
Due: mix-format, mix-dialyzer

Cleanup with function
  lib/teiserver_web/live/account/profile/overview.ex
Due: mix-format, mix-compile, mix-dialyzer

Fix crash when not logged in and viewing accolades
  lib/teiserver_web/live/account/profile/accolades.ex
Due: mix-format, mix-compile, mix-dialyzer

In progress work
  lib/teiserver/account/libs/accolade_lib.ex
  lib/teiserver/account/schemas/badge_type.ex
  lib/teiserver_web/live/battles/match/show.ex
  lib/teiserver_web/live/battles/match/show.html.heex
  priv/repo/migrations/20250206221410_add_accolade_restriction.exs
Due: mix-format, mix-compile, mix-dialyzer

Admin Quality-of-Life feature: deduplicated the list of users when using the quicksearch
  lib/teiserver_web/controllers/admin/user_controller.ex
Due: mix-format, mix-compile, mix-dialyzer

fix formatting
  lib/teiserver_web/controllers/admin/user_controller.ex
Due: mix-format, mix-compile, mix-dialyzer

Remove unused function
  lib/teiserver/o_auth/queries/application_query.ex
Due: mix-format, mix-compile, mix-dialyzer

Fix typo on module name
  lib/teiserver/mix_tasks/gen_token.ex
  lib/teiserver/o_auth/tasks/gen_token.ex
  test/teiserver/o_auth/gen_token_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Better UI to fill scopes for oauth apps
  lib/teiserver_web/components/core_components.ex
  lib/teiserver_web/components/o_auth_application/application_form.ex
  lib/teiserver_web/controllers/admin/o_auth_application_controller.ex
  lib/teiserver_web/templates/admin/o_auth_application/edit.html.heex
  lib/teiserver_web/templates/admin/o_auth_application/new.html.heex
  test/teiserver_web/controllers/admin/o_auth_application_controller_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Add a small doc about setup tachyon task
  documents/guides/local_setup.md
Due: none

Display scopes next to credentials
  lib/teiserver_web/templates/admin/bot/show.html.heex
Due: none

Mix task to create oauth apps for tachyon
  lib/teiserver/mix_tasks/tachyon_setup.ex
  lib/teiserver/tachyon/tasks/setup_apps.ex
  test/teiserver/tachyon/tasks/setup_apps_setup.exs
Due: mix-format, mix-compile, mix-dialyzer

Use new battle id type
  lib/teiserver/autohost.ex
Due: mix-format, mix-compile, mix-dialyzer

Battle system basics
  lib/teiserver/tachyon/system.ex
  lib/teiserver/tachyon_battle/system.ex
Due: mix-format, mix-compile, mix-dialyzer

Basics to start a battle server
  lib/teiserver/tachyon_battle.ex
  lib/teiserver/tachyon_battle/battle.ex
  lib/teiserver/tachyon_battle/registry.ex
  lib/teiserver/tachyon_battle/supervisor.ex
  lib/teiserver/tachyon_battle/system.ex
  lib/teiserver/tachyon_battle/types.ex
  test/teiserver/tachyon_battle/battle_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Battle registry
  lib/teiserver/tachyon_battle/registry.ex
  lib/teiserver/tachyon_battle/system.ex
Due: mix-format, mix-compile, mix-dialyzer

Move matchmaking system under tachyon
  lib/teiserver/application.ex
  lib/teiserver/tachyon/system.ex
Due: mix-format, mix-compile, mix-dialyzer

Some minor logging improvement: show pid in metadata
  config/config.exs
  lib/teiserver/matchmaking/pairing_room.ex
Due: mix-format, mix-compile, mix-dialyzer

Add a function to find a valid autohost
  lib/teiserver/autohost.ex
  lib/teiserver/autohost/registry.ex
  lib/teiserver/matchmaking/pairing_room.ex
  test/teiserver/autohost/autohost_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Move `setup_autohost` function in tachyon helper
  test/support/tachyon.ex
  test/teiserver_web/tachyon/matchmaking_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Start a battle goes through TachyonBattle
  lib/teiserver/autohost.ex
  lib/teiserver/autohost/tachyon_handler.ex
  lib/teiserver/matchmaking/pairing_room.ex
  lib/teiserver/tachyon_battle.ex
  lib/teiserver/tachyon_battle/battle.ex
  lib/teiserver/tachyon_battle/supervisor.ex
  lib/teiserver/tachyon_battle/types.ex
Due: mix-format, mix-compile, mix-dialyzer

Battle process dies if autohost is gone for too long
  lib/teiserver/tachyon_battle/battle.ex
  test/support/tachyon.ex
  test/teiserver/tachyon_battle/battle_test.exs
  test/teiserver_web/tachyon/battle_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Kill battle process after a while
  lib/teiserver/tachyon_battle/battle.ex
Due: mix-format, mix-compile, mix-dialyzer

increase default polling time
  test/support/tachyon.ex
Due: mix-format, mix-compile, mix-dialyzer

Fix #581
  lib/teiserver/o_auth.ex
  lib/teiserver_web/controllers/o_auth/code_controller.ex
  test/teiserver/o_auth/code_test.exs
  test/teiserver_web/controllers/o_auth/code_controller_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Change num matches to lose provisional rating to 20
  lib/teiserver/libs/teiserver_configs.ex
Due: mix-format, mix-compile, mix-dialyzer

Fix tests
  test/teiserver/game/libs/match_rating_lib_test.exs
Due: mix-format, mix-dialyzer

Update admin view to allow editing restriction
  lib/teiserver/account/libs/accolade_lib.ex
  lib/teiserver/account/libs/badge_type_lib.ex
  lib/teiserver_web/live/battles/match/show.ex
  lib/teiserver_web/live/battles/match/show.html.heex
  lib/teiserver_web/templates/admin/badge_type/form.html.heex
  lib/teiserver_web/templates/admin/badge_type/index.html.heex
  lib/teiserver_web/views/admin/badge_type_view.ex
  priv/repo/migrations/20250206221410_add_accolade_restriction.exs
Due: mix-format, mix-compile, mix-dialyzer

Add cancel button
  lib/teiserver_web/live/battles/match/show.ex
Due: mix-format, mix-compile, mix-dialyzer
