Repository beyond-all-reason/teiserver: changes, and which pre-commit hooks are due for each by the changed paths.
All: mix-format, mix-compile, mix-dialyzer

.pre-commit-config.yaml:

---
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-merge-conflict
      - id: check-yaml
      - id: no-commit-to-branch
        args:
          - -b
          - master
          - -b
          - production
          - -b
          - staging
  - repo: local
    hooks:
      - id: mix-format
        name: "elixir: mix format"
        entry: mix format --check-formatted
        language: system
        files: \.exs*$
      - id: mix-compile
        name: "elixir: mix compile"
        entry: mix compile --force #--warnings-as-errors
        language: system
        pass_filenames: false
        files: \.ex$
      # - id: mix-credo
      #   name: "elixir: mix credo"
      #   entry: mix credo
      #   language: system
      #   pass_filenames: false
      #   files: \.exs*$
      - id: mix-dialyzer
        name: "elixir: mix dialyzer"
        entry: mix dialyzer
        language: system
        pass_filenames: false
        files: \.exs*$

Adds 'overwatch tech' role under Staff
  lib/teiserver/account/libs/role_lib.ex
Due: mix-format, mix-compile, mix-dialyzer

Replaced all instances if icon central_component
  lib/teiserver/helpers/fontawesome.ex
  lib/teiserver_web/components/user_components.ex
  lib/teiserver_web/live/account/profile/accolades.ex
  lib/teiserver_web/live/account/profile/accolades.html.heex
  lib/teiserver_web/live/account/profile/profile_components.ex
  lib/teiserver_web/live/battles/match/show.ex
  lib/teiserver_web/templates/admin/accolade/user_index.html.heex
  lib/teiserver_web/templates/admin/badge_type/index.html.heex
  lib/teiserver_web/templates/admin/badge_type/show.html.heex
  lib/teiserver_web/templates/admin/discord_channel/show.html.heex
  lib/teiserver_web/templates/admin/lobby/lobby_chat.html.heex
  lib/teiserver_web/templates/admin/text_callback/index.html.heex
  lib/teiserver_web/templates/admin/user/index.html.heex
  lib/teiserver_web/templates/admin/user/relationships.html.heex
  lib/teiserver_web/templates/admin/user/show.html.heex
  lib/teiserver_web/templates/admin/user/smurf_list.html.heex
  lib/teiserver_web/templates/admin/user/smurf_merge_form.html.heex
  lib/teiserver_web/templates/battle/ratings/leaderboard.html.heex
  lib/teiserver_web/templates/component/detail_line.html.heex
  lib/teiserver_web/templates/component/icon.html.heex
  lib/teiserver_web/templates/component/section_menu_button.html.heex
  lib/teiserver_web/templates/component/sub_menu_icon.html.heex
  lib/teiserver_web/templates/logging/aggregate_view_log/show.html.heex
  lib/teiserver_web/templates/logging/match_log/day_metrics_show.html.heex
  lib/teiserver_web/templates/logging/match_log/month_metrics_show.html.heex
  lib/teiserver_web/templates/logging/match_log/month_metrics_today_show.html.heex
  lib/teiserver_web/templates/logging/page_view_log/show.html.heex
  lib/teiserver_web/templates/logging/server_log/metric_list.html.heex
  lib/teiserver_web/templates/logging/server_log/metric_show.html.heex
  lib/teiserver_web/templates/moderation/action/show.html.heex
  lib/teiserver_web/templates/moderation/ban/show.html.heex
  lib/teiserver_web/templates/moderation/report/show.html.heex
  lib/teiserver_web/templates/moderation/report/tab_against.html.heex
  lib/teiserver_web/templates/moderation/report/tab_from.html.heex
  lib/teiserver_web/templates/moderation/report/user.html.heex
  lib/teiserver_web/templates/report/report/accolades.html.heex
  lib/teiserver_web/templates/report/report/leaderboard.html.heex
  lib/teiserver_web/templates/report/report/review.html.heex
  lib/teiserver_web/templates/telemetry/infolog/index.html.heex
Due: mix-format, mix-compile, mix-dialyzer

Fix permissions on role form for senior moderators
  lib/teiserver_web/controllers/admin/user_controller.ex
  lib/teiserver_web/templates/admin/user/form.html.heex
Due: mix-format, mix-compile, mix-dialyzer

Fix permissions on role form for senior moderators (#1405)
  lib/teiserver_web/controllers/admin/user_controller.ex
  lib/teiserver_web/templates/admin/user/form.html.heex
Due: mix-format, mix-compile, mix-dialyzer

Removed menu_card central_component
  lib/teiserver_web/templates/account/general/index.html.heex
  lib/teiserver_web/templates/admin/tool/index.html.heex
  lib/teiserver_web/templates/admin/user/tab_overview.html.heex
  lib/teiserver_web/templates/battle/general/index.html.heex
  lib/teiserver_web/templates/component/menu_card.html.heex
  lib/teiserver_web/templates/logging/general/index.html.heex
  lib/teiserver_web/templates/moderation/general/index.html.heex
  lib/teiserver_web/templates/report/exports/index.html.heex
  lib/teiserver_web/templates/report/general/index.html.heex
Due: none

Changed Pro FontAwesome icons to their "closest" free siblings.
  lib/teiserver/account/libs/role_lib.ex
Due: mix-format, mix-compile, mix-dialyzer

Changed Pro FontAwesome icons to their "closest" free siblings. (#1409)
  lib/teiserver/account/libs/role_lib.ex
Due: mix-format, mix-compile, mix-dialyzer

Replaced all instances if icon central_component (#1381)
  lib/teiserver/helpers/fontawesome.ex
  lib/teiserver_web/components/user_components.ex
  lib/teiserver_web/live/account/profile/accolades.ex
  lib/teiserver_web/live/account/profile/accolades.html.heex
  lib/teiserver_web/live/account/profile/profile_components.ex
  lib/teiserver_web/live/battles/match/show.ex
  lib/teiserver_web/templates/admin/accolade/user_index.html.heex
  lib/teiserver_web/templates/admin/badge_type/index.html.heex
  lib/teiserver_web/templates/admin/badge_type/show.html.heex
  lib/teiserver_web/templates/admin/discord_channel/show.html.heex
  lib/teiserver_web/templates/admin/lobby/lobby_chat.html.heex
  lib/teiserver_web/templates/admin/text_callback/index.html.heex
  lib/teiserver_web/templates/admin/user/index.html.heex
  lib/teiserver_web/templates/admin/user/relationships.html.heex
  lib/teiserver_web/templates/admin/user/show.html.heex
  lib/teiserver_web/templates/admin/user/smurf_list.html.heex
  lib/teiserver_web/templates/admin/user/smurf_merge_form.html.heex
  lib/teiserver_web/templates/battle/ratings/leaderboard.html.heex
  lib/teiserver_web/templates/component/detail_line.html.heex
  lib/teiserver_web/templates/component/icon.html.heex
  lib/teiserver_web/templates/component/section_menu_button.html.heex
  lib/teiserver_web/templates/component/sub_menu_icon.html.heex
  lib/teiserver_web/templates/logging/aggregate_view_log/show.html.heex
  lib/teiserver_web/templates/logging/match_log/day_metrics_show.html.heex
  lib/teiserver_web/templates/logging/match_log/month_metrics_show.html.heex
  lib/teiserver_web/templates/logging/match_log/month_metrics_today_show.html.heex
  lib/teiserver_web/templates/logging/page_view_log/show.html.heex
  lib/teiserver_web/templates/logging/server_log/metric_list.html.heex
  lib/teiserver_web/templates/logging/server_log/metric_show.html.heex
  lib/teiserver_web/templates/moderation/action/show.html.heex
  lib/teiserver_web/templates/moderation/ban/show.html.heex
  lib/teiserver_web/templates/moderation/report/show.html.heex
  lib/teiserver_web/templates/moderation/report/tab_against.html.heex
  lib/teiserver_web/templates/moderation/report/tab_from.html.heex
  lib/teiserver_web/templates/moderation/report/user.html.heex
  lib/teiserver_web/templates/report/report/accolades.html.heex
  lib/teiserver_web/templates/report/report/leaderboard.html.heex
  lib/teiserver_web/templates/report/report/review.html.heex
  lib/teiserver_web/templates/telemetry/infolog/index.html.heex
Due: mix-format, mix-compile, mix-dialyzer

Remove sub_menu_icon central_component
  lib/teiserver_web/templates/component/sub_menu_icon.html.heex
  lib/teiserver_web/templates/logging/general/sub_menu.html.heex
  lib/teiserver_web/templates/moderation/general/sub_menu.html.heex
  lib/teiserver_web/templates/report/general/sub_menu.html.heex
Due: none

Allow senior moderators to add/remove the Reviewer role
  lib/teiserver/account/libs/role_lib.ex
Due: mix-format, mix-compile, mix-dialyzer

Remove sub_menu_icon central_component (#1407)
  lib/teiserver_web/templates/component/sub_menu_icon.html.heex
  lib/teiserver_web/templates/logging/general/sub_menu.html.heex
  lib/teiserver_web/templates/moderation/general/sub_menu.html.heex
  lib/teiserver_web/templates/report/general/sub_menu.html.heex
Due: none

Removed menu_card central_component (#1406)
  lib/teiserver_web/templates/account/general/index.html.heex
  lib/teiserver_web/templates/admin/tool/index.html.heex
  lib/teiserver_web/templates/admin/user/tab_overview.html.heex
  lib/teiserver_web/templates/battle/general/index.html.heex
  lib/teiserver_web/templates/component/menu_card.html.heex
  lib/teiserver_web/templates/logging/general/index.html.heex
  lib/teiserver_web/templates/moderation/general/index.html.heex
  lib/teiserver_web/templates/report/exports/index.html.heex
  lib/teiserver_web/templates/report/general/index.html.heex
Due: none

Replace cental_component detail_line with a Phoenix component
  lib/teiserver_web.ex
  lib/teiserver_web/components/detail_line.ex
  lib/teiserver_web/templates/admin/badge_type/tab_details.html.heex
  lib/teiserver_web/templates/admin/discord_channel/tab_details.html.heex
  lib/teiserver_web/templates/admin/user/tab_details.html.heex
  lib/teiserver_web/templates/component/detail_line.html.heex
  lib/teiserver_web/templates/logging/aggregate_view_log/tab_details.html.heex
  lib/teiserver_web/templates/logging/audit_log/show.html.heex
  lib/teiserver_web/templates/logging/match_log/tab_bots.html.heex
  lib/teiserver_web/templates/logging/match_log/tab_details.html.heex
  lib/teiserver_web/templates/logging/match_log/tab_duel.html.heex
  lib/teiserver_web/templates/logging/match_log/tab_ffa.html.heex
  lib/teiserver_web/templates/logging/match_log/tab_month_details.html.heex
  lib/teiserver_web/templates/logging/match_log/tab_raptors.html.heex
  lib/teiserver_web/templates/logging/match_log/tab_scavengers.html.heex
  lib/teiserver_web/templates/logging/match_log/tab_team.html.heex
  lib/teiserver_web/templates/logging/page_view_log/tab_details.html.heex
  lib/teiserver_web/templates/logging/server_log/tab_details.html.heex
  lib/teiserver_web/templates/logging/server_log/tab_month_details.html.heex
  lib/teiserver_web/templates/moderation/report/tab_user_details.html.heex
  lib/teiserver_web/templates/report/report/review.html.heex
Due: mix-format, mix-compile, mix-dialyzer

Allow senior moderators to add/remove the Reviewer role (#1410)
  lib/teiserver/account/libs/role_lib.ex
Due: mix-format, mix-compile, mix-dialyzer

Replace cental_component detail_line with a Phoenix component (#1389)
  lib/teiserver_web.ex
  lib/teiserver_web/components/detail_line.ex
  lib/teiserver_web/templates/admin/badge_type/tab_details.html.heex
  lib/teiserver_web/templates/admin/discord_channel/tab_details.html.heex
  lib/teiserver_web/templates/admin/user/tab_details.html.heex
  lib/teiserver_web/templates/component/detail_line.html.heex
  lib/teiserver_web/templates/logging/aggregate_view_log/tab_details.html.heex
  lib/teiserver_web/templates/logging/audit_log/show.html.heex
  lib/teiserver_web/templates/logging/match_log/tab_bots.html.heex
  lib/teiserver_web/templates/logging/match_log/tab_details.html.heex
  lib/teiserver_web/templates/logging/match_log/tab_duel.html.heex
  lib/teiserver_web/templates/logging/match_log/tab_ffa.html.heex
  lib/teiserver_web/templates/logging/match_log/tab_month_details.html.heex
  lib/teiserver_web/templates/logging/match_log/tab_raptors.html.heex
  lib/teiserver_web/templates/logging/match_log/tab_scavengers.html.heex
  lib/teiserver_web/templates/logging/match_log/tab_team.html.heex
  lib/teiserver_web/templates/logging/page_view_log/tab_details.html.heex
  lib/teiserver_web/templates/logging/server_log/tab_details.html.heex
  lib/teiserver_web/templates/logging/server_log/tab_month_details.html.heex
  lib/teiserver_web/templates/moderation/report/tab_user_details.html.heex
  lib/teiserver_web/templates/report/report/review.html.heex
Due: mix-format, mix-compile, mix-dialyzer

Removes picker and picker_script components
  lib/teiserver_web/templates/account/general/picker.html.heex
  lib/teiserver_web/templates/account/user/picker.html.heex
  lib/teiserver_web/templates/component/picker_script.html.heex
  lib/teiserver_web/templates/logging/audit_log/search.html.heex
  lib/teiserver_web/templates/logging/page_view_log/search.html.heex
  lib/teiserver_web/templates/logging/page_view_log/search_list.html.heex
  lib/teiserver_web/templates/logging/page_view_log/search_report.html.heex
  lib/teiserver_web/templates/moderation/action/new_select.html.heex
  lib/teiserver_web/templates/moderation/action/section_menu.html.heex
  lib/teiserver_web/templates/moderation/ban/new_select.html.heex
  lib/teiserver_web/templates/moderation/ban/section_menu.html.heex
  lib/teiserver_web/templates/report/report/time_compare.html.heex
  lib/teiserver_web/templates/report/report/time_spent.html.heex
  test/teiserver_web/controllers/moderation/action_controller_test.exs
  test/teiserver_web/controllers/moderation/ban_controller_test.exs
Due: mix-format, mix-dialyzer

Fix multiple Internal Server Errors
  lib/teiserver/account/libs/user_lib.ex
  lib/teiserver/logging/lib/logging_plug.ex
Due: mix-format, mix-compile, mix-dialyzer

Removed icon_dropdown
  assets/scss/custom/_variables_dark.scss
  assets/scss/custom/_variables_light.scss
  lib/teiserver_web/templates/admin/badge_type/form.html.heex
  lib/teiserver_web/templates/admin/discord_channel/form.html.heex
  lib/teiserver_web/templates/admin/match/search.html.heex
  lib/teiserver_web/templates/admin/site_config/edit.html.heex
  lib/teiserver_web/templates/admin/text_callback/form.html.heex
  lib/teiserver_web/templates/admin/user/search.html.heex
  lib/teiserver_web/templates/component/icon_dropdown.html.heex
  lib/teiserver_web/templates/component/icon_dropdown_js.html.heex
  lib/teiserver_web/templates/logging/match_log/export_form.html.heex
  lib/teiserver_web/templates/logging/page_view_log/search.html.heex
  lib/teiserver_web/templates/moderation/action/search.html.heex
  lib/teiserver_web/templates/moderation/ban/search.html.heex
  lib/teiserver_web/templates/moderation/report/search.html.heex
  lib/teiserver_web/templates/telemetry/complex_client_event/export_form.html.heex
  lib/teiserver_web/templates/telemetry/complex_lobby_event/export_form.html.heex
  lib/teiserver_web/templates/telemetry/complex_match_event/export_form.html.heex
  lib/teiserver_web/templates/telemetry/complex_server_event/export_form.html.heex
  lib/teiserver_web/templates/telemetry/infolog/search.html.heex
  lib/teiserver_web/templates/telemetry/property/export_form.html.heex
  lib/teiserver_web/templates/telemetry/simple_client_event/export_form.html.heex
  lib/teiserver_web/templates/telemetry/simple_lobby_event/export_form.html.heex
  lib/teiserver_web/templates/telemetry/simple_match_event/export_form.html.heex
  lib/teiserver_web/templates/telemetry/simple_server_event/export_form.html.heex
  priv/static/css/select2.css
  priv/static/js/select2.js
Due: none

Fix admin ratings pagination
  lib/teiserver_web/controllers/admin/user_controller.ex
Due: mix-format, mix-compile, mix-dialyzer

Adds extra info to make it smoother for those working with devcontainers.
  documents/guides/development.md
Due: none

Use ceil(log2(n+1)) for bit length, and update tests
  lib/teiserver/common/bit_parse.ex
  test/teiserver/common/test_bit_parse_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Fix admin ratings pagination (#1420)
  lib/teiserver_web/controllers/admin/user_controller.ex
Due: mix-format, mix-compile, mix-dialyzer

Fix site config account registration mode text
  lib/teiserver/libs/teiserver_configs.ex
Due: mix-format, mix-compile, mix-dialyzer

Removed the 'generic' docker command portion
  documents/guides/development.md
Due: none

Reject obviously incorrect user ids
  lib/teiserver/account/libs/user_lib.ex
  lib/teiserver/account/schemas/user.ex
  test/teiserver/account/user_lib_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Only log the route, not the actual path
  lib/teiserver/logging/lib/logging_plug.ex
Due: mix-format, mix-compile, mix-dialyzer

Prefer monotonic time when calculating duration
  lib/teiserver/logging/lib/logging_plug.ex
Due: mix-format, mix-compile, mix-dialyzer

Reject obviously incorrect user ids (#1425)
  lib/teiserver/account/libs/user_lib.ex
  lib/teiserver/account/schemas/user.ex
  test/teiserver/account/user_lib_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Small logging view improvements (#1424)
  lib/teiserver/logging/lib/logging_plug.ex
Due: mix-format, mix-compile, mix-dialyzer

Fix multiple Internal Server Errors
  lib/teiserver/account/libs/user_lib.ex
  lib/teiserver/logging/lib/logging_plug.ex
  test/teiserver/account/user_lib_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Avoid timeout race in party invites
  lib/teiserver/player/session.ex
Due: mix-format, mix-compile, mix-dialyzer

Avoid timeout race in party invites (#1426)
  lib/teiserver/player/session.ex
Due: mix-format, mix-compile, mix-dialyzer

Add info to the development guide to make it a bit smoother for those using devcontainers (#1421)
  documents/guides/development.md
Due: none

list allowed origins
  config/config.exs
  config/runtime.exs
Due: mix-format, mix-dialyzer

silence error about invalid origins
  lib/teiserver/application.ex
  lib/teiserver/logging.ex
  lib/teiserver/logging/filter.ex
Due: mix-format, mix-compile, mix-dialyzer

queue shutdown isn't an error when leaving the queue
  lib/teiserver/matchmaking/queue_server.ex
Due: mix-format, mix-compile, mix-dialyzer

Some small cleanup
  test/support/tachyon.ex
  test/teiserver_web/tachyon/party_matchmaking_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Add failing test for matchmaking issue in party
  test/teiserver_web/tachyon/party_matchmaking_test.exs
Due: mix-format, mix-dialyzer
