Repository beyond-all-reason/teiserver: changes, and which pre-commit hooks are due for each by the changed paths.
All: mix-format, mix-compile, mix-dialyzer

.pre-commit-config.yaml:

---
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-merge-conflict
      - id: check-yaml
      - id: no-commit-to-branch
        args:
          - -b
          - master
          - -b
          - production
          - -b
          - staging
  - repo: local
    hooks:
      - id: mix-format
        name: "elixir: mix format"
        entry: mix format --check-formatted
        language: system
        files: \.exs*$
      - id: mix-compile
        name: "elixir: mix compile"
        entry: mix compile --force #--warnings-as-errors
        language: system
        pass_filenames: false
        files: \.ex$
      # - id: mix-credo
      #   name: "elixir: mix credo"
      #   entry: mix credo
      #   language: system
      #   pass_filenames: false
      #   files: \.exs*$
      - id: mix-dialyzer
        name: "elixir: mix dialyzer"
        entry: mix dialyzer
        language: system
        pass_filenames: false
        files: \.exs*$

Revert for changes
  lib/teiserver/matchmaking/pairing_room.ex
Due: mix-format, mix-compile, mix-dialyzer

Randomly generated map names
  test/support/fixtures/asset.ex
  test/teiserver_web/tachyon/matchmaking_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Add create_or_update_map to AssetFixtures
  test/support/fixtures/asset.ex
Due: mix-format, mix-compile, mix-dialyzer

Use map pool in matchmaking
  lib/teiserver/asset.ex
  lib/teiserver/asset/queries/map_queries.ex
  lib/teiserver/matchmaking/pairing_room.ex
  lib/teiserver/matchmaking/queue_server.ex
  lib/teiserver/matchmaking/queue_supervisor.ex
  lib/teiserver/player/tachyon_handler.ex
  priv/tachyon/schema/matchmaking/list/request.json
  priv/tachyon/schema/matchmaking/list/response.json
  test/teiserver_web/tachyon/matchmaking_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Remove async from QueueTeset
  test/teiserver/matchmaking/queue_test.exs
Due: mix-format, mix-dialyzer

Fix queue_test
  test/teiserver/matchmaking/queue_test.exs
  test/teiserver_web/tachyon/matchmaking_test.exs
Due: mix-format, mix-dialyzer

User map pool, games and engines in matchmaking (#601)
  lib/teiserver/asset.ex
  lib/teiserver/asset/queries/map_queries.ex
  lib/teiserver/matchmaking/pairing_room.ex
  lib/teiserver/matchmaking/queue_server.ex
  lib/teiserver/player/tachyon_handler.ex
  priv/tachyon/schema/matchmaking/list/request.json
  priv/tachyon/schema/matchmaking/list/response.json
  test/support/fixtures/asset.ex
  test/teiserver/matchmaking/queue_test.exs
  test/teiserver_web/tachyon/matchmaking_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Create party through spring
  lib/teiserver/protocols/spring/spring_in.ex
  lib/teiserver/protocols/spring/spring_party_in.ex
  test/teiserver/protocols/spring/spring_party_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Extract parsing of message
  lib/teiserver/protocols/spring/spring_in.ex
Due: mix-format, mix-compile, mix-dialyzer

Make tau configurable by admin
  lib/teiserver/config.ex
  lib/teiserver/game/libs/match_rating_lib.ex
  lib/teiserver/libs/teiserver_configs.ex
  test/teiserver/game/libs/match_rating_lib_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Implement user/info
  lib/teiserver/player.ex
  lib/teiserver/player/session.ex
  lib/teiserver/player/tachyon_handler.ex
  priv/tachyon/schema/definitions/user.json
  priv/tachyon/schema/user/info/request.json
  priv/tachyon/schema/user/info/response.json
Due: mix-format, mix-compile, mix-dialyzer

Ensure matchmaking queues are terminated after the tests
  lib/teiserver/matchmaking/queue_supervisor.ex
  test/teiserver_web/tachyon/matchmaking_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Correct error for unsupported grant type
  lib/teiserver_web/controllers/o_auth/code_controller.ex
  test/teiserver_web/controllers/o_auth/code_controller_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Return 401 if oauth credentials are invalid
  lib/teiserver_web/controllers/o_auth/code_controller.ex
  lib/teiserver_web/views/api/o_auth/code_view.ex
  test/teiserver_web/controllers/o_auth/code_controller_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Support for scopes when creating a token
  lib/teiserver/o_auth.ex
  lib/teiserver_web/controllers/o_auth/code_controller.ex
  test/support/fixtures/o_auth/o_auth_fixtures.ex
  test/teiserver/o_auth/credential_test.exs
  test/teiserver/o_auth/token_test.exs
  test/teiserver_web/controllers/o_auth/code_controller_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Fix scope detection for client credentials
  lib/teiserver_web/controllers/o_auth/code_controller.ex
  test/teiserver_web/controllers/o_auth/code_controller_test.exs
Due: mix-format, mix-compile, mix-dialyzer

display creation date in list of credentials for bots
  lib/teiserver/o_auth/queries/credential_query.ex
  lib/teiserver_web/templates/admin/bot/show.html.heex
Due: mix-format, mix-compile, mix-dialyzer

Invite to party
  lib/teiserver/protocols/spring/spring_out.ex
  lib/teiserver/protocols/spring/spring_party_in.ex
  lib/teiserver/protocols/spring/spring_party_out.ex
  lib/teiserver/tcp/spring/spring_tcp_server.ex
  test/teiserver/protocols/spring/spring_party_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Accept invite to party
  lib/teiserver/account/servers/party_server.ex
  lib/teiserver/protocols/spring/spring_party_in.ex
  lib/teiserver/protocols/spring/spring_party_out.ex
  lib/teiserver/tcp/spring/spring_tcp_server.ex
  test/teiserver/protocols/spring/spring_party_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Decline invite
  lib/teiserver/account/servers/party_server.ex
  lib/teiserver/protocols/spring/spring_party_in.ex
  lib/teiserver/protocols/spring/spring_party_out.ex
  test/teiserver/protocols/spring/spring_party_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Send joined_party messages at creation of party
  lib/teiserver/protocols/spring/spring_party_in.ex
  test/teiserver/protocols/spring/spring_party_test.exs
Due: mix-format, mix-compile, mix-dialyzer

leaving party
  lib/teiserver/account/servers/party_server.ex
  lib/teiserver/protocols/spring/spring_party_in.ex
  lib/teiserver/protocols/spring/spring_party_out.ex
  test/teiserver/protocols/spring/spring_party_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Can't invite if not in the party
  lib/teiserver/protocols/spring/spring_party_in.ex
  test/teiserver/protocols/spring/spring_party_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Send member_added message after invite
  lib/teiserver/account/servers/party_server.ex
  lib/teiserver/protocols/spring/spring_party_in.ex
  test/teiserver/protocols/spring/spring_party_test.exs
Due: mix-format, mix-compile, mix-dialyzer

broadcast messages on invite cancellation
  lib/teiserver/protocols/spring/spring_party_in.ex
  test/teiserver/protocols/spring/spring_party_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Change section, prevent sigma increase
  lib/teiserver/game/libs/match_rating_lib.ex
  lib/teiserver/libs/teiserver_configs.ex
  test/teiserver/game/libs/match_rating_lib_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Fix error on empty balance
  lib/teiserver_web/controllers/api/spads_controller.ex
  test/teiserver_web/controllers/api/spads_controller_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Fix error on empty balance (#609)
  lib/teiserver_web/controllers/api/spads_controller.ex
  test/teiserver_web/controllers/api/spads_controller_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Make tau configurable by admin (#608)
  lib/teiserver/config.ex
  lib/teiserver/game/libs/match_rating_lib.ex
  lib/teiserver/libs/teiserver_configs.ex
  test/teiserver/game/libs/match_rating_lib_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Add a test with more than 2 players
  lib/teiserver/protocols/spring/spring_out.ex
  lib/teiserver/protocols/spring/spring_party_out.ex
  test/teiserver/protocols/spring/spring_party_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Upgrade elixir to 1.18
  .tool-versions
Due: none

Remove libcluster
  mix.exs
  mix.lock
Due: mix-format, mix-dialyzer

upgrade credo
  mix.exs
  mix.lock
Due: mix-format, mix-dialyzer

Remove deprecated heex syntaxe uses
  lib/teiserver/helpers/string_helper.ex
  lib/teiserver_web/components/layouts/root.html.heex
  lib/teiserver_web/live/admin_dashboard/index.html.heex
  lib/teiserver_web/live/admin_dashboard/login_throttle.html.heex
  lib/teiserver_web/live/admin_dashboard/policy.html.heex
  lib/teiserver_web/live/battles/lobbies/chat.html.heex
  lib/teiserver_web/live/battles/lobbies/index.html.heex
  lib/teiserver_web/live/battles/lobbies/show.html.heex
  lib/teiserver_web/live/clients/index.html.heex
  lib/teiserver_web/live/clients/show.html.heex
  lib/teiserver_web/live/components/player_list_component.ex
  lib/teiserver_web/live/queues/index.html.heex
  lib/teiserver_web/live/queues/show.html.heex
  lib/teiserver_web/live/tournament/index.html.heex
  lib/teiserver_web/live/tournament/show.html.heex
  lib/teiserver_web/templates/component/fa5_icon_picker.html.heex
  lib/teiserver_web/templates/report/report/tournament.html.heex
Due: mix-format, mix-compile, mix-dialyzer

Upgrade timex
  mix.exs
  mix.lock
Due: mix-format, mix-dialyzer

Fix upgrade breakage for phoenix_html
  lib/central/input_helper.ex
  lib/teiserver_web/teiserver_web.ex
  lib/teiserver_web/templates/report/report/tournament.html.heex
  lib/teiserver_web/views/error_helpers.ex
Due: mix-format, mix-compile, mix-dialyzer

upgrade horde
  mix.exs
  mix.lock
Due: mix-format, mix-dialyzer

upgrade phoenix_live_reload
  mix.exs
  mix.lock
Due: mix-format, mix-dialyzer

upgrade dart_sass
  mix.exs
Due: mix-format, mix-dialyzer

upgrade websocket_sync_client
  mix.exs
  mix.lock
Due: mix-format, mix-dialyzer
