Repository beyond-all-reason/teiserver: changes, and which pre-commit hooks are due for each by the changed paths.
All: mix-format, mix-compile, mix-dialyzer

.pre-commit-config.yaml:

---
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-merge-conflict
      - id: check-yaml
      - id: no-commit-to-branch
        args:
          - -b
          - master
          - -b
          - production
          - -b
          - staging
  - repo: local
    hooks:
      - id: mix-format
        name: "elixir: mix format"
        entry: mix format --check-formatted
        language: system
        files: \.exs*$
      - id: mix-compile
        name: "elixir: mix compile"
        entry: mix compile --force #--warnings-as-errors
        language: system
        pass_filenames: false
        files: \.ex$
      # - id: mix-credo
      #   name: "elixir: mix credo"
      #   entry: mix credo
      #   language: system
      #   pass_filenames: false
      #   files: \.exs*$
      - id: mix-dialyzer
        name: "elixir: mix dialyzer"
        entry: mix dialyzer
        language: system
        pass_filenames: false
        files: \.exs*$

User user.restrictions instead of user.data.restrictions (#1128)
  .dialyzer_ignore.exs
  documents/guides/plugins.md
  lib/teiserver/account.ex
  lib/teiserver/account/auth.ex
  lib/teiserver/account/caches/user_cache_lib.ex
  lib/teiserver/account/libs/accolade_lib.ex
  lib/teiserver/account/libs/party_lib.ex
  lib/teiserver/account/libs/user_lib.ex
  lib/teiserver/account/plugs/auth_plug.ex
  lib/teiserver/account/reports/new_smurf_report.ex
  lib/teiserver/bridge/bridge_server.ex
  lib/teiserver/chat/chat_room_cache.ex
  lib/teiserver/coordinator/automod_server.ex
  lib/teiserver/coordinator/consul_commands.ex
  lib/teiserver/coordinator/consul_server.ex
  lib/teiserver/coordinator/coordinator_server.ex
  lib/teiserver/data/cache_user.ex
  lib/teiserver/data/client.ex
  lib/teiserver/helpers/general_test_lib.ex
  lib/teiserver/lobby.ex
  lib/teiserver/lobby/libs/chat_lib.ex
  lib/teiserver/moderation.ex
  lib/teiserver/moderation/tasks/refresh_user_restrictions_task.ex
  lib/teiserver/protocols/spring/spring_in.ex
  lib/teiserver_web/components/user_components.ex
  lib/teiserver_web/controllers/moderation/ban_controller.ex
  lib/teiserver_web/live/account/relationship/index.html.heex
  lib/teiserver_web/live/battles/lobbies/chat.ex
  lib/teiserver_web/live/communication/chat/room.ex
  lib/teiserver_web/templates/admin/user/tab_overview.html.heex
  test/teiserver/chat/libs/word_lib_test.exs
  test/teiserver/data/battle/lobby_chat_test.exs
  test/teiserver/data/user_test.exs
  test/teiserver/protocols/spring/spring_auth_test.exs
  test/teiserver_web/controllers/tachyon_controller_test.exs
  test/teiserver_web/tachyon/user_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Expanded and unified lobby naming restrictions
  lib/teiserver/lobby/libs/lobby_restrictions.ex
  test/teiserver/lobby/libs/lobby_restrictions_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Expanded and unified lobby naming restrictions (#1130)
  lib/teiserver/lobby/libs/lobby_restrictions.ex
  test/teiserver/lobby/libs/lobby_restrictions_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Upgraded version of plug_cowboy
  mix.exs
  mix.lock
Due: mix-format, mix-dialyzer

Upgraded version of plug_cowboy (#1133)
  mix.exs
  mix.lock
Due: mix-format, mix-dialyzer

Removed achievements system
  .dialyzer_ignore.exs
  config/config.exs
  documents/dev_designs/caches.md
  documents/planned_designs/clustering.md
  lib/teiserver/application.ex
  lib/teiserver/config/user_config_types/privacy_configs.ex
  lib/teiserver/game.ex
  lib/teiserver/game/achievements/generate_achievement_types.ex
  lib/teiserver/game/libs/achievement_type_lib.ex
  lib/teiserver/game/libs/user_achievement_lib.ex
  lib/teiserver/game/schemas/achievement_type.ex
  lib/teiserver/game/schemas/user_achievement.ex
  lib/teiserver/game/servers/achievement_server.ex
  lib/teiserver/game/tasks/achievement_cleanup_task.ex
  lib/teiserver/startup.ex
  lib/teiserver_web/controllers/admin/achievement_controller.ex
  lib/teiserver_web/live/account/profile/achievements.ex
  lib/teiserver_web/live/account/profile/achievements.html.heex
  lib/teiserver_web/live/account/profile/overview.ex
  lib/teiserver_web/live/account/profile/overview.html.heex
  lib/teiserver_web/live/account/profile/profile_components.ex
  lib/teiserver_web/router.ex
  lib/teiserver_web/templates/admin/achievement/edit.html.heex
  lib/teiserver_web/templates/admin/achievement/form.html.heex
  lib/teiserver_web/templates/admin/achievement/index.html.heex
  lib/teiserver_web/templates/admin/achievement/new.html.heex
  lib/teiserver_web/templates/admin/achievement/search.html.heex
  lib/teiserver_web/templates/admin/achievement/section_menu.html.heex
  lib/teiserver_web/templates/admin/achievement/show.html.heex
  lib/teiserver_web/templates/admin/achievement/tab_details.html.heex
  lib/teiserver_web/templates/admin/general/index.html.heex
  lib/teiserver_web/templates/admin/general/sub_menu.html.heex
  lib/teiserver_web/views/account/general_view.ex
  lib/teiserver_web/views/admin/achievement_view.ex
  lib/teiserver_web/views/admin/general_view.ex
  priv/repo/migrations/20260506095027_remove_achievements.exs
Due: mix-format, mix-compile, mix-dialyzer

Removed clan system
  .dialyzer_ignore.exs
  documents/planned_designs/clans.md
  lib/teiserver/account/caches/permission_cache.ex
  lib/teiserver/account/caches/user_cache_lib.ex
  lib/teiserver/account/schemas/user.ex
  lib/teiserver/account/tasks/delete_user_task.ex
  lib/teiserver/application.ex
  lib/teiserver/chat/chat_room_cache.ex
  lib/teiserver/chat/room_server.ex
  lib/teiserver/chat/room_supervisor.ex
  lib/teiserver/clans.ex
  lib/teiserver/clans/libs/clan_invite_lib.ex
  lib/teiserver/clans/libs/clan_lib.ex
  lib/teiserver/clans/libs/clan_membership_lib.ex
  lib/teiserver/clans/schemas/clan.ex
  lib/teiserver/clans/schemas/clan_invite.ex
  lib/teiserver/clans/schemas/clan_membership.ex
  lib/teiserver/coordinator/consul_server.ex
  lib/teiserver/coordinator/coordinator_lib.ex
  lib/teiserver/coordinator/coordinator_server.ex
  lib/teiserver/data/cache_user.ex
  lib/teiserver/data/client.ex
  lib/teiserver/data/types.ex
  lib/teiserver/lobby/libs/chat_lib.ex
  lib/teiserver/player/session.ex
  lib/teiserver/player/tachyon_handler.ex
  lib/teiserver/protocols/spring/spring_in.ex
  lib/teiserver/tcp/spring/spring_tcp_server.ex
  lib/teiserver_web/controllers/admin/user_controller.ex
  lib/teiserver_web/controllers/telemetry/infolog_controller.ex
  lib/teiserver_web/templates/moderation/ban/tab_details.html.heex
  lib/teiserver_web/views/account/general_view.ex
  lib/teiserver_web/views/admin/general_view.ex
  priv/repo/migrations/20260506120927_remove_clans.exs
  test/support/teiserver_test_lib.ex
  test/teiserver/data/room_test.exs
  test/teiserver_web/tachyon/user_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Removed achievements system (#1132)
  .dialyzer_ignore.exs
  config/config.exs
  documents/dev_designs/caches.md
  documents/planned_designs/clustering.md
  lib/teiserver/application.ex
  lib/teiserver/config/user_config_types/privacy_configs.ex
  lib/teiserver/game.ex
  lib/teiserver/game/achievements/generate_achievement_types.ex
  lib/teiserver/game/libs/achievement_type_lib.ex
  lib/teiserver/game/libs/user_achievement_lib.ex
  lib/teiserver/game/schemas/achievement_type.ex
  lib/teiserver/game/schemas/user_achievement.ex
  lib/teiserver/game/servers/achievement_server.ex
  lib/teiserver/game/tasks/achievement_cleanup_task.ex
  lib/teiserver/startup.ex
  lib/teiserver_web/controllers/admin/achievement_controller.ex
  lib/teiserver_web/live/account/profile/achievements.ex
  lib/teiserver_web/live/account/profile/achievements.html.heex
  lib/teiserver_web/live/account/profile/overview.ex
  lib/teiserver_web/live/account/profile/overview.html.heex
  lib/teiserver_web/live/account/profile/profile_components.ex
  lib/teiserver_web/router.ex
  lib/teiserver_web/templates/admin/achievement/edit.html.heex
  lib/teiserver_web/templates/admin/achievement/form.html.heex
  lib/teiserver_web/templates/admin/achievement/index.html.heex
  lib/teiserver_web/templates/admin/achievement/new.html.heex
  lib/teiserver_web/templates/admin/achievement/search.html.heex
  lib/teiserver_web/templates/admin/achievement/section_menu.html.heex
  lib/teiserver_web/templates/admin/achievement/show.html.heex
  lib/teiserver_web/templates/admin/achievement/tab_details.html.heex
  lib/teiserver_web/templates/admin/general/index.html.heex
  lib/teiserver_web/templates/admin/general/sub_menu.html.heex
  lib/teiserver_web/views/account/general_view.ex
  lib/teiserver_web/views/admin/achievement_view.ex
  lib/teiserver_web/views/admin/general_view.ex
  priv/repo/migrations/20260506095027_remove_achievements.exs
Due: mix-format, mix-compile, mix-dialyzer

Remove clan system (#1134)
  .dialyzer_ignore.exs
  documents/planned_designs/clans.md
  lib/teiserver/account/caches/permission_cache.ex
  lib/teiserver/account/caches/user_cache_lib.ex
  lib/teiserver/account/schemas/user.ex
  lib/teiserver/account/tasks/delete_user_task.ex
  lib/teiserver/application.ex
  lib/teiserver/chat/chat_room_cache.ex
  lib/teiserver/chat/room_server.ex
  lib/teiserver/chat/room_supervisor.ex
  lib/teiserver/clans.ex
  lib/teiserver/clans/libs/clan_invite_lib.ex
  lib/teiserver/clans/libs/clan_lib.ex
  lib/teiserver/clans/libs/clan_membership_lib.ex
  lib/teiserver/clans/schemas/clan.ex
  lib/teiserver/clans/schemas/clan_invite.ex
  lib/teiserver/clans/schemas/clan_membership.ex
  lib/teiserver/coordinator/consul_server.ex
  lib/teiserver/coordinator/coordinator_lib.ex
  lib/teiserver/coordinator/coordinator_server.ex
  lib/teiserver/data/cache_user.ex
  lib/teiserver/data/client.ex
  lib/teiserver/data/types.ex
  lib/teiserver/lobby/libs/chat_lib.ex
  lib/teiserver/player/session.ex
  lib/teiserver/player/tachyon_handler.ex
  lib/teiserver/protocols/spring/spring_in.ex
  lib/teiserver/tcp/spring/spring_tcp_server.ex
  lib/teiserver_web/controllers/admin/user_controller.ex
  lib/teiserver_web/controllers/telemetry/infolog_controller.ex
  lib/teiserver_web/templates/moderation/ban/tab_details.html.heex
  lib/teiserver_web/views/account/general_view.ex
  lib/teiserver_web/views/admin/general_view.ex
  priv/repo/migrations/20260506120927_remove_clans.exs
  test/support/teiserver_test_lib.ex
  test/teiserver/data/room_test.exs
  test/teiserver_web/tachyon/user_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Fix coorinator commands admin check
  lib/teiserver/coordinator/coordinator_commands.ex
Due: mix-format, mix-compile, mix-dialyzer

Fix coorinator commands admin check (#1135)
  lib/teiserver/coordinator/coordinator_commands.ex
Due: mix-format, mix-compile, mix-dialyzer

shuffle team assignments after balancing
  lib/teiserver/game/servers/balancer_server.ex
  test/teiserver/game/balancer_server_test.exs
Due: mix-format, mix-compile, mix-dialyzer

fix linter
  lib/teiserver/game/servers/balancer_server.ex
  test/teiserver/game/balancer_server_test.exs
Due: mix-format, mix-compile, mix-dialyzer

fix credo
  test/teiserver/game/balancer_server_test.exs
Due: mix-format, mix-dialyzer

Fix message wrt lobby restrictions.
  lib/teiserver/lobby/libs/lobby_restrictions.ex
Due: mix-format, mix-compile, mix-dialyzer

fix mute check
  lib/teiserver_web/live/battles/lobbies/chat.ex
Due: mix-format, mix-compile, mix-dialyzer

Silence Bodyguard not-authorized log noise
  lib/teiserver/application.ex
  lib/teiserver_web/logger_filter.ex
  test/teiserver_web/controllers/admin/user_controller_test.exs
  test/teiserver_web/logger_filter_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Keep session alive during battle when player disconnect
  lib/teiserver/player/session.ex
  test/teiserver/player/session_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Upgrade phoenix to fix CVE-2026-32689
  mix.exs
  mix.lock
Due: mix-format, mix-dialyzer

ignore flaky test
  test/teiserver/protocols/spring/spring_party_test.exs
Due: mix-format, mix-dialyzer

Added some typo checks around the all-welcome title check
  lib/teiserver/lobby/libs/lobby_restrictions.ex
Due: mix-format, mix-compile, mix-dialyzer

Added some typo checks around the all-welcome title check (#1145)
  lib/teiserver/lobby/libs/lobby_restrictions.ex
Due: mix-format, mix-compile, mix-dialyzer

Fix for N > 2 teams
  lib/teiserver/game/servers/balancer_server.ex
  test/teiserver/game/balancer_server_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Fix session timeout to trigger on battle end, not on timer polling
  lib/teiserver/player/session.ex
  test/teiserver/player/session_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Shuffle FFA teams too
  lib/teiserver/game/servers/balancer_server.ex
  test/teiserver/game/balancer_server_test.exs
Due: mix-format, mix-compile, mix-dialyzer

shuffle team assignments after balancing (#1136)
  lib/teiserver/game/servers/balancer_server.ex
  test/teiserver/game/balancer_server_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Fixes
  lib/teiserver/player/session.ex
  test/teiserver/player/session_test.exs
Due: mix-format, mix-compile, mix-dialyzer

When blocked by a boss, cannot join lobby
  lib/teiserver/account.ex
  lib/teiserver/account/libs/auth_lib.ex
  lib/teiserver/account/libs/relationship_lib.ex
  lib/teiserver/coordinator/consul_server.ex
Due: mix-format, mix-compile, mix-dialyzer

Updated some dependencies for vulnerability reasons
  mix.lock
Due: none

CI fixes
  lib/teiserver_web/templates/admin/accolade/tab_details.html.heex
  lib/teiserver_web/templates/moderation/report/tab_propose.html.heex
Due: none

Keep session alive during battle when player disconnect (#1142)
  lib/teiserver/player/session.ex
  test/teiserver/player/session_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Ignore CVE on `decimal`
  .github/workflows/lint.yml
Due: none

fix naming
  lib/teiserver/tachyon_lobby/registry.ex
Due: mix-format, mix-compile, mix-dialyzer

Remove :sys.replace_state in a test
  lib/teiserver/tachyon_lobby/registry.ex
  test/teiserver/player/session_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Add `data` field to CacheUser as first stage of removal
  lib/teiserver/account/caches/user_cache_lib.ex
  lib/teiserver/data/cache_user.ex
  lib/teiserver/data/client.ex
Due: mix-format, mix-compile, mix-dialyzer

Implemented a login queue for Tachyon protocol
  lib/teiserver/libs/teiserver_configs.ex
  lib/teiserver/player/tachyon_handler.ex
  lib/teiserver/tachyon/login_queue.ex
  lib/teiserver/tachyon/system.ex
  test/teiserver/tachyon/login_queue_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Fix linter and credo
  lib/teiserver/libs/teiserver_configs.ex
  lib/teiserver/player/tachyon_handler.ex
  lib/teiserver/tachyon/login_queue.ex
  test/teiserver/tachyon/login_queue_test.exs
Due: mix-format, mix-compile, mix-dialyzer
