Repository beyond-all-reason/teiserver: changes, and which pre-commit hooks are due for each by the changed paths.
All: mix-format, mix-compile, mix-dialyzer

mix-format:
  name: 'elixir: mix format'
  entry: mix format --check-formatted
  language: system

mix-compile:
  name: 'elixir: mix compile'
  entry: mix compile --force
  language: system
  pass_filenames: false

mix-dialyzer:
  name: 'elixir: mix dialyzer'
  entry: mix dialyzer
  language: system
  pass_filenames: false

added findreport mode functionality
  lib/teiserver/bridge/commands/findreports_command.ex
  lib/teiserver/bridge/discord_bridge_bot.ex
  lib/teiserver/moderation.ex
Due: mix-format, mix-compile, mix-dialyzer

ran mix format
  lib/teiserver/bridge/commands/findreports_command.ex
  lib/teiserver/moderation.ex
Due: mix-format, mix-compile, mix-dialyzer

removed redundancy
  lib/teiserver/bridge/commands/findreports_command.ex
Due: mix-format, mix-compile, mix-dialyzer

missed a spot
  lib/teiserver/bridge/commands/findreports_command.ex
Due: mix-format, mix-compile, mix-dialyzer

Refactor: extract common setup out
  test/teiserver_web/tachyon/lobby_test.exs
Due: mix-format, mix-dialyzer

send lobby/left event to lobby member when lobby crash
  lib/teiserver/player/session.ex
  lib/teiserver/player/tachyon_handler.ex
  priv/tachyon/schema/lobby/left/event.json
  test/teiserver_web/tachyon/lobby_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Don't send party monitors on update
  lib/teiserver/party/server.ex
Due: mix-format, mix-compile, mix-dialyzer

Actually update the internal version for party update in Session
  lib/teiserver/player/session.ex
Due: mix-format, mix-compile, mix-dialyzer

surface metric about number of parties
  lib/teiserver/monitoring/tachyon.ex
  lib/teiserver/party.ex
  lib/teiserver/party/registry.ex
Due: mix-format, mix-compile, mix-dialyzer

Add recon to dependencies
  mix.exs
  mix.lock
Due: mix-format, mix-dialyzer

Allow tachyon handler to respond and send event
  lib/teiserver/player/tachyon_handler.ex
  lib/teiserver/tachyon/handler.ex
  lib/teiserver/tachyon/transport.ex
Due: mix-format, mix-compile, mix-dialyzer

Expose tachyon response time as a metric
  lib/teiserver/monitoring/tachyon.ex
  lib/teiserver/tachyon/transport.ex
Due: mix-format, mix-compile, mix-dialyzer

enable ecto prom_ex plugin
  lib/teiserver/prom_ex.ex
Due: mix-format, mix-compile, mix-dialyzer

Also report code for tachyon requests
  lib/teiserver/monitoring/tachyon.ex
  lib/teiserver/tachyon/transport.ex
Due: mix-format, mix-compile, mix-dialyzer

Surface tachyon events in metrics
  lib/teiserver/monitoring/tachyon.ex
  lib/teiserver/tachyon/handler.ex
  lib/teiserver/tachyon/transport.ex
Due: mix-format, mix-compile, mix-dialyzer

Fix #788
  lib/teiserver/player/tachyon_handler.ex
  test/teiserver_web/tachyon/friend_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Fix some types
  lib/teiserver/lobby/libs/lobby_lib.ex
  lib/teiserver_web/live/battles/lobbies/index.ex
Due: mix-format, mix-compile, mix-dialyzer

Introduce a switch to disable live view of lobbies
  lib/teiserver/libs/teiserver_configs.ex
  lib/teiserver/lobby.ex
  lib/teiserver/lobby/libs/lobby_lib.ex
  lib/teiserver_web/live/battles/lobbies/index.ex
  lib/teiserver_web/live/battles/lobbies/index.html.heex
Due: mix-format, mix-compile, mix-dialyzer

Telemetry for tachyon login
  lib/teiserver/data/cache_user.ex
  lib/teiserver/monitoring/tachyon.ex
Due: mix-format, mix-compile, mix-dialyzer

Telemetry for tachyon disconnection
  lib/teiserver/monitoring/tachyon.ex
  lib/teiserver/player/session.ex
Due: mix-format, mix-compile, mix-dialyzer

Exclude mix tasks from compilation in prod env
  mix.exs
Due: mix-format, mix-dialyzer

Live lobby kill switch (#790)
  lib/teiserver/libs/teiserver_configs.ex
  lib/teiserver/lobby.ex
  lib/teiserver/lobby/libs/lobby_lib.ex
  lib/teiserver_web/live/battles/lobbies/index.ex
  lib/teiserver_web/live/battles/lobbies/index.html.heex
Due: mix-format, mix-compile, mix-dialyzer

Add profiling tools
  mix.exs
Due: mix-format, mix-dialyzer

Add profiling tools (#791)
  mix.exs
Due: mix-format, mix-dialyzer

Update lobby/listUpdated to use json patch representation
  lib/teiserver/player/tachyon_handler.ex
  priv/tachyon/schema/lobby/listReset/event.json
  priv/tachyon/schema/lobby/listUpdated/event.json
  test/teiserver_web/tachyon/lobby_test.exs
Due: mix-format, mix-compile, mix-dialyzer

changed permission on chat link button so all Overwatch members can use it
  lib/teiserver_web/live/battles/match/match_components.ex
Due: mix-format, mix-compile, mix-dialyzer

Fix preserving 'order by' search on page change
  lib/teiserver_web/templates/moderation/action/index.html.heex
  lib/teiserver_web/templates/moderation/action/search.html.heex
Due: none

fix moderation/reports search options disappearing on search/page/limit change
  lib/teiserver_web/templates/moderation/report/index.html.heex
  lib/teiserver_web/templates/moderation/report/search.html.heex
Due: none

FIX ordering by name in reports and bans
  lib/teiserver/moderation/libs/ban_lib.ex
  lib/teiserver/moderation/libs/report_lib.ex
Due: mix-format, mix-compile, mix-dialyzer

FIX ordering by name in reports and bans (#795)
  lib/teiserver/moderation/libs/ban_lib.ex
  lib/teiserver/moderation/libs/report_lib.ex
Due: mix-format, mix-compile, mix-dialyzer

Fix search on moderation/reports & moderation/actions (#794)
  lib/teiserver_web/templates/moderation/action/index.html.heex
  lib/teiserver_web/templates/moderation/action/search.html.heex
  lib/teiserver_web/templates/moderation/report/index.html.heex
  lib/teiserver_web/templates/moderation/report/search.html.heex
Due: none

Implement lobby/unsubscribeList (#775)
  lib/teiserver/player/session.ex
  lib/teiserver/player/tachyon_handler.ex
  test/support/tachyon.ex
  test/teiserver_web/tachyon/lobby_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Added findreport mode functionality (#784)
  lib/teiserver/bridge/commands/findreports_command.ex
  lib/teiserver/bridge/discord_bridge_bot.ex
  lib/teiserver/moderation.ex
Due: mix-format, mix-compile, mix-dialyzer

Add configurable limits for friends, ignores, avoids, and blocks
  lib/teiserver/account.ex
  lib/teiserver/account/libs/friend_request_lib.ex
  lib/teiserver/account/libs/relationship_lib.ex
  lib/teiserver/account/tasks/smurf_merge_task.ex
  lib/teiserver/coordinator/coordinator_commands.ex
  lib/teiserver/libs/teiserver_configs.ex
  lib/teiserver/protocols/spring/spring_in.ex
  lib/teiserver/protocols/spring/spring_user_in.ex
  lib/teiserver_web/live/account/profile/overview.ex
  lib/teiserver_web/live/account/relationship/index.ex
  lib/teiserver_web/live/moderation/report_user/index.ex
  test/teiserver/account/friend_request_lib_test.exs
  test/teiserver/account/relationship_lib_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Add configurable limits for friends, ignores, avoids, and blocks (#758)
  lib/teiserver/account.ex
  lib/teiserver/account/libs/friend_request_lib.ex
  lib/teiserver/account/libs/relationship_lib.ex
  lib/teiserver/account/tasks/smurf_merge_task.ex
  lib/teiserver/coordinator/coordinator_commands.ex
  lib/teiserver/libs/teiserver_configs.ex
  lib/teiserver/protocols/spring/spring_in.ex
  lib/teiserver/protocols/spring/spring_user_in.ex
  lib/teiserver_web/live/account/profile/overview.ex
  lib/teiserver_web/live/account/relationship/index.ex
  lib/teiserver_web/live/moderation/report_user/index.ex
  test/teiserver/account/friend_request_lib_test.exs
  test/teiserver/account/relationship_lib_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Exclude mix tasks from compilation in prod env (#783)
  mix.exs
Due: mix-format, mix-dialyzer

Update lobby/listUpdated to use json patch representation (#792)
  lib/teiserver/player/tachyon_handler.ex
  priv/tachyon/schema/lobby/listReset/event.json
  priv/tachyon/schema/lobby/listUpdated/event.json
  test/teiserver_web/tachyon/lobby_test.exs
Due: mix-format, mix-compile, mix-dialyzer

added totp library, db migration, schema and added totp helper functions
  lib/teiserver/account/libs/user_totp_lib.ex
  lib/teiserver/account/schemas/user.ex
  lib/teiserver/account/schemas/user_totp.ex
  mix.exs
  mix.lock
  priv/repo/migrations/20250923194759_create_user_totps.exs
Due: mix-format, mix-compile, mix-dialyzer

Path conditions:
  mix-format: any of: \.exs*$
  mix-compile: any of: \.ex$
  mix-dialyzer: any of: \.exs*$
