Repository beyond-all-reason/teiserver: changes, and which pre-commit hooks are due for each by the changed paths.
All: mix-format, mix-compile, mix-dialyzer

.pre-commit-config.yaml:

---
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-merge-conflict
      - id: check-yaml
      - id: no-commit-to-branch
        args:
          - -b
          - master
          - -b
          - production
          - -b
          - staging
  - repo: local
    hooks:
      - id: mix-format
        name: "elixir: mix format"
        entry: mix format --check-formatted
        language: system
        files: \.exs*$
      - id: mix-compile
        name: "elixir: mix compile"
        entry: mix compile --force #--warnings-as-errors
        language: system
        pass_filenames: false
        files: \.ex$
      # - id: mix-credo
      #   name: "elixir: mix credo"
      #   entry: mix credo
      #   language: system
      #   pass_filenames: false
      #   files: \.exs*$
      - id: mix-dialyzer
        name: "elixir: mix dialyzer"
        entry: mix dialyzer
        language: system
        pass_filenames: false
        files: \.exs*$

upated dialyzer_ignore
  .dialyzer_ignore.exs
Due: mix-format, mix-dialyzer

Addressed comments to revert some changes
  lib/teiserver/account/libs/role_lib.ex
  lib/teiserver/data/cache_user.ex
  lib/teiserver/player/tachyon_handler.ex
  priv/tachyon/schema/definitions/user.json
  priv/tachyon/schema/user/updated/event.json
Due: mix-format, mix-compile, mix-dialyzer

Removes Report Groups (#1058)
  .dialyzer_ignore.exs
  lib/teiserver/battle/tasks/battle_daily_cleanup_task.ex
  lib/teiserver/moderation.ex
  lib/teiserver/moderation/libs/action_lib.ex
  lib/teiserver/moderation/libs/report_group_lib.ex
  lib/teiserver/moderation/queries/report_group_queries.ex
  lib/teiserver/moderation/schemas/action.ex
  lib/teiserver/moderation/schemas/report.ex
  lib/teiserver/moderation/schemas/report_group.ex
  lib/teiserver/moderation/schemas/report_group_message.ex
  lib/teiserver/moderation/schemas/report_group_vote.ex
  lib/teiserver_web/controllers/moderation/action_controller.ex
  lib/teiserver_web/live/general/home/index.html.heex
  lib/teiserver_web/live/moderation/moderation_components.ex
  lib/teiserver_web/live/moderation/overwatch/index.ex
  lib/teiserver_web/live/moderation/overwatch/index.html.heex
  lib/teiserver_web/live/moderation/overwatch/overwatch_components.ex
  lib/teiserver_web/live/moderation/overwatch/report_group_detail.ex
  lib/teiserver_web/live/moderation/overwatch/report_group_detail.html.heex
  lib/teiserver_web/live/moderation/overwatch/user.ex
  lib/teiserver_web/live/moderation/overwatch/user.html.heex
  lib/teiserver_web/live/moderation/report_user/index.ex
  lib/teiserver_web/router.ex
  lib/teiserver_web/templates/admin/user/tab_overview.html.heex
  lib/teiserver_web/templates/moderation/general/index.html.heex
  priv/repo/migrations/20260324180447_remove_report_groups.exs
  test/support/teiserver_test_lib.ex
  test/teiserver_web/live/moderation/overwatch/index_test.exs
  test/teiserver_web/live/moderation/report_user/index_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Removed tournament functionality (#1060)
  .dialyzer_ignore.exs
  documents/planned_designs/tournaments.md
  lib/teiserver/account/libs/role_lib.ex
  lib/teiserver/account/queries/user_queries.ex
  lib/teiserver/account/reports/tournament_report.ex
  lib/teiserver/battle.ex
  lib/teiserver/coordinator/consul_commands.ex
  lib/teiserver/coordinator/consul_server.ex
  lib/teiserver/game/servers/lobby_policy_bot_server.ex
  lib/teiserver/libs/teiserver_configs.ex
  lib/teiserver/lobby.ex
  lib/teiserver/lobby/schemas/lobby_struct.ex
  lib/teiserver/lobby/servers/lobby_index_throttle.ex
  lib/teiserver_web/controllers/report/report_controller.ex
  lib/teiserver_web/live/battles/battle_components.ex
  lib/teiserver_web/live/battles/lobbies/chat.ex
  lib/teiserver_web/live/battles/lobbies/index.ex
  lib/teiserver_web/live/battles/lobbies/show.ex
  lib/teiserver_web/live/tournament/index.ex
  lib/teiserver_web/live/tournament/index.html.heex
  lib/teiserver_web/live/tournament/show.ex
  lib/teiserver_web/live/tournament/show.html.heex
  lib/teiserver_web/router.ex
  lib/teiserver_web/templates/battle/general/sub_menu.html.heex
  lib/teiserver_web/templates/report/general/index.html.heex
  lib/teiserver_web/templates/report/report/section_menu.html.heex
  lib/teiserver_web/templates/report/report/tournament.html.heex
  lib/teiserver_web/views/battle/general_view.ex
Due: mix-format, mix-compile, mix-dialyzer

Remove issue templates.
  .github/ISSUE_TEMPLATE/1-bug_report.yml
  .github/ISSUE_TEMPLATE/2-feature_request.yml
  .github/ISSUE_TEMPLATE/config.yml
Due: none

Use user.roles everywhere instead of user.data.roles
  lib/teiserver/account.ex
  lib/teiserver/account/auth.ex
  lib/teiserver/data/cache_user.ex
  lib/teiserver/plugs/basic_auth_bot_plug.ex
  lib/teiserver_web/controllers/admin/user_controller.ex
  test/teiserver_web/controllers/api/spads_controller_test.exs
  test/teiserver_web/live/battle_live_test.exs
Due: mix-format, mix-compile, mix-dialyzer

switched to Task.async() and Task.await() for restart for simplicity
  lib/teiserver/bridge/discord_system.ex
  lib/teiserver_web/live/admin_dashboard/index.ex
Due: mix-format, mix-compile, mix-dialyzer

Admin UI button to restart Discord Bridge
  lib/teiserver/bridge/discord_system.ex
  lib/teiserver_web/live/admin_dashboard/index.ex
  lib/teiserver_web/live/admin_dashboard/index.html.heex
Due: mix-format, mix-compile, mix-dialyzer

change event name to restart-discord-bridge
  lib/teiserver_web/live/admin_dashboard/index.ex
  lib/teiserver_web/live/admin_dashboard/index.html.heex
Due: mix-format, mix-compile, mix-dialyzer

encapsulate startup logic in a separate start function
  lib/teiserver/bridge/discord_system.ex
Due: mix-format, mix-compile, mix-dialyzer

moved back to simpler design without trying to reuse everything
  lib/teiserver/bridge/discord_system.ex
  lib/teiserver_web/live/admin_dashboard/index.ex
Due: mix-format, mix-compile, mix-dialyzer

switch to terminate_child
  lib/teiserver/bridge/discord_system.ex
Due: mix-format, mix-compile, mix-dialyzer

even more credo strict fixes
  lib/teiserver_web/live/admin_dashboard/index.ex
Due: mix-format, mix-compile, mix-dialyzer

made an async restart call that sends flash_message via pid
  lib/teiserver/bridge/discord_system.ex
  lib/teiserver_web/live/admin_dashboard/index.ex
  lib/teiserver_web/live/admin_dashboard/index.html.heex
Due: mix-format, mix-compile, mix-dialyzer

fix racy design for finding and killing Teiserver.Bridge.DiscordSupervisor
  lib/teiserver/bridge/discord_system.ex
Due: mix-format, mix-compile, mix-dialyzer

switched to Task.Supervisor.async(Teiserver.TaskSupervisor, fn)
  lib/teiserver/bridge/discord_system.ex
Due: mix-format, mix-compile, mix-dialyzer

Remove issue templates. (#1061)
  .github/ISSUE_TEMPLATE/1-bug_report.yml
  .github/ISSUE_TEMPLATE/2-feature_request.yml
  .github/ISSUE_TEMPLATE/config.yml
Due: none

Add quorum and majority to vote events (#1050)
  lib/teiserver/player/tachyon_handler.ex
  priv/tachyon/schema/lobby/updateClientStatus/request.json
  priv/tachyon/schema/lobby/updated/event.json
  test/teiserver/tachyon_lobby/lobby_test.exs
  test/teiserver_web/tachyon/lobby_test.exs
Due: mix-format, mix-compile, mix-dialyzer

swap button order to Restart Discord Bridge being last
  lib/teiserver_web/live/admin_dashboard/index.html.heex
Due: none

only show Restart Discord Bridge button if the configuration option says Discord is enabled
  lib/teiserver_web/live/admin_dashboard/index.ex
  lib/teiserver_web/live/admin_dashboard/index.html.heex
Due: mix-format, mix-compile, mix-dialyzer

mix format; remove now-impossible flash message
  lib/teiserver_web/live/admin_dashboard/index.ex
  lib/teiserver_web/live/admin_dashboard/index.html.heex
Due: mix-format, mix-compile, mix-dialyzer

adds needs_attention flag to flaky test
  test/teiserver/protocols/spring/spring_party_test.exs
Due: mix-format, mix-dialyzer

add failing ci build in a comment
  test/teiserver/protocols/spring/spring_party_test.exs
Due: mix-format, mix-dialyzer

Track members of a battle
  lib/teiserver/tachyon_battle/battle.ex
  test/support/fixtures/bot.ex
  test/teiserver/tachyon_battle/battle_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Enforce a limit on the number of player in a battle
  lib/teiserver/tachyon_battle/battle.ex
  test/teiserver/tachyon_battle/battle_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Admin UI button to restart Discord Bridge (#1024)
  lib/teiserver/bridge/discord_system.ex
  lib/teiserver_web/live/admin_dashboard/index.ex
  lib/teiserver_web/live/admin_dashboard/index.html.heex
  test/teiserver/protocols/spring/spring_party_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Add a test to make sure start scripts are correct
  test/teiserver_web/tachyon/autohost_test.exs
Due: mix-format, mix-dialyzer

Correctly send start boxes to autohost
  lib/teiserver/autohost/tachyon_handler.ex
  test/teiserver_web/tachyon/autohost_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Refactor: centralize start script fixture
  test/teiserver_web/tachyon/autohost_test.exs
Due: mix-format, mix-dialyzer

Handle bots in start script to autohost
  lib/teiserver/autohost/tachyon_handler.ex
  lib/teiserver/tachyon_battle/battle.ex
  test/teiserver_web/tachyon/autohost_test.exs
Due: mix-format, mix-compile, mix-dialyzer

added post command
  lib/teiserver/bridge/commands/post_command.ex
  lib/teiserver/bridge/discord_bridge_bot.ex
Due: mix-format, mix-compile, mix-dialyzer

added profile finder
  lib/teiserver/bridge/commands/post_command.ex
  lib/teiserver/bridge/discord_bridge_bot.ex
Due: mix-format, mix-compile, mix-dialyzer

fix styling
  lib/teiserver/bridge/commands/post_command.ex
Due: mix-format, mix-compile, mix-dialyzer

fixed alias
  lib/teiserver/bridge/commands/post_command.ex
Due: mix-format, mix-compile, mix-dialyzer

Refactor of Discord system to better prevent cascading failure
  lib/teiserver/bridge/discord_supervisor.ex
  lib/teiserver/bridge/discord_system.ex
  lib/teiserver_web/live/admin_dashboard/index.ex
Due: mix-format, mix-compile, mix-dialyzer

changed code to use sub_commands
  lib/teiserver/bridge/commands/post_command.ex
  lib/teiserver/bridge/discord_bridge_bot.ex
Due: mix-format, mix-compile, mix-dialyzer

limited id to integers, added error handling for no report or action found
  lib/teiserver/bridge/commands/post_command.ex
  lib/teiserver/bridge/discord_bridge_bot.ex
Due: mix-format, mix-compile, mix-dialyzer

changed function name and cleaned up code
  lib/teiserver/bridge/commands/post_command.ex
  lib/teiserver/bridge/discord_bridge_bot.ex
Due: mix-format, mix-compile, mix-dialyzer

fixed credo and dialyzer issues
  lib/teiserver/bridge/commands/post_command.ex
  lib/teiserver/moderation.ex
Due: mix-format, mix-compile, mix-dialyzer

removed another dialyzer_ignore
  .dialyzer_ignore.exs
Due: mix-format, mix-dialyzer
