Repository beyond-all-reason/teiserver: changes, and which pre-commit hooks are due for each by the changed paths.
All: mix-format, mix-compile, mix-dialyzer

mix-format:
  name: 'elixir: mix format'
  entry: mix format --check-formatted
  language: system

mix-compile:
  name: 'elixir: mix compile'
  entry: mix compile --force
  language: system
  pass_filenames: false

mix-dialyzer:
  name: 'elixir: mix dialyzer'
  entry: mix dialyzer
  language: system
  pass_filenames: false

Added credo map-map check
  .credo.exs
  .github/workflows/lint.yml
  lib/teiserver/battle/balance/brute_force.ex
  lib/teiserver/helpers/chart_helper.ex
  lib/teiserver_web/live/admin_dashboard/index.ex
  test/teiserver/protocols/spring/spring_raw_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Added credo map-map check (#1036)
  .credo.exs
  .github/workflows/lint.yml
  lib/teiserver/battle/balance/brute_force.ex
  lib/teiserver/helpers/chart_helper.ex
  lib/teiserver_web/live/admin_dashboard/index.ex
  test/teiserver/protocols/spring/spring_raw_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Tweaks and cleanup
  lib/teiserver/account/reports/leaderboard_report.ex
  lib/teiserver/account/tasks/recalculate_user_daily_stat_task.ex
  lib/teiserver/account/tasks/smurf_merge_task.ex
  lib/teiserver_web/components/nav_components.ex
  lib/teiserver_web/components/user_components.ex
  lib/teiserver_web/live/admin_dashboard/login_throttle.ex
  lib/teiserver_web/live/admin_dashboard/policy.ex
  test/teiserver/helpers/schema_helper_test.exs
  test/teiserver/lobby/commands/explain_command_test.exs
  test/teiserver_web/controllers/admin/user_controller_test.exs
  test/teiserver_web/controllers/logging/audit_log_controller_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Gitignore previous PR
  .git-blame-ignore-revs
Due: none

Minor fixes and tweaks
  lib/teiserver.ex
  lib/teiserver/account/libs/accolade_lib.ex
  lib/teiserver/account/libs/badge_type_lib.ex
  lib/teiserver_web/views/logging/aggregate_view_log_view.ex
  lib/teiserver_web/views/logging/audit_log_view.ex
Due: mix-format, mix-compile, mix-dialyzer

Gitignore previous PR (ParenthesesOnZeroArityDefs)
  .git-blame-ignore-revs
Due: none

Rebase fix
  lib/central/general_test_lib.ex
Due: mix-format, mix-compile, mix-dialyzer

clan/create improved
  lib/teiserver/player/tachyon_handler.ex
Due: mix-format, mix-compile, mix-dialyzer

Prevent changing map when another vote is in progress
  lib/teiserver/tachyon_lobby/lobby.ex
  test/teiserver/tachyon_lobby/lobby_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Centralise the logic to call a lobby
  lib/teiserver/tachyon_lobby/lobby.ex
Due: mix-format, mix-compile, mix-dialyzer

Centralise the logic to call a lobby (#1046)
  lib/teiserver/tachyon_lobby/lobby.ex
Due: mix-format, mix-compile, mix-dialyzer

Cleanup
  lib/teiserver/account/schemas/user.ex
  lib/teiserver/data/cache_user.ex
Due: mix-format, mix-compile, mix-dialyzer

Fix after rebase
  lib/teiserver/data/cache_user.ex
  lib/teiserver/tachyon_lobby/lobby.ex
Due: mix-format, mix-compile, mix-dialyzer

Gitignore previous PR (UnusedVariableNames)
  .git-blame-ignore-revs
Due: none

Gitignore previous PR (UnusedVariableNames) (#1049)
  .git-blame-ignore-revs
Due: none

Add quorum and majority to vote events
  lib/teiserver/player/tachyon_handler.ex
  priv/tachyon/schema/lobby/updateClientStatus/request.json
  priv/tachyon/schema/lobby/updated/event.json
  test/teiserver/tachyon_lobby/lobby_test.exs
  test/teiserver_web/tachyon/lobby_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Removes the AccoladeBotServer and AccoladeChatBot server
  documents/planned_designs/clustering.md
  lib/teiserver.ex
  lib/teiserver/account/accolades/accolade_bot_server.ex
  lib/teiserver/account/accolades/accolade_chat_server.ex
  lib/teiserver/account/libs/accolade_lib.ex
  lib/teiserver/application.ex
  lib/teiserver/servers/telemetry_server.ex
  lib/teiserver/startup.ex
  lib/teiserver_web/live/admin_dashboard/index.ex
  test/support/teiserver_test_lib.ex
Due: mix-format, mix-compile, mix-dialyzer

Added Accolade type
  lib/teiserver/account/schemas/accolade.ex
Due: mix-format, mix-compile, mix-dialyzer

Reverted
  lib/teiserver/account/schemas/accolade.ex
Due: mix-format, mix-compile, mix-dialyzer

Test improvements
  test/teiserver_web/live/microblog/post_form_component_test.exs
Due: mix-format, mix-dialyzer

Fix error due to not handling Nostrum.Error.ApiError properly
  lib/teiserver/bridge/discord_bridge_bot.ex
  lib/teiserver/communication.ex
  lib/teiserver/communication/libs/discord_channel_lib.ex
  lib/teiserver_web/live/microblog/admin/post/post_form_component.ex
Due: mix-format, mix-compile, mix-dialyzer

Replace direct calls to Nostrum API with Teiserver.Communication
  lib/teiserver/bridge/bridge_server.ex
  lib/teiserver/bridge/chat_commands.ex
Due: mix-format, mix-compile, mix-dialyzer

Update Nostrum version
  mix.exs
Due: mix-format, mix-dialyzer

Path conditions:
  mix-format: any of: \.exs*$
  mix-compile: any of: \.ex$
  mix-dialyzer: any of: \.exs*$
