Repository beyond-all-reason/teiserver: changes, and which pre-commit hooks are due for each by the changed paths.
All: mix-format, mix-compile, mix-dialyzer

.pre-commit-config.yaml:

---
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-merge-conflict
      - id: check-yaml
      - id: no-commit-to-branch
        args:
          - -b
          - master
          - -b
          - production
          - -b
          - staging
  - repo: local
    hooks:
      - id: mix-format
        name: "elixir: mix format"
        entry: mix format --check-formatted
        language: system
        files: \.exs*$
      - id: mix-compile
        name: "elixir: mix compile"
        entry: mix compile --force #--warnings-as-errors
        language: system
        pass_filenames: false
        files: \.ex$
      # - id: mix-credo
      #   name: "elixir: mix credo"
      #   entry: mix credo
      #   language: system
      #   pass_filenames: false
      #   files: \.exs*$
      - id: mix-dialyzer
        name: "elixir: mix dialyzer"
        entry: mix dialyzer
        language: system
        pass_filenames: false
        files: \.exs*$

swap to just a contributor check instead of a feature flag
  config/config.exs
  lib/teiserver/tachyon/config.ex
  lib/teiserver_web/live/battles/lobbies/tachyon_index.ex
  lib/teiserver_web/templates/battle/general/sub_menu.html.heex
Due: mix-format, mix-compile, mix-dialyzer

Fix mix tasks not using config variables like TEI_DB_HOST to enable tasks to run in docker contexts, make fake generation task idempotent
  README.md
  docker-compose.yml
  lib/teiserver/mix_tasks/fake_data.ex
  lib/teiserver/mix_tasks/tachyon_setup.ex
  lib/teiserver/tachyon/tasks/setup_assets.ex
Due: mix-format, mix-compile, mix-dialyzer

Require boss/founder status to add AI bots in lobby
  lib/teiserver/lobby.ex
  lib/teiserver/tachyon_lobby/lobby.ex
Due: mix-format, mix-compile, mix-dialyzer

rewrote by hand by copy-and-pasting-from the lobby-live-page
  lib/teiserver_web/live/battles/lobbies/tachyon_index.ex
  lib/teiserver_web/live/battles/lobbies/tachyon_index.html.heex
  lib/teiserver_web/templates/battle/general/sub_menu.html.heex
  test/teiserver_web/live/tachyon_lobby_list_live_test.exs
Due: mix-format, mix-compile, mix-dialyzer

ran mix formatter
  lib/teiserver_web/live/battles/lobbies/tachyon_index.html.heex
Due: none

Handling of clan/view request implemented
  lib/teiserver/account/schemas/user.ex
  lib/teiserver/clan.ex
  lib/teiserver/clan/libs/clan_invite_lib.ex
  lib/teiserver/clan/libs/clan_lib.ex
  lib/teiserver/clan/libs/clan_memberships_lib.ex
  lib/teiserver/clan/schemas/clan_invite_schema.ex
  lib/teiserver/clan/schemas/clan_memberships_schema.ex
  lib/teiserver/clan/schemas/clan_schema.ex
  lib/teiserver/player/tachyon_handler.ex
Due: mix-format, mix-compile, mix-dialyzer

Add/support clan language
  lib/teiserver/clan/schemas/clan_schema.ex
  priv/repo/migrations/20260203204853_update_clan_tables copy.exs
  priv/repo/migrations/20260301204853_update_clan_tables.exs
  priv/tachyon/schema/compiled.json
  priv/tachyon/schema/definitions/clan.json
  priv/tachyon/schema/definitions/clanBaseData.json
  priv/tachyon/schema/definitions/clanUpdateableBaseData.json
  priv/tachyon/schema/definitions/lobbyDetails.json
  priv/tachyon/schema/lobby/updateClientStatus/request.json
  priv/tachyon/schema/lobby/updated/event.json
Due: mix-format, mix-compile, mix-dialyzer

clan.language added to convert-function
  lib/teiserver/player/tachyon_handler.ex
Due: mix-format, mix-compile, mix-dialyzer

add two more tests, flatten the logic to remove the function that was only used once
  test/teiserver_web/live/tachyon_lobby_list_live_test.exs
Due: mix-format, mix-dialyzer

added report discord links to actions
  lib/teiserver_web/controllers/moderation/action_controller.ex
  lib/teiserver_web/templates/moderation/action/tab_details.html.heex
Due: mix-format, mix-compile, mix-dialyzer

fixed linting, dialyzer and build (hopefully)
  lib/teiserver_web/controllers/moderation/action_controller.ex
Due: mix-format, mix-compile, mix-dialyzer

remove needs_attention tag because I'm pretty sure these tests will be robust
  test/teiserver_web/live/tachyon_lobby_list_live_test.exs
Due: mix-format, mix-dialyzer

remove filter_lobbies because we currently don't have anything to filter on
  lib/teiserver_web/live/battles/lobbies/tachyon_index.ex
Due: mix-format, mix-compile, mix-dialyzer

fix sort_lobbies and re-enable
  lib/teiserver_web/live/battles/lobbies/tachyon_index.ex
Due: mix-format, mix-compile, mix-dialyzer

remove moderator handling code for now as I'm not trying to tackle this yet
  lib/teiserver_web/live/battles/lobbies/tachyon_index.ex
Due: mix-format, mix-compile, mix-dialyzer

Update asset status ready => complete
  lib/teiserver/player/tachyon_handler.ex
  lib/teiserver/tachyon_lobby/lobby.ex
  priv/tachyon/schema/lobby/updateClientStatus/request.json
  priv/tachyon/schema/lobby/updated/event.json
  test/teiserver/tachyon_lobby/lobby_test.exs
  test/teiserver_web/tachyon/lobby_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Extend fix_ids to work with 256 players
  lib/teiserver/coordinator/consul_server.ex
  lib/teiserver/protocols/spring/spring.ex
Due: mix-format, mix-compile, mix-dialyzer

fixed query
  lib/teiserver_web/controllers/moderation/action_controller.ex
Due: mix-format, mix-compile, mix-dialyzer

fixed sorting
  lib/teiserver_web/controllers/moderation/action_controller.ex
  lib/teiserver_web/templates/moderation/action/tab_details.html.heex
Due: mix-format, mix-compile, mix-dialyzer

removed debug
  lib/teiserver_web/controllers/moderation/action_controller.ex
Due: mix-format, mix-compile, mix-dialyzer

changed strings to hrefs
  lib/teiserver_web/templates/moderation/action/tab_details.html.heex
Due: none

formating
  lib/teiserver_web/templates/moderation/action/tab_details.html.heex
Due: none

Added report discord links to actions (#1014)
  lib/teiserver_web/controllers/moderation/action_controller.ex
  lib/teiserver_web/templates/moderation/action/tab_details.html.heex
Due: mix-format, mix-compile, mix-dialyzer

Properly bypass login queue
  lib/teiserver/account/servers/login_throttle_server.ex
  test/teiserver/account/login_throttle_server_test.exs
Due: mix-format, mix-compile, mix-dialyzer

move the tests to be contributor specific, I'll have a separate test that demonstrates that regular players cannot see tachyon lobbies
  test/support/teiserver_test_lib.ex
  test/teiserver_web/live/tachyon_lobby_list_live_contributor_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Fix shortdoc for task to generate test users
  lib/teiserver/mix_tasks/ensure_test_users.ex
Due: mix-format, mix-compile, mix-dialyzer

Lobby shutting down is the same as invalid lobby
  lib/teiserver/tachyon_lobby/lobby.ex
Due: mix-format, mix-compile, mix-dialyzer

add test for player not being able to see Tachyon Lobbies
  test/teiserver_web/live/tachyon_lobby_list_live_contributor_test.exs
  test/teiserver_web/live/tachyon_lobby_list_live_player_test.exs
Due: mix-format, mix-dialyzer

non-contributors now redirected away from /battle/tachyon_lobbies
  lib/teiserver_web/router.ex
  test/teiserver_web/live/tachyon_lobby_list_live_player_test.exs
Due: mix-format, mix-compile, mix-dialyzer

use event sourcing when joining the lobby
  lib/teiserver/tachyon_lobby/lobby.ex
Due: mix-format, mix-compile, mix-dialyzer

Smarter `broadcast_updates` in lobbies
  lib/teiserver/tachyon_lobby/lobby.ex
  test/teiserver/tachyon_lobby/list_test.exs
Due: mix-format, mix-compile, mix-dialyzer

tweaked several renderers but I'm not convinced I'm any closer
  lib/teiserver_web/live/account/party/index.html.heex
  lib/teiserver_web/live/battles/lobbies/index.html.heex
  lib/teiserver_web/live/battles/lobbies/show.html.heex
  lib/teiserver_web/live/battles/lobbies/tachyon_index.html.heex
  lib/teiserver_web/live/battles/match/index.html.heex
  lib/teiserver_web/live/tournament/index.html.heex
  lib/teiserver_web/live/tournament/show.html.heex
  lib/teiserver_web/templates/battle/general/sub_menu.html.heex
  lib/teiserver_web/templates/battle/match/ratings.html.heex
  lib/teiserver_web/templates/battle/match/ratings_graph.html.heex
  lib/teiserver_web/templates/battle/match/show.html.heex
  lib/teiserver_web/templates/battle/ratings/leaderboard.html.heex
  test/teiserver_web/live/party_live_test.exs
Due: mix-format, mix-dialyzer

fix test on test/teiserver_web/live/party_live_test.exs
  test/teiserver_web/live/party_live_test.exs
Due: mix-format, mix-dialyzer

create basic test that the tournament page does not crash
  test/teiserver_web/live/tournament_live_test.exs
Due: mix-format, mix-dialyzer

clean/create implemented
  lib/teiserver/player/tachyon_handler.ex
Due: mix-format, mix-compile, mix-dialyzer

I think it is reasonable to have a leaderboard_view_test
  test/teiserver_web/views/leaderboard_view_test.exs
Due: mix-format, mix-dialyzer

Revert "tweaked several renderers but I'm not convinced I'm any closer"
  lib/teiserver_web/live/account/party/index.html.heex
  lib/teiserver_web/live/battles/lobbies/index.html.heex
  lib/teiserver_web/live/battles/lobbies/show.html.heex
  lib/teiserver_web/live/battles/lobbies/tachyon_index.html.heex
  lib/teiserver_web/live/battles/match/index.html.heex
  lib/teiserver_web/live/tournament/index.html.heex
  lib/teiserver_web/live/tournament/show.html.heex
  lib/teiserver_web/templates/battle/general/sub_menu.html.heex
  lib/teiserver_web/templates/battle/match/ratings.html.heex
  lib/teiserver_web/templates/battle/match/ratings_graph.html.heex
  lib/teiserver_web/templates/battle/match/show.html.heex
  lib/teiserver_web/templates/battle/ratings/leaderboard.html.heex
  test/teiserver_web/live/party_live_test.exs
Due: mix-format, mix-dialyzer

fix leaderboard_view_test
  lib/teiserver_web/controllers/battle/ratings_controller.ex
  test/teiserver_web/views/leaderboard_view_test.exs
Due: mix-format, mix-compile, mix-dialyzer

add party_live_test
  test/teiserver_web/live/party_live_test.exs
Due: mix-format, mix-dialyzer

trying to get this 'only-works-for-contributors thing' working
  lib/teiserver_web/templates/battle/general/sub_menu.html.heex
Due: none
