Repository beyond-all-reason/teiserver: changes, and which pre-commit hooks are due for each by the changed paths.
All: mix-format, mix-compile, mix-dialyzer

mix-format:
  name: 'elixir: mix format'
  entry: mix format --check-formatted
  language: system

mix-compile:
  name: 'elixir: mix compile'
  entry: mix compile --force
  language: system
  pass_filenames: false

mix-dialyzer:
  name: 'elixir: mix dialyzer'
  entry: mix dialyzer
  language: system
  pass_filenames: false

made a test fail correctly, uncommented potential fix
  lib/teiserver/account/schemas/user.ex
  test/teiserver/account/user_lib_test.exs
Due: mix-format, mix-compile, mix-dialyzer

feat(devcontainer): add stop and start server tasks
  .devcontainer/stop.sh
  .vscode/tasks.json
Due: none

fixed typo
  .github/workflows/build.yml
Due: none

Change code generation to use secure random bytes
  lib/teiserver/common/email_helper.ex
Due: mix-format, mix-compile, mix-dialyzer

Fixes issues with uppercase letters in namespace or repo name (#1357)
  .github/workflows/build.yml
Due: none

Change code generation to use secure random bytes (#1359)
  lib/teiserver/common/email_helper.ex
Due: mix-format, mix-compile, mix-dialyzer

Fix "Sprint" typo inside two files
  lib/teiserver/libs/teiserver_configs.ex
  lib/teiserver/tcp/spring/spring_tcp_server.ex
Due: mix-format, mix-compile, mix-dialyzer

Doc about clustering architecture.
  documents/clustering/scripts/install.sh
  documents/clustering/scripts/remote/bashrc
  documents/clustering/scripts/remote/dodeploy.sh
  documents/clustering/scripts/remote/install.sh
  documents/clustering/scripts/ssh_setup.sh
  documents/clustering/setup.md
  documents/dev_designs/cluster.md
Due: none

split helpers to test lobby
  test/support/lobby_helpers.ex
  test/teiserver/tachyon_lobby/list_test.exs
  test/teiserver/tachyon_lobby/lobby_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Replicate lobby events to replicas
  lib/teiserver/cluster.ex
  lib/teiserver/tachyon_lobby.ex
  lib/teiserver/tachyon_lobby/lobby.ex
  lib/teiserver/tachyon_lobby/types/start_params.ex
  test/teiserver/tachyon_lobby/cluster_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Spawn lobby on all connected nodes
  config/test.exs
  lib/teiserver/cluster.ex
  lib/teiserver/tachyon_lobby.ex
  lib/teiserver/tachyon_lobby/supervisor.ex
  test/teiserver/tachyon_lobby/cluster_test.exs
Due: mix-format, mix-compile, mix-dialyzer

dynamic creation of replica
  config/test.exs
  lib/teiserver/cluster.ex
  lib/teiserver/tachyon_lobby/lobby.ex
  lib/teiserver/tachyon_lobby/supervisor.ex
  lib/teiserver/tachyon_lobby/types/data.ex
  test/support/polling.ex
  test/teiserver/tachyon_lobby/cluster_test.exs
Due: mix-format, mix-compile, mix-dialyzer

move function to start a node in test
  test/support/cluster_helpers.ex
  test/teiserver/tachyon_lobby/cluster_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Track lobbies accross replica in session
  lib/teiserver/player/session.ex
  lib/teiserver/tachyon_lobby.ex
  lib/teiserver/tachyon_lobby/lobby.ex
  test/teiserver/player/session_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Rework player/spec leaving
  lib/teiserver/tachyon_lobby/lobby.ex
  lib/teiserver/tachyon_lobby/types/aggregate.ex
  test/teiserver/tachyon_lobby/cluster_test.exs
Due: mix-format, mix-compile, mix-dialyzer

fixed remaining new tests, fixed up existing tests, deduplicated some parts
  lib/teiserver/account/schemas/user.ex
  test/teiserver/account/user_lib_test.exs
Due: mix-format, mix-compile, mix-dialyzer

fixed formatting
  lib/teiserver/account/schemas/user.ex
  test/teiserver/account/user_lib_test.exs
Due: mix-format, mix-compile, mix-dialyzer

fixed linting
  test/teiserver/account/user_lib_test.exs
Due: mix-format, mix-dialyzer

Anchor verifier regex to match the whole string
  lib/teiserver/o_auth.ex
Due: mix-format, mix-compile, mix-dialyzer

fixed some of the tests that broke with the changes
  test/support/tachyon.ex
  test/teiserver/account/account_test.exs
  test/teiserver/account/auth_test.exs
  test/teiserver/battle/start_script_test.exs
  test/teiserver/logging/persist_server_month_task_test.exs
  test/teiserver/matchmaking/member_test.exs
  test/teiserver/matchmaking/queue_test.exs
  test/teiserver/moderation/moderation_test.exs
  test/teiserver/o_auth/application_query_test.exs
  test/teiserver/telemetry/complex_match_event_test.exs
  test/teiserver_web/controllers/admin/user_controller_test.exs
  test/teiserver_web/controllers/logging/page_view_log_controller_test.exs
  test/teiserver_web/controllers/tachyon_controller_test.exs
  test/teiserver_web/live/moderation/action_live/smurf_link_test.exs
  test/teiserver_web/tachyon/matchmaking_test.exs
  test/teiserver_web/tachyon/system_test.exs
  test/teiserver_web/tachyon/user_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Change leetspeak 4 to map to a
  lib/teiserver/helpers/string_helper.ex
Due: mix-format, mix-compile, mix-dialyzer

fixed more tests and broke some in the process
  lib/teiserver/helpers/general_test_lib.ex
  lib/teiserver/moderation/libs/test_lib.ex
  test/support/tachyon.ex
  test/teiserver/logging/persist_server_day_task_test.exs
  test/teiserver/protocols/spring/spring_auth_test.exs
  test/teiserver/telemetry/simple_lobby_event_test.exs
  test/teiserver/telemetry/simple_match_event_test.exs
Due: mix-format, mix-compile, mix-dialyzer

fixed more tests, 158 failing
  lib/teiserver/account/tasks/gdpr_forget_task.ex
  lib/teiserver/helpers/general_test_lib.ex
  test/support/tachyon.ex
  test/teiserver/account/user_totp_lib_test.exs
  test/teiserver/game/libs/match_rating_lib_test.exs
  test/teiserver/telemetry/simple_client_event_test.exs
  test/teiserver_web/controllers/admin/user_controller_test.exs
  test/teiserver_web/controllers/logging/page_view_log_controller_test.exs
Due: mix-format, mix-compile, mix-dialyzer

fix flaky test
  test/teiserver/protocols/spring/spring_raw_test.exs
Due: mix-format, mix-dialyzer

fixed some more tests
  test/teiserver/game/balancer_server_test.exs
  test/teiserver/telemetry/complex_client_event_test.exs
  test/teiserver/telemetry/complex_lobby_event_test.exs
  test/teiserver/telemetry/complex_server_event_test.exs
Due: mix-format, mix-dialyzer

Refactor communication autohost session/connection
  lib/teiserver/autohost/session.ex
  lib/teiserver/autohost/tachyon_handler.ex
  test/teiserver/autohost/autohost_test.exs
  test/teiserver/tachyon_battle/battle_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Minor correction direction (#5)
  lib/teiserver/account/tasks/gdpr_forget_task.ex
  lib/teiserver/helpers/general_test_lib.ex
  test/support/fixtures/account/account_fixtures.ex
  test/teiserver/account/user_totp_lib_test.exs
Due: mix-format, mix-compile, mix-dialyzer

updated tests to only set a name where it makes sense
  lib/teiserver/helpers/general_test_lib.ex
  test/support/tachyon.ex
  test/teiserver/account/auth_test.exs
  test/teiserver/account/user_lib_test.exs
  test/teiserver/battle/start_script_test.exs
  test/teiserver/game/balancer_server_test.exs
  test/teiserver/game/libs/match_rating_lib_test.exs
  test/teiserver/logging/persist_server_day_task_test.exs
  test/teiserver/logging/persist_server_month_task_test.exs
  test/teiserver/matchmaking/member_test.exs
  test/teiserver/matchmaking/queue_test.exs
  test/teiserver/o_auth/application_query_test.exs
  test/teiserver/telemetry/simple_server_event_test.exs
  test/teiserver_web/controllers/admin/user_controller_test.exs
  test/teiserver_web/controllers/logging/page_view_log_controller_test.exs
  test/teiserver_web/controllers/tachyon_controller_test.exs
  test/teiserver_web/tachyon/matchmaking_test.exs
  test/teiserver_web/tachyon/system_test.exs
  test/teiserver_web/tachyon/user_test.exs
Due: mix-format, mix-compile, mix-dialyzer

most tests fixed
  lib/teiserver/account/caches/user_cache_lib.ex
  lib/teiserver/helpers/general_test_lib.ex
  test/teiserver/account/user_lib_test.exs
  test/teiserver/game/balancer_server_test.exs
  test/teiserver_web/controllers/api/admin/user_controller_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Change leetspeak 4 to map to a (#1363)
  lib/teiserver/helpers/string_helper.ex
Due: mix-format, mix-compile, mix-dialyzer

fixed gdpr_foret issue
  lib/teiserver/account/caches/user_cache_lib.ex
  lib/teiserver/account/tasks/gdpr_forget_task.ex
Due: mix-format, mix-compile, mix-dialyzer

Remove key/value in password reset logic
  lib/teiserver_web/controllers/account/session_controller.ex
  lib/teiserver_web/templates/account/session/forgot_password.html.heex
  test/teiserver_web/controllers/account/session_controller_test.exs
Due: mix-format, mix-compile, mix-dialyzer

just a few tests left
  test/teiserver/data/user_test.exs
Due: mix-format, mix-dialyzer

Fix case sensitivity in reserved username check
  lib/teiserver/chat/libs/word_lib.ex
Due: mix-format, mix-compile, mix-dialyzer

test the actual email being sent
  test/teiserver_web/controllers/account/session_controller_test.exs
  test/test_helper.exs
Due: mix-format, mix-dialyzer

Fix flaky test with rate limiter
  test/teiserver/player/login_queue_test.exs
Due: mix-format, mix-dialyzer

Fix flaky test with spring rate limiter
  lib/teiserver/general/rate_limit.ex
  test/teiserver/protocols/spring/spring_raw_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Fix flaky test
  test/teiserver/coordinator/coordinator_commands_sync_test.exs
Due: mix-format, mix-dialyzer

Path conditions:
  mix-format: any of: \.exs*$
  mix-compile: any of: \.ex$
  mix-dialyzer: any of: \.exs*$
