Repository beyond-all-reason/teiserver: changes, and which pre-commit hooks are due for each by the changed paths.
All: mix-format, mix-compile, mix-dialyzer

mix-format:
  name: 'elixir: mix format'
  entry: mix format --check-formatted
  language: system

mix-compile:
  name: 'elixir: mix compile'
  entry: mix compile --force
  language: system
  pass_filenames: false

mix-dialyzer:
  name: 'elixir: mix dialyzer'
  entry: mix dialyzer
  language: system
  pass_filenames: false

Reject matchmaking if party too big
  lib/teiserver/matchmaking/queue_server.ex
  lib/teiserver/player/tachyon_handler.ex
  test/teiserver/matchmaking/queue_test.exs
  test/teiserver_web/tachyon/matchmaking_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Implement cancel queue request
  lib/teiserver/player/session.ex
  lib/teiserver/player/tachyon_handler.ex
  priv/tachyon/schema/matchmaking/cancel/request.json
  test/support/tachyon.ex
  test/teiserver_web/tachyon/matchmaking_test.exs
Due: mix-format, mix-compile, mix-dialyzer

ffs flakey tests
  test/teiserver_web/controllers/logging/audit_log_controller_test.exs
  test/teiserver_web/controllers/logging/general_controller_test.exs
Due: mix-format, mix-dialyzer

Fix logger configuration
  config/runtime.exs
Due: mix-format, mix-dialyzer

Fix logger configuration (#443)
  config/runtime.exs
Due: mix-format, mix-dialyzer

Naming improvements for balance algos
  lib/teiserver/battle/libs/balance_lib.ex
  lib/teiserver/coordinator/consul_commands.ex
  test/teiserver/battle/balance_lib_internal_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Add auto to config
  lib/teiserver/libs/teiserver_configs.ex
Due: mix-format, mix-compile, mix-dialyzer

Session dies if no reconnection in time
  lib/teiserver/player.ex
  lib/teiserver/player/session.ex
  test/teiserver_web/tachyon/session_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Remove player from queue when session dies
  lib/teiserver/matchmaking/queue_server.ex
  lib/teiserver/player.ex
  test/teiserver_web/tachyon/matchmaking_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Allow chat-restricted users to run whitelisted commands.
  lib/teiserver/lobby.ex
  lib/teiserver/lobby/libs/chat_lib.ex
Due: mix-format, mix-compile, mix-dialyzer

Run `mix format` for previous commit.
  lib/teiserver/lobby/libs/chat_lib.ex
Due: mix-format, mix-compile, mix-dialyzer

Increase chance worst noob paired with best captain
  lib/teiserver/battle/balance/split_noobs.ex
  test/teiserver/battle/split_noobs_internal_test.exs
  test/teiserver/battle/split_noobs_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Tachyon timeout (#445)
  lib/teiserver/matchmaking/queue_server.ex
  lib/teiserver/player.ex
  lib/teiserver/player/session.ex
  test/teiserver_web/tachyon/matchmaking_test.exs
  test/teiserver_web/tachyon/session_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Naming improvements for balance algos (#444)
  lib/teiserver/battle/libs/balance_lib.ex
  lib/teiserver/coordinator/consul_commands.ex
  lib/teiserver/libs/teiserver_configs.ex
  test/teiserver/battle/balance_lib_internal_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Remove unnecessary `cond do`.
  lib/teiserver/lobby/libs/chat_lib.ex
Due: mix-format, mix-compile, mix-dialyzer

Add `!y`/`!n`/`!b` to command whitelist for chat-restricted users.
  lib/teiserver/lobby/libs/chat_lib.ex
Due: mix-format, mix-compile, mix-dialyzer

Update README.md
  README.md
Due: none

Clarify running db migrations in the local setup
  documents/guides/local_setup.md
Due: none

Allow chat-restricted users to run whitelisted commands. (#446)
  lib/teiserver/lobby.ex
  lib/teiserver/lobby/libs/chat_lib.ex
Due: mix-format, mix-compile, mix-dialyzer

Increase chance worst noob paired with best captain (#447)
  lib/teiserver/battle/balance/split_noobs.ex
  test/teiserver/battle/split_noobs_internal_test.exs
  test/teiserver/battle/split_noobs_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Remove addition GRANT ALL PRIVILEGES line
  config/dev.exs
  config/test.exs
  documents/guides/local_setup.md
Due: mix-format, mix-dialyzer

Remove local changes
  config/dev.exs
  config/test.exs
Due: mix-format, mix-dialyzer

Remove local changes, try 2
  config/dev.exs
  config/test.exs
Due: mix-format, mix-dialyzer

Improve split_noobs when very imbalanced captains
  lib/teiserver/battle/balance/split_noobs.ex
  test/teiserver/battle/split_noobs_internal_test.exs
  test/teiserver/battle/split_noobs_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Update instructions on how to run db migrations in local_setup docs (#450)
  documents/guides/local_setup.md
Due: none

Fix match id in replays
  lib/teiserver/battle.ex
  lib/teiserver/lobby/servers/lobby_server.ex
  lib/teiserver_web/live/battles/lobbies/show.html.heex
Due: mix-format, mix-compile, mix-dialyzer

More restrictive avoids
  lib/teiserver/account/libs/relationship_lib.ex
  lib/teiserver/libs/teiserver_configs.ex
Due: mix-format, mix-compile, mix-dialyzer

Make use of site config debug options, cleanup spring_in
  config/runtime.exs
  lib/teiserver/protocols/spring/spring_in.ex
  lib/teiserver/protocols/spring/spring_out.ex
Due: mix-format, mix-compile, mix-dialyzer

Playtime in hours
  lib/teiserver_web/live/account/profile/playtime.html.heex
Due: none

Remove container from contributor page
  lib/teiserver_web/live/account/profile/contributor.html.heex
Due: none

mix format
  lib/teiserver/protocols/spring/spring_in.ex
  lib/teiserver_web/live/account/profile/contributor.html.heex
Due: mix-format, mix-compile, mix-dialyzer

Closes #454
  mix.lock
Due: none

Minor improvements (#455)
  config/runtime.exs
  lib/teiserver/protocols/spring/spring_in.ex
  lib/teiserver/protocols/spring/spring_out.ex
  lib/teiserver_web/live/account/profile/contributor.html.heex
  lib/teiserver_web/live/account/profile/playtime.html.heex
Due: mix-format, mix-compile, mix-dialyzer

Remove balancemode
  lib/teiserver/coordinator/consul_commands.ex
  lib/teiserver/coordinator/consul_server.ex
Due: mix-format, mix-compile, mix-dialyzer

Remove balancemode (#457)
  lib/teiserver/coordinator/consul_commands.ex
  lib/teiserver/coordinator/consul_server.ex
Due: mix-format, mix-compile, mix-dialyzer

Fix TeamFFA ratings and balance
  lib/teiserver/game/servers/balancer_server.ex
  lib/teiserver_web/controllers/api/spads_controller.ex
Due: mix-format, mix-compile, mix-dialyzer

Fix match id in replays (#452)
  lib/teiserver/battle.ex
  lib/teiserver/lobby/servers/lobby_server.ex
  lib/teiserver_web/live/battles/lobbies/show.html.heex
Due: mix-format, mix-compile, mix-dialyzer

Fix TeamFFA ratings and balance (#458)
  lib/teiserver/game/servers/balancer_server.ex
  lib/teiserver_web/controllers/api/spads_controller.ex
Due: mix-format, mix-compile, mix-dialyzer

All lobby ban no longer disconnects client and kicks from in progress game
  lib/teiserver/moderation/tasks/refresh_user_restrictions_task.ex
Due: mix-format, mix-compile, mix-dialyzer

All lobby ban no longer disconnects client and kicks from in progress game (#460)
  lib/teiserver/moderation/tasks/refresh_user_restrictions_task.ex
Due: mix-format, mix-compile, mix-dialyzer

Path conditions:
  mix-format: any of: \.exs*$
  mix-compile: any of: \.ex$
  mix-dialyzer: any of: \.exs*$
