Repository beyond-all-reason/teiserver: changes, and which pre-commit hooks are due for each by the changed paths.
All: mix-format, mix-compile, mix-dialyzer

mix-format:
  name: 'elixir: mix format'
  entry: mix format --check-formatted
  language: system

mix-compile:
  name: 'elixir: mix compile'
  entry: mix compile --force
  language: system
  pass_filenames: false

mix-dialyzer:
  name: 'elixir: mix dialyzer'
  entry: mix dialyzer
  language: system
  pass_filenames: false

Cleanup
  lib/teiserver_web/live/account/relationship/index.ex
Due: mix-format, mix-compile, mix-dialyzer

Emit suggestion on where to update test coverage goal
  .github/workflows/tests.yml
Due: none

Update name of tests step to be more clear as to current state
  .github/workflows/tests.yml
Due: none

Add readme about scripts/show_test_coverage_for_files_changed_in_last_month.sh
  documents/guides/testing.md
Due: none

More fixes
  lib/teiserver_web/live/account/relationship/index.ex
Due: mix-format, mix-compile, mix-dialyzer

Add confirm dialog to removing avoids
  lib/teiserver/account/libs/relationship_lib.ex
  lib/teiserver_web/live/account/relationship/index.ex
  lib/teiserver_web/live/account/relationship/index.html.heex
  test/teiserver/account/relationship_lib_test.exs
Due: mix-format, mix-compile, mix-dialyzer

re-added the code to generate code coverage for recent files, commented out, in case someone can fix it
  .github/workflows/tests.yml
Due: none

add a bit of documentation on where to update test coverage requirements
  .github/workflows/tests.yml
  documents/guides/testing.md
Due: none

found an alternate way of getting a list of changed files
  .github/workflows/tests.yml
Due: none

slightly more explanation in the GH action file, and trying to kick the test run again
  .github/workflows/tests.yml
Due: none

Add seasonal_uncertainty_reset_task
  lib/teiserver/battle/tasks/seasonal_uncertainty_reset_task.ex
  lib/teiserver/mix_tasks/seasonal_uncertainty_reset_task.ex
Due: mix-format, mix-compile, mix-dialyzer

Update coordinator_commands.ex
  lib/teiserver/coordinator/coordinator_commands.ex
Due: mix-format, mix-compile, mix-dialyzer

Update coordinator_commands.ex (#544)
  lib/teiserver/coordinator/coordinator_commands.ex
Due: mix-format, mix-compile, mix-dialyzer

Fix prematch ratings on balance tab (#542)
  lib/teiserver/battle/libs/balance_lib.ex
  lib/teiserver_web/live/battles/match/show.html.heex
Due: mix-format, mix-compile, mix-dialyzer

mix format
  lib/teiserver_web/live/account/relationship/index.html.heex
Due: none

Add num_matches column
  lib/teiserver/account/schemas/rating.ex
  lib/teiserver/game/libs/match_rating_lib.ex
  priv/repo/migrations/20241212224758_add_num_matches_column.exs
  test/teiserver/game/libs/match_rating_lib_test.exs
Due: mix-format, mix-compile, mix-dialyzer

manually applied geekingfrog's changes
  .github/workflows/tests.yml
Due: none

Update based on Lexon feedback
  lib/teiserver/game/libs/match_rating_lib.ex
  test/teiserver/game/libs/match_rating_lib_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Add num_matches column (#545)
  lib/teiserver/account/schemas/rating.ex
  lib/teiserver/game/libs/match_rating_lib.ex
  priv/repo/migrations/20241212224758_add_num_matches_column.exs
  test/teiserver/game/libs/match_rating_lib_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Purge inactive friends and avoids (#541)
  lib/teiserver/account/libs/account_test_lib.ex
  lib/teiserver/account/libs/relationship_lib.ex
  lib/teiserver_web/live/account/relationship/index.ex
  lib/teiserver_web/live/account/relationship/index.html.heex
  lib/teiserver_web/router.ex
  test/teiserver/account/relationship_lib_test.exs
  test/teiserver_web/live/account/relationship/index_live_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Fix OS prediction text
  lib/teiserver_web/live/battles/match/show.ex
Due: mix-format, mix-compile, mix-dialyzer

Fix OS prediction text (#546)
  lib/teiserver_web/live/battles/match/show.ex
Due: mix-format, mix-compile, mix-dialyzer

Add function to calculate seasonal uncertainty
  priv/repo/migrations/20241209014803_season_uncertainty_function.exs
  test/teiserver/sql/season_uncertainty_reset_test.exs
Due: mix-format, mix-dialyzer

Add num_matches to logs
  lib/teiserver/mix_tasks/seasonal_uncertainty_reset_task.ex
Due: mix-format, mix-compile, mix-dialyzer

lengthen tachyon test client timeout to accomodate slower processors or variable compute availability
  test/support/tachyon.ex
Due: mix-format, mix-compile, mix-dialyzer

lengthen tachyon test client timeout to accomodate slower processors or variable compute availability (#547)
  test/support/tachyon.ex
Due: mix-format, mix-compile, mix-dialyzer

Add function to calculate seasonal uncertainty reset - Allow inactive users to have larger reset (#540)
  lib/teiserver/battle/tasks/seasonal_uncertainty_reset_task.ex
  lib/teiserver/mix_tasks/seasonal_uncertainty_reset_task.ex
  priv/repo/migrations/20241209014803_season_uncertainty_function.exs
  test/teiserver/sql/season_uncertainty_reset_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Add win prediction balance algorithm
  lib/teiserver/battle/balance/win_predict.ex
  lib/teiserver/battle/libs/balance_lib.ex
  lib/teiserver/coordinator/consul_commands.ex
Due: mix-format, mix-compile, mix-dialyzer

Add author alias to blost post
  lib/teiserver/battle/tasks/seasonal_uncertainty_reset_task.ex
  lib/teiserver/microblog/schemas/post.ex
  lib/teiserver/mix_tasks/seasonal_uncertainty_reset_task.ex
  lib/teiserver_web/live/microblog/admin/post/post_form_component.ex
  lib/teiserver_web/live/microblog/blog/index.html.heex
  priv/repo/migrations/20241209014803_season_uncertainty_function.exs
  priv/repo/migrations/20241229013049_add_microblog_poster_alias.exs
  test/teiserver/sql/season_uncertainty_reset_test.exs
  test/teiserver_web/live/microblog/post_form_component_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Add author alias to blost post
  lib/teiserver/microblog/schemas/post.ex
  lib/teiserver_web/live/microblog/admin/post/post_form_component.ex
  lib/teiserver_web/live/microblog/blog/index.html.heex
  priv/repo/migrations/20241229013049_add_microblog_poster_alias.exs
  test/teiserver_web/live/microblog/post_form_component_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Add author alias to blost post (#550)
  lib/teiserver/microblog/schemas/post.ex
  lib/teiserver_web/live/microblog/admin/post/post_form_component.ex
  lib/teiserver_web/live/microblog/blog/index.html.heex
  priv/repo/migrations/20241229013049_add_microblog_poster_alias.exs
  test/teiserver_web/live/microblog/post_form_component_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Add new rating system setup task
  lib/teiserver/battle/libs/balance_lib.ex
  lib/teiserver/game/libs/match_rating_lib.ex
  lib/teiserver/libs/teiserver_configs.ex
  lib/teiserver/mix_tasks/provisional_rating_setup.ex
  lib/teiserver_web/controllers/admin/site_config_controller.ex
  lib/teiserver_web/controllers/admin/user_controller.ex
  test/teiserver/game/libs/match_rating_lib_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Negative ratings displayed as zero
  lib/teiserver_web/controllers/api/spads_controller.ex
Due: mix-format, mix-compile, mix-dialyzer

Fix test
  test/teiserver_web/controllers/api/spads_controller_test.exs
Due: mix-format, mix-dialyzer

Simplify tests
  test/teiserver/game/libs/match_rating_lib_test.exs
Due: mix-format, mix-dialyzer

Fix tests
  test/teiserver/game/libs/match_rating_lib_test.exs
Due: mix-format, mix-dialyzer

Add uncertainty to player page
  lib/teiserver_web/live/battles/match/show.ex
  lib/teiserver_web/live/battles/match/show.html.heex
Due: mix-format, mix-compile, mix-dialyzer

mix format
  lib/teiserver_web/live/battles/match/show.html.heex
Due: none

Add minor changes
  lib/teiserver/battle/balance/respect_avoids.ex
  lib/teiserver/battle/libs/balance_lib.ex
Due: mix-format, mix-compile, mix-dialyzer

Path conditions:
  mix-format: any of: \.exs*$
  mix-compile: any of: \.ex$
  mix-dialyzer: any of: \.exs*$
