Repository beyond-all-reason/teiserver: changes, and which pre-commit hooks are due for each by the changed paths.
All: mix-format, mix-compile, mix-dialyzer

mix-format:
  name: 'elixir: mix format'
  entry: mix format --check-formatted
  language: system

mix-compile:
  name: 'elixir: mix compile'
  entry: mix compile --force
  language: system
  pass_filenames: false

mix-dialyzer:
  name: 'elixir: mix dialyzer'
  entry: mix dialyzer
  language: system
  pass_filenames: false

Remove unused function
  lib/teiserver/microblog/libs/poll_response_lib.ex
Due: mix-format, mix-compile, mix-dialyzer

Remove unused function (#652)
  lib/teiserver/microblog/libs/poll_response_lib.ex
Due: mix-format, mix-compile, mix-dialyzer

Update contributor.html.heex
  lib/teiserver_web/live/account/profile/contributor.html.heex
Due: none

Fix leaderboard activity for previous seasons
  lib/teiserver/account.ex
  lib/teiserver/account/libs/rating_lib.ex
  lib/teiserver_web/controllers/admin/user_controller.ex
  lib/teiserver_web/controllers/api/public_controller.ex
Due: mix-format, mix-compile, mix-dialyzer

Update contributor.html.heex (#653)
  lib/teiserver_web/live/account/profile/contributor.html.heex
Due: none

Limit size of parties
  lib/teiserver/config.ex
  lib/teiserver/config/schemas/site_config.ex
  lib/teiserver/libs/teiserver_configs.ex
  lib/teiserver/party.ex
  lib/teiserver/party/server.ex
  test/support/conn_case.ex
  test/teiserver_web/tachyon/party_test.exs
Due: mix-format, mix-compile, mix-dialyzer

time out invites after a while
  lib/teiserver/party.ex
  lib/teiserver/party/server.ex
  test/teiserver_web/tachyon/party_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Fix leaderboard activity for previous seasons (#651)
  lib/teiserver/account.ex
  lib/teiserver/account/libs/rating_lib.ex
  lib/teiserver_web/controllers/admin/user_controller.ex
  lib/teiserver_web/controllers/api/public_controller.ex
Due: mix-format, mix-compile, mix-dialyzer

Restart tachyon system between sync tests
  lib/teiserver/application.ex
  lib/teiserver/matchmaking.ex
  lib/teiserver/matchmaking/queue_supervisor.ex
  lib/teiserver/matchmaking/system.ex
  test/support/server_case.ex
  test/support/tachyon.ex
  test/teiserver/asset/engine_test.exs
  test/teiserver/asset/game_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Restart tachyon system between sync tests (#654)
  lib/teiserver/application.ex
  lib/teiserver/matchmaking.ex
  lib/teiserver/matchmaking/queue_supervisor.ex
  lib/teiserver/matchmaking/system.ex
  test/support/server_case.ex
  test/support/tachyon.ex
  test/teiserver/asset/engine_test.exs
  test/teiserver/asset/game_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Remove SessionController
  lib/teiserver_web/controllers/api/session_controller.ex
  lib/teiserver_web/router.ex
Due: mix-format, mix-compile, mix-dialyzer

Password refactoring and cleanup
  lib/teiserver/account.ex
  lib/teiserver/account/caches/user_cache_lib.ex
  lib/teiserver/account/libs/user_lib.ex
  lib/teiserver/account/schemas/user.ex
  lib/teiserver/data/cache_user.ex
  lib/teiserver/mix_tasks/fake_data.ex
  lib/teiserver/protocols/spring/spring_in.ex
  lib/teiserver_web/controllers/account/security_controller.ex
  lib/teiserver_web/controllers/account/session_controller.ex
  lib/teiserver_web/controllers/account/setup_controller.ex
  lib/teiserver_web/controllers/admin/user_controller.ex
  lib/teiserver_web/templates/admin/user/tab_details.html.heex
  test/teiserver/protocols/spring/spring_auth_test.exs
  test/teiserver/protocols/spring/spring_raw_test.exs
  test/teiserver_web/controllers/tachyon_controller_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Cleanup unused registration functions
  lib/teiserver/data/cache_user.ex
  test/teiserver/data/user_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Fix changesets and tests
  lib/central/general_test_lib.ex
  lib/teiserver/account.ex
  lib/teiserver/account/libs/user_lib.ex
  lib/teiserver/account/schemas/user.ex
  lib/teiserver/protocols/spring/spring_in.ex
  lib/teiserver_web/controllers/account/security_controller.ex
  test/teiserver/data/user_test.exs
  test/teiserver/protocols/spring/spring_raw_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Handle party server going down
  lib/teiserver/party.ex
  lib/teiserver/party/server.ex
  lib/teiserver/player/session.ex
  test/teiserver/party/party_test.exs
  test/teiserver_web/tachyon/party_test.exs
Due: mix-format, mix-compile, mix-dialyzer

New wrapper to manage multiple monitors
  lib/teiserver/helpers/monitor_collection.ex
  test/teiserver/helpers/monitor_collection_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Refactor monitors for matchmaking
  lib/teiserver/matchmaking/queue_server.ex
Due: mix-format, mix-compile, mix-dialyzer

Bimap helper
  lib/teiserver/helpers/bimap.ex
  test/teiserver/helpers/bimap_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Refactor monitors in sessions
  lib/teiserver/player/session.ex
Due: mix-format, mix-compile, mix-dialyzer

Refactor: party uses monitor collection
  lib/teiserver/party/server.ex
  lib/teiserver/player.ex
  test/teiserver_web/tachyon/party_test.exs
Due: mix-format, mix-compile, mix-dialyzer

party/updated when a member leaves
  lib/teiserver/party/server.ex
  test/teiserver_web/tachyon/party_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Remove a stray inspect from test
  test/teiserver/protocols/spring/spring_party_test.exs
Due: mix-format, mix-dialyzer

Pin gun dependency to previous version
  mix.exs
  mix.lock
Due: mix-format, mix-dialyzer

Merge pull request #658 from geekingfrog/pin-gun-dependency
  mix.exs
  mix.lock
Due: mix-format, mix-dialyzer

Additional test fixes
  lib/central/general_test_lib.ex
  lib/teiserver/account/schemas/user.ex
  lib/teiserver/protocols/spring/spring_in.ex
  test/teiserver/protocols/spring/spring_auth_test.exs
  test/teiserver/protocols/spring/spring_raw_test.exs
  test/teiserver_web/controllers/tachyon_controller_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Additional cleanup
  lib/central/general_test_lib.ex
  lib/teiserver/account.ex
  lib/teiserver/account/libs/account_test_lib.ex
  lib/teiserver/account/libs/user_lib.ex
  lib/teiserver/account/schemas/user.ex
  lib/teiserver/data/cache_user.ex
  lib/teiserver_web/controllers/account/session_controller.ex
  lib/teiserver_web/controllers/admin/user_controller.ex
  test/support/fixtures/account/account_fixtures.ex
  test/support/teiserver_test_lib.ex
  test/teiserver/account/account_test.exs
  test/teiserver/microblog/microblog_test.exs
  test/teiserver/protocols/spring/spring_auth_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Add migration
  priv/repo/migrations/20250514114428_password_rework.exs
Due: mix-format, mix-dialyzer

Remove CHANGEPASSWORD as it was unused
  lib/teiserver/account.ex
  lib/teiserver/account/libs/user_lib.ex
  lib/teiserver/account/schemas/user.ex
  lib/teiserver/protocols/spring/spring_in.ex
  test/teiserver/protocols/spring/spring_auth_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Refactor: extract the check to join queue
  lib/teiserver/matchmaking/queue_server.ex
Due: mix-format, mix-compile, mix-dialyzer

Forbid invite when in matchmaking
  lib/teiserver/party/server.ex
  test/teiserver_web/tachyon/party_matchmaking_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Party joins matchmaking
  lib/teiserver/matchmaking.ex
  lib/teiserver/matchmaking/pairing_room.ex
  lib/teiserver/matchmaking/queue_server.ex
  lib/teiserver/party.ex
  lib/teiserver/party/server.ex
  lib/teiserver/player.ex
  lib/teiserver/player/session.ex
  lib/teiserver/player/tachyon_handler.ex
  lib/teiserver/tachyon/transport.ex
  priv/tachyon/schema/matchmaking/queuesJoined/event.json
  test/support/tachyon.ex
  test/teiserver_web/tachyon/party_matchmaking_test.exs
Due: mix-format, mix-compile, mix-dialyzer

refactor: put state as first arg to send_to_player
  lib/teiserver/player/session.ex
Due: mix-format, mix-compile, mix-dialyzer

handle queue crash when in party
  lib/teiserver/party/server.ex
  test/teiserver_web/tachyon/party_matchmaking_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Refactor: extract leave matchmaking logic
  lib/teiserver/player/session.ex
Due: mix-format, mix-compile, mix-dialyzer

Update the ws sync client used in test
  mix.exs
  mix.lock
Due: mix-format, mix-dialyzer

Refactor: use start_link_supervised! in test
  test/teiserver/matchmaking/queue_test.exs
Due: mix-format, mix-dialyzer

Path conditions:
  mix-format: any of: \.exs*$
  mix-compile: any of: \.ex$
  mix-dialyzer: any of: \.exs*$
