Repository beyond-all-reason/teiserver: changes, and which pre-commit hooks are due for each by the changed paths.
All: mix-format, mix-compile, mix-dialyzer

mix-format:
  name: 'elixir: mix format'
  entry: mix format --check-formatted
  language: system

mix-compile:
  name: 'elixir: mix compile'
  entry: mix compile --force
  language: system
  pass_filenames: false

mix-dialyzer:
  name: 'elixir: mix dialyzer'
  entry: mix dialyzer
  language: system
  pass_filenames: false

Match rating status fix (#521)
  lib/teiserver/game/libs/match_rating_lib.ex
  lib/teiserver_web/live/battles/match/show.ex
Due: mix-format, mix-compile, mix-dialyzer

Fix missing case for match rating status
  lib/teiserver_web/live/battles/match/show.ex
Due: mix-format, mix-compile, mix-dialyzer

Fix the tests related to rename error messages
  test/teiserver/data/user_test.exs
Due: mix-format, mix-dialyzer

Disable call to geoip command in tests
  test/support/conn_case.ex
  test/support/server_case.ex
Due: mix-format, mix-compile, mix-dialyzer

Refactor: extract the function to clear a given cache
  test/support/teiserver_test_lib.ex
Due: mix-format, mix-compile, mix-dialyzer

Avoid cache between tests leading to foreign key errors
  test/teiserver_web/controllers/api/spads_controller_test.exs
Due: mix-format, mix-dialyzer

Fix spec for update_site_config
  lib/teiserver/config.ex
Due: mix-format, mix-compile, mix-dialyzer

Fix more tests (#522)
  lib/teiserver/config.ex
  test/support/conn_case.ex
  test/support/server_case.ex
  test/support/teiserver_test_lib.ex
  test/teiserver/data/user_test.exs
  test/teiserver_web/controllers/api/spads_controller_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Get oauth base url from Endpoint.static_url
  config/runtime.exs
  lib/teiserver_web/views/api/o_auth/code_view.ex
Due: mix-format, mix-compile, mix-dialyzer

Use BAR openskill
  mix.exs
  mix.lock
Due: mix-format, mix-dialyzer

Use BAR openskill (#525)
  mix.exs
  mix.lock
Due: mix-format, mix-dialyzer

set timezone on timezone-unaware test
  test/teiserver/helpers/timex_helper_test.exs
Due: mix-format, mix-dialyzer

fix formatting on mix.exs
  mix.exs
Due: mix-format, mix-dialyzer

Format
  mix.exs
Due: mix-format, mix-dialyzer

Add `list` operation for autohosts
  lib/teiserver/autohost.ex
  lib/teiserver/autohost/registry.ex
  test/support/tachyon.ex
  test/teiserver_web/tachyon/autohost.exs
Due: mix-format, mix-compile, mix-dialyzer

Show map win rate
  lib/teiserver/battle/libs/match_history_lib.ex
  lib/teiserver_web/live/battles/match/show.ex
  lib/teiserver_web/live/battles/match/show.html.heex
Due: mix-format, mix-compile, mix-dialyzer

Format
  lib/teiserver_web/live/battles/match/show.html.heex
  mix.exs
Due: mix-format, mix-dialyzer

Only show for non bot matches
  lib/teiserver_web/live/battles/match/show.html.heex
Due: none

Fix incorrect sql query
  lib/teiserver/battle/libs/match_history_lib.ex
Due: mix-format, mix-compile, mix-dialyzer

Kick players out when no autohost available
  lib/teiserver/matchmaking/pairing_room.ex
  lib/teiserver/matchmaking/queue_server.ex
  lib/teiserver/player/session.ex
  test/teiserver_web/tachyon/matchmaking_test.exs
Due: mix-format, mix-compile, mix-dialyzer

set timezone on timezone-unaware test (#524)
  mix.exs
  test/teiserver/helpers/timex_helper_test.exs
Due: mix-format, mix-dialyzer

Get oauth base url from Endpoint.static_url (#523)
  config/runtime.exs
  lib/teiserver_web/views/api/o_auth/code_view.ex
Due: mix-format, mix-compile, mix-dialyzer

Chore: refine typespec: non empty list of member for team
  lib/teiserver/matchmaking/pairing_room.ex
Due: mix-format, mix-compile, mix-dialyzer

Generate test autohost name if not provided
  test/support/fixtures/autohost.ex
Due: mix-format, mix-compile, mix-dialyzer

Send start script when all players are ready
  lib/teiserver/autohost.ex
  lib/teiserver/autohost/tachyon_handler.ex
  lib/teiserver/matchmaking/pairing_room.ex
  lib/teiserver/tachyon/schema.ex
  priv/tachyon/schema/autohost/start/response.json
  test/teiserver_web/tachyon/matchmaking_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Refactor: helper test function to ready up
  test/teiserver_web/tachyon/matchmaking_test.exs
Due: mix-format, mix-dialyzer

Propagate autohost errors to clients
  lib/teiserver/autohost.ex
  lib/teiserver/autohost/tachyon_handler.ex
  lib/teiserver/matchmaking/pairing_room.ex
  lib/teiserver/player.ex
  lib/teiserver/player/session.ex
  lib/teiserver/player/tachyon_handler.ex
  test/support/tachyon.ex
  test/teiserver_web/tachyon/matchmaking_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Refactor: separate tests for matchmaking with autohost
  test/teiserver_web/tachyon/matchmaking_test.exs
Due: mix-format, mix-dialyzer

Fix test after getting local oauth endpoint working
  test/teiserver_web/controllers/o_auth/code_controller_test.exs
Due: mix-format, mix-dialyzer

Fix tests: local oauth discovery (#528)
  test/teiserver_web/controllers/o_auth/code_controller_test.exs
Due: mix-format, mix-dialyzer

Timeout autohost if response is too late
  lib/teiserver/autohost/tachyon_handler.ex
Due: mix-format, mix-compile, mix-dialyzer

Less verbose logging when things terminate normally
  lib/teiserver/player/session.ex
  lib/teiserver/tachyon/transport.ex
Due: mix-format, mix-compile, mix-dialyzer

Player submit data when readying up
  lib/teiserver/matchmaking.ex
  lib/teiserver/matchmaking/pairing_room.ex
  lib/teiserver/player/session.ex
  test/teiserver/matchmaking/pairing_test.exs
  test/teiserver_web/tachyon/matchmaking_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Refactor: centralize the type for pending responses
  lib/teiserver/autohost/tachyon_handler.ex
  lib/teiserver/tachyon/handler.ex
Due: mix-format, mix-compile, mix-dialyzer

Reset player state when match starts
  lib/teiserver/player/session.ex
Due: mix-format, mix-compile, mix-dialyzer

Remove player from a queue when disbanding pairing
  lib/teiserver/matchmaking/pairing_room.ex
  lib/teiserver/matchmaking/queue_server.ex
Due: mix-format, mix-compile, mix-dialyzer

Store player struct in session
  lib/teiserver/player/session.ex
  lib/teiserver/player/tachyon_handler.ex
Due: mix-format, mix-compile, mix-dialyzer

Handle response timeouts
  lib/teiserver/player/tachyon_handler.ex
Due: mix-format, mix-compile, mix-dialyzer

Send start battle message to players
  lib/teiserver/autohost.ex
  lib/teiserver/autohost/tachyon_handler.ex
  lib/teiserver/player.ex
  lib/teiserver/player/session.ex
  lib/teiserver/player/tachyon_handler.ex
  test/teiserver_web/tachyon/matchmaking_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Warn if cache is down
  lib/teiserver/helpers/cache_helper.ex
Due: mix-format, mix-compile, mix-dialyzer

Path conditions:
  mix-format: any of: \.exs*$
  mix-compile: any of: \.ex$
  mix-dialyzer: any of: \.exs*$
