Repository beyond-all-reason/teiserver: changes, and which pre-commit hooks are due for each by the changed paths.
All: mix-format, mix-compile, mix-dialyzer

.pre-commit-config.yaml:

---
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-merge-conflict
      - id: check-yaml
      - id: no-commit-to-branch
        args:
          - -b
          - master
          - -b
          - production
          - -b
          - staging
  - repo: local
    hooks:
      - id: mix-format
        name: "elixir: mix format"
        entry: mix format --check-formatted
        language: system
        files: \.exs*$
      - id: mix-compile
        name: "elixir: mix compile"
        entry: mix compile --force #--warnings-as-errors
        language: system
        pass_filenames: false
        files: \.ex$
      # - id: mix-credo
      #   name: "elixir: mix credo"
      #   entry: mix credo
      #   language: system
      #   pass_filenames: false
      #   files: \.exs*$
      - id: mix-dialyzer
        name: "elixir: mix dialyzer"
        entry: mix dialyzer
        language: system
        pass_filenames: false
        files: \.exs*$

Improve comments and naming in lint GitHub workflow
  .github/workflows/lint.yml
Due: none

Check if Elixir code is formatted before compiling it
  .github/workflows/lint.yml
Due: none

Look for unused dependencies in lint GitHub workflow
  .github/workflows/lint.yml
  mix.lock
Due: none

Check for retired dependencies in lint GitHub workflow
  .github/workflows/lint.yml
Due: none

Tachyhon handler added in a first draft
  lib/teiserver/clan/tachyon_handler.ex
Due: mix-format, mix-compile, mix-dialyzer

feat(battle): make player names clickable links to profiles
  lib/teiserver_web/live/battles/match/show.html.heex
  lib/teiserver_web/templates/battle/match/tab_players.html.heex
Due: none

fix: mix format
  lib/teiserver_web/live/battles/match/show.html.heex
Due: none

Lint Elixir code with Credo to enforce code consistency
  .github/workflows/lint.yml
Due: none

Fix issues found by Credo
  lib/teiserver/account/reports/week_on_week_report.ex
  lib/teiserver/battle/balance/auto_balance.ex
  lib/teiserver/battle/balance/brute_force.ex
  lib/teiserver/battle/balance/brute_force_avoid.ex
  lib/teiserver/battle/balance/respect_avoids.ex
  lib/teiserver/battle/balance/split_noobs.ex
  lib/teiserver/data/cache_user.ex
  lib/teiserver/game/libs/match_rating_lib.ex
  lib/teiserver/lobby/libs/chat_lib.ex
  lib/teiserver/player/tachyon_handler.ex
  lib/teiserver/protocols/spring/spring_in.ex
  lib/teiserver/tachyon/schema.ex
  lib/teiserver/tachyon_lobby/lobby.ex
  lib/teiserver_web/live/account/profile/accolades.ex
  lib/teiserver_web/live/account/profile/overview.ex
  lib/teiserver_web/live/battles/match/show.ex
Due: mix-format, mix-compile, mix-dialyzer

Ignore issues found by Credo
  .credo.exs
  lib/teiserver/account.ex
  lib/teiserver/account/schemas/user.ex
  lib/teiserver/account/servers/login_throttle_server.ex
  lib/teiserver/autohost/tachyon_handler.ex
  lib/teiserver/battle.ex
  lib/teiserver/battle/libs/match_lib.ex
  lib/teiserver/battle/tasks/breakdown_match_data_task.ex
  lib/teiserver/clans/schemas/clan.ex
  lib/teiserver/clans/schemas/clan_membership.ex
  lib/teiserver/coordinator/consul_server.ex
  lib/teiserver/coordinator/coordinator_commands.ex
  lib/teiserver/data/cache_user.ex
  lib/teiserver/game/libs/match_rating_lib.ex
  lib/teiserver/game/schemas/queue.ex
  lib/teiserver/lobby.ex
  lib/teiserver/logging/tasks/persist_server_day_task.ex
  lib/teiserver/matchmaking/algo/bruteforce_filter.ex
  lib/teiserver/matchmaking/member.ex
  lib/teiserver/matchmaking/pairing_room.ex
  lib/teiserver/moderation/queries/report_group_queries.ex
  lib/teiserver/player/session.ex
  lib/teiserver/player/tachyon_handler.ex
  lib/teiserver/protocols/spring/spring_telemetry_in.ex
  lib/teiserver/tachyon/transport.ex
  lib/teiserver/tachyon_battle.ex
  lib/teiserver/tachyon_battle/battle.ex
  lib/teiserver/tcp/spring/spring_tcp_server.ex
  lib/teiserver_web/controllers/report/rating_controller.ex
  lib/teiserver_web/live/battles/lobbies/chat.ex
  lib/teiserver_web/live/battles/lobbies/show.ex
  lib/teiserver_web/live/moderation/overwatch/report_group_detail.ex
  lib/teiserver_web/live/tournament/show.ex
  test/support/tachyon.ex
  test/teiserver/protocols/spring/spring_auth_test.exs
  test/teiserver/servers/spring_tcp_server_test.exs
  test/teiserver_web/live/battle_live_test.exs
  test/teiserver_web/live/client_live_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Prefer Mise over asdf to set up development environment
  .tool-versions
  documents/guides/local_setup.md
Due: none

Check for vulnerable dependencies in CI with MixAudit
  .github/workflows/lint.yml
  mix.exs
  mix.lock
Due: mix-format, mix-dialyzer

Upgrade hackney to 1.25.0 to address security vulnerability
  mix.lock
Due: none

Prefer Mise over asdf to set up development environment (#905)
  .tool-versions
  documents/guides/local_setup.md
Due: none

Fix Credo issues for Refactor checks
  lib/teiserver/account.ex
  lib/teiserver/bridge/discord_bridge_bot.ex
  lib/teiserver/o_auth.ex
  lib/teiserver/player/tachyon_handler.ex
  lib/teiserver_web/controllers/o_auth/authorize_controller.ex
Due: mix-format, mix-compile, mix-dialyzer

Temporarily disable Credo Refactor checks
  .credo.exs
  lib/teiserver/account/libs/accolade_lib.ex
  lib/teiserver/battle/balance/auto_balance.ex
  lib/teiserver/battle/balance/brute_force.ex
  lib/teiserver/battle/balance/respect_avoids.ex
  lib/teiserver/battle/balance/split_noobs.ex
  lib/teiserver/bridge/command_lib.ex
  lib/teiserver/coordinator/consul_commands.ex
  lib/teiserver/coordinator/consul_server.ex
  lib/teiserver/data/cache_user.ex
  lib/teiserver/lobby/libs/command_lib.ex
  lib/teiserver/matchmaking/queue_server.ex
  lib/teiserver_web/components/pagination_components.ex
  lib/teiserver_web/controllers/api/admin/user_controller.ex
  lib/teiserver_web/controllers/report/exports_controller.ex
  lib/teiserver_web/controllers/report/report_controller.ex
Due: mix-format, mix-compile, mix-dialyzer

Use more granular latency buckets for spring commands
  lib/teiserver/telemetry/libs/telemetry_lib.ex
Due: mix-format, mix-compile, mix-dialyzer

Add warning about mise not being self contained
  documents/guides/local_setup.md
Due: none

Use more granular latency buckets for spring commands (#907)
  lib/teiserver/telemetry/libs/telemetry_lib.ex
Due: mix-format, mix-compile, mix-dialyzer

Add warning about mise not being self contained (#908)
  documents/guides/local_setup.md
Due: none

Stop ignoring Credo Refactor checks in CI
  .github/workflows/lint.yml
Due: none

Use gen_statem for party servers
  lib/teiserver/party/server.ex
Due: mix-format, mix-compile, mix-dialyzer

demonitor player when they leave the party
  lib/teiserver/party/server.ex
Due: mix-format, mix-compile, mix-dialyzer

Refactor init args for parties
  lib/teiserver/party/server.ex
  lib/teiserver/party/supervisor.ex
Due: mix-format, mix-compile, mix-dialyzer

Use maps for party members and invite
  lib/teiserver/party/server.ex
  lib/teiserver/player/tachyon_handler.ex
Due: mix-format, mix-compile, mix-dialyzer

Switch to regular Registry for parties
  lib/teiserver/party/registry.ex
Due: mix-format, mix-compile, mix-dialyzer

Refactor: Rework player connection replacement
  lib/teiserver/player/registry.ex
  lib/teiserver/player/session.ex
  lib/teiserver/player/tachyon_handler.ex
  test/teiserver_web/tachyon/session_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Also rejoin party invited to
  lib/teiserver/player/session.ex
  test/teiserver_web/tachyon/party_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Put state restoration behind a flag
  lib/teiserver/libs/teiserver_configs.ex
  lib/teiserver/player/session.ex
  lib/teiserver/tachyon.ex
  lib/teiserver/tachyon/config.ex
  lib/teiserver/tachyon/system.ex
  test/teiserver/player/session_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Session rejoin current party at startup.
  lib/teiserver/party.ex
  lib/teiserver/party/server.ex
  lib/teiserver/player/session.ex
  test/support/tachyon.ex
  test/teiserver_web/tachyon/party_test.exs
Due: mix-format, mix-compile, mix-dialyzer

restore session from snapshot
  lib/teiserver/player.ex
  lib/teiserver/player/session.ex
  lib/teiserver/player/session_supervisor.ex
  lib/teiserver/player/system.ex
  lib/teiserver/player/tachyon_handler.ex
  lib/teiserver/tachyon.ex
  lib/teiserver/tachyon/sync_task.ex
  lib/teiserver/tachyon/system.ex
  test/support/tachyon.ex
  test/teiserver/player/session_test.exs
  test/teiserver_web/tachyon/session_test.exs
Due: mix-format, mix-compile, mix-dialyzer

restore party from snapshots
  lib/teiserver/party.ex
  lib/teiserver/party/server.ex
  lib/teiserver/party/supervisor.ex
  lib/teiserver/party/system.ex
  test/teiserver/party/party_test.exs
  test/teiserver/player/session_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Timeout party when session take too long to rejoin
  lib/teiserver/party/server.ex
  lib/teiserver/tachyon.ex
  lib/teiserver/tachyon/config.ex
  test/teiserver/party/party_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Alias module
  test/teiserver/party/party_test.exs
Due: mix-format, mix-dialyzer

Ignore Dialyzer warning "The guard clause can never succeed."
  .dialyzer_ignore.exs
Due: mix-format, mix-dialyzer

Add a short description of state restoration logic in doc
  documents/dev_designs/tachyon_system.md
Due: none

Allow setting restrictions in unranked based on config
  lib/teiserver/lobby/libs/lobby_restrictions.ex
Due: mix-format, mix-compile, mix-dialyzer

Catch user stat queries with no search arguments
  lib/teiserver/account.ex
Due: mix-format, mix-compile, mix-dialyzer

Allow setting restrictions in unranked based on config (#911)
  lib/teiserver/lobby/libs/lobby_restrictions.ex
Due: mix-format, mix-compile, mix-dialyzer

Silence the `Could not check origin for Phoenix.Socket transport`
  config/runtime.exs
Due: mix-format, mix-dialyzer
