Repository beyond-all-reason/teiserver: changes, and which pre-commit hooks are due for each by the changed paths.
All: mix-format, mix-compile, mix-dialyzer

mix-format:
  name: 'elixir: mix format'
  entry: mix format --check-formatted
  language: system

mix-compile:
  name: 'elixir: mix compile'
  entry: mix compile --force
  language: system
  pass_filenames: false

mix-dialyzer:
  name: 'elixir: mix dialyzer'
  entry: mix dialyzer
  language: system
  pass_filenames: false

Fix user restriction check for reporting
  lib/teiserver_web/live/moderation/report_user/index.ex
Due: mix-format, mix-compile, mix-dialyzer

Fix user restriction check for reporting (#1022)
  lib/teiserver_web/live/moderation/report_user/index.ex
Due: mix-format, mix-compile, mix-dialyzer

slowly managing to get things working by explicitly assigning contributor to the connection plug
  lib/teiserver_web/controllers/battle/ratings_controller.ex
  lib/teiserver_web/live/battles/lobbies/index.ex
  lib/teiserver_web/live/battles/lobbies/show.ex
  lib/teiserver_web/live/battles/lobbies/tachyon_index.ex
  lib/teiserver_web/live/battles/match/ratings.ex
  lib/teiserver_web/templates/battle/general/sub_menu.html.heex
  test/teiserver_web/live/tachyon_lobby_list_live_contributor_test.exs
Due: mix-format, mix-compile, mix-dialyzer

ok, got the :contributor value carried though in most places, now to fix the bad map
  lib/teiserver_web/live/account/party/index.ex
  lib/teiserver_web/live/account/party/index.html.heex
  lib/teiserver_web/live/account/party/show.html.heex
  lib/teiserver_web/live/battles/lobbies/chat.ex
  lib/teiserver_web/live/battles/lobbies/chat.html.heex
  lib/teiserver_web/live/battles/lobbies/index.html.heex
  lib/teiserver_web/live/battles/lobbies/show.html.heex
  lib/teiserver_web/live/battles/lobbies/tachyon_index.html.heex
  lib/teiserver_web/live/tournament/index.ex
  lib/teiserver_web/live/tournament/index.html.heex
  lib/teiserver_web/live/tournament/show.ex
  lib/teiserver_web/live/tournament/show.html.heex
Due: mix-format, mix-compile, mix-dialyzer

found another crashing page, fixed by passing the value through, but clearly we need the heex pages to fail softly rather than hard
  lib/teiserver_web/live/battles/lobbies/tachyon_index.html.heex
  lib/teiserver_web/live/battles/match/index.ex
  lib/teiserver_web/live/battles/match/index.html.heex
  lib/teiserver_web/live/battles/match/show.ex
  lib/teiserver_web/live/battles/match/show.html.heex
  test/teiserver_web/views/battle_view_test.exs
Due: mix-format, mix-compile, mix-dialyzer

switch two tests to async
  test/teiserver_web/views/battle_view_test.exs
  test/teiserver_web/views/leaderboard_view_test.exs
Due: mix-format, mix-dialyzer

switch heex files to use a safe default when retrieving contributor, to avoid crashing any webpages I missed
  lib/teiserver_web/live/account/party/index.html.heex
  lib/teiserver_web/live/account/party/show.html.heex
  lib/teiserver_web/live/battles/lobbies/chat.html.heex
  lib/teiserver_web/live/battles/lobbies/index.html.heex
  lib/teiserver_web/live/battles/lobbies/show.html.heex
  lib/teiserver_web/live/battles/lobbies/tachyon_index.html.heex
  lib/teiserver_web/live/battles/match/index.html.heex
  lib/teiserver_web/live/battles/match/show.html.heex
  lib/teiserver_web/live/tournament/index.html.heex
  lib/teiserver_web/live/tournament/show.html.heex
  lib/teiserver_web/templates/battle/general/sub_menu.html.heex
Due: none

add basic 'tachyon does not appear in /battles test', removed a TODO item
  test/teiserver_web/live/tachyon_lobby_list_live_player_test.exs
  test/teiserver_web/views/battle_view_test.exs
Due: mix-format, mix-dialyzer

removed some unused imports from tests, and ran mix format
  lib/teiserver_web/live/battles/lobbies/chat.html.heex
  lib/teiserver_web/live/battles/lobbies/tachyon_index.html.heex
  lib/teiserver_web/live/battles/match/index.html.heex
  test/teiserver_web/live/party_live_test.exs
  test/teiserver_web/live/tournament_live_test.exs
  test/teiserver_web/views/battle_view_test.exs
  test/teiserver_web/views/leaderboard_view_test.exs
Due: mix-format, mix-dialyzer

switch to slightly more meaningful icon
  lib/teiserver_web/templates/battle/general/sub_menu.html.heex
Due: none

member count not currently available on the lobby object returned, so using player_count
  lib/teiserver_web/live/battles/lobbies/tachyon_index.html.heex
Due: none

more fields I need to aware might not exist yet on the protocol
  lib/teiserver_web/live/battles/lobbies/tachyon_index.html.heex
Due: none

ran mix format
  lib/teiserver_web/live/battles/lobbies/tachyon_index.html.heex
Due: none

Verified checked only as user's role, removed user.verified
  lib/central/general_test_lib.ex
  lib/teiserver/account/exports/retention_rate_export.ex
  lib/teiserver/account/queries/user_queries.ex
  lib/teiserver/account/reports/new_smurf_report.ex
  lib/teiserver/account/reports/retention_report.ex
  lib/teiserver/account/schemas/user.ex
  lib/teiserver/account/tasks/account_daily_cleanup_task.ex
  lib/teiserver/bridge/bridge_server.ex
  lib/teiserver/data/cache_user.ex
  lib/teiserver/game/libs/lobby_policy_lib.ex
  lib/teiserver/mix_tasks/ensure_test_users.ex
  lib/teiserver/mix_tasks/fake_data.ex
  lib/teiserver_web/controllers/admin/user_controller.ex
  test/support/tachyon.ex
  test/teiserver/account/account_test.exs
  test/teiserver/battle/start_script_test.exs
  test/teiserver/chat/chat_room_test.exs
  test/teiserver/matchmaking/member_test.exs
  test/teiserver/matchmaking/queue_test.exs
  test/teiserver/player/session_test.exs
  test/teiserver/tachyon/tasks/setup_apps_test.exs
  test/teiserver_web/controllers/api/admin/user_controller_test.exs
  test/teiserver_web/controllers/tachyon_controller_test.exs
  test/teiserver_web/tachyon/autohost_test.exs
  test/teiserver_web/tachyon/battle_test.exs
  test/teiserver_web/tachyon/matchmaking_test.exs
  test/teiserver_web/tachyon/system_test.exs
  test/teiserver_web/tachyon/user_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Added credo check for cond statements
  .credo.exs
  .tool-versions
  lib/central/input_helper.ex
  lib/teiserver/account/libs/accolade_lib.ex
  lib/teiserver/account/libs/party_lib.ex
  lib/teiserver/account/libs/user_totp_lib.ex
  lib/teiserver/account/reports/ban_evasion_report.ex
  lib/teiserver/account/reports/new_smurf_report.ex
  lib/teiserver/account/servers/login_throttle_server.ex
  lib/teiserver/account/servers/party_server.ex
  lib/teiserver/battle.ex
  lib/teiserver/battle/balance/auto_balance.ex
  lib/teiserver/battle/balance/brute_force_avoid.ex
  lib/teiserver/battle/balance/loser_picks.ex
  lib/teiserver/battle/balance/respect_avoids.ex
  lib/teiserver/battle/balance/split_noobs.ex
  lib/teiserver/battle/libs/balance_lib.ex
  lib/teiserver/bridge/bridge_server.ex
  lib/teiserver/bridge/discord_bridge_bot.ex
  lib/teiserver/coordinator/consul_commands.ex
  lib/teiserver/coordinator/consul_server.ex
  lib/teiserver/data/cache_user.ex
  lib/teiserver/game/exports/match_ratings_export.ex
  lib/teiserver/game/servers/balancer_server.ex
  lib/teiserver/game/servers/lobby_policy_bot_server.ex
  lib/teiserver/helpers/string_helper.ex
  lib/teiserver/lobby/libs/lobby_restrictions.ex
  lib/teiserver/lobby/servers/lobby_server.ex
  lib/teiserver/player/session.ex
  lib/teiserver_web/controllers/moderation/action_controller.ex
  lib/teiserver_web/controllers/report/rating_controller.ex
  lib/teiserver_web/live/account/profile/accolades.ex
  lib/teiserver_web/live/account/profile/achievements.ex
  lib/teiserver_web/live/account/profile/appearance.ex
  lib/teiserver_web/live/account/profile/matches.ex
  lib/teiserver_web/live/account/profile/overview.ex
  lib/teiserver_web/live/account/profile/playtime.ex
  lib/teiserver_web/live/account/profile/relationships.ex
  lib/teiserver_web/live/battles/match/show.ex
Due: mix-format, mix-compile, mix-dialyzer

Dialyzer fixes
  lib/teiserver/account/libs/accolade_lib.ex
  lib/teiserver/battle/servers/match_monitor_server.ex
Due: mix-format, mix-compile, mix-dialyzer

Removed tool versions
  .tool-versions
Due: none

Added credo check for cond statements (#1025)
  .credo.exs
  lib/central/input_helper.ex
  lib/teiserver/account/libs/accolade_lib.ex
  lib/teiserver/account/libs/party_lib.ex
  lib/teiserver/account/libs/user_totp_lib.ex
  lib/teiserver/account/reports/ban_evasion_report.ex
  lib/teiserver/account/reports/new_smurf_report.ex
  lib/teiserver/account/servers/login_throttle_server.ex
  lib/teiserver/account/servers/party_server.ex
  lib/teiserver/battle.ex
  lib/teiserver/battle/balance/auto_balance.ex
  lib/teiserver/battle/balance/brute_force_avoid.ex
  lib/teiserver/battle/balance/loser_picks.ex
  lib/teiserver/battle/balance/respect_avoids.ex
  lib/teiserver/battle/balance/split_noobs.ex
  lib/teiserver/battle/libs/balance_lib.ex
  lib/teiserver/battle/servers/match_monitor_server.ex
  lib/teiserver/bridge/bridge_server.ex
  lib/teiserver/bridge/discord_bridge_bot.ex
  lib/teiserver/coordinator/consul_commands.ex
  lib/teiserver/coordinator/consul_server.ex
  lib/teiserver/data/cache_user.ex
  lib/teiserver/game/exports/match_ratings_export.ex
  lib/teiserver/game/servers/balancer_server.ex
  lib/teiserver/game/servers/lobby_policy_bot_server.ex
  lib/teiserver/helpers/string_helper.ex
  lib/teiserver/lobby/libs/lobby_restrictions.ex
  lib/teiserver/lobby/servers/lobby_server.ex
  lib/teiserver/player/session.ex
  lib/teiserver_web/controllers/moderation/action_controller.ex
  lib/teiserver_web/controllers/report/rating_controller.ex
  lib/teiserver_web/live/account/profile/accolades.ex
  lib/teiserver_web/live/account/profile/achievements.ex
  lib/teiserver_web/live/account/profile/appearance.ex
  lib/teiserver_web/live/account/profile/matches.ex
  lib/teiserver_web/live/account/profile/overview.ex
  lib/teiserver_web/live/account/profile/playtime.ex
  lib/teiserver_web/live/account/profile/relationships.ex
  lib/teiserver_web/live/battles/match/show.ex
Due: mix-format, mix-compile, mix-dialyzer

Fix multi team rating updates
  lib/teiserver/game/libs/match_rating_lib.ex
Due: mix-format, mix-compile, mix-dialyzer

Updates the credo version
  mix.lock
Due: none

Removed script
  scripts/expand_aliases.exs
Due: mix-format, mix-dialyzer

Verified checked only as user's role, removed user.verified (#1023)
  lib/central/general_test_lib.ex
  lib/teiserver/account/exports/retention_rate_export.ex
  lib/teiserver/account/queries/user_queries.ex
  lib/teiserver/account/reports/new_smurf_report.ex
  lib/teiserver/account/reports/retention_report.ex
  lib/teiserver/account/schemas/user.ex
  lib/teiserver/account/tasks/account_daily_cleanup_task.ex
  lib/teiserver/bridge/bridge_server.ex
  lib/teiserver/data/cache_user.ex
  lib/teiserver/game/libs/lobby_policy_lib.ex
  lib/teiserver/mix_tasks/ensure_test_users.ex
  lib/teiserver/mix_tasks/fake_data.ex
  lib/teiserver_web/controllers/admin/user_controller.ex
  test/support/tachyon.ex
  test/teiserver/account/account_test.exs
  test/teiserver/battle/start_script_test.exs
  test/teiserver/chat/chat_room_test.exs
  test/teiserver/matchmaking/member_test.exs
  test/teiserver/matchmaking/queue_test.exs
  test/teiserver/player/session_test.exs
  test/teiserver/tachyon/tasks/setup_apps_test.exs
  test/teiserver_web/controllers/api/admin/user_controller_test.exs
  test/teiserver_web/controllers/tachyon_controller_test.exs
  test/teiserver_web/tachyon/autohost_test.exs
  test/teiserver_web/tachyon/battle_test.exs
  test/teiserver_web/tachyon/matchmaking_test.exs
  test/teiserver_web/tachyon/system_test.exs
  test/teiserver_web/tachyon/user_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Added additional credo rules
  .credo.exs
  lib/teiserver/account.ex
  lib/teiserver/data/cache_user.ex
  lib/teiserver/lobby/libs/chat_lib.ex
  lib/teiserver/o_auth.ex
Due: mix-format, mix-compile, mix-dialyzer

Added additional credo rules (#1028)
  .credo.exs
  lib/teiserver/account.ex
  lib/teiserver/data/cache_user.ex
  lib/teiserver/lobby/libs/chat_lib.ex
  lib/teiserver/o_auth.ex
Due: mix-format, mix-compile, mix-dialyzer

Move authorization check functions to Teiserver.Account.Auth
  lib/teiserver/account.ex
  lib/teiserver/account/accolades/accolade_bot_server.ex
  lib/teiserver/account/auth.ex
  lib/teiserver/account/libs/client_lib.ex
  lib/teiserver/account/reports/new_smurf_report.ex
  lib/teiserver/account/servers/login_throttle_server.ex
  lib/teiserver/battle/servers/match_monitor_server.ex
  lib/teiserver/bridge/bridge_server.ex
  lib/teiserver/bridge/chat_commands.ex
  lib/teiserver/chat/chat_room_cache.ex
  lib/teiserver/coordinator/consul_commands.ex
  lib/teiserver/coordinator/consul_server.ex
  lib/teiserver/coordinator/coordinator_commands.ex
  lib/teiserver/coordinator/coordinator_lib.ex
  lib/teiserver/coordinator/coordinator_server.ex
  lib/teiserver/data/cache_user.ex
  lib/teiserver/data/client.ex
  lib/teiserver/game/servers/lobby_policy_bot_server.ex
  lib/teiserver/lobby.ex
  lib/teiserver/lobby/commands/explain_command.ex
  lib/teiserver/lobby/libs/chat_lib.ex
  lib/teiserver/lobby/libs/lobby_restrictions.ex
  lib/teiserver/plugs/basic_auth_bot_plug.ex
  lib/teiserver/protocols/spring/spring_in.ex
  lib/teiserver/protocols/spring/spring_out.ex
  lib/teiserver/tcp/spring/spring_tcp_server.ex
  lib/teiserver_web/live/battles/lobbies/chat.ex
  lib/teiserver_web/live/clients/show.html.heex
  lib/teiserver_web/live/tournament/index.ex
  test/teiserver_web/controllers/account/registration_controller_test.exs
Due: mix-format, mix-compile, mix-dialyzer

verify_user fix
  lib/teiserver/data/cache_user.ex
  lib/teiserver/protocols/spring/spring_in.ex
Due: mix-format, mix-compile, mix-dialyzer

Precommit fix
  mix.exs
Due: mix-format, mix-dialyzer

Move verify_user
  lib/teiserver/account.ex
  lib/teiserver/data/cache_user.ex
  lib/teiserver/protocols/spring/spring_in.ex
  test/support/teiserver_test_lib.ex
  test/teiserver/protocols/spring/spring_auth_test.exs
  test/teiserver/protocols/spring/spring_raw_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Addressed dialyzer opts
  .dialyzer_ignore.exs
  mix.exs
Due: mix-format, mix-dialyzer

blame ignore previous pr and prep credo.exs
  .credo.exs
  .git-blame-ignore-revs
  lib/teiserver/account/reports/new_smurf_report.ex
  lib/teiserver/common/bit_parse.ex
  lib/teiserver_web/live/battles/match/show.ex
Due: mix-format, mix-compile, mix-dialyzer

Added credo check for expensive empty calls
  .credo.exs
  lib/teiserver/battle/balance/brute_force.ex
  lib/teiserver/battle/balance/brute_force_avoid.ex
  lib/teiserver/battle/balance/respect_avoids.ex
  lib/teiserver/battle/balance/split_noobs.ex
  test/teiserver_web/live/account/relationship/index_live_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Address credo error
  lib/teiserver/game/libs/match_rating_lib.ex
Due: mix-format, mix-compile, mix-dialyzer

Fix multi team rating updates (#1026)
  lib/teiserver/game/libs/match_rating_lib.ex
Due: mix-format, mix-compile, mix-dialyzer

Path conditions:
  mix-format: any of: \.exs*$
  mix-compile: any of: \.ex$
  mix-dialyzer: any of: \.exs*$
