Repository beyond-all-reason/teiserver: changes, and which pre-commit hooks are due for each by the changed paths.
All: mix-format, mix-compile, mix-dialyzer

.pre-commit-config.yaml:

---
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-merge-conflict
      - id: check-yaml
      - id: no-commit-to-branch
        args:
          - -b
          - master
          - -b
          - production
          - -b
          - staging
  - repo: local
    hooks:
      - id: mix-format
        name: "elixir: mix format"
        entry: mix format --check-formatted
        language: system
        files: \.exs*$
      - id: mix-compile
        name: "elixir: mix compile"
        entry: mix compile --force #--warnings-as-errors
        language: system
        pass_filenames: false
        files: \.ex$
      # - id: mix-credo
      #   name: "elixir: mix credo"
      #   entry: mix credo
      #   language: system
      #   pass_filenames: false
      #   files: \.exs*$
      - id: mix-dialyzer
        name: "elixir: mix dialyzer"
        entry: mix dialyzer
        language: system
        pass_filenames: false
        files: \.exs*$

Update status badge
  README.md
Due: none

More lobby tips
  lib/teiserver/lobby/libs/lobby_restrictions.ex
Due: mix-format, mix-compile, mix-dialyzer

Minor fixes to pass automated checks
  lib/teiserver_web/live/battles/match/ratings.html.heex
  mix.exs
Due: mix-format, mix-dialyzer

Tester an use balancemode
  lib/teiserver/coordinator/consul_server.ex
Due: mix-format, mix-compile, mix-dialyzer

Toggle contributor icon
  lib/teiserver/account.ex
  lib/teiserver/account/libs/role_lib.ex
  lib/teiserver/data/cache_user.ex
  lib/teiserver_web/live/account/profile/contributor.ex
  lib/teiserver_web/live/account/profile/contributor.html.heex
  lib/teiserver_web/live/battles/match/show.ex
  lib/teiserver_web/live/battles/match/show.html.heex
  lib/teiserver_web/live/microblog/admin/post/index.ex
  lib/teiserver_web/live/microblog/admin/post/show.ex
  lib/teiserver_web/live/microblog/blog/index.html.heex
  lib/teiserver_web/live/microblog/microblog_components.ex
  lib/teiserver_web/router.ex
Due: mix-format, mix-compile, mix-dialyzer

Update formatting
  lib/teiserver_web/live/account/profile/contributor.html.heex
Due: none

Update based on Lexon feedback
  lib/teiserver_web/live/battles/match/show.ex
Due: mix-format, mix-compile, mix-dialyzer

Add brute force balance algo
  lib/teiserver/battle/balance/brute_force.ex
  lib/teiserver/battle/balance/brute_force_types.ex
  lib/teiserver/battle/libs/balance_lib.ex
  lib/teiserver/helpers/combinations_helper.ex
  lib/teiserver_web/live/battles/match/show.html.heex
  test/teiserver/battle/brute_force_internal_test.exs
  test/teiserver/battle/brute_force_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Remove unused imports
  test/teiserver/battle/brute_force_internal_test.exs
  test/teiserver/battle/brute_force_test.exs
Due: mix-format, mix-dialyzer

Team split fixes and cleanup
  lib/teiserver/account/exports/player_count_export.ex
  lib/teiserver/account/reports/growth_report.ex
  lib/teiserver/account/reports/week_on_week_report.ex
  lib/teiserver/account/tasks/recalculate_user_cache_task.ex
  lib/teiserver/battle/tasks/battle_daily_cleanup_task.ex
  lib/teiserver/coordinator/consul_server.ex
  lib/teiserver/data/matchmaking.ex
  lib/teiserver/game/exports/match_datatable_export.ex
  lib/teiserver/game/exports/match_ratings_export.ex
  lib/teiserver/game/exports/player_ratings_export.ex
  lib/teiserver/game/exports/rating_logs_export.ex
  lib/teiserver/lobby/libs/lobby_restrictions.ex
  lib/teiserver/logging/lib/server_day_log_lib.ex
  lib/teiserver/logging/tasks/match_graph_logs_task.ex
  lib/teiserver/logging/tasks/persist_match_month_task.ex
  lib/teiserver/logging/tasks/persist_server_day_task.ex
  lib/teiserver_web/controllers/battle/match_controller.ex
  lib/teiserver_web/live/battles/lobbies/show.ex
  lib/teiserver_web/live/battles/match/ratings.ex
  lib/teiserver_web/live/tournament/show.ex
  lib/teiserver_web/templates/logging/match_log/day_metrics_list.html.heex
  lib/teiserver_web/templates/logging/match_log/month_metrics_list.html.heex
  lib/teiserver_web/templates/logging/match_log/tab_details.html.heex
  lib/teiserver_web/templates/logging/match_log/tab_month_details.html.heex
  lib/teiserver_web/templates/report/exports/match_datatable.html.heex
  lib/teiserver_web/templates/report/exports/match_ratings.html.heex
  lib/teiserver_web/templates/report/exports/player_ratings.html.heex
  lib/teiserver_web/templates/report/exports/rating_logs.html.heex
Due: mix-format, mix-compile, mix-dialyzer

mix format
  lib/teiserver/account/tasks/recalculate_user_cache_task.ex
  lib/teiserver/logging/lib/server_day_log_lib.ex
  lib/teiserver/logging/tasks/persist_match_month_task.ex
  lib/teiserver_web/templates/logging/match_log/tab_month_details.html.heex
Due: mix-format, mix-compile, mix-dialyzer

Add restriction to number of symbols allowed in a username.
  lib/teiserver/data/cache_user.ex
Due: mix-format, mix-compile, mix-dialyzer

Update cache_user.ex to pass style checks.
  lib/teiserver/data/cache_user.ex
Due: mix-format, mix-compile, mix-dialyzer

Add test for username symbol restrictions.
  test/teiserver/data/user_test.exs
Due: mix-format, mix-dialyzer

Fixes for user creation, deletion, correct keywords, add guards
  lib/teiserver/data/cache_user.ex
  lib/teiserver_web/controllers/admin/user_controller.ex
  lib/teiserver_web/router.ex
  lib/teiserver_web/templates/admin/user/actions.html.heex
  lib/teiserver_web/templates/admin/user/create_form.html.heex
  lib/teiserver_web/templates/admin/user/index.html.heex
  lib/teiserver_web/templates/admin/user/section_menu.html.heex
Due: mix-format, mix-compile, mix-dialyzer

Implemented adding/ removing users from WebUI
  lib/teiserver_web/controllers/admin/user_controller.ex
  lib/teiserver_web/router.ex
  lib/teiserver_web/templates/admin/user/actions.html.heex
  lib/teiserver_web/templates/admin/user/create_form.html.heex
  lib/teiserver_web/templates/admin/user/index.html.heex
  lib/teiserver_web/templates/admin/user/section_menu.html.heex
Due: mix-format, mix-compile, mix-dialyzer

Experimental: Changed query code to make deletion from WebUI work
  lib/teiserver/account/tasks/delete_user_task.ex
Due: mix-format, mix-compile, mix-dialyzer

Updated delete queries
  lib/teiserver/account/tasks/delete_user_task.ex
Due: mix-format, mix-compile, mix-dialyzer

Removed the Delete User Feature
  lib/teiserver_web/controllers/admin/user_controller.ex
  lib/teiserver_web/router.ex
  lib/teiserver_web/templates/admin/user/actions.html.heex
  lib/teiserver_web/templates/admin/user/index.html.heex
Due: mix-format, mix-compile, mix-dialyzer

Removed the duplicate Email overwrite
  lib/teiserver/data/cache_user.ex
Due: mix-format, mix-compile, mix-dialyzer

Guarding with do_create_post function
  lib/teiserver_web/controllers/admin/user_controller.ex
Due: mix-format, mix-compile, mix-dialyzer

Add boss block improvements
  lib/teiserver/account/libs/relationship_lib.ex
  lib/teiserver/coordinator/consul_commands.ex
  lib/teiserver/coordinator/consul_server.ex
  lib/teiserver/libs/teiserver_configs.ex
Due: mix-format, mix-compile, mix-dialyzer

Add restriction to number of symbols allowed in a username. (#363)
  lib/teiserver/data/cache_user.ex
  test/teiserver/data/user_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Add better messages for avoids
  lib/teiserver/coordinator/consul_server.ex
Due: mix-format, mix-compile, mix-dialyzer

Fix equality checks
  lib/teiserver/account/libs/relationship_lib.ex
Due: mix-format, mix-compile, mix-dialyzer

Add command to initiate a vote for boss-restricted $-commands.
  lib/teiserver/coordinator/consul_commands.ex
  lib/teiserver/coordinator/consul_server.ex
  lib/teiserver/coordinator/coordinator_lib.ex
  lib/teiserver/lobby/schemas/lobby_struct.ex
Due: mix-format, mix-compile, mix-dialyzer

Use test-specific lobby names in tests that create lobbies.
  test/teiserver/battle/lobby_server_test.exs
  test/teiserver/lobby/commands/explain_command_test.exs
  test/teiserver_web/live/account/profile/overview_test.exs
Due: mix-format, mix-dialyzer

Fix some tests which create lobbies not removing them afterwards.
  test/teiserver/battle/lobby_server_test.exs
  test/teiserver/data/battle/lobby_chat_test.exs
  test/teiserver/lobby/commands/explain_command_test.exs
  test/teiserver_web/live/account/profile/overview_test.exs
Due: mix-format, mix-dialyzer

Better rating logs
  lib/teiserver/battle/libs/balance_lib.ex
  lib/teiserver/game/libs/match_rating_lib.ex
  lib/teiserver/mix_tasks/rerate_my_matches.ex
Due: mix-format, mix-compile, mix-dialyzer

Fix dialyzer
  lib/teiserver/game/libs/match_rating_lib.ex
Due: mix-format, mix-compile, mix-dialyzer

Unit tests: Move the lobby-existence asserts up to where the lobby is created.
  test/teiserver/battle/lobby_server_test.exs
  test/teiserver/data/battle/lobby_chat_test.exs
  test/teiserver/lobby/commands/explain_command_test.exs
  test/teiserver_web/live/account/profile/overview_test.exs
Due: mix-format, mix-dialyzer

Fix formatting for previous commit.
  test/teiserver/data/battle/lobby_chat_test.exs
Due: mix-format, mix-dialyzer

Split noobs balance algo
  lib/teiserver/battle/balance/brute_force.ex
  lib/teiserver/battle/balance/split_noobs.ex
  lib/teiserver/battle/balance/split_noobs_types.ex
  lib/teiserver/battle/libs/balance_lib.ex
  lib/teiserver_web/controllers/admin/match_controller.ex
  test/teiserver/battle/brute_force_internal_test.exs
  test/teiserver/battle/split_noobs_internal_test.exs
  test/teiserver/battle/split_noobs_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Fix dialyzer
  lib/teiserver/battle/balance/brute_force_types.ex
  lib/teiserver/battle/balance/split_noobs.ex
  test/teiserver/battle/split_noobs_internal_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Add combination lib
  lib/teiserver/helpers/combinations_helper.ex
  mix.exs
  mix.lock
Due: mix-format, mix-compile, mix-dialyzer

Performance improvements
  lib/teiserver/battle/balance/brute_force.ex
  test/teiserver/battle/brute_force_internal_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Add simple draft mode when no parties
  lib/teiserver/battle/balance/split_noobs.ex
  test/teiserver/battle/split_noobs_internal_test.exs
  test/teiserver/battle/split_noobs_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Better types
  lib/teiserver/battle/balance/split_noobs.ex
  lib/teiserver/battle/balance/split_noobs_types.ex
Due: mix-format, mix-compile, mix-dialyzer

More robust picking function
  lib/teiserver/battle/balance/split_noobs.ex
Due: mix-format, mix-compile, mix-dialyzer

Clickable row
  lib/teiserver_web/live/battles/match/ratings.html.heex
Due: none
