Repository beyond-all-reason/teiserver: changes, and which pre-commit hooks are due for each by the changed paths.
All: mix-format, mix-compile, mix-dialyzer

.pre-commit-config.yaml:

---
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-merge-conflict
      - id: check-yaml
      - id: no-commit-to-branch
        args:
          - -b
          - master
          - -b
          - production
          - -b
          - staging
  - repo: local
    hooks:
      - id: mix-format
        name: "elixir: mix format"
        entry: mix format --check-formatted
        language: system
        files: \.exs*$
      - id: mix-compile
        name: "elixir: mix compile"
        entry: mix compile --force #--warnings-as-errors
        language: system
        pass_filenames: false
        files: \.ex$
      # - id: mix-credo
      #   name: "elixir: mix credo"
      #   entry: mix credo
      #   language: system
      #   pass_filenames: false
      #   files: \.exs*$
      - id: mix-dialyzer
        name: "elixir: mix dialyzer"
        entry: mix dialyzer
        language: system
        pass_filenames: false
        files: \.exs*$

pkce is now optional, but only for confidential clients
  lib/teiserver/o_auth.ex
  lib/teiserver/o_auth/libs/application_lib.ex
  lib/teiserver/o_auth/schemas/code.ex
  test/teiserver/o_auth/code_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Exchange code for confidential clients
  lib/teiserver/o_auth.ex
  lib/teiserver/o_auth/libs/application_lib.ex
  lib/teiserver_web/controllers/o_auth/code_controller.ex
  test/teiserver/o_auth/code_test.exs
  test/teiserver_web/controllers/o_auth/code_controller_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Refresh token requires client secret for confidential apps
  lib/teiserver/o_auth.ex
  lib/teiserver/o_auth/queries/token_query.ex
  lib/teiserver_web/controllers/o_auth/code_controller.ex
  test/teiserver/o_auth/token_test.exs
  test/teiserver_web/controllers/o_auth/code_controller_test.exs
Due: mix-format, mix-compile, mix-dialyzer

PKCE is optional for confidential client to get a token
  lib/teiserver/o_auth.ex
  test/teiserver/o_auth/code_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Pass full application struct at code creation
  lib/teiserver/o_auth.ex
  lib/teiserver/o_auth/schemas/code.ex
  lib/teiserver_web/controllers/o_auth/authorize_controller.ex
  test/support/fixtures/o_auth/o_auth_fixtures.ex
  test/teiserver/o_auth/code_test.exs
Due: mix-format, mix-compile, mix-dialyzer

make migration rollbackable
  priv/repo/migrations/20260520151129_automated-moderation-tooling.exs
Due: mix-format, mix-dialyzer

Allow Moderators to GDPR clean
  lib/teiserver/account/auth.ex
  test/teiserver_web/controllers/admin/user_controller_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Allow Moderators to GDPR clean (#1197)
  lib/teiserver/account/auth.ex
  test/teiserver_web/controllers/admin/user_controller_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Update PhoenixLiveView to 1.1 and improve Hot reloads
  config/dev.exs
  mix.exs
Due: mix-format, mix-dialyzer

Update PhoenixLiveView to 1.1 and improve Hot reloads (#1200)
  config/dev.exs
  mix.exs
Due: mix-format, mix-dialyzer

Too verbose logs on perm checks
  lib/teiserver/account/libs/auth_lib.ex
Due: mix-format, mix-compile, mix-dialyzer

Handler contain max_members from party_state. Fixes
  lib/teiserver/party/server.ex
  lib/teiserver/player/session.ex
  lib/teiserver/player/tachyon_handler.ex
  test/teiserver_web/tachyon/party_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Added update_callback. Added message to response
  lib/teiserver/player/login_queue.ex
  lib/teiserver/player/tachyon_handler.ex
Due: mix-format, mix-compile, mix-dialyzer

MaxMembers in PartyState (#1189)
  lib/teiserver/party/server.ex
  lib/teiserver/player/session.ex
  lib/teiserver/player/tachyon_handler.ex
  priv/tachyon/schema/definitions/partyState.json
  test/teiserver_web/tachyon/party_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Temp(?) fix on tzdata hackney's dependency
  mix.exs
  mix.lock
Due: mix-format, mix-dialyzer

Replace httpoison with req
  lib/teiserver/mix_tasks/ensure_test_users.ex
  mix.exs
  mix.lock
Due: mix-format, mix-compile, mix-dialyzer

make migration idempotent
  priv/repo/migrations/20260520151129_automated-moderation-tooling.exs
Due: mix-format, mix-dialyzer

Implemented a login queue for Tachyon protocol (#1155)
  lib/teiserver/libs/teiserver_configs.ex
  lib/teiserver/player/login_queue.ex
  lib/teiserver/player/system.ex
  lib/teiserver/player/tachyon_handler.ex
  lib/teiserver/tachyon/system.ex
  test/teiserver/chat/libs/word_lib_test.exs
  test/teiserver/data/battle/lobby_chat_test.exs
  test/teiserver/player/login_queue_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Removes human_time dependency
  .dialyzer_ignore.exs
  lib/teiserver/account/reports/time_compare_report.ex
  lib/teiserver/account/schemas/code.ex
  lib/teiserver/helpers/date_helper.ex
  lib/teiserver/helpers/schema_helper.ex
  lib/teiserver/moderation/schemas/action.ex
  lib/teiserver_web/controllers/moderation/action_controller.ex
  lib/teiserver_web/templates/report/report/time_compare.html.heex
  mix.exs
  mix.lock
  test/teiserver/helpers/date_helper_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Addressed comments
  lib/teiserver/moderation/schemas/banned_phrase.ex
  test/teiserver/moderation/banned_phrase_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Addressed regex verification comment
  lib/teiserver/moderation/schemas/banned_phrase.ex
Due: mix-format, mix-compile, mix-dialyzer

Added BannedPhrase functionality
  lib/teiserver.ex
  lib/teiserver/chat/libs/word_lib.ex
  lib/teiserver/helpers/cache_helper.ex
  lib/teiserver/moderation.ex
  lib/teiserver/moderation/queries/banned_phrase_queries.ex
  lib/teiserver/moderation/schemas/banned_phrase.ex
  lib/teiserver/moderation/tasks/load_banned_phrases_task.ex
  lib/teiserver_web/components/core_components.ex
  test/support/fixtures/moderation_fixtures.ex
  test/teiserver/moderation/banned_phrase_test.exs
  test/teiserver/moderation/moderation_test.exs
  test/teiserver_web/live/moderation/banned_phrase_live_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Altered fuzzy error message
  lib/teiserver/moderation/schemas/banned_phrase.ex
Due: mix-format, mix-compile, mix-dialyzer

Added BannedPhrase functionality (#1199)
  lib/teiserver.ex
  lib/teiserver/chat/libs/word_lib.ex
  lib/teiserver/helpers/cache_helper.ex
  lib/teiserver/moderation.ex
  lib/teiserver/moderation/queries/banned_phrase_queries.ex
  lib/teiserver/moderation/schemas/banned_phrase.ex
  lib/teiserver/moderation/tasks/load_banned_phrases_task.ex
  lib/teiserver_web/components/core_components.ex
  test/support/fixtures/moderation_fixtures.ex
  test/teiserver/moderation/banned_phrase_test.exs
  test/teiserver/moderation/moderation_test.exs
  test/teiserver_web/live/moderation/banned_phrase_live_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Removes human_time dependency (#1207)
  .dialyzer_ignore.exs
  lib/teiserver/account/reports/time_compare_report.ex
  lib/teiserver/account/schemas/code.ex
  lib/teiserver/helpers/date_helper.ex
  lib/teiserver/helpers/schema_helper.ex
  lib/teiserver/moderation/schemas/action.ex
  lib/teiserver_web/controllers/moderation/action_controller.ex
  lib/teiserver_web/templates/report/report/time_compare.html.heex
  mix.exs
  mix.lock
  test/teiserver/helpers/date_helper_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Added additional verification for bot auth plug with statement
  lib/teiserver/plugs/basic_auth_bot_plug.ex
Due: mix-format, mix-compile, mix-dialyzer

Update lib/teiserver/plugs/basic_auth_bot_plug.ex
  lib/teiserver/plugs/basic_auth_bot_plug.ex
Due: mix-format, mix-compile, mix-dialyzer

Added additional verification for bot auth plug with statement (#1209)
  lib/teiserver/plugs/basic_auth_bot_plug.ex
Due: mix-format, mix-compile, mix-dialyzer

Add tests for basic auth check
  test/teiserver_web/plugs/basic_auth_bot_plug_test.exs
Due: mix-format, mix-dialyzer

Don't blow up when auth header is garbage
  lib/teiserver/plugs/basic_auth_bot_plug.ex
  test/teiserver_web/plugs/basic_auth_bot_plug_test.exs
Due: mix-format, mix-compile, mix-dialyzer

refactor to use a single `with`
  lib/teiserver/plugs/basic_auth_bot_plug.ex
Due: mix-format, mix-compile, mix-dialyzer

Fix freaky tests by replacing hardcoded lobby id
  test/teiserver/chat/libs/word_lib_test.exs
  test/teiserver/data/battle/lobby_chat_test.exs
Due: mix-format, mix-dialyzer

Fix freaky tests by replacing hardcoded lobby id (#1212)
  test/teiserver/chat/libs/word_lib_test.exs
  test/teiserver/data/battle/lobby_chat_test.exs
Due: mix-format, mix-dialyzer

formatting
  lib/teiserver_web/live/battles/lobbies/index.html.heex
  lib/teiserver_web/templates/admin/accolade/index.html.heex
  lib/teiserver_web/templates/admin/accolade/show.html.heex
  lib/teiserver_web/templates/admin/site_config/edit.html.heex
  lib/teiserver_web/templates/admin/text_callback/new.html.heex
  lib/teiserver_web/templates/admin/text_callback/show.html.heex
  lib/teiserver_web/templates/admin/user/full_chat.html.heex
  lib/teiserver_web/templates/admin/user/ratings_form.html.heex
  lib/teiserver_web/templates/admin/user/rename_form.html.heex
  lib/teiserver_web/templates/admin/user/show.html.heex
  lib/teiserver_web/templates/admin/user/smurf_list.html.heex
  lib/teiserver_web/templates/admin/user/smurf_merge_form.html.heex
  lib/teiserver_web/templates/battle/match/show.html.heex
Due: none

Removes bots from MFA report
  lib/teiserver/account/reports/mfa_report.ex
Due: mix-format, mix-compile, mix-dialyzer

Removes bots from MFA report (#1202)
  lib/teiserver/account/reports/mfa_report.ex
Due: mix-format, mix-compile, mix-dialyzer

Fixes datehelper formatting issue, removed some un-used functions
  lib/teiserver/helpers/date_helper.ex
  lib/teiserver_web/live/admin/chat/index.html.heex
  lib/teiserver_web/templates/moderation/report/tab_user_details.html.heex
Due: mix-format, mix-compile, mix-dialyzer

feat: validate lobby name length
  config/runtime.exs
  config/test.exs
  lib/teiserver/coordinator/consul_commands.ex
  lib/teiserver/lobby/libs/lobby_lib.ex
  lib/teiserver/lobby/libs/lobby_restrictions.ex
  lib/teiserver/protocols/spring/spring_battle_in.ex
  lib/teiserver/protocols/spring/spring_in.ex
  test/teiserver/lobby/libs/lobby_lib_test.exs
  test/teiserver/protocols/spring/spring_battle_host_test.exs
Due: mix-format, mix-compile, mix-dialyzer
