Repository beyond-all-reason/teiserver: changes, and which pre-commit hooks are due for each by the changed paths.
All: mix-format, mix-compile, mix-dialyzer

.pre-commit-config.yaml:

---
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-merge-conflict
      - id: check-yaml
      - id: no-commit-to-branch
        args:
          - -b
          - master
          - -b
          - production
          - -b
          - staging
  - repo: local
    hooks:
      - id: mix-format
        name: "elixir: mix format"
        entry: mix format --check-formatted
        language: system
        files: \.exs*$
      - id: mix-compile
        name: "elixir: mix compile"
        entry: mix compile --force #--warnings-as-errors
        language: system
        pass_filenames: false
        files: \.ex$
      # - id: mix-credo
      #   name: "elixir: mix credo"
      #   entry: mix credo
      #   language: system
      #   pass_filenames: false
      #   files: \.exs*$
      - id: mix-dialyzer
        name: "elixir: mix dialyzer"
        entry: mix dialyzer
        language: system
        pass_filenames: false
        files: \.exs*$

upgrade argon2
  mix.exs
  mix.lock
Due: mix-format, mix-dialyzer

Fix type errors
  lib/teiserver/account/libs/accolade_lib.ex
  lib/teiserver/account/reports/retention_report.ex
  lib/teiserver/account/tasks/merge_accounts_task.ex
  lib/teiserver/data/cache_user.ex
  lib/teiserver/logging/tasks/persist_server_minute_task.ex
  lib/teiserver/microblog/queries/user_preference_queries.ex
  lib/teiserver_web/controllers/report/exports_controller.ex
  lib/teiserver_web/controllers/report/report_controller.ex
  lib/teiserver_web/live/battles/match/ratings.ex
  lib/teiserver_web/plugs/cache_plug.ex
  mix.exs
  mix.lock
Due: mix-format, mix-compile, mix-dialyzer

upgrade ecto libs
  mix.lock
Due: none

Remove phx-feedback-for
  assets/scss/custom/_styles.scss
  lib/teiserver_web/components/core_components.ex
Due: mix-format, mix-compile, mix-dialyzer

Upgrade phoenix live view and associated deps
  mix.exs
  mix.lock
Due: mix-format, mix-dialyzer

Upgrade esbuild
  mix.exs
  mix.lock
Due: mix-format, mix-dialyzer

Upgrade elixir to 1.18
  .github/workflows/dialyzer.yml
  .github/workflows/format.yml
  .github/workflows/tests.yml
  .tool-versions
Due: none

upgrade horde
  mix.exs
  mix.lock
Due: mix-format, mix-dialyzer

upgrade websocket_sync_client
  mix.exs
  mix.lock
Due: mix-format, mix-dialyzer

Remove libcluster
  mix.exs
  mix.lock
Due: mix-format, mix-dialyzer

upgrade phoenix_live_reload
  mix.exs
  mix.lock
Due: mix-format, mix-dialyzer

upgrade dart_sass
  mix.exs
Due: mix-format, mix-dialyzer

upgrade credo
  mix.exs
  mix.lock
Due: mix-format, mix-dialyzer

Upgrade timex
  mix.exs
  mix.lock
Due: mix-format, mix-dialyzer

Remove status, add tests
  lib/teiserver/player.ex
  lib/teiserver/player/session.ex
  lib/teiserver/player/tachyon_handler.ex
  test/support/tachyon.ex
  test/teiserver_web/tachyon/user.exs
  test/teiserver_web/tachyon/user_test.exs
Due: mix-format, mix-compile, mix-dialyzer

mix format
  lib/teiserver/player/tachyon_handler.ex
  test/teiserver_web/tachyon/user_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Remove deprecated heex syntaxe uses
  lib/teiserver/helpers/string_helper.ex
  lib/teiserver_web/components/layouts/root.html.heex
  lib/teiserver_web/live/admin_dashboard/index.html.heex
  lib/teiserver_web/live/admin_dashboard/login_throttle.html.heex
  lib/teiserver_web/live/admin_dashboard/policy.html.heex
  lib/teiserver_web/live/battles/lobbies/chat.html.heex
  lib/teiserver_web/live/battles/lobbies/index.html.heex
  lib/teiserver_web/live/battles/lobbies/show.html.heex
  lib/teiserver_web/live/clients/index.html.heex
  lib/teiserver_web/live/clients/show.html.heex
  lib/teiserver_web/live/components/player_list_component.ex
  lib/teiserver_web/live/queues/index.html.heex
  lib/teiserver_web/live/queues/show.html.heex
  lib/teiserver_web/live/tournament/index.html.heex
  lib/teiserver_web/live/tournament/show.html.heex
  lib/teiserver_web/templates/component/fa5_icon_picker.html.heex
  lib/teiserver_web/templates/report/report/tournament.html.heex
Due: mix-format, mix-compile, mix-dialyzer

Fix upgrade breakage for phoenix_html
  lib/central/input_helper.ex
  lib/teiserver_web/live/microblog/microblog_components.ex
  lib/teiserver_web/teiserver_web.ex
  lib/teiserver_web/templates/report/report/tournament.html.heex
  lib/teiserver_web/views/error_helpers.ex
Due: mix-format, mix-compile, mix-dialyzer

working on getting the multi-user-generator for the test to behave
  lib/teiserver/game/servers/balancer_server.ex
  test/teiserver/game/balancer_server_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Replace all joinsas with joinas spec
  lib/teiserver/data/cache_user.ex
  lib/teiserver/lobby/libs/chat_lib.ex
Due: mix-format, mix-compile, mix-dialyzer

cover cv/callvote joinas
  lib/teiserver/data/cache_user.ex
  lib/teiserver/lobby/libs/chat_lib.ex
Due: mix-format, mix-compile, mix-dialyzer

Add num_wins into rating calc
  lib/teiserver/battle/libs/balance_lib.ex
  lib/teiserver/game/libs/match_rating_lib.ex
  lib/teiserver/libs/teiserver_configs.ex
  lib/teiserver_web/controllers/admin/user_controller.ex
  test/teiserver/game/libs/match_rating_lib_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Fix tests
  test/teiserver/battle/split_noobs_deviation_test.exs
  test/teiserver/battle/split_noobs_internal_test.exs
Due: mix-format, mix-dialyzer

Replace all joinsas with joinas spec (#614)
  lib/teiserver/data/cache_user.ex
  lib/teiserver/lobby/libs/chat_lib.ex
Due: mix-format, mix-compile, mix-dialyzer

Send party.left message when last member leaves
  lib/teiserver/protocols/spring/spring_party_in.ex
  test/teiserver/protocols/spring/spring_party_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Update local guide to match elixir version
  documents/guides/local_setup.md
Due: none

Fix missing invite cancelled message
  lib/teiserver/protocols/spring/spring_party_in.ex
  test/teiserver/protocols/spring/spring_party_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Ensure client knows when party created from web
  lib/teiserver/protocols/spring/spring_party_in.ex
  test/teiserver/protocols/spring/spring_party_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Update website when client creates party
  lib/teiserver_web/live/account/party/index.ex
Due: mix-format, mix-compile, mix-dialyzer

Implement user/info (#613)
  lib/teiserver/player/tachyon_handler.ex
  priv/tachyon/schema/definitions/user.json
  priv/tachyon/schema/user/info/request.json
  priv/tachyon/schema/user/info/response.json
  test/support/tachyon.ex
  test/teiserver_web/tachyon/user.exs
  test/teiserver_web/tachyon/user_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Add seasons
  lib/teiserver/account.ex
  lib/teiserver/account/libs/rating_lib.ex
  lib/teiserver/account/schemas/rating.ex
  lib/teiserver/account/tasks/smurf_merge_task.ex
  lib/teiserver/game/libs/match_rating_lib.ex
  lib/teiserver/game/schemas/rating_log.ex
  lib/teiserver/libs/teiserver_configs.ex
  lib/teiserver_web/controllers/admin/user_controller.ex
  priv/repo/migrations/20250311104815_add_seasons.exs
  test/teiserver_web/controllers/api/spads_controller_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Create task for evaluating rating systems
  lib/teiserver/mix_tasks/prediction_stats.ex
Due: mix-format, mix-compile, mix-dialyzer

trying to wrap my head around how to spin up a GenServer and test it
  test/teiserver/game/balancer_server_test.exs
Due: mix-format, mix-dialyzer
