Repository beyond-all-reason/teiserver: changes, and which pre-commit hooks are due for each by the changed paths.
All: mix-format, mix-compile, mix-dialyzer

mix-format:
  name: 'elixir: mix format'
  entry: mix format --check-formatted
  language: system

mix-compile:
  name: 'elixir: mix compile'
  entry: mix compile --force
  language: system
  pass_filenames: false

mix-dialyzer:
  name: 'elixir: mix dialyzer'
  entry: mix dialyzer
  language: system
  pass_filenames: false

Authorize test user to get rating
  test/teiserver_web/controllers/api/spads_controller_test.exs
Due: mix-format, mix-dialyzer

Mix format
  test/teiserver_web/controllers/api/spads_controller_test.exs
Due: mix-format, mix-dialyzer

Update comment
  lib/teiserver/account.ex
  lib/teiserver_web/controllers/api/spads_controller.ex
Due: mix-format, mix-compile, mix-dialyzer

Add Account.get_rating_rank
  lib/teiserver/account.ex
Due: mix-format, mix-compile, mix-dialyzer

Fix indirection
  lib/teiserver_web/controllers/api/spads_controller.ex
Due: mix-format, mix-compile, mix-dialyzer

Custom rating values for SPADS
  lib/teiserver/libs/teiserver_configs.ex
  lib/teiserver_web/controllers/api/spads_controller.ex
Due: mix-format, mix-compile, mix-dialyzer

Show stdev and fix bug in respect_avoids
  lib/teiserver/battle/balance/respect_avoids.ex
  lib/teiserver_web/live/battles/match/show.ex
  lib/teiserver_web/live/battles/match/show.html.heex
  test/teiserver/battle/respect_avoids_test.exs
  test/teiserver_web/live/battles/match/show_live_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Better display on balance tab
  lib/teiserver_web/live/battles/match/show.ex
  lib/teiserver_web/live/battles/match/show.html.heex
  test/teiserver_web/live/battles/match/show_live_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Add account tests
  lib/teiserver/account.ex
  test/teiserver/account/account_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Add tests
  test/teiserver_web/controllers/api/spads_controller_test.exs
Due: mix-format, mix-dialyzer

Fix errors and warnings
  test/teiserver/account/account_test.exs
  test/teiserver_web/controllers/api/spads_controller_test.exs
Due: mix-format, mix-dialyzer

Rank -> Position
  lib/teiserver/account.ex
  lib/teiserver/libs/teiserver_configs.ex
  lib/teiserver_web/controllers/api/spads_controller.ex
  test/teiserver/account/account_test.exs
  test/teiserver_web/controllers/api/spads_controller_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Rename rank->rating in spads controller as well
  lib/teiserver_web/controllers/api/spads_controller.ex
Due: mix-format, mix-compile, mix-dialyzer

Use large team for team ffa (#511)
  lib/teiserver_web/controllers/api/spads_controller.ex
Due: mix-format, mix-compile, mix-dialyzer

Better balance display (#507)
  lib/teiserver/battle/balance/respect_avoids.ex
  lib/teiserver_web/live/battles/match/show.ex
  lib/teiserver_web/live/battles/match/show.html.heex
  test/teiserver/battle/respect_avoids_test.exs
  test/teiserver_web/live/battles/match/show_live_test.exs
Due: mix-format, mix-compile, mix-dialyzer

fix for flaky renameuser test using polling-until-expected-result (#493)
  test/teiserver/protocols/spring/spring_auth_test.exs
Due: mix-format, mix-dialyzer

Update moderation template (rule A4 is now A3)
  lib/teiserver_web/templates/moderation/action/new_with_user.html.heex
Due: none

Add captain diff penalty to respect avoids
  lib/teiserver/battle/balance/brute_force_avoid.ex
  lib/teiserver/battle/balance/brute_force_avoid_types.ex
  lib/teiserver/battle/balance/respect_avoids.ex
  test/teiserver/battle/brute_force_avoid_internal_test.exs
  test/teiserver/battle/respect_avoids_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Add stdev diff penalty to brute_force and split_noobs
  lib/teiserver/battle/balance/brute_force.ex
  lib/teiserver/battle/balance/brute_force_types.ex
  lib/teiserver/battle/balance/split_noobs.ex
  test/teiserver/battle/brute_force_internal_test.exs
  test/teiserver/battle/brute_force_test.exs
  test/teiserver/battle/respect_avoids_test.exs
  test/teiserver/battle/split_noobs_internal_test.exs
  test/teiserver/battle/split_noobs_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Fix dialyzer
  test/teiserver/battle/respect_avoids_test.exs
Due: mix-format, mix-dialyzer

Update moderation template (rule A4 is now A3) (#513)
  lib/teiserver_web/templates/moderation/action/new_with_user.html.heex
Due: none

Add captain diff penalty to respect avoids (#509)
  lib/teiserver/battle/balance/brute_force.ex
  lib/teiserver/battle/balance/brute_force_avoid.ex
  lib/teiserver/battle/balance/brute_force_avoid_types.ex
  lib/teiserver/battle/balance/brute_force_types.ex
  lib/teiserver/battle/balance/respect_avoids.ex
  lib/teiserver/battle/balance/split_noobs.ex
  test/teiserver/battle/brute_force_avoid_internal_test.exs
  test/teiserver/battle/brute_force_internal_test.exs
  test/teiserver/battle/brute_force_test.exs
  test/teiserver/battle/respect_avoids_test.exs
  test/teiserver/battle/split_noobs_internal_test.exs
  test/teiserver/battle/split_noobs_test.exs
Due: mix-format, mix-compile, mix-dialyzer

default generated users to be verified
  lib/teiserver/mix_tasks/fake_data.ex
Due: mix-format, mix-compile, mix-dialyzer

Fix incorrect timezone
  lib/teiserver_web/live/battles/match/index.html.heex
  lib/teiserver_web/live/battles/match/ratings.html.heex
Due: none

Fix timezone on report page
  lib/teiserver_web/live/moderation/report_user/index.ex
Due: mix-format, mix-compile, mix-dialyzer

Fix error when unprocessed match
  lib/teiserver_web/live/battles/match/show.ex
Due: mix-format, mix-compile, mix-dialyzer

Fix timezone on report page (#516)
  lib/teiserver_web/live/moderation/report_user/index.ex
Due: mix-format, mix-compile, mix-dialyzer

default generated users to be verified (#514)
  lib/teiserver/mix_tasks/fake_data.ex
Due: mix-format, mix-compile, mix-dialyzer

Fix incorrect timezone (#515)
  lib/teiserver_web/live/battles/match/index.html.heex
  lib/teiserver_web/live/battles/match/ratings.html.heex
Due: none

Update based on feedback
  lib/teiserver_web/live/battles/match/show.ex
Due: mix-format, mix-compile, mix-dialyzer

Fix error when unprocessed match (#517)
  lib/teiserver_web/live/battles/match/show.ex
Due: mix-format, mix-compile, mix-dialyzer

Complex match event improvements
  lib/teiserver/battle/servers/match_monitor_server.ex
  lib/teiserver/telemetry/libs/complex_match_event_lib.ex
  lib/teiserver/telemetry/queries/complex_match_event_queries.ex
  lib/teiserver/telemetry/schemas/complex_match_event.ex
  lib/teiserver_web/templates/telemetry/complex_match_event/detail.html.heex
  priv/repo/migrations/20241020115326_match_event_timestamp.exs
Due: mix-format, mix-compile, mix-dialyzer

Complex match event improvements (#518)
  lib/teiserver/battle/servers/match_monitor_server.ex
  lib/teiserver/telemetry/libs/complex_match_event_lib.ex
  lib/teiserver/telemetry/queries/complex_match_event_queries.ex
  lib/teiserver/telemetry/schemas/complex_match_event.ex
  lib/teiserver_web/templates/telemetry/complex_match_event/detail.html.heex
  priv/repo/migrations/20241020115326_match_event_timestamp.exs
Due: mix-format, mix-compile, mix-dialyzer

VIP role improvements
  lib/teiserver/account/libs/role_lib.ex
  lib/teiserver/coordinator/consul_server.ex
  lib/teiserver/data/cache_user.ex
Due: mix-format, mix-compile, mix-dialyzer

VIP role improvements (#519)
  lib/teiserver/account/libs/role_lib.ex
  lib/teiserver/coordinator/consul_server.ex
  lib/teiserver/data/cache_user.ex
Due: mix-format, mix-compile, mix-dialyzer

Moderators are now Contributors
  lib/teiserver/account/libs/role_lib.ex
Due: mix-format, mix-compile, mix-dialyzer

Added match rating status
  lib/teiserver_web/live/battles/match/show.ex
  lib/teiserver_web/live/battles/match/show.html.heex
Due: mix-format, mix-compile, mix-dialyzer

Added match rating status (#520)
  lib/teiserver_web/live/battles/match/show.ex
  lib/teiserver_web/live/battles/match/show.html.heex
Due: mix-format, mix-compile, mix-dialyzer

Match rating status fix
  lib/teiserver/game/libs/match_rating_lib.ex
  lib/teiserver_web/live/battles/match/show.ex
Due: mix-format, mix-compile, mix-dialyzer

Fix rate match to work with missing match data
  lib/teiserver/game/libs/match_rating_lib.ex
Due: mix-format, mix-compile, mix-dialyzer

Path conditions:
  mix-format: any of: \.exs*$
  mix-compile: any of: \.ex$
  mix-dialyzer: any of: \.exs*$
