Repository beyond-all-reason/teiserver: changes, and which pre-commit hooks are due for each by the changed paths.
All: mix-format, mix-compile, mix-dialyzer

mix-format:
  name: 'elixir: mix format'
  entry: mix format --check-formatted
  language: system

mix-compile:
  name: 'elixir: mix compile'
  entry: mix compile --force
  language: system
  pass_filenames: false

mix-dialyzer:
  name: 'elixir: mix dialyzer'
  entry: mix dialyzer
  language: system
  pass_filenames: false

Tweaks based on feedback
  AI_POLICY.md
Due: none

Updated documentation for contributing and AI usage (#1279)
  .incus-integration-on
  AI_POLICY.md
  CONTRIBUTING.md
  README.md
Due: none

Fixed bug where an unathenticated user would trigger an exception (#1277)
  lib/teiserver_web/router.ex
Due: mix-format, mix-compile, mix-dialyzer

Simpler tachyon envelope validation (#1268)
  lib/teiserver/tachyon/schema.ex
  test/teiserver/tachyon/schema_test.exs
Due: mix-format, mix-compile, mix-dialyzer

First stage of a UserPicker component (#1266)
  .dialyzer_ignore.exs
  config/dev.exs
  lib/teiserver/account/queries/user_queries.ex
  lib/teiserver_web/live/moderation/action_live/smurf_link.ex
  lib/teiserver_web/live/moderation/action_live/smurf_link.html.heex
  lib/teiserver_web/live_components/user_picker.ex
  lib/teiserver_web/router.ex
  lib/teiserver_web/templates/admin/user/actions.html.heex
  test/support/conn_case.ex
  test/teiserver_web/live_components/user_picker_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Adds initial Tailwind support
  assets/css/app_bs.css
  assets/css/app_tw.css
  assets/js/app.js
  assets/tsconfig.json
  assets/vendor/daisyui-theme.js
  assets/vendor/daisyui.js
  assets/vendor/topbar_bs.js
  assets/vendor/topbar_tw.js
  config/config.exs
  config/dev.exs
  lib/teiserver_web/components/core_components.ex
  lib/teiserver_web/components/layouts/moderation_tw.html.heex
  lib/teiserver_web/components/layouts/root_bs.html.heex
  lib/teiserver_web/components/layouts/root_tw.html.heex
  lib/teiserver_web/components/nav_components.ex
  lib/teiserver_web/endpoint.ex
  lib/teiserver_web/live/moderation/banned_domain_live/form.ex
  lib/teiserver_web/live/moderation/banned_domain_live/form_component.ex
  lib/teiserver_web/live/moderation/banned_domain_live/index.html.heex
  lib/teiserver_web/router.ex
  lib/teiserver_web/templates/error/403_forbidden.html.heex
  lib/teiserver_web/templates/error/404_not_found.html.heex
  lib/teiserver_web/templates/error/500_graceful.html.heex
  lib/teiserver_web/templates/error/500_handled.html.heex
  lib/teiserver_web/templates/error/500_internal.html.heex
  mix.exs
  mix.lock
Due: mix-format, mix-compile, mix-dialyzer

Test fixes
  lib/teiserver_web/live/moderation/banned_domain_live/form.ex
  lib/teiserver_web/live/moderation/banned_domain_live/index.html.heex
  lib/teiserver_web/live/moderation/banned_domain_live/show.html.heex
  test/teiserver_web/live/moderation/banned_domain_live_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Fixed bad JS refs
  lib/teiserver_web/templates/error/403_forbidden.html.heex
  lib/teiserver_web/templates/error/404_not_found.html.heex
  lib/teiserver_web/templates/error/500_graceful.html.heex
  lib/teiserver_web/templates/error/500_handled.html.heex
  lib/teiserver_web/templates/error/500_internal.html.heex
Due: none

Updated interface
  assets/css/app_tw.css
  lib/teiserver/account/plugs/defaults_plug.ex
  lib/teiserver_web/live/moderation/banned_domain_live/form.ex
  lib/teiserver_web/router.ex
  mix.lock
Due: mix-format, mix-compile, mix-dialyzer

spring: allow longer `!mode` commands in battle chat
  lib/teiserver/protocols/spring/spring_in.ex
Due: mix-format, mix-compile, mix-dialyzer

Fixed bad test
  test/teiserver_web/live_components/user_picker_test.exs
Due: mix-format, mix-dialyzer

Fix Credo strict violations in retention report
  lib/teiserver/account/reports/retention_report.ex
  test/teiserver/account/retention_report_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Name unused pattern vars in retention report test
  test/teiserver/account/retention_report_test.exs
Due: mix-format, mix-dialyzer

Fix Internal Server Error on retention report (#1278)
  lib/teiserver/account/reports/retention_report.ex
  test/teiserver/account/retention_report_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Alter test cases to not use 127.x IPs as they can conflict with legitimate test IPs
  test/teiserver/moderation/banned_ip_test.exs
Due: mix-format, mix-dialyzer

Alter test cases to not use 127.x IPs as they can conflict with legitimate test IPs (#1282)
  test/teiserver/moderation/banned_ip_test.exs
Due: mix-format, mix-dialyzer

long battle commands module attr
  lib/teiserver/protocols/spring/spring_in.ex
Due: mix-format, mix-compile, mix-dialyzer

Add .dockerignore to trim the Docker build context
  .dockerignore
Due: none

spring: allow longer `!mode` commands in battle chat (#1280)
  lib/teiserver/protocols/spring/spring_in.ex
Due: mix-format, mix-compile, mix-dialyzer

Add .dockerignore to trim the Docker build context (#1283)
  .dockerignore
Due: none

Fixes from review. Refactor
  lib/teiserver/coordinator/coordinator_server.ex
  lib/teiserver/helpers/date_helper.ex
  lib/teiserver/moderation/schemas/action.ex
  lib/teiserver_web/controllers/moderation/action_controller.ex
  lib/teiserver_web/controllers/moderation/ban_controller.ex
  lib/teiserver_web/templates/moderation/action/form.html.heex
  lib/teiserver_web/templates/moderation/action/index.html.heex
  lib/teiserver_web/templates/moderation/action/new_with_user.html.heex
  lib/teiserver_web/views/moderation/action_view.ex
Due: mix-format, mix-compile, mix-dialyzer

Fix compile
  lib/teiserver/coordinator/coordinator_server.ex
Due: mix-format, mix-compile, mix-dialyzer

ListMonitor to emit :remove_lobby event
  lib/teiserver/tachyon_lobby/list_monitor.ex
  lib/teiserver/tachyon_lobby/lobby.ex
  lib/teiserver/tachyon_lobby/system.ex
  test/teiserver/tachyon_lobby/list_test.exs
Due: mix-format, mix-compile, mix-dialyzer

lobby subscription. without remove_lobby yet
  lib/teiserver/tachyon_lobby.ex
  lib/teiserver/tachyon_lobby/lobby.ex
  test/teiserver/tachyon_lobby/list_test.exs
  test/teiserver_web/tachyon/lobby_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Handle ListMonitor restarts
  lib/teiserver/tachyon_lobby/list_monitor.ex
  lib/teiserver/tachyon_lobby/registry.ex
  test/teiserver/tachyon_lobby/list_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Remove list_reset and unbatch updates
  lib/teiserver/player/session.ex
  lib/teiserver/player/tachyon_handler.ex
  lib/teiserver/tachyon_lobby/lobby.ex
  test/teiserver/tachyon_lobby/list_test.exs
  test/teiserver/tachyon_lobby/lobby_test.exs
  test/teiserver_web/tachyon/lobby_test.exs
Due: mix-format, mix-compile, mix-dialyzer

create_party returns state
  lib/teiserver/party.ex
  lib/teiserver/player/session.ex
  test/teiserver/party/party_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Fixes
  lib/teiserver/player/login_queue.ex
Due: mix-format, mix-compile, mix-dialyzer

Banned domains now handles subdomains properly
  lib/teiserver/moderation.ex
  test/teiserver/moderation/banned_domain_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Remove unused and not working function
  lib/teiserver/moderation.ex
Due: mix-format, mix-compile, mix-dialyzer

Fixed mfa auth check for bots
  lib/teiserver/account/libs/auth_lib.ex
Due: mix-format, mix-compile, mix-dialyzer

Added test
  test/teiserver/account/auth_test.exs
Due: mix-format, mix-dialyzer

Fixed mfa auth check for bots (#1286)
  lib/teiserver/account/libs/auth_lib.ex
  test/teiserver/account/auth_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Addressed some duplication and styling
  lib/teiserver_web/components/core_components.ex
  lib/teiserver_web/components/layouts/moderation_tw.html.heex
  lib/teiserver_web/components/nav_components.ex
  lib/teiserver_web/live/moderation/banned_domain_live/form.ex
Due: mix-format, mix-compile, mix-dialyzer

Reverted flash removal
  lib/teiserver_web/components/layouts/moderation_tw.html.heex
Due: none

party/create response return party state insead of party_id (#1274)
  lib/teiserver/party.ex
  lib/teiserver/player/session.ex
  lib/teiserver/player/tachyon_handler.ex
  priv/tachyon/schema/party/create/response.json
  test/teiserver/party/party_test.exs
  test/teiserver_web/tachyon/messaging_test.exs
  test/teiserver_web/tachyon/party_matchmaking_test.exs
  test/teiserver_web/tachyon/party_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Handle rate limit login queue for Tachyon (#1276)
  lib/teiserver/player/login_queue.ex
  test/teiserver/player/login_queue_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Add initial Tailwind support (#1271)
  assets/css/app_bs.css
  assets/css/app_tw.css
  assets/js/app.js
  assets/tsconfig.json
  assets/vendor/daisyui-theme.js
  assets/vendor/daisyui.js
  assets/vendor/topbar_bs.js
  assets/vendor/topbar_tw.js
  config/config.exs
  config/dev.exs
  lib/teiserver/account/plugs/defaults_plug.ex
  lib/teiserver_web/components/core_components.ex
  lib/teiserver_web/components/layouts/moderation_tw.html.heex
  lib/teiserver_web/components/layouts/root_bs.html.heex
  lib/teiserver_web/components/layouts/root_tw.html.heex
  lib/teiserver_web/components/nav_components.ex
  lib/teiserver_web/endpoint.ex
  lib/teiserver_web/live/moderation/banned_domain_live/form.ex
  lib/teiserver_web/live/moderation/banned_domain_live/form_component.ex
  lib/teiserver_web/live/moderation/banned_domain_live/index.html.heex
  lib/teiserver_web/live/moderation/banned_domain_live/show.html.heex
  lib/teiserver_web/router.ex
  mix.exs
  mix.lock
  test/teiserver_web/live/moderation/banned_domain_live_test.exs
  test/teiserver_web/live_components/user_picker_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Vote is triggered when boss mode is disabled or boss not exists
  lib/teiserver/tachyon_lobby/lobby.ex
  test/teiserver/tachyon_lobby/lobby_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Fix lint
  lib/teiserver/tachyon_lobby/lobby.ex
Due: mix-format, mix-compile, mix-dialyzer

Path conditions:
  mix-format: any of: \.exs*$
  mix-compile: any of: \.ex$
  mix-dialyzer: any of: \.exs*$
