Repository beyond-all-reason/teiserver: changes, and which pre-commit hooks are due for each by the changed paths.
All: mix-format, mix-compile, mix-dialyzer

.pre-commit-config.yaml:

---
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-merge-conflict
      - id: check-yaml
      - id: no-commit-to-branch
        args:
          - -b
          - master
          - -b
          - production
          - -b
          - staging
  - repo: local
    hooks:
      - id: mix-format
        name: "elixir: mix format"
        entry: mix format --check-formatted
        language: system
        files: \.exs*$
      - id: mix-compile
        name: "elixir: mix compile"
        entry: mix compile --force #--warnings-as-errors
        language: system
        pass_filenames: false
        files: \.ex$
      # - id: mix-credo
      #   name: "elixir: mix credo"
      #   entry: mix credo
      #   language: system
      #   pass_filenames: false
      #   files: \.exs*$
      - id: mix-dialyzer
        name: "elixir: mix dialyzer"
        entry: mix dialyzer
        language: system
        pass_filenames: false
        files: \.exs*$

Update method name
  lib/teiserver/account/libs/accolade_lib.ex
  lib/teiserver_web/live/battles/match/show.ex
Due: mix-format, mix-compile, mix-dialyzer

Fix error when viewing profile when not logged in (#572)
  lib/teiserver_web/live/account/profile/accolades.ex
  lib/teiserver_web/live/account/profile/overview.ex
  test/teiserver_web/live/account/profile/overview_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Admin Quality-of-Life feature: deduplicated the list of users when using the quicksearch (#579)
  lib/teiserver_web/controllers/admin/user_controller.ex
Due: mix-format, mix-compile, mix-dialyzer

Fix #581 (#584)
  lib/teiserver/o_auth.ex
  lib/teiserver_web/controllers/o_auth/code_controller.ex
  test/teiserver/o_auth/code_test.exs
  test/teiserver_web/controllers/o_auth/code_controller_test.exs
Due: mix-format, mix-compile, mix-dialyzer

got something that might work, now need to wrap tests around functions to verify I have not broken things
  lib/teiserver/game/servers/balancer_server.ex
  test/teiserver/game/balancer_server_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Tachyon system/serverStats
  lib/teiserver/player.ex
  lib/teiserver/player/session_registry.ex
  lib/teiserver/player/tachyon_handler.ex
  priv/tachyon/schema/system/serverStats/request.json
  priv/tachyon/schema/system/serverStats/response.json
  test/support/tachyon.ex
  test/teiserver_web/tachyon/system_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Tachyon system/serverStats (#586)
  lib/teiserver/player.ex
  lib/teiserver/player/session_registry.ex
  lib/teiserver/player/tachyon_handler.ex
  priv/tachyon/schema/system/serverStats/request.json
  priv/tachyon/schema/system/serverStats/response.json
  test/support/tachyon.ex
  test/teiserver_web/tachyon/system_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Makes the tests a bit less noisy
  lib/teiserver/player/session.ex
Due: mix-format, mix-compile, mix-dialyzer

Fix flakes due to lingering sessions
  test/support/tachyon.ex
  test/teiserver_web/tachyon/session_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Also ensure autohost is cleaned up nicely
  test/support/tachyon.ex
Due: mix-format, mix-compile, mix-dialyzer

Ensure test cleanup sessions (#587)
  lib/teiserver/player/session.ex
  test/support/tachyon.ex
  test/teiserver_web/tachyon/session_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Refactor: Namespace the matchmaking messages
  lib/teiserver/player/session.ex
  lib/teiserver/player/tachyon_handler.ex
Due: mix-format, mix-compile, mix-dialyzer

Add schemas for messaging/send
  priv/tachyon/schema/messaging/send/request.json
  priv/tachyon/schema/messaging/send/response.json
Due: none

Handle susbcription request with history markers
  lib/teiserver/player/session.ex
  lib/teiserver/player/tachyon_handler.ex
  test/teiserver_web/tachyon/messaging_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Correctly handle subscribeReceived request
  lib/teiserver/player/session.ex
  lib/teiserver/player/tachyon_handler.ex
Due: mix-format, mix-compile, mix-dialyzer

Random app id when setting up a token in fixture
  test/support/fixtures/o_auth/o_auth_fixtures.ex
Due: mix-format, mix-compile, mix-dialyzer

Logic to actually receive messages
  lib/teiserver/messaging.ex
  lib/teiserver/player/session.ex
  lib/teiserver/player/tachyon_handler.ex
  lib/teiserver/tachyon/transport.ex
  priv/tachyon/schema/definitions/historyMarker.json
  priv/tachyon/schema/definitions/unixTime.json
  priv/tachyon/schema/messaging/received/event.json
  priv/tachyon/schema/messaging/subscribeReceived/request.json
  priv/tachyon/schema/messaging/subscribeReceived/response.json
  test/support/tachyon.ex
  test/teiserver_web/tachyon/messaging_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Add a bounded queue structure
  lib/teiserver/helpers/bounded_queue.ex
  test/teiserver/helpers/bounded_queue_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Move init code at the start before public API
  lib/teiserver/player/session.ex
Due: mix-format, mix-compile, mix-dialyzer

Message definitions
  lib/teiserver/messaging.ex
  lib/teiserver/messaging/message.ex
  lib/teiserver/player/tachyon_handler.ex
  test/support/tachyon.ex
  test/teiserver_web/tachyon/messaging_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Add utility to split a bounded queue at a mark
  lib/teiserver/helpers/bounded_queue.ex
  test/teiserver/helpers/bounded_queue_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Implement a message buffer per session
  lib/teiserver/player/session.ex
  lib/teiserver/player/tachyon_handler.ex
  test/teiserver_web/tachyon/messaging_test.exs
Due: mix-format, mix-compile, mix-dialyzer

handle non numeric history markers
  lib/teiserver/player/session.ex
  lib/teiserver/player/tachyon_handler.ex
  test/teiserver_web/tachyon/messaging_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Ensure autohost cleanup when using `setup_autohost`
  test/support/tachyon.ex
Due: mix-format, mix-compile, mix-dialyzer

Fix another session flake
  test/teiserver_web/controllers/tachyon_controller_test.exs
Due: mix-format, mix-dialyzer

More session flakes fix (#594)
  test/support/tachyon.ex
  test/teiserver_web/controllers/tachyon_controller_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Extend battle/start message with engine, game and map
  lib/teiserver/autohost/tachyon_handler.ex
  lib/teiserver/lobby/libs/lobby_lib.ex
  lib/teiserver/matchmaking/pairing_room.ex
  lib/teiserver/player/session.ex
  priv/tachyon/schema/battle/start/request.json
  priv/tachyon/schema/definitions/privateBattle.json
  test/teiserver_web/tachyon/matchmaking_test.exs
Due: mix-format, mix-compile, mix-dialyzer

trying to wrap my head around how to spin up a GenServer and test it
  test/teiserver/game/balancer_server_test.exs
Due: mix-format, mix-dialyzer

Extend battle/start message with engine, game and map (#588)
  lib/teiserver/autohost/tachyon_handler.ex
  lib/teiserver/lobby/libs/lobby_lib.ex
  lib/teiserver/matchmaking/pairing_room.ex
  lib/teiserver/player/session.ex
  priv/tachyon/schema/battle/start/request.json
  priv/tachyon/schema/definitions/privateBattle.json
  test/teiserver_web/tachyon/matchmaking_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Update auto_balance.ex
  lib/teiserver/battle/balance/auto_balance.ex
Due: mix-format, mix-compile, mix-dialyzer

Upgrade nostrum
  mix.exs
  mix.lock
Due: mix-format, mix-dialyzer

extract the discord config to make it fully runtime customisable
  config/runtime.exs
Due: mix-format, mix-dialyzer

Update doc to run discord (locally)
  documents/guides/discord_bot.md
Due: none

Allow admin to restrict certain accolades to Ally or Enemy only (#585)
  lib/teiserver/account/libs/accolade_lib.ex
  lib/teiserver/account/libs/badge_type_lib.ex
  lib/teiserver/account/schemas/badge_type.ex
  lib/teiserver_web/live/battles/match/show.ex
  lib/teiserver_web/live/battles/match/show.html.heex
  lib/teiserver_web/templates/admin/badge_type/form.html.heex
  lib/teiserver_web/templates/admin/badge_type/index.html.heex
  lib/teiserver_web/views/admin/badge_type_view.ex
  priv/repo/migrations/20250206221410_add_accolade_restriction.exs
Due: mix-format, mix-compile, mix-dialyzer

Use split_noobs when at least one party
  lib/teiserver/battle/balance/auto_balance.ex
Due: mix-format, mix-compile, mix-dialyzer

Fix more icons to use the free version
  lib/teiserver_web/live/admin_dashboard/index.html.heex
  lib/teiserver_web/templates/admin/lobby_policy/index.html.heex
  lib/teiserver_web/templates/admin/text_callback/index.html.heex
  lib/teiserver_web/templates/game/queue/index.html.heex
  lib/teiserver_web/templates/moderation/action/search.html.heex
  lib/teiserver_web/templates/moderation/ban/index.html.heex
  lib/teiserver_web/templates/moderation/report/response_form.html.heex
Due: none

Update font awesome wrench icon to use the free version
  lib/teiserver_web/templates/admin/accolade/show.html.heex
  lib/teiserver_web/templates/admin/achievement/show.html.heex
  lib/teiserver_web/templates/admin/badge_type/show.html.heex
  lib/teiserver_web/templates/admin/discord_channel/index.html.heex
  lib/teiserver_web/templates/admin/discord_channel/show.html.heex
  lib/teiserver_web/templates/admin/lobby_policy/index.html.heex
  lib/teiserver_web/templates/admin/lobby_policy/show.html.heex
  lib/teiserver_web/templates/admin/text_callback/index.html.heex
  lib/teiserver_web/templates/admin/text_callback/show.html.heex
  lib/teiserver_web/templates/admin/user/show.html.heex
  lib/teiserver_web/templates/game/queue/show.html.heex
  lib/teiserver_web/templates/moderation/action/show.html.heex
  lib/teiserver_web/templates/moderation/proposal/show.html.heex
Due: none

Use non deprecated nostrum API
  lib/teiserver/bridge/bridge_server.ex
  lib/teiserver/bridge/chat_commands.ex
  lib/teiserver/bridge/discord_bridge_bot.ex
  lib/teiserver/bridge/message_commands.ex
  lib/teiserver/communication/libs/discord_channel_lib.ex
Due: mix-format, mix-compile, mix-dialyzer

Fix gdt channel lookup
  lib/teiserver/bridge/chat_commands.ex
Due: mix-format, mix-compile, mix-dialyzer

Fix flaky autohost tests
  .tool-versions
  mix.lock
  test/teiserver/autohost/autohost_test.exs
Due: mix-format, mix-dialyzer
