Repository beyond-all-reason/teiserver: changes, and which pre-commit hooks are due for each by the changed paths.
All: mix-format, mix-compile, mix-dialyzer

mix-format:
  name: 'elixir: mix format'
  entry: mix format --check-formatted
  language: system

mix-compile:
  name: 'elixir: mix compile'
  entry: mix compile --force
  language: system
  pass_filenames: false

mix-dialyzer:
  name: 'elixir: mix dialyzer'
  entry: mix dialyzer
  language: system
  pass_filenames: false

Add logs
  lib/teiserver/mix_tasks/prediction_stats.ex
Due: mix-format, mix-compile, mix-dialyzer

Add num_matches
  lib/teiserver/mix_tasks/prediction_stats.ex
Due: mix-format, mix-compile, mix-dialyzer

Add logloss stats
  lib/teiserver/mix_tasks/brier_stats.ex
  lib/teiserver/mix_tasks/logloss_stats.ex
Due: mix-format, mix-compile, mix-dialyzer

Add rating seasons
  lib/teiserver/account.ex
  lib/teiserver/account/reports/leaderboard_report.ex
  lib/teiserver/account/reports/tournament_report.ex
  lib/teiserver/account/tasks/smurf_merge_task.ex
  lib/teiserver/coordinator/coordinator_commands.ex
  lib/teiserver/game/exports/player_ratings_export.ex
  lib/teiserver/game/libs/match_rating_lib.ex
  lib/teiserver/game/libs/rating_log_lib.ex
  lib/teiserver_web/controllers/admin/user_controller.ex
  lib/teiserver_web/controllers/battle/match_controller.ex
  lib/teiserver_web/controllers/battle/ratings_controller.ex
  lib/teiserver_web/live/battles/match/ratings.ex
  test/teiserver/game/libs/match_rating_lib_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Seasonal leaderboard API
  lib/teiserver_web/controllers/api/public_controller.ex
  lib/teiserver_web/router.ex
Due: mix-format, mix-compile, mix-dialyzer

Add rating seasons (#631)
  lib/teiserver/account.ex
  lib/teiserver/account/reports/leaderboard_report.ex
  lib/teiserver/account/reports/tournament_report.ex
  lib/teiserver/account/tasks/smurf_merge_task.ex
  lib/teiserver/coordinator/coordinator_commands.ex
  lib/teiserver/game/exports/player_ratings_export.ex
  lib/teiserver/game/libs/match_rating_lib.ex
  lib/teiserver/game/libs/rating_log_lib.ex
  lib/teiserver_web/controllers/admin/user_controller.ex
  lib/teiserver_web/controllers/battle/match_controller.ex
  lib/teiserver_web/controllers/battle/ratings_controller.ex
  lib/teiserver_web/live/battles/match/ratings.ex
  test/teiserver/game/libs/match_rating_lib_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Seasonal leaderboard API (#630)
  lib/teiserver_web/controllers/api/public_controller.ex
  lib/teiserver_web/router.ex
Due: mix-format, mix-compile, mix-dialyzer

Add season as primary composite key to teiserver_account_ratings
  lib/teiserver/account/schemas/rating.ex
  priv/repo/migrations/20250319174022_season_as_primary_key.exs
Due: mix-format, mix-compile, mix-dialyzer

turned several tests into one-liners, asserted both the result and the hash
  test/teiserver/game/balancer_server_test.exs
Due: mix-format, mix-dialyzer

handle_call_make_balance_additional_opts for deduplicating the option list
  lib/teiserver/game/servers/balancer_server.ex
Due: mix-format, mix-compile, mix-dialyzer

Fix leaderboard API inactivity
  lib/teiserver_web/controllers/api/public_controller.ex
Due: mix-format, mix-compile, mix-dialyzer

Fix warnings and unpinned data (#627)
  test/teiserver_web/tachyon/user_test.exs
Due: mix-format, mix-dialyzer

Add docs and comments around session module
  lib/teiserver/player/session.ex
Due: mix-format, mix-compile, mix-dialyzer

modify first user event to be self
  lib/teiserver/player/tachyon_handler.ex
  priv/tachyon/schema/definitions/privateUser.json
  priv/tachyon/schema/user/self/event.json
  test/teiserver_web/tachyon/user_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Add friends to `user/self` event
  lib/teiserver/player/tachyon_handler.ex
  priv/tachyon/schema/definitions/privateUser.json
  test/teiserver_web/tachyon/friend_test.exs
Due: mix-format, mix-compile, mix-dialyzer

contributor docs
  CONTRIBUTING.md
  documents/guides/local_setup.md
Due: none

leave tachyon setup to the specific task
  lib/teiserver/mix_tasks/fake_data.ex
Due: mix-format, mix-compile, mix-dialyzer

simplified the code using Central.Helpers.GeneralTestLib.make_user
  test/teiserver/game/balancer_server_test.exs
Due: mix-format, mix-dialyzer

removed redundant use of index in the iteration
  test/teiserver/game/balancer_server_test.exs
Due: mix-format, mix-dialyzer

simplified make_users_with_ranks per PR comments
  test/teiserver/game/balancer_server_test.exs
Due: mix-format, mix-dialyzer

cancel invites when disbanding a party
  lib/teiserver/account/servers/party_server.ex
  lib/teiserver/protocols/spring/spring_party_in.ex
  test/teiserver/protocols/spring/spring_party_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Broadcast invites to all members
  lib/teiserver/account/servers/party_server.ex
  lib/teiserver/protocols/spring/spring_party_in.ex
  lib/teiserver/protocols/spring/spring_party_out.ex
  test/teiserver/protocols/spring/spring_party_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Added support for only team size 8
  lib/teiserver/mix_tasks/brier_stats.ex
  lib/teiserver/mix_tasks/logloss_stats.ex
Due: mix-format, mix-compile, mix-dialyzer

Remove season tag
  lib/teiserver/mix_tasks/logloss_stats.ex
Due: mix-format, mix-compile, mix-dialyzer

change name of pro_matches to experienced_matches
  lib/teiserver/mix_tasks/brier_stats.ex
Due: mix-format, mix-compile, mix-dialyzer

Moar docs (#633)
  CONTRIBUTING.md
  documents/guides/local_setup.md
  lib/teiserver/mix_tasks/fake_data.ex
Due: mix-format, mix-compile, mix-dialyzer

condensed some verbose code with a pipeline
  test/teiserver/game/balancer_server_test.exs
Due: mix-format, mix-dialyzer

Remove deep caching hashmap in balancer server (#595)
  lib/teiserver/game/servers/balancer_server.ex
  test/teiserver/battle/balance_lib_internal_test.exs
  test/teiserver/game/balancer_server_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Treat the captain as double
  lib/teiserver/mix_tasks/brier_stats.ex
  lib/teiserver/mix_tasks/logloss_stats.ex
Due: mix-format, mix-compile, mix-dialyzer

Unsubscribe from party channels on invite cancel
  lib/teiserver/protocols/spring/spring_party_in.ex
  test/teiserver/protocols/spring/spring_party_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Show all invites to invited players
  lib/teiserver/account/servers/party_server.ex
  lib/teiserver/protocols/spring/spring_party_in.ex
  test/teiserver/protocols/spring/spring_party_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Rename the bot view and components.
  lib/teiserver_web/components/bot_components.ex
  lib/teiserver_web/views/admin/bot_view.ex
Due: mix-format, mix-compile, mix-dialyzer

Basic table and schema for game and engine version
  lib/teiserver/asset.ex
  lib/teiserver/asset/queries/engine_queries.ex
  lib/teiserver/asset/queries/game_queries.ex
  lib/teiserver/asset/schemas/engine.ex
  lib/teiserver/asset/schemas/game.ex
  priv/repo/migrations/20250324195702_engine_and_game_versions.exs
  test/support/fixtures/asset.ex
  test/teiserver/asset/engine_test.exs
  test/teiserver/asset/game_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Basic index view to look at versions
  lib/teiserver/asset/libs/asset_lib.ex
  lib/teiserver_web/controllers/admin/asset_controller.ex
  lib/teiserver_web/router.ex
  lib/teiserver_web/templates/admin/asset/index.html.heex
  lib/teiserver_web/templates/admin/general/index.html.heex
  lib/teiserver_web/views/admin/asset_view.ex
  lib/teiserver_web/views/admin/autohost_view.ex
  test/teiserver_web/controllers/admin/asset_controller_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Ensure no subscription left behind on party close
  lib/teiserver/protocols/spring/spring_party_in.ex
Due: mix-format, mix-compile, mix-dialyzer

CRUD for engines
  lib/teiserver/asset.ex
  lib/teiserver/asset/schemas/engine.ex
  lib/teiserver_web/components/asset_components.ex
  lib/teiserver_web/controllers/admin/asset_controller.ex
  lib/teiserver_web/router.ex
  lib/teiserver_web/templates/admin/asset/index.html.heex
  lib/teiserver_web/templates/admin/asset/new_engine.html.heex
  lib/teiserver_web/views/admin/asset_view.ex
  test/teiserver_web/controllers/admin/asset_controller_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Add flag for matchmaking purpose
  lib/teiserver/asset/schemas/engine.ex
  lib/teiserver/asset/schemas/game.ex
  priv/repo/migrations/20250324195702_engine_and_game_versions.exs
Due: mix-format, mix-compile, mix-dialyzer

CRUD for game versions
  lib/teiserver/asset.ex
  lib/teiserver/asset/schemas/game.ex
  lib/teiserver_web/components/asset_components.ex
  lib/teiserver_web/controllers/admin/asset_controller.ex
  lib/teiserver_web/router.ex
  lib/teiserver_web/templates/admin/asset/index.html.heex
  lib/teiserver_web/templates/admin/asset/new_game.html.heex
  test/teiserver_web/controllers/admin/asset_controller_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Fix test name
  test/teiserver/tachyon/tasks/setup_apps_test.exs
Due: mix-format, mix-dialyzer

Set matchmaking flag for engines
  lib/teiserver/asset.ex
  lib/teiserver/asset/queries/engine_queries.ex
  lib/teiserver_web/controllers/admin/asset_controller.ex
  lib/teiserver_web/router.ex
  lib/teiserver_web/templates/admin/asset/index.html.heex
  test/teiserver/asset/engine_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Path conditions:
  mix-format: any of: \.exs*$
  mix-compile: any of: \.ex$
  mix-dialyzer: any of: \.exs*$
