Repository beyond-all-reason/teiserver: changes, and which pre-commit hooks are due for each by the changed paths.
All: mix-format, mix-compile, mix-dialyzer

mix-format:
  name: 'elixir: mix format'
  entry: mix format --check-formatted
  language: system

mix-compile:
  name: 'elixir: mix compile'
  entry: mix compile --force
  language: system
  pass_filenames: false

mix-dialyzer:
  name: 'elixir: mix dialyzer'
  entry: mix dialyzer
  language: system
  pass_filenames: false

Add tests
  test/teiserver_web/controllers/account/session_controller_test.exs
Due: mix-format, mix-dialyzer

Validate profile page shown once redirected
  test/teiserver_web/controllers/account/session_controller_test.exs
Due: mix-format, mix-dialyzer

Add test for codes without IP
  test/teiserver_web/controllers/account/session_controller_test.exs
Due: mix-format, mix-dialyzer

Add test for expired codes
  test/teiserver_web/controllers/account/session_controller_test.exs
Due: mix-format, mix-dialyzer

Add log line for expired codes
  lib/teiserver_web/controllers/account/session_controller.ex
Due: mix-format, mix-compile, mix-dialyzer

Correct location of priv file location
  lib/teiserver/tachyon/schema.ex
Due: mix-format, mix-compile, mix-dialyzer

Increase tachyon test timeout
  test/support/tachyon.ex
Due: mix-format, mix-compile, mix-dialyzer

Correct location of priv file location (#490)
  lib/teiserver/tachyon/schema.ex
  test/support/tachyon.ex
Due: mix-format, mix-compile, mix-dialyzer

Display "Smurf Link" as a restriction on user overview page. (#489)
  lib/teiserver_web/templates/admin/user/tab_overview.html.heex
Due: none

Correctly verify one_time_code IP address; log expired code access (#488)
  lib/teiserver_web/controllers/account/session_controller.ex
  test/teiserver_web/controllers/account/session_controller_test.exs
Due: mix-format, mix-compile, mix-dialyzer

First autohost message must be `status`
  lib/teiserver/autohost/tachyon_handler.ex
  test/teiserver_web/tachyon/autohost.exs
Due: mix-format, mix-compile, mix-dialyzer

Add missing parameter for oauth discovery
  lib/teiserver_web/views/api/o_auth/code_view.ex
  test/teiserver_web/controllers/o_auth/code_controller_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Remove old test
  test/teiserver_web/controllers/tachyon_controller_test.exs
Due: mix-format, mix-dialyzer

Handle `status` event for autohost
  lib/teiserver/autohost.ex
  lib/teiserver/autohost/registry.ex
  lib/teiserver/autohost/tachyon_handler.ex
  priv/tachyon/schema/autohost/status/event.json
  test/support/tachyon.ex
  test/teiserver_web/controllers/tachyon_controller_test.exs
  test/teiserver_web/tachyon/autohost.exs
Due: mix-format, mix-compile, mix-dialyzer

Autohost can update their values
  lib/teiserver/autohost/registry.ex
  lib/teiserver/autohost/tachyon_handler.ex
  test/teiserver_web/tachyon/autohost.exs
Due: mix-format, mix-compile, mix-dialyzer

partial fix for flaky renameuser test using polling-until-expected-result
  test/teiserver/protocols/spring/spring_auth_test.exs
Due: mix-format, mix-dialyzer

Add missing parameter for oauth discovery (#492)
  lib/teiserver_web/views/api/o_auth/code_view.ex
  test/teiserver_web/controllers/o_auth/code_controller_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Fix 'Incorrect password' error on password change forms (#485)
  lib/teiserver/account/schemas/user.ex
Due: mix-format, mix-compile, mix-dialyzer

Fix players not being correctly rated if they rename before match gets processed
  lib/teiserver/battle/tasks/post_match_process_task.ex
Due: mix-format, mix-compile, mix-dialyzer

Move broadcast to coordinator commands
  lib/teiserver/coordinator/consul_commands.ex
  lib/teiserver/coordinator/consul_server.ex
  lib/teiserver/coordinator/coordinator_commands.ex
Due: mix-format, mix-compile, mix-dialyzer

Fix players not being correctly rated if they rename before match gets processed (#484)
  lib/teiserver/battle/tasks/post_match_process_task.ex
Due: mix-format, mix-compile, mix-dialyzer

Move broadcast to coordinator commands (#467)
  lib/teiserver/coordinator/consul_commands.ex
  lib/teiserver/coordinator/consul_server.ex
  lib/teiserver/coordinator/coordinator_commands.ex
Due: mix-format, mix-compile, mix-dialyzer

Add some debug logging around session and timeouts
  lib/teiserver/matchmaking/queue_server.ex
  lib/teiserver/player/session.ex
  lib/teiserver/tachyon/transport.ex
Due: mix-format, mix-compile, mix-dialyzer

Don't attempt to restart session
  lib/teiserver/player/session.ex
  lib/teiserver/player/tachyon_handler.ex
  test/teiserver_web/tachyon/session_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Use Guardian.Plug to assert sign in status
  test/teiserver_web/controllers/account/session_controller_test.exs
Due: mix-format, mix-dialyzer

Add party fake data
  lib/teiserver/mix_tasks/fake_data.ex
  lib/teiserver/mix_tasks/fake_playtime.ex
Due: mix-format, mix-compile, mix-dialyzer

Add comment
  lib/teiserver/mix_tasks/fake_data.ex
Due: mix-format, mix-compile, mix-dialyzer

Shorten assert statements
  test/teiserver_web/controllers/account/session_controller_test.exs
Due: mix-format, mix-dialyzer

Fix logs for loser picks
  lib/teiserver/battle/libs/balance_lib.ex
Due: mix-format, mix-compile, mix-dialyzer

Fix logs for loser picks (#495)
  lib/teiserver/battle/libs/balance_lib.ex
Due: mix-format, mix-compile, mix-dialyzer

Use Guardian.Plug to assert sign in status (#496)
  test/teiserver_web/controllers/account/session_controller_test.exs
Due: mix-format, mix-dialyzer

Add :protected to protected live view routes
  lib/teiserver_web/router.ex
  test/teiserver_web/live/general/home/index_live_test.exs
  test/teiserver_web/live/microblog/admin/post_live_test.exs
Due: mix-format, mix-compile, mix-dialyzer

fixup yet another assert statement to work under slightly different server responses
  test/teiserver/protocols/spring/spring_auth_test.exs
Due: mix-format, mix-dialyzer

Add test for /microblog/preferences
  test/teiserver_web/live/microblog/blog/preference_live_test.exs
Due: mix-format, mix-dialyzer

Add additional authentication tests
  test/teiserver_web/live/account/relationship/index_live_test.exs
  test/teiserver_web/live/account/settings/index_live_test.exs
  test/teiserver_web/live/admin/chat/index_live_test.exs
  test/teiserver_web/live/battles/match/chat_live_test.exs
  test/teiserver_web/live/battles/match/ratings_live_test.exs
  test/teiserver_web/live/communication/chat/index_live_test.exs
  test/teiserver_web/live/microblog/admin/tag_live_test.exs
  test/teiserver_web/live/moderation/overwatch/index_test.exs
Due: mix-format, mix-dialyzer

Add test for editing password
  test/teiserver_web/controllers/account/security_controller_test.exs
Due: mix-format, mix-dialyzer

Undo errorneous delete
  test/teiserver_web/live/microblog/blog/preference_live_test.exs
Due: mix-format, mix-dialyzer

Live endpoints that require authentication are piped through the :protected pipeline (#498)
  lib/teiserver_web/router.ex
  test/teiserver_web/controllers/account/security_controller_test.exs
  test/teiserver_web/live/account/relationship/index_live_test.exs
  test/teiserver_web/live/account/settings/index_live_test.exs
  test/teiserver_web/live/admin/chat/index_live_test.exs
  test/teiserver_web/live/battles/match/chat_live_test.exs
  test/teiserver_web/live/battles/match/ratings_live_test.exs
  test/teiserver_web/live/communication/chat/index_live_test.exs
  test/teiserver_web/live/general/home/index_live_test.exs
  test/teiserver_web/live/microblog/admin/post_live_test.exs
  test/teiserver_web/live/microblog/admin/tag_live_test.exs
  test/teiserver_web/live/microblog/blog/preference_live_test.exs
  test/teiserver_web/live/moderation/overwatch/index_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Add party to fake data task (#448)
  lib/teiserver/mix_tasks/fake_data.ex
  lib/teiserver/mix_tasks/fake_playtime.ex
Due: mix-format, mix-compile, mix-dialyzer

Don't rely on registry to monitor session at setup time
  lib/teiserver/player/tachyon_handler.ex
Due: mix-format, mix-compile, mix-dialyzer

Path conditions:
  mix-format: any of: \.exs*$
  mix-compile: any of: \.ex$
  mix-dialyzer: any of: \.exs*$
