Repository beyond-all-reason/teiserver: changes, and which pre-commit hooks are due for each by the changed paths.
All: mix-format, mix-compile, mix-dialyzer

mix-format:
  name: 'elixir: mix format'
  entry: mix format --check-formatted
  language: system

mix-compile:
  name: 'elixir: mix compile'
  entry: mix compile --force
  language: system
  pass_filenames: false

mix-dialyzer:
  name: 'elixir: mix dialyzer'
  entry: mix dialyzer
  language: system
  pass_filenames: false

Do not adjust rating if ratings already adjusted
  lib/teiserver/battle/balance/split_noobs.ex
Due: mix-format, mix-compile, mix-dialyzer

Put rating on left and add num matches
  lib/teiserver_web/live/battles/match/show.ex
  lib/teiserver_web/live/battles/match/show.html.heex
Due: mix-format, mix-compile, mix-dialyzer

Hide num matches when very large
  lib/teiserver_web/live/battles/match/show.ex
  lib/teiserver_web/live/battles/match/show.html.heex
Due: mix-format, mix-compile, mix-dialyzer

Formatting
  lib/teiserver_web/live/battles/match/show.html.heex
Due: none

Updates based on Lexon feedback
  lib/teiserver_web/live/battles/match/show.ex
  lib/teiserver_web/live/battles/match/show.html.heex
Due: mix-format, mix-compile, mix-dialyzer

Add uncertainty to player page (#552)
  lib/teiserver_web/live/battles/match/show.ex
  lib/teiserver_web/live/battles/match/show.html.heex
Due: mix-format, mix-compile, mix-dialyzer

Add ability to gift accolade via website
  lib/teiserver/account/libs/accolade_lib.ex
  lib/teiserver/libs/teiserver_configs.ex
  lib/teiserver_web/live/account/profile/accolades.ex
  lib/teiserver_web/live/account/profile/accolades.html.heex
  lib/teiserver_web/live/battles/match/give_accolade/index.ex
  lib/teiserver_web/live/battles/match/give_accolade/index.html.heex
  lib/teiserver_web/live/battles/match/show.html.heex
  lib/teiserver_web/router.ex
Due: mix-format, mix-compile, mix-dialyzer

Add alert when received an accolade
  lib/teiserver/account/libs/accolade_lib.ex
  lib/teiserver_web/live/account/profile/overview.ex
  lib/teiserver_web/live/account/profile/overview.html.heex
Due: mix-format, mix-compile, mix-dialyzer

Accolade feature
  assets/scss/custom/_styles.scss
  lib/teiserver/account.ex
  lib/teiserver/account/libs/accolade_lib.ex
  lib/teiserver/account/libs/badge_type_lib.ex
  lib/teiserver/libs/teiserver_configs.ex
  lib/teiserver_web/live/account/profile/accolades.ex
  lib/teiserver_web/live/account/profile/accolades.html.heex
  lib/teiserver_web/live/battles/match/give_accolade/index.ex
  lib/teiserver_web/live/battles/match/give_accolade/index.html.heex
  lib/teiserver_web/live/battles/match/show.html.heex
Due: mix-format, mix-compile, mix-dialyzer

Add summary to accolades page
  lib/teiserver/account/libs/accolade_lib.ex
  lib/teiserver_web/live/account/profile/accolades.ex
  lib/teiserver_web/live/account/profile/accolades.html.heex
  lib/teiserver_web/live/battles/match/index.html.heex
  lib/teiserver_web/router.ex
Due: mix-format, mix-compile, mix-dialyzer

Realign columns
  lib/teiserver_web/live/battles/match/show.html.heex
Due: none

Tidy up the buttons
  lib/teiserver_web/live/battles/match/show.html.heex
Due: none

Add better notifiation
  lib/teiserver/account/libs/accolade_lib.ex
  lib/teiserver_web/live/account/profile/overview.ex
  lib/teiserver_web/live/account/profile/overview.html.heex
Due: mix-format, mix-compile, mix-dialyzer

Show notification only when profile viewed is current user
  lib/teiserver_web/live/account/profile/overview.ex
Due: mix-format, mix-compile, mix-dialyzer

Fix crashes on integration
  lib/teiserver_web/live/account/profile/accolades.html.heex
  lib/teiserver_web/live/battles/match/show.ex
Due: mix-format, mix-compile, mix-dialyzer

mix format
  lib/teiserver_web/live/account/profile/accolades.html.heex
Due: none

Optimisations
  lib/teiserver_web/live/battles/match/give_accolade/index.ex
Due: mix-format, mix-compile, mix-dialyzer

Fix server crash due to badge_type _id is null
  lib/teiserver/account/libs/accolade_lib.ex
  lib/teiserver_web/live/account/profile/accolades.ex
Due: mix-format, mix-compile, mix-dialyzer

fix oauth discovery in prod now
  config/runtime.exs
  lib/teiserver_web/views/api/o_auth/code_view.ex
Due: mix-format, mix-compile, mix-dialyzer

match test static_url
  lib/teiserver_web/views/api/o_auth/code_view.ex
Due: mix-format, mix-compile, mix-dialyzer

fix formatting
  config/runtime.exs
  lib/teiserver_web/views/api/o_auth/code_view.ex
Due: mix-format, mix-compile, mix-dialyzer

Improve workflow based on Pandaro feedback
  lib/teiserver_web/live/battles/match/give_accolade/index.ex
  lib/teiserver_web/live/battles/match/give_accolade/index.html.heex
  lib/teiserver_web/live/battles/match/show.ex
  lib/teiserver_web/live/battles/match/show.html.heex
  lib/teiserver_web/router.ex
Due: mix-format, mix-compile, mix-dialyzer

Accolade only same team
  lib/teiserver_web/live/battles/match/show.ex
  lib/teiserver_web/live/battles/match/show.html.heex
Due: mix-format, mix-compile, mix-dialyzer

Fix type for init in tachyon handler protocol
  lib/teiserver/tachyon/handler.ex
Due: mix-format, mix-compile, mix-dialyzer

sending user updated event on connection
  lib/teiserver/player/tachyon_handler.ex
  priv/tachyon/schema/user/updated/event.json
  test/support/tachyon.ex
  test/teiserver_web/tachyon/matchmaking_test.exs
  test/teiserver_web/tachyon/session_test.exs
  test/teiserver_web/tachyon/user.exs
Due: mix-format, mix-compile, mix-dialyzer

Minor formatting changes
  lib/teiserver_web/live/battles/match/show.html.heex
Due: none

Add a few more properties to user event
  lib/teiserver/player/tachyon_handler.ex
  test/teiserver_web/tachyon/user.exs
Due: mix-format, mix-compile, mix-dialyzer

Skip a flaky test
  test/teiserver/data/battle/lobby_chat_test.exs
Due: mix-format, mix-dialyzer

Fix oauth discovery (#555)
  config/runtime.exs
  lib/teiserver_web/views/api/o_auth/code_view.ex
Due: mix-format, mix-compile, mix-dialyzer

script to show test coverage for files that changed in the last month (#535)
  .github/workflows/tests.yml
  coveralls.json
  documents/guides/testing.md
  scripts/show_test_coverage_for_files_changed_in_last_month.sh
Due: none

Correctly reuse the session
  lib/teiserver/player/session.ex
Due: mix-format, mix-compile, mix-dialyzer

Correctly reuse the session (#558)
  lib/teiserver/player/session.ex
Due: mix-format, mix-compile, mix-dialyzer

Add more logs to explain
  lib/teiserver/battle/balance/split_noobs.ex
  test/teiserver/battle/split_noobs_internal_test.exs
  test/teiserver/battle/split_noobs_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Upgrade logger file backend dependency
  mix.exs
  mix.lock
Due: mix-format, mix-dialyzer

Move logger config to logger_backend
  config/config.exs
  config/dev.exs
  config/prod.exs
  config/runtime.exs
  lib/teiserver/application.ex
  mix.exs
  mix.lock
Due: mix-format, mix-compile, mix-dialyzer

mark some flaky tests
  test/teiserver_web/live/battles/match/chat_live_test.exs
Due: mix-format, mix-dialyzer

Use metadata to log queue id
  lib/teiserver/matchmaking/queue_server.ex
Due: mix-format, mix-compile, mix-dialyzer

Add date to logs to files
  config/config.exs
Due: mix-format, mix-dialyzer

log more metadata
  config/config.exs
Due: mix-format, mix-dialyzer

Use metadata to log player id in tachyon handler
  lib/teiserver/player/tachyon_handler.ex
Due: mix-format, mix-compile, mix-dialyzer

Path conditions:
  mix-format: any of: \.exs*$
  mix-compile: any of: \.ex$
  mix-dialyzer: any of: \.exs*$
