Repository beyond-all-reason/teiserver: changes, and which pre-commit hooks are due for each by the changed paths.
All: mix-format, mix-compile, mix-dialyzer

.pre-commit-config.yaml:

---
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-merge-conflict
      - id: check-yaml
      - id: no-commit-to-branch
        args:
          - -b
          - master
          - -b
          - production
          - -b
          - staging
  - repo: local
    hooks:
      - id: mix-format
        name: "elixir: mix format"
        entry: mix format --check-formatted
        language: system
        files: \.exs*$
      - id: mix-compile
        name: "elixir: mix compile"
        entry: mix compile --force #--warnings-as-errors
        language: system
        pass_filenames: false
        files: \.ex$
      # - id: mix-credo
      #   name: "elixir: mix credo"
      #   entry: mix credo
      #   language: system
      #   pass_filenames: false
      #   files: \.exs*$
      - id: mix-dialyzer
        name: "elixir: mix dialyzer"
        entry: mix dialyzer
        language: system
        pass_filenames: false
        files: \.exs*$

Fix decaching users (#1551)
  lib/teiserver/account/caches/user_cache_lib.ex
  lib/teiserver/account/libs/user_lib.ex
Due: mix-format, mix-compile, mix-dialyzer

Adds GDPR anonymise task (#1550)
  .dialyzer_ignore.exs
  config/config.exs
  lib/teiserver/account/queries/smurf_key_queries.ex
  lib/teiserver/account/queries/user_queries.ex
  lib/teiserver/account/tasks/gdpr_anonymise_task.ex
  lib/teiserver/account/tasks/gdpr_forget_task.ex
  lib/teiserver/battle/servers/match_monitor_server.ex
  lib/teiserver/bridge/bridge_server.ex
  lib/teiserver/coordinator/coordinator_server.ex
  lib/teiserver/microblog/queries/post_queries.ex
  lib/teiserver/microblog/queries/upload_queries.ex
  lib/teiserver/moderation/tasks/create_anti_abuse_record_task.ex
  lib/teiserver/moderation/tasks/restore_anonymised_user_task.ex
  test/teiserver/account/tasks/anonymise_user_task_test.exs
  test/teiserver/moderation/gdpr_forget_and_restore_test.exs
  test/teiserver/moderation/tasks/anti_abuse_record_e2e_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Tweak darkmode colours to be slightly softer
  assets/css/app.css
  lib/teiserver_web/live/moderation/tools/time_compare.html.heex
Due: none

Tweak darkmode colours to be slightly softer (#1553)
  assets/css/app.css
  lib/teiserver_web/live/moderation/tools/time_compare.html.heex
Due: none

Moves the MFA usage report into admin tools
  lib/teiserver/account/libs/auth_lib.ex
  lib/teiserver/account/queries/user_queries.ex
  lib/teiserver/account/reports/mfa_report.ex
  lib/teiserver_web/components/core_components.ex
  lib/teiserver_web/controllers/report/report_controller.ex
  lib/teiserver_web/live/admin/menu_live.ex
  lib/teiserver_web/live/admin/tools/mfa_usage.ex
  lib/teiserver_web/live/admin/tools/mfa_usage.html.heex
  lib/teiserver_web/live/admin/tools/tools_components.ex
  lib/teiserver_web/router.ex
  lib/teiserver_web/templates/report/general/index.html.heex
  lib/teiserver_web/templates/report/report/mfa.html.heex
Due: mix-format, mix-compile, mix-dialyzer

Moves the MFA usage report into admin tools (#1554)
  lib/teiserver/account/libs/auth_lib.ex
  lib/teiserver/account/queries/user_queries.ex
  lib/teiserver/account/reports/mfa_report.ex
  lib/teiserver_web/components/core_components.ex
  lib/teiserver_web/controllers/report/report_controller.ex
  lib/teiserver_web/live/admin/menu_live.ex
  lib/teiserver_web/live/admin/tools/mfa_usage.ex
  lib/teiserver_web/live/admin/tools/mfa_usage.html.heex
  lib/teiserver_web/live/admin/tools/tools_components.ex
  lib/teiserver_web/router.ex
  lib/teiserver_web/templates/report/general/index.html.heex
  lib/teiserver_web/templates/report/report/mfa.html.heex
Due: mix-format, mix-compile, mix-dialyzer

Logging in checks for MFA if needed
  lib/teiserver/coordinator/coordinator_server.ex
Due: mix-format, mix-compile, mix-dialyzer

Logging in checks for MFA if needed (#1555)
  lib/teiserver/coordinator/coordinator_server.ex
Due: mix-format, mix-compile, mix-dialyzer

Improvements to moderation user management interface
  assets/css/app.css
  lib/teiserver/logging/queries/audit_log_queries.ex
  lib/teiserver_web/components/core_components.ex
  lib/teiserver_web/live/moderation/user/list.ex
  lib/teiserver_web/live/moderation/user/show.ex
  lib/teiserver_web/live/moderation/user/show.html.heex
  lib/teiserver_web/live/moderation/user/user_components.ex
  test/teiserver_web/live/moderation/user/show_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Improvements to BannedPhrases
  lib/teiserver/chat/libs/word_lib.ex
  lib/teiserver/moderation.ex
  lib/teiserver/moderation/queries/banned_phrase_queries.ex
  lib/teiserver/moderation/schemas/banned_phrase.ex
  lib/teiserver/moderation/tasks/load_banned_phrases_task.ex
  lib/teiserver_web/live/moderation/banned_phrase/form_component.ex
  lib/teiserver_web/live/moderation/banned_phrase/list.html.heex
  lib/teiserver_web/live/moderation/banned_phrase/show.html.heex
  priv/repo/migrations/20260915124029_extend_banned_phrases.exs
  test/support/fixtures/moderation_fixtures.ex
  test/teiserver/moderation/banned_phrase_test.exs
  test/teiserver_web/live/moderation/banned_phrase/list_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Remove text callback rules
  lib/teiserver/communication/libs/text_callback_lib.ex
  lib/teiserver/communication/schemas/text_callback.ex
  lib/teiserver_web/templates/admin/text_callback/form.html.heex
  priv/repo/migrations/20260916081654_remove_text_callback_rules.exs
Due: mix-format, mix-compile, mix-dialyzer

Remove text callback rules (#1558)
  lib/teiserver/communication/libs/text_callback_lib.ex
  lib/teiserver/communication/schemas/text_callback.ex
  lib/teiserver_web/templates/admin/text_callback/form.html.heex
  priv/repo/migrations/20260916081654_remove_text_callback_rules.exs
Due: mix-format, mix-compile, mix-dialyzer

Improvements to moderation user management interface (#1556)
  assets/css/app.css
  lib/teiserver/logging/queries/audit_log_queries.ex
  lib/teiserver_web/components/core_components.ex
  lib/teiserver_web/live/moderation/user/list.ex
  lib/teiserver_web/live/moderation/user/show.ex
  lib/teiserver_web/live/moderation/user/show.html.heex
  lib/teiserver_web/live/moderation/user/user_components.ex
  test/teiserver_web/live/moderation/user/show_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Move and cleanup Discord channel configuration
  lib/teiserver/bridge/bridge_server.ex
  lib/teiserver/bridge/commands/findreports_command.ex
  lib/teiserver/bridge/commands/post_command.ex
  lib/teiserver/bridge/discord_bridge_bot.ex
  lib/teiserver/bridge/discord_system.ex
  lib/teiserver/communication.ex
  lib/teiserver/communication/libs/discord_channel_lib.ex
  lib/teiserver/libs/teiserver_configs.ex
  lib/teiserver_web/controllers/moderation/action_controller.ex
Due: mix-format, mix-compile, mix-dialyzer

Move and cleanup Discord channel configuration (#1559)
  lib/teiserver/bridge/bridge_server.ex
  lib/teiserver/bridge/commands/findreports_command.ex
  lib/teiserver/bridge/commands/post_command.ex
  lib/teiserver/bridge/discord_bridge_bot.ex
  lib/teiserver/bridge/discord_system.ex
  lib/teiserver/communication.ex
  lib/teiserver/communication/libs/discord_channel_lib.ex
  lib/teiserver/libs/teiserver_configs.ex
  lib/teiserver_web/controllers/moderation/action_controller.ex
Due: mix-format, mix-compile, mix-dialyzer

Swaps the public facing report_user form to use Tailwind
  lib/teiserver/moderation/libs/report_lib.ex
  lib/teiserver_web/live/moderation/report_user/index.ex
  lib/teiserver_web/live/moderation/report_user/index.html.heex
  lib/teiserver_web/router.ex
  test/teiserver_web/live/moderation/report_user/index_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Removed several reports not in use
  .dialyzer_ignore.exs
  lib/teiserver/account/reports/accolade_report.ex
  lib/teiserver/account/reports/leaderboard_report.ex
  lib/teiserver/account/reports/mapping_report.ex
  lib/teiserver/account/reports/relationship_report.ex
  lib/teiserver/account/reports/review_report.ex
  lib/teiserver/account/reports/time_spent_report.ex
  lib/teiserver/account/reports/user_age_report.ex
  lib/teiserver_web/controllers/report/rating_controller.ex
  lib/teiserver_web/controllers/report/report_controller.ex
  lib/teiserver_web/router.ex
  lib/teiserver_web/templates/admin/user/smurf_merge_form.html.heex
  lib/teiserver_web/templates/report/general/index.html.heex
  lib/teiserver_web/templates/report/report/accolades.html.heex
  lib/teiserver_web/templates/report/report/leaderboard.html.heex
  lib/teiserver_web/templates/report/report/mapping.html.heex
  lib/teiserver_web/templates/report/report/relationships.html.heex
  lib/teiserver_web/templates/report/report/review.html.heex
  lib/teiserver_web/templates/report/report/time_spent.html.heex
  lib/teiserver_web/templates/report/report/user_age.html.heex
  lib/teiserver_web/views/report/rating_view.ex
Due: mix-format, mix-compile, mix-dialyzer

Correct typo in mix compile for precommit
  mix.exs
Due: mix-format, mix-dialyzer

Correct typo in mix compile for precommit (#1563)
  mix.exs
Due: mix-format, mix-dialyzer

Removed several reports not in use (#1562)
  .dialyzer_ignore.exs
  lib/teiserver/account/reports/accolade_report.ex
  lib/teiserver/account/reports/leaderboard_report.ex
  lib/teiserver/account/reports/mapping_report.ex
  lib/teiserver/account/reports/relationship_report.ex
  lib/teiserver/account/reports/review_report.ex
  lib/teiserver/account/reports/time_spent_report.ex
  lib/teiserver/account/reports/user_age_report.ex
  lib/teiserver_web/controllers/report/rating_controller.ex
  lib/teiserver_web/controllers/report/report_controller.ex
  lib/teiserver_web/router.ex
  lib/teiserver_web/templates/admin/user/smurf_merge_form.html.heex
  lib/teiserver_web/templates/report/general/index.html.heex
  lib/teiserver_web/templates/report/report/accolades.html.heex
  lib/teiserver_web/templates/report/report/leaderboard.html.heex
  lib/teiserver_web/templates/report/report/mapping.html.heex
  lib/teiserver_web/templates/report/report/relationships.html.heex
  lib/teiserver_web/templates/report/report/review.html.heex
  lib/teiserver_web/templates/report/report/time_spent.html.heex
  lib/teiserver_web/templates/report/report/user_age.html.heex
  lib/teiserver_web/views/report/rating_view.ex
Due: mix-format, mix-compile, mix-dialyzer

Swaps the public facing report_user form to use Tailwind (#1561)
  lib/teiserver/moderation/libs/report_lib.ex
  lib/teiserver_web/live/moderation/report_user/index.ex
  lib/teiserver_web/live/moderation/report_user/index.html.heex
  lib/teiserver_web/router.ex
  test/teiserver_web/live/moderation/report_user/index_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Improvements to BannedPhrases (#1557)
  lib/teiserver/chat/libs/word_lib.ex
  lib/teiserver/moderation.ex
  lib/teiserver/moderation/queries/banned_phrase_queries.ex
  lib/teiserver/moderation/schemas/banned_phrase.ex
  lib/teiserver/moderation/tasks/load_banned_phrases_task.ex
  lib/teiserver_web/live/moderation/banned_phrase/form_component.ex
  lib/teiserver_web/live/moderation/banned_phrase/list.html.heex
  lib/teiserver_web/live/moderation/banned_phrase/show.html.heex
  priv/repo/migrations/20260915124029_extend_banned_phrases.exs
  test/support/fixtures/moderation_fixtures.ex
  test/teiserver/moderation/banned_phrase_test.exs
  test/teiserver_web/live/moderation/banned_phrase/list_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Add user search to audit logs
  lib/teiserver/logging/queries/audit_log_queries.ex
  lib/teiserver_web/live/logging/audit_log/audit_log_components.ex
  lib/teiserver_web/live/logging/audit_log/list.ex
Due: mix-format, mix-compile, mix-dialyzer

Changing password requires a recent MFA check
  lib/teiserver_web/controllers/account/security_controller.ex
  lib/teiserver_web/templates/account/security/mfa_refresh.heex
Due: mix-format, mix-compile, mix-dialyzer

Changing password requires a recent MFA check (#1566)
  lib/teiserver_web/controllers/account/security_controller.ex
  lib/teiserver_web/templates/account/security/mfa_refresh.heex
Due: mix-format, mix-compile, mix-dialyzer

Add user search to audit logs (#1565)
  lib/teiserver/logging/queries/audit_log_queries.ex
  lib/teiserver_web/live/logging/audit_log/audit_log_components.ex
  lib/teiserver_web/live/logging/audit_log/list.ex
Due: mix-format, mix-compile, mix-dialyzer

fix for login error
  lib/teiserver_web/components/layouts/public_tw.heex
Due: none

fix for login error (#1567)
  lib/teiserver_web/components/layouts/public_tw.heex
Due: none

Added unit test for fix
  lib/teiserver_web/live/account/relationship/index.html.heex
  test/teiserver_web/live/general/home/index_live_test.exs
Due: mix-format, mix-dialyzer

Added unit test for fix (#1568)
  lib/teiserver_web/live/account/relationship/index.html.heex
  test/teiserver_web/live/general/home/index_live_test.exs
Due: mix-format, mix-dialyzer

Upgrading from OTP-27 to OTP-28
  .dialyzer_ignore.exs
  .github/workflows/lint.yml
  Dockerfile
  Dockerfile.dev
  lib/teiserver/application.ex
  lib/teiserver/logging/tasks/persist_match_day_task.ex
  mise.toml
  mix.exs
  mix.lock
Due: mix-format, mix-compile, mix-dialyzer

Upgrading from OTP-27 to OTP-28 (#1487)
  .dialyzer_ignore.exs
  .github/workflows/lint.yml
  Dockerfile
  Dockerfile.dev
  lib/teiserver/application.ex
  lib/teiserver/logging/tasks/persist_match_day_task.ex
  mise.toml
  mix.exs
  mix.lock
Due: mix-format, mix-compile, mix-dialyzer

Upgraded to Elixir 1.20 and OTP 29
  Dockerfile
  Dockerfile.dev
  mise.toml
Due: none

Fixed GDPR forget text in darkmode
  lib/teiserver_web/live/moderation/user/clear_gdpr_forget.html.heex
  lib/teiserver_web/live/moderation/user/set_gdpr_forget.html.heex
Due: none

Implement Tachyon battle/ended event (#1533)
  lib/teiserver/autohost/tachyon_handler.ex
  lib/teiserver/battle.ex
  lib/teiserver/battle/libs/match_membership_lib.ex
  lib/teiserver/player.ex
  lib/teiserver/player/session.ex
  lib/teiserver/player/tachyon_handler.ex
  lib/teiserver/tachyon_battle/battle.ex
  priv/tachyon/schema/battle/ended/event.json
  test/teiserver_web/tachyon/lobby_test.exs
  test/teiserver_web/tachyon/matchmaking_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Vendor the tachyon user/report schema
  priv/tachyon/schema/user/report/request.json
  priv/tachyon/schema/user/report/response.json
Due: none

Handle user/report for tachyon clients
  lib/teiserver/player/tachyon_handler.ex
  test/support/tachyon.ex
  test/teiserver_web/tachyon/user_test.exs
Due: mix-format, mix-compile, mix-dialyzer
