Repository beyond-all-reason/teiserver: changes, and which pre-commit hooks are due for each by the changed paths.
All: mix-format, mix-compile, mix-dialyzer

.pre-commit-config.yaml:

---
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-merge-conflict
      - id: check-yaml
      - id: no-commit-to-branch
        args:
          - -b
          - master
          - -b
          - production
          - -b
          - staging
  - repo: local
    hooks:
      - id: mix-format
        name: "elixir: mix format"
        entry: mix format --check-formatted
        language: system
        files: \.exs*$
      - id: mix-compile
        name: "elixir: mix compile"
        entry: mix compile --force #--warnings-as-errors
        language: system
        pass_filenames: false
        files: \.ex$
      # - id: mix-credo
      #   name: "elixir: mix credo"
      #   entry: mix credo
      #   language: system
      #   pass_filenames: false
      #   files: \.exs*$
      - id: mix-dialyzer
        name: "elixir: mix dialyzer"
        entry: mix dialyzer
        language: system
        pass_filenames: false
        files: \.exs*$

Removed icon_dropdown central_component
  assets/scss/custom/_variables_dark.scss
  assets/scss/custom/_variables_light.scss
  lib/teiserver_web/templates/admin/badge_type/form.html.heex
  lib/teiserver_web/templates/admin/discord_channel/form.html.heex
  lib/teiserver_web/templates/admin/match/search.html.heex
  lib/teiserver_web/templates/admin/site_config/edit.html.heex
  lib/teiserver_web/templates/admin/text_callback/form.html.heex
  lib/teiserver_web/templates/admin/user/search.html.heex
  lib/teiserver_web/templates/component/icon_dropdown.html.heex
  lib/teiserver_web/templates/component/icon_dropdown_js.html.heex
  lib/teiserver_web/templates/logging/match_log/day_metrics_graph.html.heex
  lib/teiserver_web/templates/logging/match_log/export_form.html.heex
  lib/teiserver_web/templates/logging/match_log/month_metrics_graph.html.heex
  lib/teiserver_web/templates/logging/page_view_log/search.html.heex
  lib/teiserver_web/templates/logging/server_log/load_graph.html.heex
  lib/teiserver_web/templates/logging/server_log/now_graph.html.heex
  lib/teiserver_web/templates/logging/server_log/user_cost_graph.html.heex
  lib/teiserver_web/templates/moderation/action/search.html.heex
  lib/teiserver_web/templates/moderation/ban/search.html.heex
  lib/teiserver_web/templates/moderation/report/search.html.heex
  lib/teiserver_web/templates/telemetry/complex_client_event/export_form.html.heex
  lib/teiserver_web/templates/telemetry/complex_lobby_event/export_form.html.heex
  lib/teiserver_web/templates/telemetry/complex_match_event/export_form.html.heex
  lib/teiserver_web/templates/telemetry/complex_server_event/export_form.html.heex
  lib/teiserver_web/templates/telemetry/infolog/search.html.heex
  lib/teiserver_web/templates/telemetry/property/export_form.html.heex
  lib/teiserver_web/templates/telemetry/simple_client_event/export_form.html.heex
  lib/teiserver_web/templates/telemetry/simple_lobby_event/export_form.html.heex
  lib/teiserver_web/templates/telemetry/simple_match_event/export_form.html.heex
  lib/teiserver_web/templates/telemetry/simple_server_event/export_form.html.heex
  priv/static/css/select2.css
  priv/static/js/select2.js
Due: none

silence error about invalid origins
  lib/teiserver/application.ex
  lib/teiserver/logging.ex
  lib/teiserver/logging/filter.ex
Due: mix-format, mix-compile, mix-dialyzer

list allowed origins
  config/config.exs
  config/runtime.exs
Due: mix-format, mix-dialyzer

removed unused imports
  lib/teiserver_web/live/battles/match/show.ex
  lib/teiserver_web/live/battles/match/sub_components/balance_component.ex
  lib/teiserver_web/live/battles/match/sub_components/players_component.ex
Due: mix-format, mix-compile, mix-dialyzer

formatting
  lib/teiserver_web/live/battles/match/show.ex
Due: mix-format, mix-compile, mix-dialyzer

linting
  lib/teiserver_web/live/battles/match/sub_components/balance_component.ex
  lib/teiserver_web/live/battles/match/sub_components/events_component.ex
  lib/teiserver_web/live/battles/match/sub_components/players_component.ex
Due: mix-format, mix-compile, mix-dialyzer

Removed icon_dropdown central_component (#1418)
  assets/scss/custom/_variables_dark.scss
  assets/scss/custom/_variables_light.scss
  lib/teiserver_web/templates/admin/badge_type/form.html.heex
  lib/teiserver_web/templates/admin/discord_channel/form.html.heex
  lib/teiserver_web/templates/admin/match/search.html.heex
  lib/teiserver_web/templates/admin/site_config/edit.html.heex
  lib/teiserver_web/templates/admin/text_callback/form.html.heex
  lib/teiserver_web/templates/admin/user/search.html.heex
  lib/teiserver_web/templates/component/icon_dropdown.html.heex
  lib/teiserver_web/templates/component/icon_dropdown_js.html.heex
  lib/teiserver_web/templates/logging/match_log/day_metrics_graph.html.heex
  lib/teiserver_web/templates/logging/match_log/export_form.html.heex
  lib/teiserver_web/templates/logging/match_log/month_metrics_graph.html.heex
  lib/teiserver_web/templates/logging/page_view_log/search.html.heex
  lib/teiserver_web/templates/logging/server_log/load_graph.html.heex
  lib/teiserver_web/templates/logging/server_log/now_graph.html.heex
  lib/teiserver_web/templates/logging/server_log/user_cost_graph.html.heex
  lib/teiserver_web/templates/moderation/action/search.html.heex
  lib/teiserver_web/templates/moderation/ban/search.html.heex
  lib/teiserver_web/templates/moderation/report/search.html.heex
  lib/teiserver_web/templates/telemetry/complex_client_event/export_form.html.heex
  lib/teiserver_web/templates/telemetry/complex_lobby_event/export_form.html.heex
  lib/teiserver_web/templates/telemetry/complex_match_event/export_form.html.heex
  lib/teiserver_web/templates/telemetry/complex_server_event/export_form.html.heex
  lib/teiserver_web/templates/telemetry/infolog/search.html.heex
  lib/teiserver_web/templates/telemetry/property/export_form.html.heex
  lib/teiserver_web/templates/telemetry/simple_client_event/export_form.html.heex
  lib/teiserver_web/templates/telemetry/simple_lobby_event/export_form.html.heex
  lib/teiserver_web/templates/telemetry/simple_match_event/export_form.html.heex
  lib/teiserver_web/templates/telemetry/simple_server_event/export_form.html.heex
  priv/static/css/select2.css
  priv/static/js/select2.js
Due: none

Removes picker and picker_script components
  lib/teiserver_web/templates/account/general/picker.html.heex
  lib/teiserver_web/templates/account/user/picker.html.heex
  lib/teiserver_web/templates/component/picker_script.html.heex
  lib/teiserver_web/templates/logging/audit_log/search.html.heex
  lib/teiserver_web/templates/logging/page_view_log/search.html.heex
  lib/teiserver_web/templates/logging/page_view_log/search_list.html.heex
  lib/teiserver_web/templates/logging/page_view_log/search_report.html.heex
  lib/teiserver_web/templates/moderation/action/new_select.html.heex
  lib/teiserver_web/templates/moderation/action/section_menu.html.heex
  lib/teiserver_web/templates/moderation/ban/new_select.html.heex
  lib/teiserver_web/templates/moderation/ban/section_menu.html.heex
  lib/teiserver_web/templates/report/report/time_compare.html.heex
  lib/teiserver_web/templates/report/report/time_spent.html.heex
  test/teiserver_web/controllers/moderation/action_controller_test.exs
  test/teiserver_web/controllers/moderation/ban_controller_test.exs
Due: mix-format, mix-dialyzer

Removes picker and picker_script components (#1417)
  lib/teiserver_web/templates/account/general/picker.html.heex
  lib/teiserver_web/templates/account/user/picker.html.heex
  lib/teiserver_web/templates/component/picker_script.html.heex
  lib/teiserver_web/templates/logging/audit_log/search.html.heex
  lib/teiserver_web/templates/logging/page_view_log/search.html.heex
  lib/teiserver_web/templates/logging/page_view_log/search_list.html.heex
  lib/teiserver_web/templates/logging/page_view_log/search_report.html.heex
  lib/teiserver_web/templates/moderation/action/new_select.html.heex
  lib/teiserver_web/templates/moderation/action/section_menu.html.heex
  lib/teiserver_web/templates/moderation/ban/new_select.html.heex
  lib/teiserver_web/templates/moderation/ban/section_menu.html.heex
  lib/teiserver_web/templates/report/report/time_compare.html.heex
  lib/teiserver_web/templates/report/report/time_spent.html.heex
  test/teiserver_web/controllers/moderation/action_controller_test.exs
  test/teiserver_web/controllers/moderation/ban_controller_test.exs
Due: mix-format, mix-dialyzer

Swap Phoenix from Cowboy to Bandit
  config/config.exs
  config/runtime.exs
  lib/teiserver/player/tachyon_handler.ex
  mix.exs
  mix.lock
  test/teiserver_web/tachyon/session_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Ignoring gun version audit
  .github/workflows/lint.yml
Due: none

Ignoring gun version audit (#1435)
  .github/workflows/lint.yml
Due: none

Fix issues with RefreshUserRestrictionsTask
  lib/teiserver/moderation/tasks/refresh_user_restrictions_task.ex
Due: mix-format, mix-compile, mix-dialyzer

Fix issues with RefreshUserRestrictionsTask (#1434)
  lib/teiserver/moderation/tasks/refresh_user_restrictions_task.ex
Due: mix-format, mix-compile, mix-dialyzer

Remove central_component icon_picker
  lib/teiserver_web/templates/admin/badge_type/form.html.heex
  lib/teiserver_web/templates/admin/discord_channel/form.html.heex
  lib/teiserver_web/templates/admin/text_callback/form.html.heex
  lib/teiserver_web/templates/admin/user/form.html.heex
  lib/teiserver_web/templates/component/fa5_icon_picker.html.heex
Due: none

Remove central_component icon_picker (#1442)
  lib/teiserver_web/templates/admin/badge_type/form.html.heex
  lib/teiserver_web/templates/admin/discord_channel/form.html.heex
  lib/teiserver_web/templates/admin/text_callback/form.html.heex
  lib/teiserver_web/templates/admin/user/form.html.heex
  lib/teiserver_web/templates/component/fa5_icon_picker.html.heex
Due: none

Update user queries to not use user.data fields
  lib/teiserver/account/caches/user_cache_lib.ex
  lib/teiserver/account/exports/retention_rate_export.ex
  lib/teiserver/account/queries/user_queries.ex
  lib/teiserver/account/reports/ban_evasion_report.ex
  lib/teiserver/account/reports/retention_report.ex
  lib/teiserver/account/tasks/recalculate_user_daily_stat_task.ex
  lib/teiserver/account/tasks/smurf_merge_task.ex
  lib/teiserver/moderation/tasks/refresh_user_restrictions_task.ex
  test/teiserver/account/account_test.exs
  test/teiserver/account/retention_report_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Remove last_login_mins
  lib/teiserver/account/caches/user_cache_lib.ex
  lib/teiserver/account/exports/retention_rate_export.ex
  lib/teiserver/account/queries/user_queries.ex
  lib/teiserver/account/reports/population_report.ex
  lib/teiserver/account/reports/retention_report.ex
  lib/teiserver/account/schemas/user.ex
  lib/teiserver/account/tasks/recalculate_user_daily_stat_task.ex
  lib/teiserver/data/cache_user.ex
  priv/repo/migrations/20260730124503_remove_last_login_mins.exs
  test/teiserver/account/account_test.exs
  test/teiserver/account/cache_user_test.exs
  test/teiserver/account/retention_report_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Remove unused bot queries
  lib/teiserver/account/queries/user_queries.ex
  lib/teiserver_web/controllers/admin/user_controller.ex
  priv/repo/migrations/20260730124503_remove_last_login_mins.exs
Due: mix-format, mix-compile, mix-dialyzer

Update user queries to not use user.data fields (#1443)
  lib/teiserver/account/caches/user_cache_lib.ex
  lib/teiserver/account/exports/retention_rate_export.ex
  lib/teiserver/account/queries/user_queries.ex
  lib/teiserver/account/reports/ban_evasion_report.ex
  lib/teiserver/account/reports/population_report.ex
  lib/teiserver/account/reports/retention_report.ex
  lib/teiserver/account/schemas/user.ex
  lib/teiserver/account/tasks/recalculate_user_daily_stat_task.ex
  lib/teiserver/account/tasks/smurf_merge_task.ex
  lib/teiserver/data/cache_user.ex
  lib/teiserver/moderation/tasks/refresh_user_restrictions_task.ex
  lib/teiserver_web/controllers/admin/user_controller.ex
  priv/repo/migrations/20260730124503_remove_last_login_mins.exs
  test/teiserver/account/account_test.exs
  test/teiserver/account/cache_user_test.exs
  test/teiserver/account/retention_report_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Fix pagniation issue when nested params are given
  lib/teiserver_web/components/pagination_components.ex
Due: mix-format, mix-compile, mix-dialyzer

Fix pagniation issue when nested params are given (#1445)
  lib/teiserver_web/components/pagination_components.ex
Due: mix-format, mix-compile, mix-dialyzer

dynamic creation of replica
  config/test.exs
  lib/teiserver/cluster.ex
  lib/teiserver/tachyon_lobby/lobby.ex
  lib/teiserver/tachyon_lobby/supervisor.ex
  lib/teiserver/tachyon_lobby/types/data.ex
  test/support/polling.ex
  test/teiserver/tachyon_lobby/cluster_test.exs
Due: mix-format, mix-compile, mix-dialyzer

move function to start a node in test
  test/support/cluster_helpers.ex
  test/teiserver/tachyon_lobby/cluster_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Rework player/spec leaving
  lib/teiserver/tachyon_lobby/lobby.ex
  lib/teiserver/tachyon_lobby/types/aggregate.ex
  test/teiserver/tachyon_lobby/cluster_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Track lobbies accross replica in session
  lib/teiserver/player/session.ex
  lib/teiserver/tachyon_lobby.ex
  lib/teiserver/tachyon_lobby/lobby.ex
  test/teiserver/player/session_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Doc about clustering architecture.
  documents/clustering/scripts/install.sh
  documents/clustering/scripts/remote/bashrc
  documents/clustering/scripts/remote/dodeploy.sh
  documents/clustering/scripts/remote/install.sh
  documents/clustering/scripts/ssh_setup.sh
  documents/clustering/setup.md
  documents/dev_designs/cluster.md
Due: none

Replicate lobby events to replicas
  lib/teiserver/cluster.ex
  lib/teiserver/tachyon_lobby.ex
  lib/teiserver/tachyon_lobby/lobby.ex
  lib/teiserver/tachyon_lobby/types/start_params.ex
  test/teiserver/tachyon_lobby/cluster_test.exs
Due: mix-format, mix-compile, mix-dialyzer

split helpers to test lobby
  test/support/lobby_helpers.ex
  test/teiserver/tachyon_lobby/list_test.exs
  test/teiserver/tachyon_lobby/lobby_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Spawn lobby on all connected nodes
  config/test.exs
  lib/teiserver/cluster.ex
  lib/teiserver/tachyon_lobby.ex
  lib/teiserver/tachyon_lobby/supervisor.ex
  test/teiserver/tachyon_lobby/cluster_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Swap Phoenix from Cowboy to Bandit (#1350)
  config/config.exs
  config/runtime.exs
  lib/teiserver/player/tachyon_handler.ex
  mix.exs
  mix.lock
  test/teiserver_web/tachyon/session_test.exs
Due: mix-format, mix-compile, mix-dialyzer

add more matchmaking queues
  lib/teiserver/matchmaking/queue_supervisor.ex
  test/teiserver/matchmaking/queue_sync_test.exs
Due: mix-format, mix-compile, mix-dialyzer

add more matchmaking queues (#1448)
  lib/teiserver/matchmaking/queue_supervisor.ex
  test/teiserver/matchmaking/queue_sync_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Remove last Blog Helper permission check
  lib/teiserver_web/live/microblog/admin/post/index.ex
  lib/teiserver_web/live/microblog/admin/post/show.ex
  lib/teiserver_web/live/microblog/blog/index.html.heex
  lib/teiserver_web/live/microblog/microblog_components.ex
  lib/teiserver_web/router.ex
Due: mix-format, mix-compile, mix-dialyzer

Remove last Blog Helper permission check (#1449)
  lib/teiserver_web/live/microblog/admin/post/index.ex
  lib/teiserver_web/live/microblog/admin/post/show.ex
  lib/teiserver_web/live/microblog/blog/index.html.heex
  lib/teiserver_web/live/microblog/microblog_components.ex
  lib/teiserver_web/router.ex
Due: mix-format, mix-compile, mix-dialyzer

feat(tests): add task to run tests in development environment
  .vscode/tasks.json
Due: none

feat(devcontainer): setup vscode as the default editor
  .devcontainer/devcontainer.json
Due: none

Make MFA requirement configurable at runtime with ENV VAR
  compose.yaml
  config/runtime.exs
Due: mix-format, mix-dialyzer

$modme and $unmodme commands
  lib/teiserver/account/libs/client_lib.ex
  lib/teiserver/account/servers/client_server.ex
  lib/teiserver/coordinator/coordinator_commands.ex
  lib/teiserver/coordinator/coordinator_lib.ex
  lib/teiserver/data/client.ex
  lib/teiserver/tcp/spring/spring_tcp_server.ex
  test/teiserver/coordinator/coordinator_commands_sync_test.exs
Due: mix-format, mix-compile, mix-dialyzer

Make MFA requirement configurable at runtime with ENV VAR (#1455)
  compose.yaml
  config/runtime.exs
Due: mix-format, mix-dialyzer
